<!-- Prepare Velocity Variables
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
    #set( $allowCancel = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowCancelBatchPrintRequest", $todayDt) )
-->
$renderer.tileStart("Normal","BatchPrintList","None","None")
	<table class='format'>
		<tr>
		<!-- #if( $allowCancel.equalsIgnoreCase("Any") ) -->
			<td>$FormFieldRenderer.render("UserOutputInd", $form.gets("UserOutputInd"), "CheckBox", "OnClick=cmmXForm('DCBatchPrintRequestLoad','','','','MenuGroupCd=Utility&MenuOptionCd=BatchPrintRequest')")</td>
		<!-- #else -->	
			<td>$FormFieldRenderer.render("UserOutputInd", $form.gets("UserOutputInd"), "CheckBox", "OnClick=cmmXForm('DCBatchPrintRequestLoad','','','','MenuGroupCd=Utility&MenuOptionCd=BatchPrintRequest')|disabled")</td>
		<!-- #end -->
			<th class='label'>$FormFieldRenderer.renderLabel("UserOutputInd", "Show My Output Only", "Label", $CMMResponse)</th>       			
		</tr>
	</table>
	<div class='listTable'>
		<table width='100%' class='format'>
			<tr class='columnHeader'> 
	        	<th class='column' width='8%'>Status</th>
	            <th class='column' width='10%'>Requestor</th>
	            <th class='column' width='8%'>Date</th>
   	            <th class='column' width='10%'>Time</th>
	            <th class='column' width='10%'>Source</th>
	            <th class='column' width='20%'>Output Name</th>
	            <th class='column' width='8%'>Recipient</th>
	            <th class='column' width='18%'>Recipient Name</th>
	            <th class='column' width='8%'>&nbsp;</th>
	        </tr>
		<!-- #set( $counter = 0 )-->        
		<!-- #foreach( $document in $CMMResponse.getBeans("BatchPrintDocument") ) -->
			<!-- #set( $addr = false ) -->
			<!-- #set( $addr = $document.getBean("Addr") ) -->
			<!-- #set( $linkRef = false ) -->
			<!-- #set( $linkRef = $document.getBean("LinkReference") ) -->
			<tr>
				<td>$document.gets("StatusCd")</td>
				<td>$document.gets("AddUser")</td>
				<td>$document.gets("AddDt")</td>
				<td>$document.gets("AddTm")</td>
				<td>
					<!-- #if( $linkRef ) -->
						$linkRef.gets("Description")
					<!-- #end -->
				</td>
				<td>$document.gets("OutputName")</td>
				<td>$document.gets("RecipientTypeCd")</td>
				<td>$document.gets("RecipientName")</td>
				<td>
			<!-- #if( !$allowCancel.equalsIgnoreCase("None") ) -->
				<!-- #* Don't allow cancellation if its already been categorized *# -->
				<!-- #if( $document.gets("StatusCd").equals("Pending") ) -->	
					$FormFieldRenderer.renderLink("CancelLink", "Cancel", "Link", "", "javascript:cmmXForm('DCBatchPrintRequestUpdate',$document.getSystemId(),'', '', 'StatusCd=Cancelled')")
				<!-- #elseif( $document.gets("StatusCd").equals("Cancelled") ) -->	
					$FormFieldRenderer.renderLink("UncancelLink", "Un-cancel", "Link", "", "javascript:cmmXForm('DCBatchPrintRequestUpdate',$document.getSystemId(),'', '', 'StatusCd=Pending')")
				<!-- #end -->	
			<!-- #end -->		
				</td>	
			</tr>	
			<!-- #set($counter = $counter + 1) -->
		<!-- #end -->
		<!-- #if( $counter == 0 ) -->
			<tr>
				<td colspan='9'><b>Empty List</b></td>
		    </tr>    
		<!-- #end -->	
		</table>            
	</div>	
	
	<script language=javascript>
		lineCount = $counter;
	</script>	
$renderer.tileEnd()