
    <!-- Prepare Velocity Variables -->
    $renderer.setTile("WF", "task-list")
    #set($Tasks = $CMMResponse.getBeans("Task") )
    #set( $urlParams = "Container=${containerName}" )
    #set( $userId = $ResponseParams.gets("UserId") )

    #if ( !$refreshService || $refreshService == "" ) 
        #set ( $refreshService = "WFTaskPage") 
    #end 

	#set( $responseParams = $CMMResponse.getBean("ResponseParams") )
	
    <script language=javascript>

    function setSearch(searchBy) {
        
        if (document.getElementById("OrderBy").value == searchBy) {        
            if (document.getElementById("SortOrder").value == "Ascending")
                document.getElementById("SortOrder").value = "Descending";
            else
                document.getElementById("SortOrder").value = "Ascending";
        }
        else {
            document.getElementById("OrderBy").value = searchBy;
            document.getElementById("SortOrder").value = "Ascending";
        }
    }
    </script>

    <!-- Hold Task Area for new Task -->
    $FormFieldRenderer.render("TaskArea",$form.get("TaskArea"),"Hidden")

    <!-- Hold OrderBy variables -->
    $FormFieldRenderer.render("OrderBy",$form.get("OrderBy"),"Hidden")
    $FormFieldRenderer.render("SortOrder",$form.get("SortOrder"),"Hidden")

    $renderer.addTileCommand("<a href=javascript:expandAllId('$containerName$systemId')>[Expand List]</a>")
    $renderer.addTileCommand("<a href=javascript:collapseAllId('$containerName$systemId')>[Collapse List]</a>") 
    $renderer.tileStart("Normal",$taskTileTitle,"None","None")
    
    <input style='display:none' name='Refresh' value='cmmXForm("$!refreshService", "$!CMMParams.gets("SystemId")", "$idref", "$CMMParams.gets("IdRef")", "Container=$CMMParams.gets("Container")")'/>

    <!-- #if ( $displayMode != true ) -->
    <table id='taskTable' border="0" cellpadding="3">
        <tr>
            <th class='label'>Filter Task</th>
            <td>
                <!-- #if( $form.get('FilterStatus') == "" ) -->
                $FormFieldRenderer.renderSelect("FilterStatus","Open","WF::task::status::All","SelectList","onChange=cmmXForm('WFTaskSearch')|IgnoreChanges=True")
                <!-- #else -->
                $FormFieldRenderer.renderSelect("FilterStatus",$form.get('FilterStatus'),"WF::task::status::All","SelectList","onChange=cmmXForm('WFTaskSearch')|IgnoreChanges=True")
                <!-- #end -->
            </td>
	    <!-- #if( $form.get("SystemTaskInd") == "Yes" ) -->
	    <td>$FormFieldRenderer.render("SystemTaskInd",$form.get("SystemTaskInd"),"CheckBox","IgnoreChanges=True|checked=on|onClick=cmmXForm('WFTaskSearch')")</td>
	    <!-- #else -->
	    <td>$FormFieldRenderer.render("SystemTaskInd",$form.get("SystemTaskInd"),"CheckBox","IgnoreChanges=True|onClick=cmmXForm('WFTaskSearch')")</td>
	    <!-- #end -->
	    <th class='label'>Show System Tasks</th>
        </tr>
    </table>
    <!-- #end -->

    <div class='listTable'>
    <table id='taskTable' width="100%" class='format'>
     	<tr>  
            <th class='column' width='2%'>&nbsp;</th>
            <th class='column' width='12%' onclick='javascript:setSearch("Task.CurrentOwner");cmmXForm("WFTaskSearch")'>Current Owner</th>
            <th class='column' width='12%' onclick='javascript:setSearch("Task.OriginalOwner");cmmXForm("WFTaskSearch")'>Original Owner</th>
            <th class='column' width='9%' onclick='javascript:setSearch("Task.AddedByUserId");cmmXForm("WFTaskSearch")'>Entered By</th>
            <th class='column' width='6%' onclick='javascript:setSearch("Task.Priority");cmmXForm("WFTaskSearch")'>Priority</th>
            <th class='column' width='6%' onclick='javascript:setSearch("Task.Status");cmmXForm("WFTaskSearch")'>Status</th>
            <th class='column' width='9%' onclick='javascript:setSearch("Task.WorkDt");cmmXForm("WFTaskSearch")'>Work Date</th>
            <th class='column' width='11%' onclick='javascript:setSearch("Task.WorkRequiredInd");cmmXForm("WFTaskSearch")'>Work Required</th>
            <th class='column' width='18%' onclick='javascript:setSearch("Task.Description");cmmXForm("WFTaskSearch")'>Description</th>
            <th class='column' width='15%'>&nbsp;</th>
        </tr>
        <!-- #set($counter = 0)-->
        <!-- #foreach( $task in $!Tasks ) -->
        <!-- #if( $WorkflowRenderer.hasTaskLink($task, $containerName, $container.getSystemId()) ) -->       
        <tr>
            <td align='center'><img src='img/expand.gif' id='img$containerName$systemId$counter' onClick='toggle("$containerName$systemId$counter");'>
             $FormFieldRenderer.render("TaskSystemId_$counter",$task.getSystemId(),"Hidden")
        	 $FormFieldRenderer.render("Task_SystemId_$task.getSystemId()",$task.getSystemId(),"Hidden")
            </td>
            <td id='Task_CurrentOwner_${counter}'>
                <!-- #if($task.gets("CurrentOwnerCd").equalsIgnoreCase("Group")) -->
                    $UserRenderer.getTaskGroupName($task.gets("CurrentOwner"))
                <!-- #else -->
                    $task.gets("CurrentOwner")
                <!-- #end -->
            </td>
            <td id='Task_OriginalOwner_${counter}'>
                <!-- #if($task.gets("OriginalOwnerCd").equalsIgnoreCase("Group")) -->
                    $UserRenderer.getTaskGroupName($task.gets("OriginalOwner"))
                <!-- #else -->
                    $task.gets("OriginalOwner")
                <!-- #end -->
            </td>
            <td id='Task_AddedByUserId_${counter}'>$task.gets("AddedByUserId")</td>
            <td id='Task_Priority_${counter}'>$task.gets("Priority")</td>
            <td id='Task_Status_${counter}'>$task.gets("Status")</td>
            <td id='Task_WorkDt_${counter}'>$task.gets("WorkDt")</td>
            <td id='Task_WorkRequiredInd_${counter}'>$task.gets("WorkRequiredInd")</td>
            <td id='Task_Description_${counter}'>$task.gets("Description")</td>
            <td>
      <!-- #if ( $displayMode != true ) -->
	   <!-- #if( !$task.gets("CurrentOwner").equals("System") && $task.gets("Status") != "Completed" && $task.gets("Status") != "Deleted" && !$WorkflowRenderer.isLockingTask($container, $task) && $RICWorkflowRenderer.isAgentTaskOwner($task, $UserInfo, $todayDt) ) -->                
	       <!-- #if( $WorkflowRenderer.hasAuthority($task, "Change", $UserInfo, $todayDt) ) -->
                <a id='TaskEdit_$task.getSystemId()' class='actionLink' href='javascript:cmmXForm("WFTaskSync","$task.getSystemId()","","","UserOperation=Update")'>Edit</a>
           <!-- #elseif( $WorkflowRenderer.hasAuthority($task, "ViewDetail", $UserInfo, $todayDt) ) -->
           		<a id='TaskView_$task.getSystemId()' class='actionLink' href='javascript:cmmXForm("WFTaskSync","$task.getSystemId()","","","UserOperation=View")'>View</a>
           <!-- #end -->
	       <!-- #if( $WorkflowRenderer.hasAuthority($task, "Delete", $UserInfo, $todayDt) ) -->
                <a id='TaskDelete_$task.getSystemId()' class='actionLink' href='javascript:cmmXForm("WFTaskSync","$task.getSystemId()","","","UserOperation=Delete")'>Delete</a>
           <!-- #end -->
	       <!-- #if( $WorkflowRenderer.hasAuthority($task, "Complete", $UserInfo, $todayDt) ) -->
				<a id='TaskComplete_$task.getSystemId()' class='actionLink' href='javascript:cmmXForm("WFTaskSync","$task.getSystemId()","","","UserOperation=Complete")'>Complete/Update Task</a>
           <!-- #end -->
	   <!-- #else -->
	       <!-- #if( $WorkflowRenderer.hasAuthority($task, "ViewDetail", $UserInfo, $todayDt) ) -->
                <a id='TaskView_$task.getSystemId()' class='actionLink' href='javascript:cmmXForm("WFTaskSync","$task.getSystemId()","","","UserOperation=View")'>View</a>
           <!-- #end -->
	   <!-- #end -->
      <!-- #end -->
            </td>
        </tr>
        <tr id='row$containerName$systemId$counter' style='display:none;'>
            <td/>
            <td colspan='9'>$!task.gets('Text')</td>
	</tr>  
        <!-- #set($counter = $counter + 1) -->
        <!-- #end --> 
        <!-- #end -->

        <!-- #if( $counter == 0 ) -->
	  <tr>
	       <td colspan='10'><b>Empty List</b></td>
	  </tr>    
        <!-- #end -->   
    </table>
    </div>

    <script language=javascript>
        lineCount = $counter;
    </script>

    $renderer.tileEnd()
