<!-- Prepare Velocity Variables 
    $renderer.setTile("COQuestion", "questions")
    #set( $paramContainer = $CMMParams.gets("Container") )
    #set( $application = $container )
7.	#set( $typeCd = $container.gets("TypeCd") )
    #if( $paramContainer == "" )
        $SPI.setNull($questionsContainer)
    #else  
	    #set( $questionsContainer = $CMMResponse.getBean($CMMParams.gets("Container")))
	#end
	#if ( $scheduledTemplate && $jobSchedule )
		#set( $job = $OperationRenderer.mergeJobScheduleQuestionsWithJob($job, $jobSchedule) )
	#end
	#set( $allowEditQuestionsOnTransactions = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowEditUWQuestionsOnTransactions",$todayDt) )
-->
<!-- #if( $QuestionRenderer.hasQuestions($questions) ) -->
	 <!-- #if( $noQuestionsHeader ) -->
	 $renderer.tileStart("Normal", "Questions", "NoHeader", "None")
	 <!-- #else -->
	 $renderer.tileStart("Normal", "Questions", "None", "None")
	 <!-- #end -->
<!-- #end -->
	<input type="hidden" name="QuestionReplies" id="QuestionReplies" />
	<input type="hidden" name="QuestionSourceMDA" id="QuestionSourceMDA" value="$questionSourceMDA"/>

	$questionRenderer.setResponse($CMMResponse)
	$questionRenderer.render($questions, $repliesParent, $questionsContainer)

	<script type="text/javascript" src="innovation-question.js"></script>

	<script language="JavaScript">

		// Determine if the ShowOnParentValue is actually javascript rather than a static value.
		function isJavaScriptCall(showOnParentValue) {
			// If it starts with "javascript:" it is javascript.
			if( showOnParentValue.indexOf('javascript:') == 0 )
				return true;
			if( showOnParentValue.indexOf('JavaScript:') == 0 )
				return true;
			if( showOnParentValue.indexOf('JAVASCRIPT:') == 0 )
				return true;
		}

		function getSelectedArray(object){

			var selectedObjectArray = [];
			if (!object || !object.options){
				return selectedObjectArray;
			}

			for (var i=0; i< object.options.length; i++){
				var opt = object.options[i];
				if (opt.selected){
					selectedObjectArray.push(opt);
				}
			}

			return selectedObjectArray;
		}

		// Display Child Question - Then Set Focus on Next Visible Question

		function displayChildQuestion(fieldName) {

			//Particularly for Internet Explorer, onChange() is called prior to onClick().
			//Thus forcing a checkbox to change value before displaying child Questions.

			if(document.getElementById(fieldName).getAttribute("type")=="checkbox"){

				if(document.getElementById(fieldName).checked)
					document.getElementById(fieldName).value = "Yes";
				else
					document.getElementById(fieldName).value = "No";
			}

			var isChildQuestionsThere = displayChildQuestionNoFocus(fieldName);

			var parentObject = document.getElementById(fieldName);
			if( parentObject == null )
				return;

			// Set Focus on Next Visible Question
			if( parentObject.type.indexOf("select") == -1 ) {
				nextVisibleQuestionElem = getNextVisibleQuestion(fieldName);
				if( nextVisibleQuestionElem != null && isChildQuestionsThere) {
					setFocus(nextVisibleQuestionElem);
				}
			}
		}

		// Display Child Question
		function displayChildQuestionNoFocus(fieldName) {

			var parentObject = document.getElementById(fieldName);
			if( parentObject == null ){
				return;
			}

			var parentObjectRow = document.getElementById(fieldName + "_Row");
			if( parentObjectRow.style.display == "none" )
				return;
			var parentValue = parentObject.value;

			//Verify that the object has multi selection
			var parentSelectionsArray = getSelectedArray(parentObject)
			if (parentSelectionsArray && parentSelectionsArray.length >1){
				parentValue = parentSelectionsArray;
			}
			var childFieldNames = childFieldNamesKey[fieldName];
			var firstVisibleChild = true;
			for( var i = 0; i < childFieldNames.length; i++ ) {
				var showChildQuestion = false; //Assume the question will not be displayed
				var enabledInd = enabledIndKey[childFieldNames[i]];
				if( enabledInd == "Yes" ) {
					var showOnParentValue = showOnParentValueKey[childFieldNames[i]];
					if( showOnParentValue == "" ) {
						// If Blank, Always Show Child Question
						showChildQuestion = true;
					} else {
						// If the showOnParentValue starts with "javascript:" run the javascript to determine
						// if the question will be shown or not. If the javascript returns true, show the question.
						if( isJavaScriptCall(showOnParentValue) ) {
							showChildQuestion = eval(showOnParentValue);
						} else {
							// If showOnParentValue is not javascript, then it is simply a value to be compared
							// to the parent question's reply. If they are equal (case insensitive),
							// show the child question.
							if( parentValue.toUpperCase() == showOnParentValue.toUpperCase() ) {
								showChildQuestion = true;
							}
						}
					}
				}
				// Show or hide the question.
				if( showChildQuestion ) {
					// Show Child Question
					showQuestion(childFieldNames[i]);
				} else {
					// Hide Child Question
					hideQuestion(childFieldNames[i]);
				}
			}
			return showChildQuestion;
		}

		function showQuestion(fieldName) {
			document.getElementById(fieldName + "_Row").style.display = '';
			if( document.getElementById(fieldName) ) {
				var parentValue = document.getElementById(fieldName).value;
				var childFieldNames = childFieldNamesKey[fieldName];
				for( var i = 0; i < childFieldNames.length; i++) {
					var showOnParentValue = showOnParentValueKey[childFieldNames[i]];
					var showChildQuestion = false;
					if( showOnParentValue == "" ) {
						// If Blank, Always Show Child Question
						showChildQuestion = true;
					} else {
						if( isJavaScriptCall(showOnParentValue) ) {
							if( eval(showOnParentValue) ) {
								// If JavaScript Evaluation is True, Show Child Question
								showChildQuestion = true;
							}
						} else {
							if( parentValue.toUpperCase() == showOnParentValue.toUpperCase() ) {
								// If Equal, Show Child Question
								showChildQuestion = true;
							}
						}
					}
					if( showChildQuestion ) {
						document.getElementById(childFieldNames[i] + "_Row").style.display = '';
					}
				}
			}
		}
		function hideQuestion(fieldName) {
			document.getElementById(fieldName + "_Row").style.display = 'none';
			var childFieldNames = childFieldNamesKey[fieldName];
			for( var i = 0; i < childFieldNames.length; i++) {
				document.getElementById(childFieldNames[i] + "_Row").style.display = 'none';
			}
		}

		// This function sweeps through all the questions on the screen and shows or hides them based
		// on the ShowOnParentValue field.
		function showHideQuestions() {
			for( var i = 0; i < allQuestionNames.length; i++ ) {
				displayChildQuestionNoFocus(allQuestionNames[i]);
			}
		}

		// Get Next Visible Question - Used to Set Tab After Hiding Sub Questions
		function getNextVisibleQuestion(fieldName) {
			for( var i = 0; i < allQuestionNames.length; i++ ) {
				if( allQuestionNames[i] == fieldName ) {
					for( var j = i+1; j < allQuestionNames.length; j++ ) {
						questionRow = document.getElementById(allQuestionNames[j] + "_Row");
						if( questionRow.style.display == "" ) {
							return document.getElementById(allQuestionNames[j]);
						}
					}
					break;
				}
			}
			return null;
		}

		// prepareReplyXml() function to be called before cmmXForm() to prepare the
		// QuestionReplies field for submission. This is registered below the function
		function prepareQuestionReplyXml() {
			// Initialize variables
			var sep = "$questionRenderer.getQuestionSeparator()";
			var xform = document.forms["frmCMM"];
			max = xform.elements.length;

			// Prepare the node that tells the handler which is the parent node of the questions
			var xml = "<RepliesParentIdRef value='$RepliesParentIdRef' />";

			// Loop through each field in the form
			for (i = 0; i < max; i++){
				var field = xform.elements[i];
				// If the field starts with the word question and the question separator, add it to the Question Replies XML string
				if(field.name.indexOf("Question" + sep) == 0){
					var visibleInd = "Yes";
					var fieldRow = document.getElementById(field.name + "_Row");
					if( fieldRow && fieldRow.style.display == "none" ) {
						visibleInd = "No";
					}

					var fieldName = field.name.substr(8 + sep.length , field.name.length - (8 + sep.length));
					if(field.type == "radio"){
						if(isFirstRadioButtonInGroup(field)){  // Only add once
							var radioGroupVal = getRadioButtonGroupValue( field );
							xml += "<QuestionReply name='" + fieldName + "' value='" + escapeXml(radioGroupVal) + "' VisibleInd='" + visibleInd + "'/>";
						}
					} else if( field.type == "select-multiple" ) {
						// loop through selected
						var selectedArray = new Array();
						var count = 0;
						for( var j=0; j<field.options.length; j++) {
							if( field.options[j].selected ) {
								selectedArray[count] = field.options[j].value;
								count++;
							}
						}
						xml += "<QuestionReply name='" + fieldName + "' value='" + escapeXml(selectedArray.toString()) + "' VisibleInd='" + visibleInd + "'/>";
					} else {

						var fieldValue = field.value;
						// if this is a masked field, use the corresponding hidden field's value
						if(document.getElementById("HiddenValueMetaField." + field.name)){
							fieldValue = document.getElementById("HiddenValueMetaField." + field.name).value;
						}
						xml += "<QuestionReply name='" + fieldName + "' value='" + escapeXml(fieldValue) + "' VisibleInd='" + visibleInd + "'/>";
					}
				}
			}

			// Set the QuestionReplies hidden field's value to the xml
			// Use javascript's encodeURIComponent() function for proper unicode handling + manually escape apostrophe (encodeURIComponent doesn't)
			xform.elements["QuestionReplies"].value = encodeURIComponent(xml).replace(/'/g, "%27");

			return true;

		}

		// Register the prepareQuestionReplyXml() function with the prepareReplyXml()
		// main dispatch function
		registerPrepareReplyXml(prepareQuestionReplyXml);

		function submitForm(){

			// Prepare the Question Replies XML
			prepareQuestionReplyXml();

		 }

		// Display or hide the questions as appropriate
		showHideQuestions();

	</script>
<!-- #if( $QuestionRenderer.hasQuestions($questions) ) -->
$renderer.tileEnd()
<!-- #end -->