<!-- Prepare Velocity Variables 
    $renderer.setTile("e2value", "e2value-data-report-response")
    
    #set( $dataReport = $BeanRenderer.selectModelBean("DataReport", $dataReportRequest.gets("DataReportRef")) )
    #set( $replaCost = $dataReportRequest.getBean("E2ValueReportRequest"))
    #set( $e2ValueReportRequest = $dataReport.getBean("E2ValueReportRequest"))
    #set( $e2ValueRiskId = $e2ValueReportRequest.gets("RiskIdRef"))
    #set( $risk = $Application.getBeanById($!e2ValueRiskId)))
    #set( $buildingRisk = $risk.getBean("Building"))
	#set( $e2Value = $dataReport.getBean("E2ValueReport") )
	#set( $riskAddr = $e2ValueReportRequest.getBean("E2Address","AddressTypeCd","RiskAddr") )
    #if( $action.equals("WaitingForResponse") )
    	#set( $disable = "disabled" )
    #end
    #set( $building = $e2ValueReportRequest.getBean("E2Building"))
    #set( $e2valueStatus = $buildingRisk.gets("E2Valuestatus"))
    #set( $E2ValueReportType = $replaCost.gets("E2ValueReportType"))
-->
$renderer.tileStart("Normal", "Request", "NoHeader", "None") 
	<table width='100%' class='format'>
        <tr>
        	<th class='label' width='15%'>$FormFieldRenderer.renderLabel("DataReportRequest.Description", "Description", "Label", $CMMResponse, "Required=True")</th>
        	<td>$dataReportRequest.gets("Description")</td>
        </tr>
    </table>
	<br/>
	<!-- #if( $dataReport.valueEquals("ResultCd", "Error") )
		#set( $errorMessage = $DataReportRenderer.getDataReportErrorMessage($dataReport) ) -->
	<table width='100%' class='format'>
		<tr>
			<th class='label' width='15%'>Data Report Error: </th>
			<td>$errorMessage</td>
		</tr>
	</table>
	<br/>
	<!-- #end -->
	<table width="100%" class='format'>
		<table width="100%" class='format'>
    	<tr>
			<th class='label' width='5%'>Dwelling Address:</th>					
			<th class='label' width='10%'>$FormFieldRenderer.renderLabel("Address", "Address", "Label", $CMMResponse)</th>
			<th class='label' width='10%'>$FormFieldRenderer.renderLabel("AddressCity", "City", "Label", $CMMResponse)</th>
			<th class='label' width='10%'>$FormFieldRenderer.renderLabel("AddressStateProvCd", "State", "Label", $CMMResponse)</th>
			<th class='label' width='10%'>$FormFieldRenderer.renderLabel("AddressPostalCode", "Zip", "Label", $CMMResponse)</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>$!riskAddr.gets("PrimaryNumber") $!riskAddr.gets("PreDirectional") $!riskAddr.gets("StreetName") $!riskAddr.gets("Suffix") $!riskAddr.gets("PostDirectional") $!riskAddr.gets("SecondaryDesignator") $!riskAddr.gets("SecondaryNumber")</td>
			<td>$!riskAddr.gets("City")</td>
			<td>$!riskAddr.gets("StateProvCd")</td>
			<td>$!riskAddr.gets("PostalCode")</td>	
		</tr>
		
	</table>
	<table width="100%" class='format'>
    	<tr>
    		<th class='label' width='4%'>Building Values:</th>		
			<th class='label' width='4%'>$FormFieldRenderer.renderLabel("YearBuilt", "Year Built", "Label", $CMMResponse)</th>
			<th class='label' width='15%'>$FormFieldRenderer.renderLabel("SqFt", "Square Footage", "Label", $CMMResponse)</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>$!building.gets("YearBuilt")</td>
			<td>$!building.gets("SqFt")</td>					
		</tr>
	</table>
	<!-- #if(!$E2ValueReportType.equalsIgnoreCase("get-valuation")) -->
		<table width="100%" class='format'>
    	<tr>
    		<th class='label' width='13%'>$FormFieldRenderer.renderLabel("DwellingStyle", "Dwelling Style", "Label", $CMMResponse)</th>
			<th class='label' width='12%'>$FormFieldRenderer.renderLabel("ConstructionCd", "Construction Type", "Label", $CMMResponse)</th>
			<th class='label' width='12%'>$FormFieldRenderer.renderLabel("ArchitecturalStyle", "Architectural Style", "Label", $CMMResponse)</th>
			<th class='label' width='12%'>$FormFieldRenderer.renderLabel("PrimaryExterior", "Primary Exterior", "Label", $CMMResponse)</th>
			<th class='label' width='12%'>$FormFieldRenderer.renderLabel("ConstructionQuality", "Construction Quality", "Label", $CMMResponse)</th>
			<th class='label' width='12%'>$FormFieldRenderer.renderLabel("RoofCd", "Roof Type", "Label", $CMMResponse)</th>
		</tr>
		<tr>
			<!-- #if($E2ValueReportType.equalsIgnoreCase("get-valuation-manuf")) -->
				<td>Mobile Home</td>
			<!-- #else -->
				<td>$!building.gets("DwellingStyle")</td>
			<!-- #end -->
			<td>$!building.gets("ConstructionCd")</td>
			<td>$!building.gets("ArchitecturalStyle")</td>
			<td>$!building.gets("PrimaryExterior")</td>
			<td>$!building.gets("ConstructionQuality")</td>
			<td>$!building.gets("RoofCd")</td>
		</tr>
	</table>
	<!-- #end -->
	<!-- #if($E2ValueReportType.equalsIgnoreCase("get-valuation-recall")) -->
		<table width="100%" class='format'>
	    	<tr>
			<th class='label' width='12%'>$FormFieldRenderer.renderLabel("E2ValuePropertyId", "E2Value Property Id", "Label", $CMMResponse)</th>
		</tr>
		<tr>
			<td>$!buildingRisk.gets("E2ValuePropertyId")</td>	
		</tr>
		</table>
	<!-- #elseif($E2ValueReportType.equalsIgnoreCase("get-valuation-manuf")) -->
		<table width="100%" class='format'>
	    <tr>
			<th class='label' width='18%'>$FormFieldRenderer.renderLabel("Skirting", "Skirting", "Label", $CMMResponse)</th>
			<th class='label' width='16%'>$FormFieldRenderer.renderLabel("Locale", "Locale", "Label", $CMMResponse)</th>
			<th class='label' width='17%'>$FormFieldRenderer.renderLabel("ManufacturedHome", "Manufactured Home", "Label", $CMMResponse)</th>
			<th class='label' width='16%'>$FormFieldRenderer.renderLabel("CovALimit", "Coverage A Limit", "Label", $CMMResponse)</th>
			<th class='label' width='15%'>$FormFieldRenderer.renderLabel("RecentRenovations", "Recent Renovations", "Label", $CMMResponse)</th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>$!building.gets("Skirting")</td>
			<!-- #if( $!building.gets("BeachRisk").equalsIgnoreCase("Yes"))  -->
				<td>coastal</td>
			<!-- #else  -->
				<td>suburban</td>
			<!-- #end  -->
			<td>Yes</td>
			<td>$StringRenderer.formatValue($!building.gets("CovALimit"), 2, "", true, true)</td>
			<td>No</td>
			<td>&nbsp;</td>
		</tr>
		</table>
	<!-- #end -->
	<!-- #if(!$E2ValueReportType.equalsIgnoreCase("get-valuation")) -->
		<!-- #if($SPI.isNotNull($building.gets("AdditionalArea1")) && !$building.gets("AdditionalArea1").equals("") && !$building.gets("AdditionalArea1").equals("None") && !$building.gets("AdditionalArea1").equals("DO NOT SEND")) -->
		<table width="100%" class='format'>
			<tr>
	    		<th class='label' width='5%'>$FormFieldRenderer.renderLabel("AdditionalArea1", "Additional Area1", "Label", $CMMResponse)</th>
	    		<th class='label' width='13%'>$FormFieldRenderer.renderLabel("AdditionalAreaSqFt1", "Additional Area SqFt1", "Label", $CMMResponse)</th>
	    	</tr>
	    	<tr>
				<td>$!building.gets("AdditionalArea1")</td>	
				<td>$RICProductRenderer.extractNumbers($!building.gets("AdditionalAreaSqFt1"))</td>
			</tr>
		</table>
		<!-- #end -->
		<!-- #if($SPI.isNotNull($building.gets("AdditionalArea2")) && !$building.gets("AdditionalArea2").equals("") && !$building.gets("AdditionalArea2").equals("None") && !$building.gets("AdditionalArea2").equals("DO NOT SEND")) -->
		<table>
			<tr>
				<th class='label' width='5%'>$FormFieldRenderer.renderLabel("AdditionalArea2", "Additional Area2", "Label", $CMMResponse)</th>
				<th class='label' width='13%'>$FormFieldRenderer.renderLabel("AdditionalAreaSqFt2", "Additional Area SqFt2", "Label", $CMMResponse)</th>
			</tr>
			<tr>
				<td>$!building.gets("AdditionalArea2")</td>	
				<td>$RICProductRenderer.extractNumbers($!building.gets("AdditionalAreaSqFt2"))</td>
			</tr>
		</table>
		<!-- #end -->
		<!-- #if($SPI.isNotNull($building.gets("AdditionalArea3")) && !$building.gets("AdditionalArea3").equals("") && !$building.gets("AdditionalArea3").equals("None") && !$building.gets("AdditionalArea3").equals("DO NOT SEND")) -->
		<table>
			<tr>
				<th class='label' width='5%'>$FormFieldRenderer.renderLabel("AdditionalArea3", "Additional Area3", "Label", $CMMResponse)</th>
				<th class='label' width='13%'>$FormFieldRenderer.renderLabel("AdditionalAreaSqFt3", "Additional Area SqFt3", "Label", $CMMResponse)</th>
			</tr>
			<tr>
				<td>$!building.gets("AdditionalArea3")</td>	
				<td>$RICProductRenderer.extractNumbers($!building.gets("AdditionalAreaSqFt3"))</td>
			</tr>
		</table>
		<!-- #end -->
		<!-- #if($SPI.isNotNull($building.gets("AdditionalArea4")) && !$building.gets("AdditionalArea4").equals("") && !$building.gets("AdditionalArea4").equals("None") && !$building.gets("AdditionalArea4").equals("DO NOT SEND")) -->
		<table>
			<tr>
				<th class='label' width='5%'>$FormFieldRenderer.renderLabel("AdditionalArea4", "Additional Area4", "Label", $CMMResponse)</th>
				<th class='label' width='13%'>$FormFieldRenderer.renderLabel("AdditionalAreaSqFt4", "Additional Area SqFt4", "Label", $CMMResponse)</th>
			</tr>
			<tr>
				<td>$!building.gets("AdditionalArea4")</td>	
				<td>$RICProductRenderer.extractNumbers($!building.gets("AdditionalAreaSqFt4"))</td>
			</tr>
		</table>
		<!-- #end -->
		<!-- #if($SPI.isNotNull($building.gets("AdditionalArea5")) && !$building.gets("AdditionalArea5").equals("") && !$building.gets("AdditionalArea5").equals("None") && !$building.gets("AdditionalArea5").equals("DO NOT SEND")) -->
		<table>
			<tr>
				<th class='label' width='5%'>$FormFieldRenderer.renderLabel("AdditionalArea5", "Additional Area5", "Label", $CMMResponse)</th>
				<th class='label' width='13%'>$FormFieldRenderer.renderLabel("AdditionalAreaSqFt5", "Additional Area SqFt5", "Label", $CMMResponse)</th>
			</tr>
			<tr>
				<td>$!building.gets("AdditionalArea5")</td>	
				<td>$RICProductRenderer.extractNumbers($!building.gets("AdditionalAreaSqFt5"))</td>
			</tr>
		</table>
		<!-- #end -->
		<!-- #if($SPI.isNotNull($building.gets("AdditionalArea6")) && !$building.gets("AdditionalArea6").equals("") && !$building.gets("AdditionalArea6").equals("None") && !$building.gets("AdditionalArea6").equals("DO NOT SEND")) -->
		<table>
			<tr>
				<th class='label' width='5%'>$FormFieldRenderer.renderLabel("AdditionalArea6", "Additional Area6", "Label", $CMMResponse)</th>
				<th class='label' width='13%'>$FormFieldRenderer.renderLabel("AdditionalAreaSqFt6", "Additional Area SqFt6", "Label", $CMMResponse)</th>
			</tr>
			<tr>
				<td>$!building.gets("AdditionalArea6")</td>	
				<td>$RICProductRenderer.extractNumbers($!building.gets("AdditionalAreaSqFt6"))</td>
			</tr>
		</table>
		<!-- #end -->
	<!-- #end -->
	<table>
		<tr>
			<th class='label' width='15%'>$FormFieldRenderer.renderLabel("EstimatedValueAmt", "Pronto RC Estimate", "Label", $CMMResponse)</th>
		</tr>
		<tr>
			<!--#if( $SPI.isNotNull($e2valueStatus) && !$e2valueStatus.equalsIgnoreCase("failure")) -->
				<td>$StringRenderer.formatValue($!replaCost.gets("ReplacementCost"), 2, "", true, true)</td>
			<!-- #end -->
		</tr>
		
	</table>
	<br/>
$renderer.tileEnd()