<!-- Prepare Velocity Variables
#set( $xfdf = $CMMResponse.getBean("ResponseParams").getBean("XFDF") )
#set( $IsAddressReplace = $xfdf.getBean("Param", "Name", "IsAddressReplaceResponse").gets("Value") )
#set( $forceToDefaultRegionCd = false )
#if( $IsAddressReplace.equalsIgnoreCase("true") )
	#set( $ap = $CMMResponse.getBean("ResponseParams").getBean("AdditionalParams") )
	#set( $regionCodeSet = $ap.getBean("Param", "Name", "RegionISOCd").gets("Value") )
	#set( $addrAlias = $ap.getBean("Param", "Name", "AddrAlias").gets("Value"))
	
	#set( $addr = $BeanRenderer.newModelBean("Addr") )
	$addr.setValue("RegionISOCd", $regionCodeSet) 
	$addr.setValue("RegionCd", $AddressRenderer.getCountryForISOCd($regionCodeSet).getValue("CountryName"))
	
	#set( $xfdf = $CMMResponse.getBean("ResponseParams").getBean("XFDF") )
	$!AddressRenderer.setRegionCdArgs($context, $xfdf)
#else
	#set( $regionCodeSet = $addr.gets('RegionISOCd') )
	#if( $regionCodeSet == "" ) 
		#set( $regionCodeSet = $AddressRenderer.getDefaultCountry() )
		$addr.setValue("RegionISOCd", $regionCodeSet) 
		## If RegionISOCd is empty, we set it to default, and since RegionISOCd should always be sycned with RegionCd we must set RegionCd to its default as well;
		## However if for some reason RegionCd is not empty we must warn the user that we are changing their RegionCd (We handle this in renderCountrySelect())		
		#if( !$addr.gets("RegionCd").equals("") )
			#set( $forceToDefaultRegionCd = true )
		#end	
	#end
#end
## Use FieldColumnWidth to calculate the "slack" to take up in the last column.
## If FieldColumnWidth isn't a percentage, don't try
#if( ${FieldColumnWidth} && ${FieldColumnWidth.endsWith("%")} )
	#set( $lastColumnWidth = $StringRenderer.indexString(${FieldColumnWidth}) )
	#set( $lastColumnWidth = $StringRenderer.subtractInt($lastColumnWidth,"72") )	## subtract width of field cells
	#if( $StringRenderer.lessThan($lastColumnWidth,"0") )
		#set( $lastColumnWidth = 0 )
	#end
	#set( $lastColumnWidth = "${lastColumnWidth}%" )
#else
	#set( $lastColumnWidth = "13%" )
#end
#set( $addrRequired = "" )
#if( $Required )
	#set( $addrRequired = "Required=$Required" )
#end
#if( !$addrDisableFields )
	#set( $addrDisableFields = "" )
#end
#if( $NoFieldPrefix )
	## suppress the field prefixes if commanded to by the NowFieldPrefix param, even if the Addr has an alias (AddrTypeCd)
	#set( $addrAlias = "" )
#end
#if( $addrAlias == "" )
	## a blank alias means don't prefix the fields at all
	#set( $addrFieldPrefix = "" )
#else
	#set( $addrFieldPrefix = "${addrAlias}." )
#end
 -->

<!-- #if( $StringRenderer.isTrue($ZeroCellPaddingInd) ) -->
<table id="${addrAlias}ajaxReplaceAddress" width="100%" class='format' cellpadding='0' cellspacing='0'>
<!-- #else -->
<table id="${addrAlias}ajaxReplaceAddress" width="100%" class='format'>
<!-- #end -->
<!-- #if( $StringRenderer.isTrue($IncludeAttnInd) ) -->
    <tr>
        <th class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}Attention", "Attention", "Label", $CMMResponse, "")</th>
        <td colspan='7'>$FormFieldRenderer.render("${addrFieldPrefix}Attention", ${addr.gets('Attention')}, "String","size=32|MaxLength=32|${addrDisableFields}")</td>
    </tr>
<!-- #end -->
    <tr>
        <th width='${LabelColumnWidth}' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}Addr", ${Label}, "Label", $CMMResponse, "")</th> 
        <th width='7%' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}PrimaryNumber", "Number", "Label", $CMMResponse, "${addrRequired}")</th>
        <th width='12%' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}PreDirectional", "Direction", "Label", $CMMResponse, "")</th>
        <th width='22%' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}StreetName", "Street", "Label", $CMMResponse, "${addrRequired}")</th>
        <th width='10%' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}Suffix", "Suffix", "Label", $CMMResponse, "")</th>
        <th width='12%' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}PostDirectional", "Post Dir", "Label", $CMMResponse, "")</th>
        <th width='9%' class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}SecondaryDesignator", "Type", "Label", $CMMResponse, "")</th>
        <td width='${lastColumnWidth}'>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>$FormFieldRenderer.render("${addrFieldPrefix}PrimaryNumber", ${addr.gets("PrimaryNumber")}, "Integer", "size=5|ThousandsSeparator=|${addrRequired}|${addrDisableFields}")</td>
        <td>$FormFieldRenderer.render("${addrFieldPrefix}PreDirectional", ${addr.gets("PreDirectional")}, "String", "size=10|${addrDisableFields}")</td>
        <td>$FormFieldRenderer.render("${addrFieldPrefix}StreetName", ${addr.gets("StreetName")}, "String", "size=25|${addrRequired}|${addrDisableFields}")</td>
        <td>$FormFieldRenderer.renderSelect("${addrFieldPrefix}Suffix", ${addr.gets("Suffix")}, "CO::address::street::suffix-select", "SelectList", "Prompt=Select...|${addrDisableFields}")</td>
        <td>$FormFieldRenderer.render("${addrFieldPrefix}PostDirectional", ${addr.gets("PostDirectional")}, "String", "size=10|${addrDisableFields}")</td>
        <td>$FormFieldRenderer.renderSelect("${addrFieldPrefix}SecondaryDesignator", ${addr.gets("SecondaryDesignator")}, "CO::address::street::number-type", "SelectList", "Prompt=''|${addrDisableFields}")</td>
        <td>$FormFieldRenderer.render("${addrFieldPrefix}SecondaryNumber", ${addr.gets("SecondaryNumber")}, "String", "size=4|${addrDisableFields}")</td>
    </tr>

    <tr>
    	<th class='label'>
    	 	$FormFieldRenderer.renderLabel("${addrAlias}.City", "City", "Label", $CMMResponse, "${addrRequired}")
            $FormFieldRenderer.renderLabel("${addrAlias}.StateProvCd", "State", "Label", $CMMResponse, "${addrRequired}")
            $FormFieldRenderer.renderLabel("${addrAlias}.PostalCode", "Zip", "Label", $CMMResponse, "${addrRequired}")
            $FormFieldRenderer.renderLabel("${addrFieldPrefix}RegionCd", "Country", "Label", $CMMResponse, "${addrRequired}")
        </th>
        <td colspan='7'>
        	<table cellpadding='0' cellspacing='0'>
                <tr>
			        <td style='padding: 0px 2px 0px 0px;'>
                        $FormFieldRenderer.render("${addrAlias}.City", ${addr.gets("City")}, "String","size=16|${addrRequired}|${addrDisableFields}")
                        ## add a comma and fixed space between City and State if fields are disabled
                        <!-- #if( ${addrDisableFields} != "" && !${addr.gets('City').isEmpty()} ) --><span style="margin: 0px 3px 0px -3px;">,</span><!-- #end -->
                    </td>
                    <td style='padding: 0px 2px 0px 0px;'>
                        $FormFieldRenderer.renderSelect("${addrAlias}.StateProvCd", ${addr.gets("StateProvCd")}, "CO::common::states::all", "SelectList","${addrRequired}|Prompt=Select...|${addrDisableFields}")
                        ## add fixed space between State and PostalCode if fields are disabled
                        <!-- #if( ${addrDisableFields} != "" ) --><span>&nbsp;</span><!-- #end -->
                    </td>
                    <td style='padding: 0px 2px 0px 0px;'>$FormFieldRenderer.render("${addrAlias}.PostalCode", ${addr.gets("PostalCode")}, "PostalCode", "${addrRequired}|${addrDisableFields}")</td>
                    <td width='${FieldColumnWidth}'>$AddressRenderer.renderCountrySelect("${addrFieldPrefix}RegionCd", "${addr.gets('RegionCd')}", "SelectList","${addrRequired}|${addrDisableFields}|onchange=ajaxReplaceAddress('${addrAlias}')", $forceToDefaultRegionCd)
			        	$FormFieldRenderer.render("${addrAlias}RegionCdArgs", "'${addrAlias}', '${RegionCdArgs}', 'lookup'", "Hidden")
			        	$FormFieldRenderer.render("${addrAlias}RequiredFields", $AddressRenderer.getRequiredFieldsForCountry(${addr.gets('RegionISOCd')}), "Hidden")
			        	<div style='display:none'>$AddressRenderer.renderCountryCdSelect("${addrFieldPrefix}RegionISOCd", ${addr.gets('RegionISOCd')}, "SelectList","DisabledField")</div>
			        </td>
                    <td>
                <!-- #if( $addrDisableFields.equals("") && $AddressRenderer.isVerificationAvailable(${addr}) && $StringRenderer.isTrue($EnableAddressVerification) ) -->
                        <table border='0' cellpadding='0' cellspacing='0' width='54'>
                            <tr>
                                <td width='5' style='padding: 0px'>&nbsp;</td>
                                <td width='31' style='padding: 0px'><img src='img/address-verify.gif' id='${addrFieldPrefix}addrVerifyImg' onClick='javascript:${addrVerifyObjName}.verify();' title='Click to verify address' /></td>
                                <td width='18' style='padding: 0px'><img src='img/address-verify-no-status.gif' id='${addrFieldPrefix}verifyStatusImg' /></td>
                            </tr>
                        </table>
                <!-- #else -->
                        <table border='0' cellpadding='0' cellspacing='0' width='23'>
                            <tr>
                                <td width='5' style='padding: 0px'>&nbsp;</td>
                                <td width='18' style='padding: 0px'><img src='img/address-verify-no-status.gif' id='${addrFieldPrefix}verifyStatusImg' /></td>
                            </tr>
                        </table>
                <!-- #end -->
                    </td>
    				<td>
                        $FormFieldRenderer.render("${addrFieldPrefix}Latitude", ${addr.gets('Latitude')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}Longitude", ${addr.gets('Longitude')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}VerificationHash", ${addr.gets('VerificationHash')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}VerificationMsg", ${addr.gets('VerificationMsg')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}DPV", ${addr.gets('DPV')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}DPVDesc", ${addr.gets('DPVDesc')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}DPVNotes", ${addr.gets('DPVNotes')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}DPVNotesDesc", ${addr.gets('DPVNotesDesc')}, "Hidden")
                        $FormFieldRenderer.render("${addrFieldPrefix}BarcodeDigits", ${addr.gets('BarcodeDigits')}, "Hidden")
						$FormFieldRenderer.render("${addrFieldPrefix}CarrierRoute", ${addr.gets('CarrierRoute')}, "Hidden")
						$FormFieldRenderer.render("${addrFieldPrefix}CongressCode", ${addr.gets('CongressCode')}, "Hidden")
						$FormFieldRenderer.render("${addrFieldPrefix}CountyCode", ${addr.gets('CountyCode')}, "Hidden")     
        			</td>
    			</tr>
          	</table>
         </td>
    </tr>
	<tr>
		<th class='label'>$FormFieldRenderer.renderLabel("${addrFieldPrefix}County", "County", "Label", $CMMResponse, "${addrRequired}")</th>
        <td colspan='7'>$FormFieldRenderer.render("${addrFieldPrefix}County", ${addr.gets("County")}, "String","size=16|${addrRequired}|${addrDisableFields}")</td>
	</tr>
</table>

<script language="javascript" type="text/javascript">
	
	//Update RqUID field if it's lower than the new RQUID	
	$(document).ready( function() {
		replaceCurrentRqUID($ResponseParams.gets('RqUID'));	
	});
</script>

<script type="text/javascript">
<!--
var ${addrVerifyObjName};
$(document).ready( function() {
	#if( $addrAlias == "" )
	    ${addrVerifyObjName} = createParsedControlGroup("${addrAlias}", "");
    #else
        ${addrVerifyObjName} = createParsedControlGroup("${addrAlias}");
    #end
#if( ${LinkedAddr} )
    ${addrVerifyObjName}.addLinkedAddressControlGroup(${LinkedAddr});
#end
} );
//-->
</script>

