<!-- Prepare Velocity Variables
    $renderer.setTile("UWPolicy", "policy-summary")
    #set( $Transaction = $BasicPolicy.getBean("TransactionHistory","TransactionNumber", $BasicPolicy.gets("TransactionNumber")) )
	#if( $tileType == "Quote" )
		#set( $premiumLabel = "Quoted Premium" )
	#else
		#set( $premiumLabel = "In Force Premium" )
	#end
	#set( $customerRef = $Policy.gets("CustomerRef") )
	#set( $hasClaimsPackage = $SPI.hasPackage("CL") ) 
	#set( $allowPolicyMakePayment = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowPolicyMakePayment", $todayDt) )
	#set( $allowCustomerLink = $UserRenderer.getAuthorityAttributeValue($UserInfo, "Customer-PolicyList", $todayDt) )
	
	#set( $q = '"' )
-->
<script type="text/javascript" language="JavaScript">
	document.title = "$BasicPolicy.gets('PolicyDisplayNumber') - Guidewire InsuranceNow\u2122";  
</script>
<!-- #if( $hasClaimsPackage ) -->
	$FormFieldRenderer.render("InsuredName", $insuredName, "Hidden")
<!-- #end -->
<!--  #if( $StringRenderer.isTrue($allowPolicyMakePayment) ) -->
	$FormFieldRenderer.render("AccountRef", $Policy.gets("AccountRef"), "Hidden")
<!-- #end -->

$FormFieldRenderer.render("PolicySystemId", $Policy.getSystemId(), "Hidden")
$FormFieldRenderer.render("PolicySummary_PolicySystemId", $Policy.getSystemId(), "Hidden")
$FormFieldRenderer.render("PolicySummary_ProductVersionIdRef", $BasicPolicy.gets("ProductVersionIdRef"), "Hidden")
$!renderer.tileStart("Normal","PolicySummary","Summary","None")
		        <table width='100%' class='format' >
			      <tr>
				      <th class='label'>Policy Number</th>
				      <td id='PolicySummary_PolicyNumber'>$!BasicPolicy.gets("PolicyDisplayNumber")</td>
				  </tr>
			      <tr>    
				      <th class='label'>Insured</th>
				  <!-- #if( $customerRef.equals("") || $form.get("ModuleOrigin").equals("Claims") || $form.get("ModuleOrigin").equals("Billing") || !$StringRenderer.isTrue($allowCustomerLink) || $form.get("ExitNavigation").equals("No") ) -->    
				      <td id='PolicySummary_InsuredName'>$insuredName</td>
				  <!-- #else -->
				      <td id='PolicySummary_InsuredName'>$FormFieldRenderer.renderLink("GoToCustomer", $insuredName, "Link", "title='Click to go to the customer'|Class=actionLink", "javascript:cmmXFormSafe('UWPolicyList','$customerRef','','','Container=Customer&amp;MenuGroupCd=Policy&amp;MenuOptionCd=PolicyProcessing&amp;TaskSystemId=')")</td>
				  <!-- #end -->    
				  </tr>
			      <tr>
				      <th class='label'>Inception</th>
				      <td id='PolicySummary_InceptionDt'>$!BasicPolicy.gets("InceptionDt")</td>
			      </tr>
			      <tr>
				      <th class='label'>Product</th>
				      <td id='PolicySummary_Product'>$!ProductRenderer.getProductVersionName($!BasicPolicy.gets("ProductVersionIdRef"))</td>
				  </tr>
			      <tr>    
				      <th class='label'>Policy Form</th>
				      <td id='PolicySummary_SubType'>$!BasicPolicy.gets("SubTypeCd")</td>
				  </tr>
			      <tr>    
				      <th class='label'>Term Effective</th>
				      <td id='PolicySummary_EffectiveDt'>$!BasicPolicy.gets("EffectiveDt")</td>
			      </tr>
			      <tr valign='top'>
				      <th class='label'>Sequence</th>
				      <!-- #set( $sequenceWarning = $PolicyRenderer.getSequenceWarning($Policy) ) -->
				      <td id='PolicySummary_Sequence'>
				      $!BasicPolicy.gets("PolicyVersion")-$!BasicPolicy.gets("TransactionNumber")
				      <!-- #if( !$sequenceWarning.equals("") ) -->
				      	<br/>$sequenceWarning
				      <!-- #end -->
				      </td>
				  </tr>
			      <tr>    
				      <th class='label'>Transaction Status</th>
				      <!-- #set ( $statusDisplay = $PolicyRenderer.getHighlightedStatus($Policy) ) -->
				      <td id='PolicySummary_TransactionStatus'>$!statusDisplay</td>
				  </tr>
				   <tr>
			      	  <th class='label'>Pay Plan</th>
			          <td>$!BasicPolicy.gets("PayPlanCd")</td>
			      </tr>
			      <tr>    
				      <th class='label'>Transaction Effective</th>
				      <td id='PolicySummary_TransactionEffectiveDt'>$!Transaction.gets("TransactionEffectiveDt")</td>
			      </tr>
			      <tr>
				      <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.FinalPremiumAmt",$premiumLabel,"Label",$CMMResponse)</th>
				      <td id='PolicySummary_Premium'>$StringRenderer.formatMoney($!BasicPolicy.gets("FinalPremiumAmt"), true)</td>	      
				  </tr>
			      <tr>    
			      	  <!-- #set ( $taxesFeesAmt = "0" ) -->
			      	  <!-- #set ( $premiumIncTaxesFeesAmt = "0" ) -->
				      <!-- #set ( $fees = $!Policy.findBeansByFieldValue("Fee","Status","Active") ) -->
				      <!-- #foreach( $fee in $fees ) -->
						<!-- #set( $taxesFeesAmt = $StringRenderer.addMoney($taxesFeesAmt, $fee.gets("FinalAmt")) ) -->		      		      
				      <!-- #end -->
				      <!-- #set( $premiumIncTaxesFeesAmt = $StringRenderer.addMoney($premiumIncTaxesFeesAmt, $!BasicPolicy.gets("FinalPremiumAmt")) ) -->		      		      
				      <!-- #set( $premiumIncTaxesFeesAmt = $StringRenderer.addMoney($premiumIncTaxesFeesAmt, $taxesFeesAmt) ) -->		      		      
				  </tr>
			      <tr>    
				      <!-- #set ( $premiumLabelTaxesFees = "$premiumLabel (Inc Taxes & Fees)" ) -->
				      <th class='label'>$FormFieldRenderer.renderLabel("PremiumIncTaxesFeesAmt",$premiumLabelTaxesFees,"Label",$CMMResponse)</th>
				      <td id='PolicySummary_PremWithTaxesFeesAmt'>$StringRenderer.formatValue($premiumIncTaxesFeesAmt,2,"0.00",true,true)</td>	
			      </tr>
		      </table>	
$!renderer.tileEnd("Summary")