<!-- Prepare Velocity Variables 
    $renderer.setTile("UWPolicy", "policy-history")
    ##RMGQA-202 Changes
	#set( $envTable = $SPI.getModelObject("EnvironmentSettings::IVANS-PolicyExport::All") )
	#set( $exportEnabled = $envTable.getOption("enable").getLabel() )
	#set( $exportService = "cmmXForm('UWDTOPolicyExport',$Policy.getSystemId(),'','','CodeRefOptionsKey=policy-history&amp;OnDemand=Yes')")
	#set( $allowExport = $UserRenderer.getAuthorityAttributeValue($user,"AllowPolicyExport",$todayDt) )
	##RMGQA-202 Changes
-->
<script type="text/javascript" language='JavaScript'>
	function loadChangeInfo(systemId, transNo,transId) {
		var transNoId =  "TermChangeInfo" + systemId + transNo;	
		var ajaxId = "ajaxReplaceHistoryChangeInfo" + systemId + transNo;
		var extraParams = "TransactionNumber=" + transNo;
		if( document.getElementById(transNoId).value == "" ) {
			document.getElementById(transNoId).value = "1";
			ajaxCMMXForm(ajaxId,'UWPolicyHistoryChangeInfoAjax', systemId, '', transId, '', '');			
		}
	}
	function loadRenewalChangesChangeInfo() {
		ajaxCMMXForm('ajaxReplaceRenewalChangesChangeInfo','UWPolicyRenewalChangesChangeInfoAjax', $Policy.getSystemId(), '', '', '', '');
	}
</script>
$!renderer.tileStart("Normal","TransactionHistory","None","None")
    <table id='historyTable' class='format'>
        <tr>    
            <!-- #if( $form.get("ShowUnapplyInd") == "Yes" ) -->
            	<td>$FormFieldRenderer.render("ShowUnapplyInd",$form.get("ShowUnapplyInd"),"CheckBox","IgnoreChanges=True|checked=on|onClick=cmmXForm('UWPolicyHistorySync','$!Policy.getSystemId()','','','CodeRefOptionsKey=policy-history&amp;TransactionNumber=$transactionNumber')")</td>
            <!-- #else -->
            	<td>$FormFieldRenderer.render("ShowUnapplyInd",$form.get("ShowUnapplyInd"),"CheckBox","IgnoreChanges=True|onClick=cmmXForm('UWPolicyHistorySync','$!Policy.getSystemId()','','','CodeRefOptionsKey=policy-history&amp;TransactionNumber=$transactionNumber')")</td>
            <!-- #end -->
            <th class='label'>$FormFieldRenderer.renderLabel("ShowUnapplyInd","Show All","Label",$CMMResponse)</th>
            <!--RMGQA-202 Changes-->
			<!-- #if($exportEnabled.equalsIgnoreCase("YES") && $allowExport.equalsIgnoreCase("YES") ) --> 
               <td class='column' width='30%'></td>
               <td>$FormFieldRenderer.renderButton("policyExport","Export Policy","Button",$exportService)</td>
    		<!-- #end -->
			<!--RMGQA-202 Changes-->
        </tr>
    </table>
    <div class='listTable'>
    	<table width='100%' class='format'>
	    	<tr class='columnHeader'> 
		      	<th class='column' width='8%' colspan='2'>Term-Seq Number</th>
		      	<th class='column' width='15%'>Transaction</th>
		      	<th class='column' width='20%'>Description</th>
		      	<th class='column' width='7%'>Effective</th>
		      	<th class='columnNumeric' width='10%'>Written Premium</th>
		      	<th class='columnNumeric' width='10%'>In Force Premium</th>
		      	<th class='column' width='11%'>User ID</th>
		      	<th class='column' width='19%'>Entry Date/Time</th>
	      	</tr>
	        <!-- #set( $counter = 0 )-->
	        <!-- #if( $BeanRenderer.containsBean($Policy, "PendingRenewalChanges") ) -->
	        	<!-- #set( $pendingRenewalChanges = $Policy.getBean("PendingRenewalChanges") ) -->
	        	<tr>
	        		<td width='2%' align='center'><img src='img/expand.gif' id='img$counter' name='RenewalChanges_Expand' onClick='toggle("$counter");loadRenewalChangesChangeInfo();'></td>
	        		<td><a id='RenewalChangesDeleteLink' class='actionLink' href='javascript:if( confirm("Delete Pending Renewal Changes?") ) cmmXForm("UWPolicyRenewalChangesDelete", $Policy.getSystemId(),"","","CodeRefOptionsKey=policy-history")'>Delete</a></td>
	        		<td>Renewal Changes</td>
	        		<td>Pending Renewal Changes</td>
	        		<td>$Policy.getBean("BasicPolicy").gets("ExpirationDt")</td>
	        		<td class='numeric'>N/A</td>
	        		<td class='numeric'>N/A</td>
	        		<td>$pendingRenewalChanges.gets("TransactionUser")</td>
	        		<td>$pendingRenewalChanges.gets("TransactionDt") $pendingRenewalChanges.gets("TransactionTm")</td>
	        	</tr>
	        	<tr id='row$counter' style='display:none;' class='noHover'>
	  				<td colspan='9'>
	  					<table class='none' width='100%'>
	  						<tr>
				  				<td width='2%'></td>
				      			<td width='98%' id='ajaxReplaceRenewalChangesChangeInfo'>
				      				Please wait while the renewal details are retrieved...
					      		</td>
				      		</tr>
				      	</table>	
		      		</td>
	  			</tr>  
  				<!-- #set( $counter = $counter + 1 ) -->
	        <!-- #end -->
	        <!-- #foreach( $policyMini in $policyMiniHistory ) -->  
	        	<!-- #set( $basicPolicy = $policyMini.getBean("BasicPolicy") ) -->
			    <!-- #foreach( $transactionHistory in $BeanRenderer.sortBeansBy($basicPolicy.getBeans("TransactionHistory"), "TransactionNumber", "Descending") ) -->
	            	<!-- #set( $transactionCd = $transactionHistory.gets("TransactionCd") ) -->
	            	<!-- #if ($form.get("ShowUnapplyInd") == "Yes" || ($transactionHistory.gets("UnAppliedByTransactionNumber").equals("") && $transactionHistory.gets("UnApplyOfTransactionNumber").equals("") && !$transactionCd.equals("Lapse Start") && !$transactionCd.equals("Lapse End") && !$transactionCd.equals("Adjust Last Lapse Period"))) -->
			      		<!-- #if( $policyMini.getSystemId().equals($CMMParams.gets("SystemId")) && $transactionHistory.gets("TransactionNumber").equals($transactionNumber) ) -->
				  			<!-- #set( $tdclass="highlightRow" ) -->
			      		<!-- #else -->
				  			<!-- #set( $tdclass="" ) -->
			      		<!-- #end -->
			      		<!-- #set( $currentTransactionNumber = $transactionHistory.gets("TransactionNumber") ) -->
			      		<!-- #set( $currentTransactionId = $transactionHistory.getId() ) -->
			  			<tr class="$tdclass">
					  		<td width='2%' align='center'><img src='img/expand.gif' id='img$counter' name='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_Expand' onClick='toggle("$counter");loadChangeInfo("$policyMini.getSystemId()", "$currentTransactionNumber", "$currentTransactionId");'></td>
		                    <!-- #if( $!transactionHistory.gets("UnApplyOfTransactionNumber") == "" && $!transactionHistory.gets("UnAppliedByTransactionNumber") == "" && !$transactionHistory.gets("TransactionCd").equals("Lapse Start") && !$transactionHistory.gets("TransactionCd").equals("Lapse End") && !$transactionHistory.gets("TransactionCd").equals("Adjust Last Lapse Period") ) -->
					  			<td><a id='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")' class='actionLink' href='javascript:cmmXForm("UWPolicyHistorySync", $policyMini.getSystemId(),"","","CodeRefOptionsKey=policy-history&amp;TransactionNumber=$transactionHistory.gets('TransactionNumber')")'>$basicPolicy.gets("PolicyVersion")-$!transactionHistory.gets("TransactionNumber")</a></td>
		                    <!-- #else -->
		                        <td>$basicPolicy.gets("PolicyVersion")-$!transactionHistory.gets("TransactionNumber")</td>
		                    <!-- #end -->
					  		<td width='6%' id='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_TransactionCd'>$!transactionHistory.gets("TransactionCd")</td>
		                    <!-- #if( $!transactionHistory.gets("ReplacementOfTransactionNumber") != "") -->
		                    	<!-- #set( $transactionDescription = "$!transactionHistory.gets('TransactionShortDescription') (Reapply of #$!transactionHistory.gets('ReplacementOfTransactionNumber'))" ) -->
					  		<!-- #else -->
		                    	<!-- #set( $transactionDescription = $!transactionHistory.gets("TransactionShortDescription") ) -->
		                    <!-- #end -->
		                    <!-- #if( !$BasicPolicy.gets("PolicyNumber").equals($basicPolicy.gets("PolicyNumber")) ) -->
		                    	<!-- #set( $transactionDescription = "$basicPolicy.gets('PolicyNumber'): $transactionDescription" ) -->
		                    <!-- #end -->
		                    <td id='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_Description'>$!transactionDescription</td>
					  		<td id='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_EffectiveDt'>$!transactionHistory.gets("TransactionEffectiveDt")</td>
					  		<td class='numeric' id='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_WrittenPremium'>$!transactionHistory.gets("WrittenPremiumAmt")</td>
					  		<td class='numeric' id='History_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_InForcePremium'>$!transactionHistory.gets("InforcePremiumAmt")</td>
					  		<td>$!transactionHistory.gets("TransactionUser")</td>
					  		<td>$!transactionHistory.gets("TransactionDt") $!transactionHistory.gets("TransactionTm")</td>
				  		</tr>
			  			<tr id='row$counter' style='display:none;' class='noHover'>
			  				<td colspan='9'>
			  					<table class='none' width='100%'>
			  						<tr>
						  				<td width='2%'>$FormFieldRenderer.render("TermChangeInfo$policyMini.getSystemId()$currentTransactionNumber", "", "Hidden")</td>
						      			<td width='98%' id='ajaxReplaceHistoryChangeInfo$policyMini.getSystemId()$currentTransactionNumber'>
						      				Please wait while the policy term details are retrieved...
							      		</td>
						      		</tr>
						      	</table>	
				      		</td>
			  			</tr>  
		  				<!-- #set( $counter = $counter + 1 ) -->
                	<!-- #end -->  <!-- Conditional UnapplyOf/ReapplyOf -->
		  		<!-- #end -->  <!-- for loop on term transactions -->
	      	<!-- #end -->  <!-- for loop on terms -->
	      	<!-- #if( $counter == 0 ) -->
	       		<tr>
		    		<td colspan='9'><b>Empty List<b></td>
	       		</tr>    
	    	<!-- #end -->  
    	</table>
    </div>
<script language=javascript>
  lineCount = $counter;
</script>
$!renderer.tileEnd()

<!-- #set( $policyReplacedMiniList = $PolicyRenderer.getAllReplacedByPolicies($data, $policyMiniHistory) ) -->
<!-- #if( $SPI.getArrayLength($policyReplacedMiniList) > 0 ) -->
$!renderer.tileStart("Normal","PolicyReplacedHistory","None","None")
    <div class='listTable'>
    	<table width='100%' class='format'>
	    	<tr class='columnHeader'> 
		      	<th class='column' width='8%' colspan='2'>Term-Seq Number</th>
		      	<th class='column' width='15%'>Transaction</th>
		      	<th class='column' width='20%'>Description</th>
		      	<th class='column' width='7%'>Effective</th>
		      	<th class='columnNumeric' width='10%'>Written Premium</th>
		      	<th class='columnNumeric' width='10%'>In Force Premium</th>
		      	<th class='column' width='11%'>User ID</th>
		      	<th class='column' width='19%'>Entry Date/Time</th>
	      	</tr>
	        <!-- #foreach( $policyReplacedMini in $policyReplacedMiniList ) -->  
	        	<!-- #set( $basicPolicy = $policyReplacedMini.getBean("BasicPolicy") ) -->
			    <!-- #foreach( $transactionHistory in $BeanRenderer.sortBeansBy($basicPolicy.getBeans("TransactionHistory"), "TransactionNumber", "Descending") ) -->
	            	<!-- #set( $transactionCd = $transactionHistory.gets("TransactionCd") ) -->
	            	<!-- #if ($form.get("ShowUnapplyInd") == "Yes" || ($transactionHistory.gets("UnAppliedByTransactionNumber").equals("") && $transactionHistory.gets("UnApplyOfTransactionNumber").equals("") && !$transactionCd.equals("Lapse Start") && !$transactionCd.equals("Lapse End") && !$transactionCd.equals("Adjust Last Lapse Period"))) -->
			      		<!-- #if( $policyReplacedMini.getSystemId().equals($CMMParams.gets("SystemId")) && $transactionHistory.gets("TransactionNumber").equals($transactionNumber) ) -->
				  			<!-- #set( $tdclass="highlightRow" ) -->
			      		<!-- #else -->
				  			<!-- #set( $tdclass="" ) -->
			      		<!-- #end -->
			      		<!-- #set( $currentTransactionNumber = $transactionHistory.gets("TransactionNumber") ) -->
			      		<!-- #set( $currentTransactionId = $transactionHistory.getId() ) -->
			  			<tr class="$tdclass">
					  		<td width='2%' align='center'><img src='img/expand.gif' id='img$counter' name='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_Expand' onClick='toggle("$counter");loadChangeInfo("$policyReplacedMini.getSystemId()", "$currentTransactionNumber", "$currentTransactionId");'></td>
		                    <!-- #if( $!transactionHistory.gets("UnApplyOfTransactionNumber") == "" && $!transactionHistory.gets("UnAppliedByTransactionNumber") == "" && !$transactionHistory.gets("TransactionCd").equals("Lapse Start") && !$transactionHistory.gets("TransactionCd").equals("Lapse End") && !$transactionHistory.gets("TransactionCd").equals("Adjust Last Lapse Period") ) -->
					  			<td><a id='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")' class='actionLink' href='javascript:cmmXForm("UWPolicyHistorySync", $policyReplacedMini.getSystemId(),"","","CodeRefOptionsKey=policy-history&amp;TransactionNumber=$transactionHistory.gets('TransactionNumber')")'>$basicPolicy.gets("PolicyVersion")-$!transactionHistory.gets("TransactionNumber")</a></td>
		                    <!-- #else -->
		                        <td>$basicPolicy.gets("PolicyVersion")-$!transactionHistory.gets("TransactionNumber")</td>
		                    <!-- #end -->
					  		<td width='6%' id='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_TransactionCd'>$!transactionHistory.gets("TransactionCd")</td>
		                    <!-- #if( $!transactionHistory.gets("ReplacementOfTransactionNumber") != "") -->
		                    	<!-- #set( $transactionDescription = "$!transactionHistory.gets('TransactionShortDescription') (Reapply of #$!transactionHistory.gets('ReplacementOfTransactionNumber'))" ) -->
					  		<!-- #else -->
		                    	<!-- #set( $transactionDescription = $!transactionHistory.gets("TransactionShortDescription") ) -->
		                    <!-- #end -->
		                    <!-- #if( !$BasicPolicy.gets("PolicyNumber").equals($basicPolicy.gets("PolicyNumber")) ) -->
		                    	<!-- #set( $transactionDescription = "$basicPolicy.gets('PolicyNumber'): $transactionDescription" ) -->
		                    <!-- #end -->
		                    <td id='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_Description'>$!transactionDescription</td>
					  		<td id='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_EffectiveDt'>$!transactionHistory.gets("TransactionEffectiveDt")</td>
					  		<td class='numeric' id='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_WrittenPremium'>$!transactionHistory.gets("WrittenPremiumAmt")</td>
					  		<td class='numeric' id='ReplacedByHistory_$basicPolicy.gets("PolicyVersion")_$!transactionHistory.gets("TransactionNumber")_InForcePremium'>$!transactionHistory.gets("InforcePremiumAmt")</td>
					  		<td>$!transactionHistory.gets("TransactionUser")</td>
					  		 <!-- #set( $dateTimeOutput = $DateRenderer.formatDateTimeOutput($transactionInfo.gets("TransactionDt") , $transactionInfo.gets("TransactionTm")) ) -->
					  		<td>$StringRenderer.getValueAtIndex($dateTimeOutput, 0) $StringRenderer.getValueAtIndex($dateTimeOutput, 1)</td>
				  		</tr>
			  			<tr id='row$counter' style='display:none;' class='noHover'>
			  				<td colspan='9'>
			  					<table class='none' width='100%'>
			  						<tr>
						  				<td width='2%'>$FormFieldRenderer.render("TermChangeInfo$policyReplacedMini.getSystemId()$currentTransactionNumber", "", "Hidden")</td>
						      			<td width='98%' id='ajaxReplaceHistoryChangeInfo$policyReplacedMini.getSystemId()$currentTransactionNumber'>
						      				Please wait while the policy term details are retrieved...
							      		</td>
						      		</tr>
						      	</table>	
				      		</td>
			  			</tr>  
		  				<!-- #set( $counter = $counter + 1 ) -->
                	<!-- #end -->  <!-- Conditional UnapplyOf/ReapplyOf -->
		  		<!-- #end -->  <!-- for loop on term transactions -->
	      	<!-- #end -->  <!-- for loop on terms -->	      	
    	</table>
    </div>
$!renderer.tileEnd()
<!-- #end -->
    