<!-- Prepare Velocity Variables
	$renderer.setTile("CLNotice", "loss-notice-template-select-derived-line")
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
	#set( $claimLineArray = $ClaimProductRenderer.getClaimLines($Claim) )
	#set( $lineCd = "" )
	#if( $SPI.getArrayLength($claimLineArray) > 1 )
		#if( $Claim.valueEquals("VehicleInvolvedInd", "Yes") )
			#set( $claimLine = $ClaimProductRenderer.getClaimLineByRiskBeanName($Claim, "Vehicle") )
			#set( $lineCd = $claimLine.gets("LineCd") )
		#else
			#set( $claimLine = $ClaimProductRenderer.getClaimLineByRiskBeanName($Claim, "Building") )
			#set( $lineCd = $claimLine.gets("LineCd") )
		#end
	#end
	
	#set($claimSetup = $ClaimRenderer.getClaimSetup($Claim))
	#set($policyTypeCd = $claimSetup.gets("PolicyTypeCd"))
	
	#set( $automobileInvolvedSelectAction = "ajaxCMMXForm('ajaxAutomobileInvolved','CLAutomobileInvolvedSelect', '$Claim.getSystemId()', '', '', '', 'Claim.VehicleInvolvedInd', 'Claim.ProductVersionIdRef')" )
-->
<script language='JavaScript'>
	function defaultLossDt() {
		id = document.getElementById("ClaimLossTemplateIdRef").value + "LossDt";
		if( document.getElementById(id) ) {
			document.getElementById("Claim.LossDt").value = document.getElementById(id).value;
		} else {
			document.getElementById("Claim.LossDt").value = "";
		}	
	}
</script>
<!-- #if( $Claim.gets("ProductLineCd").equals("") || $Claim.gets("StatusCd").equals("New") ) -->
	$FormFieldRenderer.render("Claim.TypeCd", $Claim.gets("TypeCd"), "Hidden")
	<!-- #foreach( $claimLossTemplate in $ClaimProductRenderer.getClaimLossTemplates($Claim, $todayDt) ) -->
		<!-- #if( $StringRenderer.isTrue($claimLossTemplate.gets("DefaultLossDtInd")) ) -->
			$FormFieldRenderer.render("$claimLossTemplate.getId()LossDt", $UserRenderer.getConversationVariable($CMMResponse, "$claimLossTemplate.getId()LossDt"), "Hidden")
		<!-- #end -->
	<!-- #end -->
	$!renderer.tileStart("Normal","LossNoticeInformation","None","None")
		<table width='100%' class='format'>
			<tr>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("ClaimLossTemplateIdRef", "Loss Type", "Label", $CMMResponse, "Required=True")</th>
				<!-- #if( $Claim.valueEquals("StatusCd", "New") ) -->	
					<td width='15%'>$ClaimProductRenderer.lossTemplateSelectField("ClaimLossTemplateIdRef", $form.get("ClaimLossTemplateIdRef"), $Claim, $todayDt, "OnChange=defaultLossDt()|Prompt=Select...|Required=True")</td>	
				<!-- #else -->
					<td width='15%'>$ClaimProductRenderer.lossTemplateSelectField("ClaimLossTemplateIdRef", $Claim.gets("ClaimLossTemplateIdRef"), $Claim, $todayDt, "OnChange=defaultLossDt()|Prompt=Select...|Required=True")</td>	
				<!-- #end -->	
					<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Claim.LossDt", "Loss Date", "Label", $CMMResponse, "Required=True")</th>
					<td width='17%'>$FormFieldRenderer.render("Claim.LossDt", $Claim.gets("LossDt"), "Date", "onBlur=formatDate(this)|Required=True")</td>	
					<td width='38%' colspan='2'>$FormFieldRenderer.render("Claim.VehicleInvolvedInd", $Claim.gets("VehicleInvolvedInd"), "Hidden")$FormFieldRenderer.render("Claim.ProductLineCd", $SPI.getObjectAtIndex($claimLineArray, 0).gets("LineCd"), "Hidden")</td>
			</tr>
		</table>
	$!renderer.tileEnd()
<!-- #end -->