<!-- Prepare Velocity Variables
    $renderer.setTile("CONote", "note-edit")
    #set( $parentIdRef = $CMMParams.gets("ParentIdRef") )
    #set( $idRef = $CMMParams.gets("IdRef") )
        
    #if($containerName == "Note")
    	#set( $container = $note )
    	#set( $docType = $form.get("DocType") )   	
    	#set( $containerSource = $CMMResponse.getBean($docType))
    	#set( $containerSourceName = $containerSource.getBeanName()) 	
    	#set( $nameService = "CONote2Template")
    #else
    	#set( $cmmContainerName = $CMMParams.gets("Container") )
    	#set( $container = $CMMResponse.getBean($cmmContainerName) )
    	#set( $containerName = $container.getBeanName())
    	#set( $containerSource = $container)
    	#set( $containerSourceName = $containerName) 	
    	#set( $nameService = "CONoteTemplate")    	  	
    #end  
                    		
	#set( $systemId = $!CMMParams.gets("SystemId") ) 
	##set( $note = $CMMResponse.getBeanById( $!CMMParams.gets("IdRef")) ) 
	#set( $attachment = $note.getBean("Attachment","Status","Active") )
	#set( $attachmentIdRef = $attachment.getId() )
	#set( $link = $note.getBean("LinkReference") )
	#set( $userId = $ResponseParams.gets("UserId"))
	#set( $user = $CMMResponse.getBean("ResponseParams").getBean("UserInfo") )	
	#set( $attachmentType = "" )
	
	#set( $mdaName = "${mdaContainer}::note::name::all" )
	#set( $mdaPriority = "${mdaContainer}::note::priority::all" )	
    
	#set( $urlParams = "Container=${containerName}" )
    #if($note.gets("AddDt") == "")
    	#set( $nameAction =  "cmmXForm('$nameService','${systemId}','${parentIdRef}','${idRef}','${urlParams}')" )
    #else
        #set( $nameAction =  "cmmXForm('$nameService',${systemId},'${parentIdRef}','${idRef}','${urlParams}&Operation=Update')" )
    #end
	#set( $deleteAction =  "javascript:document.getElementById('DeleteAttachmentId').value='${attachmentIdRef}';cmmXForm('CONoteDeleteAttachment',${systemId},'${parentIdRef}','${idRef}','${urlParams}')" )
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
	
	#set( $isConversion = "No" )
	#if($container.gets("id").contains("Claim") ) 
		#set( $claimPolicyInfo = $container.getBean("ClaimPolicyInfo") )
	    #set( $businessSourceCd = $claimPolicyInfo.gets("BusinessSourceCd") )
		#if($businessSourceCd.equalsIgnoreCase("Conversion")) 
	     	#set( $isConversion = "Yes")
	    #end
    #end
	
-->

	$FormFieldRenderer.render("LinkTo", $link.gets("IdRef"), "Hidden")
	$FormFieldRenderer.render("Refresh", $form.get("Refresh"), "Hidden")
	$FormFieldRenderer.render("DeleteAttachmentId", "", "Hidden")
	$FormFieldRenderer.render("NoteSortBy",$form.get("NoteSortBy"),"Hidden")
	$FormFieldRenderer.render("Note.ShowOnAllProducerContainersInd",$note.gets("ShowOnAllProducerContainersInd"),"Hidden")

    <!-- #if($note.gets("AddDt") == "") -->
        $!renderer.tileStart("Normal","NewNote","None","None")
    <!-- #else -->
        $!renderer.tileStart("Normal","EditNote","None","None")
    <!-- #end -->

	<table width='100%' class='format'>
    	<tr>
	    <!-- #if($note.gets("AddDt") == "")-->
	    	<th class='label' width='15%'>$FormFieldRenderer.renderLabel("Note.TemplateId", "Name", "Label", $CMMResponse, "Required=True")</th>
	    	<!-- #if($isConversion.equals("Yes")) -->
		    <td>$RICNoteRenderer.templateSelectField("Note.TemplateId",$!note.gets("TemplateId"),$mdaContainer,$containerSource,$nameAction,"Required=True|DisableDefault",$UserInfo,$todayDt)</td>
		    <!-- #else -->
		    <td>$NoteRenderer.templateSelectField("Note.TemplateId",$!note.gets("TemplateId"),$mdaContainer,$containerSource,$nameAction,"Required=True|DisableDefault",$UserInfo,$todayDt)</td>
		    <!-- #end -->
		<!-- #else -->
		    <th class='label'>Name</th>
		    <td>$NoteRenderer.getName($note.gets("TemplateId"))</td>
	    <!-- #end -->
        </tr>
        <tr>
			<th class='label'>$FormFieldRenderer.renderLabel("Note.PriorityCd", "Priority", "Label", $CMMResponse)</th>
			<td>
            	<table cellpadding='0' cellspacing='0'>
                	<tr>		    
                	 <!-- #if($note.gets("AddDt") == "")-->
                	 	<td>$FormFieldRenderer.renderSelect("Note.PriorityCd", $note.gets('PriorityCd'), "CONote::note::priority::all", "SelectList", null)</td>
                	 <!-- #else -->
                		<td>$FormFieldRenderer.renderSelect("Note.PriorityCd", $note.gets('PriorityCd'), "CONote::note::priority::all", "SelectList", "disabled")</td>	
                	 <!-- #end -->
                	
				<!-- #if ( !$containerSourceName.equals("Cabinet" ) )-->
					<!-- #if( $note.gets("StickyInd").equals("Yes") ) -->
						<td nowrap>$FormFieldRenderer.render("Note.StickyInd", $note.gets("StickyInd"), "CheckBox", "checked=on")</td>
					<!-- #else -->
						<td nowrap>$FormFieldRenderer.render("Note.StickyInd", $note.gets("StickyInd"), "CheckBox")</td>
                    <!-- #end -->
                    	<th class='label'>$FormFieldRenderer.renderLabel("Note.StickyInd", "Sticky Note", "Label", $CMMResponse)</th>
                    	<!-- #if( $note.gets("ShowOnAllProducerContainersInd").equalsIgnoreCase("Yes") ) -->
                    		<td>&nbsp;&nbsp;</td>
                    		<td class='warning'>This note will appear on all Quotes, Applications, Policies, Claims, Accounts and Customers this $container.getBean("ProducerInfo").gets("ProducerTypeCd") is associated with.</td>
                    	<!-- #end -->
                <!-- #end -->
					</tr>
				</table>
			</td>	
		</tr> 
		<tr>
            <th class='label'>$FormFieldRenderer.renderLabel('CategoryCd', "Category", "Label", null)</th>
            <td>$NoteRenderer.getCategoryCd($note.gets("TemplateId"))</td>
        </tr> 
        <tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("Note.Description", "Description", "Label", $CMMResponse, "Required=True")</th>
        	<td>$FormFieldRenderer.render("Note.Description", $note.gets("Description"), "String", "size=100|Required=True")</td>
        </tr>
        <tr>
	    	<!-- #if($note.gets("AddDt") == "") -->	    	
	    		<th class='label' valign='top'>$FormFieldRenderer.renderLabel("Note.Memo", "Memo", "Label", $CMMResponse)</th>
	    		<td>$FormFieldRenderer.render("Note.Memo", $!note.gets("Memo"), "TextArea", "Rows=5|Cols=90")</td>
	    	<!-- #else -->
	    		<th class='label' valign='top'>$FormFieldRenderer.renderLabel("Note.Memo", "Memo", "Label", $CMMResponse)</th>
	            <!-- #if( $!NoteRenderer.hasAuthority($note.gets("TemplateId"),"Edit",$UserInfo,$todayDt))-->       	 
		        	<td>$FormFieldRenderer.render("Note.Memo", $!note.gets("Memo"), "TextArea", "Rows=5|Cols=90")</td>
		    	<!-- #else -->
	        		<td id='Note.Memo'>$FormFieldRenderer.renderMultilineString($!note.gets("Memo"))</td>
	        	<!-- #end -->
	        <!-- #end -->
        </tr> 	        
    </table>
	<br/>
    