<!-- Prepare Velocity Variables
	#set( $beanIdentifier = '' )
	#set( $beanNewIdentifier = '' )	
	#set( $beanName = '' )	
	#set( $beanNameList = $RICProductRenderer.getConversionUtilitiesList('dtoconverter') )	
-->
$renderer.setTile("COUser", "user-converttodto")
$renderer.tileStart("Normal","Convert to DTO","None","None")
<table class='format'>	
	<tr>
		<th class='label'>$FormFieldRenderer.renderLabel("BeanName", "Bean Name", "Label", $CMMResponse, "Required=True")</th>
		<td>$FormFieldRenderer.renderSelect("BeanName", $!beanName, $beanNameList, "SelectList", "Prompt=Select...|Required=True")</td>
		<th/>
		<td/>
		<th class='label'>$FormFieldRenderer.renderLabel("BeanIdentifierLabel", "Number", "Label", $CMMResponse, "Required=True")</th>
		<td>$FormFieldRenderer.render("BeanIdentifier", $!beanIdentifier, "String", "Required=True")</td>
		<td>$FormFieldRenderer.renderButton("Convert","Convert to DTO","Button","cmmXForm('UIConvertBeanToDTO','','','','','false', 'true')")</td>
	</tr>	
</table>	
$renderer.tileEnd()