$renderer.setTile("COUser", "user-conversionutilities")
$renderer.tileStart("Normal","Conversion Utilities","None","None")
	<table class='format' >    	
        <tr>
        	<td>
            	<a class='actionLink' href='javascript:cmmXForm("UIConvertBeanToDTOPage")'>Generate DTO Bean</a>
            </td>
            <td>Generate a DTO Bean from the Policy / Claim Bean to be loaded as conversion policy / claim</td>
        </tr>
        <tr/>        
    </table>
$renderer.tileEnd()