
<!-- Prepare Velocity Variables
     $renderer.setTile("UW", "ai-list")
     #set ( $modelName = $CMMParams.gets("ModelName") )
     #set( $containerName = $CMMParams.gets("Container") )
     #set( $container = $CMMResponse.getBean($containerName) )
     #set( $basicPolicy = $container.getBean("BasicPolicy") ) 
-->
$!renderer.tileStart("Normal", "AdditionalInterestList", "None", "Collapsed")   
	<table width='100%' class='format'>
		
		<tr>
			<td>
				<!-- #if( $containerName != "Policy" && $displayMode == false ) -->
			    	<!-- #set( $newAdditionalInterestAction = "javascript:cmmXForm('UWAINew','$!systemId','$idRef');|Class=button-plain|" ) -->
					$FormFieldRenderer.renderButton("UWAINew","Add Additional Interest","Button",$newAdditionalInterestAction)
				<!-- #end -->
			</td>
			<td align='right'>
				<!-- #if( $containerName.equals("Policy") ) -->
					<!-- #set( $refreshAction = "javascript:cmmXForm('UWPolicySync',$systemId,'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" ) -->
				<!-- #else -->
					<!-- #set( $refreshAction = "javascript:cmmXForm('UWApplicationSync',$systemId,'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" ) -->
				<!-- #end -->
				$FormFieldRenderer.render("ShowDeletedAIInd", $form.get("ShowDeletedAIInd"), "CheckBox", "onClick=$refreshAction")
				$FormFieldRenderer.renderLabel("ShowDeletedAIInd", "Show Deleted Items", "Label", $CMMResponse)  
			</td>
		</tr>
	</table>
	<div class='listTable'>     
    	<table width="100%" class='format'>
	  		<tr class='columnHeader'> 
	  	   		<th class='column' width='1%'>&nbsp;</th>
	       		<th class='column' width='2%'>&nbsp;</th>
	       		<th class='column' width='13%'>Number</th>
	       		<th class='column' width='30%'>Name</th>
	       		<th class='column' width='20%'>Interest Type</th>
	       		<th class='column' width='20%'>Interest In</th>
	       		<th class='column' width='15%'>&nbsp;</th>
	  		</tr>
     		<!-- #set( $counter = 0 )-->
     		<!-- #foreach( $a in $AIRenderer.getAdditionalInterests($container, $basicPolicy.gets("ProductVersionIdRef")) ) -->
		  		<!-- #set( $interestIn = "" ) -->
		  		<!-- #set( $finalRiskAddr = "" ) -->
		  		<!-- #set( $aiStatus = $a.gets("Status") ) -->
		  	   	<!-- #set( $futureStatusCd = $a.gets("FutureStatusCd") ) -->
		  	   	<!-- #set( $linkReferences = $a.findBeansByFieldValue("LinkReference","Status","Active")  ) -->
	  
		  	   	<!-- #foreach( $linkReference in $linkReferences ) -->
		  	   		<!-- #set( $idRef = $linkReference.gets("IdRef") ) -->
		  	   		<!-- #set( $riskDescription = $container.findBeanByFieldValue("Risk","id",$idRef).gets("Description") ) -->
		  	   		<!-- #set( $building = $container.getBean("Line").findBeanByFieldValue("Risk","id",$idRef).getBean("Building") ) -->
		  	   		<!-- #set( $riskAddr = $building.findBeanByFieldValue("Addr","AddrTypeCd","RiskAddr") ) -->
					<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("Addr1")," ")   )  -->
					<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("City")," ")   )  -->
					<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("StateProvCd")," ")  )  -->
					<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("PostalCode")," ")   )  -->
		  	   		<!-- #set( $interestIn = $finalRiskAddr ) -->
		  	   	<!-- #end -->
		  	   	
		  	   	<!-- #if( !$aiStatus.equals("Deleted") || !$futureStatusCd.equals("") || $form.get("ShowDeletedAIInd").equals("Yes") ) -->
			  		<tr>
			       		<!-- #if( ($futureStatusCd.equals("Future") || $futureStatusCd.equals("FutureTerm") ) && $aiStatus.equals("Deleted") ) -->
		      				<td><img id='PriFutureIcon_$!a.gets("SequenceNumber")' class='noborder' src='img/letter-f.png' title='This interest exists on a future policy version'></td> 
		      			<!-- #elseif( $futureStatusCd.equals("FuturePending") && $aiStatus.equals("Deleted") ) -->
		      				<td><img id='PriPendingIcon_$!a.gets("SequenceNumber")' class='noborder' src='img/letter-r.png' title='This interest exists as a pending renewal change'></td> 
		      			<!-- #elseif( $aiStatus.equals("Deleted") ) -->    
		                	<td><img id='DeleteIcon_$!a.gets("SequenceNumber")' class='noborder' src='img/error-close.png' title='This interest has been deleted'></td>   
		            	<!-- #else -->
		                	<td>&nbsp;</td>
		            	<!-- #end -->
				       <td align='center'><img src='img/expand.gif' id='img$counter' name='AIList_$!a.gets("SequenceNumber")_Expand'onClick='toggle("$counter");'></td>
				       <td id='AIList_Number'>$!a.gets("SequenceNumber")</td>
				       <td id='AIList_$!a.gets("SequenceNumber")_Name'>$FormFieldRenderer.renderMultilineString($!a.gets("InterestName"))</td>
				       <td id='AIList_$!a.gets("SequenceNumber")_InterestType'>$!a.gets("InterestTypeCd")</td>
				       <td id='AIList_$!a.gets("SequenceNumber")_InterestIn'>$interestIn</td>
				       <td>
				       <!-- #if( $containerName == "Policy" || $displayMode ) -->
					   		<a class='actionLink' id='AIList_$!a.gets("SequenceNumber")_View' href="javascript:cmmXForm('UWAISync',$!systemId,'$!idRef','$!a.getId()','Container=$containerName')">View</a>
				       <!-- #elseif( $aiStatus.equals("Deleted") ) -->
				       		<a class='actionLink' id='AIList_$!a.gets("SequenceNumber")_View' href="javascript:cmmXForm('UWAISync',$!systemId,'$!idRef','$!a.getId()','Container=$containerName')">View</a>
				       		<a class='actionLink' id='AIList_$!a.gets("SequenceNumber")_Activate' href="javascript:if( confirm('Activate Additional Interest?') ) cmmXForm('UWAIActivate',$systemId,'$idRef','$a.getId()')">Activate</a>
				       <!-- #else -->
					    	<a class='actionLink' id='AIList_$!a.gets("SequenceNumber")_Change' href="javascript:cmmXForm('UWAISync',$!systemId,'$!idRef','$!a.getId()','Container=$containerName')">Change</a>
					   		<a class='actionLink' id='AIList_$!a.gets("SequenceNumber")_Delete' href="javascript:if( confirm('Delete Additional Interest?') ) cmmXForm('UWAIDelete',$systemId,'$idRef','$a.getId()')">Delete</a>
					    	<a class='actionLink' id='AIList_$!a.gets("SequenceNumber")_Copy' href="javascript:cmmXForm('UWAICopy',$!systemId,'$!idRef','$!a.getId()','')">Copy</a>
				       <!-- #end -->
				       </td>
			  		</tr>	
					<tr id='row$counter' style='display:none;'>
						<td/>
					    <td id='AIList_$!a.gets("SequenceNumber")_Code'><b>Code: </b>$!a.gets("InterestCd")</td>
					    <td colspan='4'>
							<table class='none' cellpadding='0' cellspacing='0'>
								<tr>
							 		<!-- #set( $aiAddr = $a.getBean("PartyInfo").getBean("Addr","AddrTypeCd","AIMailingAddr") ) -->
							      	<td id='AIList_$!a.gets("SequenceNumber")_Address'><b>Address: </b>
							      		$AddressRenderer.buildAddress($aiAddr, "Mailing", 1, 90)
							      	</td>
							 	</tr>
						    </table>	 
						</td>   
					</tr>  
	      			<!-- #set($counter = $counter + 1) -->
	      		<!-- #end -->
     		<!-- #end --> 
     		<!-- #if( $counter == 0 ) -->
	  		<tr>
	       		<td colspan='7'><b>Empty List</b></td>
	  		</tr>    
     		<!-- #end -->   
    	</table>
	</div>
    <script language=javascript>
		lineCount = $counter;
    </script>
$renderer.tileEnd()

