<!-- Prepare Velocity Variables
	$renderer.setTile("UW", "ar-account-inquiry-transaction")
	#set( $allowViewTransactionAmt = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowViewTransactionAmt", $todayDt) )
#set( $idEntity = "" )
	#set( $auditMark = "" )
	#if( $billingEntitiesInd )
		#set( $entityCount = 1 )
		#foreach( $dtoAccountInquiry in $dtoAccountInquiryArray )
			#if( $billingEntityCounter == $entityCount )
				#set( $accountInquiry = $dtoAccountInquiry )			 
			#end
			#set( $entityCount = $entityCount + 1 )
		#end
		#set( $idEntity = "Entity$billingEntityCounter" )
	#elseif( $auditAccountInd )
		#foreach( $dtoAccountInquiry in $dtoAccountInquiryArray )
			#if( $useAuditAccount && $StringRenderer.isTrue($dtoAccountInquiry.gets("AuditAccountInd")) )
				#set( $accountInquiry = $dtoAccountInquiry )	
				#set( $auditMark = "-A" )
			#elseif( !$StringRenderer.isTrue($dtoAccountInquiry.gets("AuditAccountInd")) )
				#set( $accountInquiry = $dtoAccountInquiry )
			#end
		#end	
	#end
	
	#set( $typeCd = $accountInquiry.getBean("DTOARPayPlan").gets("StatementTypeCd") )
-->

$!renderer.addTileCommand("<a id='ActivityExpandAll' href='javascript:expandAllId(&quot;History${idEntity}&quot;)'>[Expand List]</a>&nbsp;&nbsp;")
$!renderer.addTileCommand("<a id='ActivityCollapseAll' href='javascript:collapseAllId(&quot;History${idEntity}&quot;)'>[Collapse List]</a>&nbsp;&nbsp;")
$!renderer.tileStart("None","Transaction History","None","None")
<div class='listTable'>
     <table width="100%" class='format'>
	 	 <tr class='columnHeader'> 
	     	<th class='column' width='2%'>&nbsp;</th>
	       	<th class='column' width='3%'>#</th>
	       	<th class='column' width='10%'>Transaction Date</th>
	       	<th class='column' width='10%'>Effective Date</th>
	       	<th class='column' width='25%'>Description</th>
	       	<th class='columnNumeric' width='10%'>Premium</th>
	       	<th class='columnNumeric' width='10%'>Fee</th>
	       	<!--  #if( $StringRenderer.isTrue($allowViewTransactionAmt) ) -->
	       		<th class='columnNumeric' width='10%'>Transaction Amt</th>
	       	<!-- #end -->
	       	<th class='columnNumeric' width='10%'>Due Amt</th>
	       	<th class='columnNumeric' width='10%'>Payoff Amt</th>
	  	</tr> 	  	
	  	<!-- #set( $historyCounter = 0 ) -->
	  	<!-- #foreach( $history in $accountInquiry.getBeans("DTOBillingHistory") ) -->
		  	<tr>
		       <td align='center'><img src='img/expand.gif' id='imgHistory${idEntity}$historyCounter${auditMark}' name='ARHistory_${idEntity}$!history.gets("Reference")_Expand' onClick='toggle("History${idEntity}${historyCounter}${auditMark}");'></td>
		       <td id='ARHistory_${idEntity}$!history.gets("Reference")_Number${auditMark}'>$!history.gets("Reference")</td>
		       <td id='ARHistory_${idEntity}$!history.gets("Reference")_Processed${auditMark}'>$!history.gets("TransactionDt")</td>
		       <td id='ARHistory_${idEntity}$!history.gets("Reference")_Effective${auditMark}'>$!history.gets("EarnRateStartDt")</td>
		      
		       <!-- #if( !$!history.gets("Desc").equals("Cash Receipt") ) -->
		        	<td id='ARHistory_${idEntity}$!history.gets("Reference")_Description${auditMark}'>$!history.gets("Desc")</td>
		       <!-- #else -->
		       		<td id='ARHistory_${idEntity}$!history.gets("Reference")_Description${auditMark}'>$!history.gets("ARReceiptTypeCd") Receipt</td>
		       <!-- #end -->
		       
		       <!-- #if( $history.gets("SourceCd").equals("Underwriting") ) -->
		       		<td class='numeric' id='ARHistory_${idEntity}$!history.gets("Reference")_Premium${auditMark}'>$!history.gets("ChangeWrittenAmt")</td>
		       	<!-- #else -->
		       		<td id='ARHistory_${idEntity}$!history.gets("Reference")_Premium${auditMark}'>&nbsp;</td>
		       	<!-- #end -->
		       <td class='numeric' id='ARHistory_${idEntity}$!history.gets("Reference")_Fees${auditMark}'>$!history.gets("TotalFees")</td>
		       <!--  #if( $StringRenderer.isTrue($allowViewTransactionAmt) ) -->
		       	<td class='numeric' id='ARHistory_${idEntity}$!history.gets("Reference")_TransactionAmt${auditMark}'>$!history.gets("TransactionAmount")</td>
			   <!-- #end -->
			   <td class='numeric' id='ARHistory_${idEntity}$!history.gets("Reference")_DueAmt${auditMark}'>$!history.gets("DueAmt")</td> 
			   <td class='numeric' id='ARHistory_${idEntity}$!history.gets("Reference")_PayoffAmt${auditMark}'>$!history.gets("TotalAmt")</td>			   
		  	</tr>	
		  	<tr id='rowHistory${idEntity}$historyCounter${auditMark}' style='display:none;'>
		  		<td/>
		  		<td colspan='9'>
		  			<table width="100%" class='none'>
			  			<tr>
		    				<td width='2%'>&nbsp;</td>
		    				<td width='14%'><b>Transaction Detail</b></td>
		    				<td width='1%'>&nbsp;</td> 				
		    				<td width='14%'>&nbsp;</td>
		    				<td width='1%'>&nbsp;</td> 
		    				<td width='14%'>&nbsp;</td> 
		    				<td width='1%'>&nbsp;</td> 
		    				<td width='14%'>&nbsp;</td>  
		    				<td width='39%'>&nbsp;</td>     										  	
        				 </tr>  				
		  				 <!-- #if( $history.gets("TypeCd") == "Receipt" || $history.gets("TypeCd") == "ManualRefund" || ( $history.gets("TypeCd") == "AutomatedRefund" && $history.gets("SourceCd") == "Manual") )-->
		                 	<tr>
		                 		<td/>
		                 		<td>Type</td>
		                 		<td>&nbsp;</td> 
		                    	<td id='ARHistory_${idEntity}$!history.gets("Reference")_ReceiptType'>$!history.gets("ARReceiptTypeCd")</td>
		                    	<td>&nbsp;</td> 
		                    	<td>Reference #</td>
		                    	<td>&nbsp;</td> 
		                    	<td id='ARHistory_${idEntity}$!history.gets("Reference")_ReceiptReference'>$!history.gets("ARReceiptReference")</td>
		                    </tr>
		                    <tr>
		                    	<td/>
		                    	<td>Amount</td>
			                    <td>&nbsp;</td>   
		                    	<!-- #if( !$StringRenderer.equal($history.gets("CheckAmt"), "") )  -->			                    	                    	
			                    	<td id='ARHistory_${idEntity}$!history.gets("Reference")_CheckAmt'>$StringRenderer.formatValue($!history.gets("CheckAmt"), 2, "", true, false)</td>
	            	            <!-- #elseif( $StringRenderer.equal($trans.gets("TypeCd"), "Receipt") && $StringRenderer.equal($trans.gets("ARReceiptTypeCd"), "Transfer") ) -->	    			                   
			                    	<td id='ARTransactionSummary_$!history.gets("Reference")_CheckAmt'>$StringRenderer.formatValue($!history.gets("TransactionAmount"), 2, "", true, false)</td>
			                    <!-- #else -->			                    	                 	
			                    	<td id='ARHistory_${idEntity}$!history.gets("Reference")_CheckAmt'>$StringRenderer.formatValue($!history.gets("ARReceiptAmt"), 2, "", true, false)</td>
			                    <!-- #end -->
		                    	<td>&nbsp;</td>
		                       	<!-- #set( $paymentType = $StringRenderer.concat($!history.gets("GrossNetInd"), " on ") ) -->
		    					<!-- #set( $paymentType = $StringRenderer.concat($paymentType, $typeCd) ) -->
		    					<td>Applied</td>
		    					<td>&nbsp;</td> 
		    					<td id='ARHistory_${idEntity}$!history.gets("Reference")_StatementTypeCd'>$paymentType</td>
		    				</tr>
		    				<!-- #if( !$history.gets("ARReceiptStatusCd").isEmpty() ) -->
			    				<tr>
			                    	<td/>
			                    	<td>Check Status</td>
			                    	<td>&nbsp;</td>                    	
			                    	<td id='ARHistory_${idEntity}$!history.gets("Reference")_CheckStatus'>$!history.gets("ARReceiptStatusCd")</td>
									<td>&nbsp;</td>                    	
									<td>Check Date</td>
									<td>&nbsp;</td>                    	
									<td id='ARHistory_${idEntity}$!history.gets("Reference")_CheckStatusDate'>$!history.gets("ARReceiptDt")</td>
			    				</tr>
		    				<!-- #end -->
		    			 <!-- #end --> 
			    				<tr>
			    					<td/>
					   				<td>User</td>
					   				<td>&nbsp;</td> 	
			  						<td id='ARHistory_${idEntity}$!history.gets("Reference")_User'>$history.gets("TransactionUserId")</td>
			    					<td>&nbsp;</td> 
				   					<td>Memo</td>
				   					<td>&nbsp;</td>
			    					<td id='ARHistory_${idEntity}$!history.gets("Reference")_Memo'>$!history.gets("ARReceiptMemo")</td>   		    					             	
			                    </tr>                     	       		                                 
			            <!-- #if( $history.valueEquals("TypeCd","ManualReversal") ) -->
				                 <tr>
				                  	<td/>
				                    <td>Reason for Reversal</td>
				                    <td>&nbsp;</td> 
				                    <td id='ARHistory_${idEntity}$!history.gets("Reference")_ReasonCd'>$!history.gets("ReasonCd")</td>
				                    <td>&nbsp;</td> 
				                    <td>Reason Description</td>
				                    <td>&nbsp;</td> 
				                    <td id='ARHistory_${idEntity}$!history.gets("Reference")_ReasonDesc'>$!history.gets("ReasonDesc")</td>	                    
				                 </tr>	
		            	<!-- #elseif( $history.valueEquals("TypeCd","ManualTransfer") ) -->
			            	<tr>
			                 	<td/>
			                    <td>Reason for Transfer</td>
			                    <td>&nbsp;</td> 
			                    <td colspan='6'id='ARTransactionSummary_$!history.gets("Reference")_ReasonDesc'>$!history.gets("ReasonDesc")</td>
			                    <td>&nbsp;</td> 
			                    <td>&nbsp;</td>
			                    <td>&nbsp;</td> 
			                    <td>&nbsp;</td>	                    
			                 </tr>	 
			            <!-- #else -->
			            	<!-- #if( !$history.gets("ReasonDesc").isEmpty() ) -->
		    					<tr>
				                 	<td/>
				                    <td>Reason Description</td>
				                    <td>&nbsp;</td> 
				                    <td colspan='6'id='ARTransactionSummary_$!history.gets("Reference")_ReasonDesc'>$!history.gets("ReasonDesc")</td>
				                    <td>&nbsp;</td> 
				                    <td>&nbsp;</td>
				                    <td>&nbsp;</td> 
				                    <td>&nbsp;</td>	                    
				                 </tr>	   
		    				<!-- #end -->   
			            <!-- #end -->
		            	<!-- #if( $history.valueEquals("ARReceiptTypeCd","ACH") || $history.valueEquals("ARReceiptTypeCd","Web Payment")   ) -->
		            		#set( $epayment = false)
		            		#set( $status = false)		
							<!-- #if( !$history.gets("ARReceiptReference").equals("") ) -->		            		
		                 		#set( $epayment = $AccountRenderer.getPaymentInfo($data, "ElectronicPayment", $history.gets("ARReceiptReference")) )
							 	<!-- #if( $history.valueEquals("TypeCd","AutomatedRefund") ) -->
							 	<!-- #set( $trans = false ) -->
			            		<!-- #set( $trans = $accountInquiry.findBeanByFieldValue("ARTrans", "Reference", $history.gets("Reference")) )-->
								<!-- #if( $trans ) -->
										#set( $source = $!trans.getBean("ElectronicPaymentDestination") ) 
										$!source.setValue("ACHBankName", $source.gets("ACHName"))	
								<!-- #else -->
									#set( $source = $!epayment.getBean("ElectronicPaymentDestination") ) 
									$!source.setValue("ACHBankName", $source.gets("ACHName")) 
								<!-- #end -->
			            		<!-- #else -->
								#set( $source = $!epayment.getBean("ElectronicPaymentSource") ) 
								#set( $status = $!epayment.getBean("ElectronicPaymentStatus") )
								<!-- #end --> 
						 	<!-- #else -->
								<!-- #set( $trans = false ) -->
			            		<!-- #set( $trans = $accountInquiry.findBeanByFieldValue("DTOARTrans", "Reference", $history.gets("Reference")) )-->
								<!-- #if( $trans ) -->
										#set( $source = $!trans.getBean("ElectronicPaymentDestination") ) 
										$!source.setValue("ACHBankName", $source.gets("ACHName"))	
								<!-- #end -->
							<!-- #end -->
						 	
							<tr>
			                 	<td/>
			                 	<td>Account Type</td>
			                 	<td>&nbsp;</td> 
			                 	<td id='ARHistory_${idEntity}$!history.gets("Reference")_BankAcctTypeCd'>$!source.gets("ACHBankAccountTypeCd")</td>
			                 	<td>&nbsp;</td> 
			                 	<td>Account Number</td>
			                 	<td>&nbsp;</td>
			                 	<td id='ARHistory_${idEntity}$!history.gets("Reference")_BankAcctNumber'>$FormFieldRenderer.render("ACHBankAccountNumber", $!source.gets("ACHBankAccountNumber"), "BankAccountNumber", "Disabled=True")</td>		                 	
		                 	</tr>
		                 	<tr>
			                 	<td/>
		                 		<td>Routing Number</td>
		                 		<td>&nbsp;</td> 
			                 	<td id='ARHistory_${idEntity}$!history.gets("Reference")_RoutingNumber'>$!source.gets("ACHRoutingNumber")
			                 	<td>&nbsp;</td> 		                 	
			                 	<td>Batch Number</td>
			                 	<td>&nbsp;</td> 
			                 	<!-- #if( $status) -->
			                 		<td id='ARHistory_${idEntity}$!history.gets("Reference")_BatchId'>$!status.gets("ACHBatchId")</td>
			                 	<!-- #else -->
			                 		<td id='ARHistory_${idEntity}$!history.gets("Reference")_BatchId'>&nbsp;</td> 	
			                 	<!-- #end -->	
			                      	
		                 	</tr>
		                 	<!-- #if( $epayment.gets("StatusCd") == "Rejected") ) -->
			                 	<tr>
				                 	<td/>
				                 	<td>Status</td>
				                 	<td>&nbsp;</td> 
				                 	<td>Rejected</td>
				                 	<td>&nbsp;</td> 
				                 	<td>Reason</td>
				                 	<!-- #if( $status) -->
				                 		<td id='ARHistory_${idEntity}$!history.gets("Reference")_ExceptionMessage'>$!status.gets("ACHExceptionMsg")</td>
				                 	<!-- #else -->
				                 		<td>&nbsp;</td> 
				                 	<!-- #end -->		                 
				                 </tr>		                 
		                 	<!-- #end -->
		                <!-- #elseif( $history.valueEquals("ARReceiptTypeCd","Credit Card") ) --> 	
		                	#set( $epayment = $AccountRenderer.getPaymentInfo($data, "ElectronicPayment", $history.gets("ARReceiptReference")) )
						 	#set( $source = $!epayment.getBean("ElectronicPaymentSource") )
						 	<tr>
								<td/>
								<td>Authorization Code</td>
								<td>&nbsp;</td> 
								<td id='ARHistory_${idEntity}$!history.gets("Reference")_AuthorizationCode'>$!source.gets("CreditCardAuthorizationCd")</td>
								<td>&nbsp;</td> 
								<td>TransactionId</td>
								<td>&nbsp;</td> 
								<td id='ARHistory_${idEntity}$!history.gets("Reference")_TransactionId'>$!source.gets("TransactionId")</td>
							</tr>						 	
						 	<tr>
						 		<td/>
								<td>Card Number</td>
								<td>&nbsp;</td> 
						 		<td>$!source.gets("CreditCardNumber")</td>
						 		<td>&nbsp;</td> 
								<td>Card Type</td>
								<td>&nbsp;</td>
						 		<td>$!source.gets("CreditCardTypeCd")</td>
						 	</tr>	
						 	<tr>
						 		<td/>
								<td>Cardholder</td>
								<td>&nbsp;</td> 
						 		<td colspan='5'>$!source.gets("CreditCardHolderName")</td>
						 	</tr>                 	        		 
	        	 		<!-- #end --> 		        	 		
			        	<tr>	
			        		<td/>  	        	 	     	 	       	 		        	 	
			        	 	<td colspan='3'>
			        	 		<img src='img/expand.gif' id='imgHistoryDetail${idEntity}${historyCounter}${auditMark}' onClick='toggle("HistoryDetail${idEntity}${historyCounter}${auditMark}");'>&nbsp<b>Category Breakdown</b>
			        	 	</td>			        	    	 		        	 	 	        	 	 
			        	</tr>
			        	<tr id='rowHistoryDetail${idEntity}${historyCounter}${auditMark}' style='display:none;'>
			        		<td colspan=6>
							<table width="100%" class='none'>
				        	 	<!-- #foreach( $detail in $history.getBeans("DTOBillingHistoryDetail") ) -->	
				        	 		<tr>       	 
				        	 			<td width='10%'>&nbsp;</td>	   			     			 			    		  	
						    		 	<td width='10%'id='Detail_${idEntity}${historyCounter}_$detail.gets("CategoryCd")_Category${auditMark}'>$!detail.gets("CategoryCd")</td>
					    			 	<td width='15%'id='Detail_${idEntity}${historyCounter}_$detail.gets("CategoryCd")_Amount${auditMark}' class='numeric'>$!detail.gets("Amount")</td>	
					    			 	<td width='10%'/>	
					    			 	<td width='10%'/>	
					    			 	<td width='45%'/>		    			 				 	
					    			</tr>	    		   			  
			    				<!-- #end -->
		    				</table>
		    				</td>
		    			</tr>
		    			
		    			<!-- Policy changes expander -->
		    			<!-- #set( $transactionTextArray = $history.getBeans("DTOPolicyTransactionText") ) -->
		    			<!-- #set( $entityCounter = $entityCounter + 1 ) -->
						<!-- #if( $SPI.isNotNull($transactionTextArray) && $SPI.getArrayLength($transactionTextArray) > 0 ) -->									
						<tr>
							<td/>
			        	 	<td colspan='3'>
			        	 	 	<img src='img/expand.gif' id='imgHistoryPolicyChangesDetail${idEntity}${historyCounter}${auditMark}${entityCounter}' onClick='toggle("HistoryPolicyChangesDetail${idEntity}${historyCounter}${auditMark}${entityCounter}");'>&nbsp<b id='HistoryPolicyDetail${idEntity}${historyCounter}${auditMark}${entityCounter}'>Policy Changes</b>
			        	 	</td>
			        	</tr>	        	 	
			        	<tr id='rowHistoryPolicyChangesDetail${idEntity}${historyCounter}${auditMark}${entityCounter}' style='display:none;'>
			        		<td colspan='9'>
								<table width="100%" class='none'>
									<!-- #foreach( $transactionText in $transactionTextArray) -->
									<tr>
										<td width='4%'>&nbsp;</td>								   	
								   		<td>$transactionText.gets("Text")</td>
								   	</tr>
								   	<!-- #end -->
			    				</table>
		    				</td>
		    			</tr>
		    			<!-- #end -->
		  			</table>
		  		</td>
		  	</tr>  
	      	<!-- #set($historyCounter = $historyCounter + 1) -->
	  	<!-- #end -->
	  	<!-- #if( $historyCounter == 0 ) -->
	  		<tr>
	       		<td colspan='10'><b>Empty List</b></td>
	  		</tr>    
     	<!-- #end --> 
     </table>    
</div>     
$renderer.tileEnd()

