<!-- Prepare Velocity Variables
	$renderer.setTile("UW", "file-marks-options")
	
	#if( $tileType == "Policy" )
		#set( $disable = "disabled" )
	#else
		#set( $disable = "" )
	#end

	#set( $containerName = $CMMParams.gets("Container") )
	#set( $container = $CMMResponse.getBean($containerName) )
	#set( $userId = $CMMResponse.getBean("ResponseParams").gets("UserId") )
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
	#set( $productVersionIdRef = $BasicPolicy.gets("ProductVersionIdRef") )

-->

$!renderer.tileStart("Normal","Rockingham File Marks","None","None")
	<table width='100%' class='format'>
		<tr>
			<th class='label'>&nbsp;$FormFieldRenderer.renderLabel("BasicPolicy.ReferAllChanges","Refer All Changes","Label",$CMMResponse,"Required=True")</th>
			<td>&nbsp;$ProductRenderer.productSelectField("BasicPolicy.ReferAllChanges",$BasicPolicy.gets("ReferAllChanges"),$productVersionIdRef,"CO::common::no-yes::all","Required=False|${disable}")</td>
		</tr>
		<tr>
			<th class='label'>&nbsp;$FormFieldRenderer.renderLabel("BasicPolicy.EmployeeAgentPolicy","Employee Agent Policy","Label",$CMMResponse,"Required=True")</th>
			<td>&nbsp;$ProductRenderer.productSelectField("BasicPolicy.EmployeeAgentPolicy",$BasicPolicy.gets("EmployeeAgentPolicy"),$productVersionIdRef,"CO::common::no-yes::all","Required=False|${disable}")</td>
		</tr>
		<tr>
			<th class='label'>&nbsp;$FormFieldRenderer.renderLabel("BasicPolicy.NoReinstatements","No Reinstatements","Label",$CMMResponse,"Required=True")</th>
			<td>&nbsp;$ProductRenderer.productSelectField("BasicPolicy.NoReinstatements",$BasicPolicy.gets("NoReinstatements"),$productVersionIdRef,"CO::common::no-yes::all","Required=False|${disable}")</td>
		</tr>
		<tr>
			<th class='label'>&nbsp;$FormFieldRenderer.renderLabel("BasicPolicy.ReadNotes","Read Notes","Label",$CMMResponse,"Required=True")</th>
			<td>&nbsp;$ProductRenderer.productSelectField("BasicPolicy.ReadNotes",$BasicPolicy.gets("ReadNotes"),$productVersionIdRef,"CO::common::no-yes::all","Required=False|${disable}")</td>
		</tr>
	</table>
$!renderer.tileEnd()
