<!-- Prepare Velocity Variables
	$renderer.setTile("UW", "insured-insurance-score")
	#if( $tileType == "Policy" || $displayMode )
	     #set( $disable = "disabled" )
	     $renderer.setValidation("UWPolicy","field-validation")
	#else
	     #set( $disable = "" )
	#end
	#set( $insuredBean = $!container.getBean("Insured") )
	#set( $entityTypeCd = $!insuredBean.gets("EntityTypeCd"))

	#set( $allowViewInsuranceScore = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowViewInsuranceScore",$todayDt) )
	#set( $allowOverrideInsuranceScore = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowOverrideInsuranceScore",$todayDt) )
	#set( $dataReportRequest = $UWDataReportRenderer.getLatestDataReportRequest($!container,"$Insured.getId()","XApplicationDataReport0001,XPolicyDataReport0001,XQuoteDataReport0001,XTaskDataReport0001",true) )
	#if( $SPI.isNotNull($dataReportRequest))
		#set( $dataReport = $BeanRenderer.selectModelBean("DataReport", $dataReportRequest.gets("DataReportRef")) )
		#set( $cpInquiryInfo = $dataReport.getBean("CPNCFReport").getBean("CPInquiryInfo") ) 
		##Changes for RGUAT-541
		#set( $processingStatusCdTemp = $dataReport.getBean("CPNCFReport").gets("ProcessingStatusCd") )
		#if($!entityTypeCd.equals("Joint") )
			#set( $jointCPNCFReport = $dataReport.getBean("CPNCFReport").getBean("CPNCFReport") )
			#if( $SPI.isNotNull($jointCPNCFReport))
				#set( $processingJointStatusCd = $!jointCPNCFReport.gets("ProcessingStatusCd") )
			#end
		#end		
		#if(($SPI.isNotNull($processingStatusCdTemp) && !$processingStatusCdTemp.equals("")) && $processingStatusCdTemp.equals("M"))
		#set($statusCd ="No Hit 998")
		#end
		#if(($SPI.isNotNull($processingStatusCdTemp) && !$processingStatusCdTemp.equals("")) && $StringRenderer.in($processingStatusCdTemp,"N,U"))
		#set($statusCd ="No Score 999")
		#end 
		##Changes for RGUAT-541
		##Changes for RGUAT-512
		#set( $processingStatusCd =$processingStatusCdTemp)
		#set($insuredOverridInsScore =$!InsuredInsuranceScore.gets('OverriddenInsuranceScore'))
 		#set($jointOverridInsScore =$!InsuredJointInsuranceScore.gets('OverriddenInsuranceScore'))
 	    ##Changes for RGUAT-512
	#end
	#set( $hideJoint = "" )
    #if( !$entityTypeCd.equals("Joint") )
        #set( $hideJoint = "style='display:none;'" )
    #end
-->
<!-- #if( $StringRenderer.isTrue($allowViewInsuranceScore) ) -->
$renderer.tileStart("Normal","InsuranceScore","None","None")
	<table width='100%' class='format'>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("InsuredInsuranceScore.InsuranceScore", "Insurance Score First Name", "Label", $CMMResponse)</th>
            <!-- #if(($SPI.isNotNull($processingStatusCd) && !$processingStatusCd.equals("")) && $StringRenderer.in($processingStatusCd,"M,N,U"))-->
            <td width='5%'>$FormFieldRenderer.renderLabel("InsuredInsuranceScore.InsuranceScoreLabel", $statusCd, "Label",$CMMResponse)</td>	
            <!-- #else -->
            <td width='5%'>$FormFieldRenderer.render("InsuredInsuranceScore.InsuranceScore", $InsuredInsuranceScore.gets('InsuranceScore'), "Integer","Size=3|disabled")</td>	
            <!-- #end -->
            <!-- #if(!$StringRenderer.isTrue($allowOverrideInsuranceScore) && ($SPI.isNotNull($processingStatusCd) && !$processingStatusCd.equals("")) && ($SPI.isNull($insuredOverridInsScore) || $insuredOverridInsScore.equals(""))) -->
         	<td width='1%' class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
         	<!-- #else-->
         	<th width='1%' class='label'>$FormFieldRenderer.renderLabel("InsuredInsuranceScore.OverriddenInsuranceScore", "Score", "Label", $CMMResponse)</th>
         	<!-- #end -->       
        <!-- #if( $StringRenderer.isTrue($allowOverrideInsuranceScore)) -->    
            <td width='7%'>$FormFieldRenderer.render("InsuredInsuranceScore.OverriddenInsuranceScore", $InsuredInsuranceScore.gets('OverriddenInsuranceScore'), "Integer","Size=3|${disable}")</td>
        <!-- #else -->
              <td width='7%'>$FormFieldRenderer.render("InsuredInsuranceScore.OverriddenInsuranceScore", $InsuredInsuranceScore.gets('OverriddenInsuranceScore'), "Integer","Size=3|disabled")</td>
        <!-- #end -->   
        	<th class='label' width='8%'>Reasons</th>
        <!-- #set( $reasons = $InsuredInsuranceScore.getBeans("InsuranceScoreReason") ) -->
		<!-- #if( $SPI.beanArrayLength($reasons) > 0 && (($SPI.isNotNull($processingStatusCd) && !$processingStatusCd.equals("")) && !$StringRenderer.in($processingStatusCd,"M,N,U"))) -->	
			<td width='55%'>$BeanRenderer.getModelBeanAtIndex($reasons, 0).gets("Description")</td>
		<!-- #else -->
			<td width='55%'>&nbsp;</td>	
		<!-- #end -->		
        </tr>
        <!-- #set( $reasonCount = 0 ) -->	
		<!-- #foreach( $reason in $reasons ) -->
			<!-- #if( $reasonCount > 0 && (($SPI.isNotNull($processingStatusCd) && !$processingStatusCd.equals("")) && !$StringRenderer.in($processingStatusCd,"M,N,U"))) -->
				<tr>
					<td colspan='5'>&nbsp;</td>	
					<td>$reason.gets("Description")</td>
				</tr>		
			<!-- #end -->
			<!-- #set( $reasonCount = $reasonCount + 1 ) -->
		<!-- #end -->
		<!--#if( $SPI.isNotNull($cpInquiryInfo))-->
		<tr>
            <th width='15%'></th>
            <td width='5%'></td>
            <th width='1%' class='label'>
            <td width='7%'>
            <th class='label' width='8%'>$FormFieldRenderer.renderLabel("CPInquiryInfo.ChoicePointReferenceNumber", "Reference Number", "Label", $CMMResponse)</th>
            <td width='55%'>$cpInquiryInfo.gets("ChoicePointReferenceNumber")</td>
        </tr>
        <!-- #end -->
	</table>
	

	
		<table width='100%' class='format' $!hideJoint >
        <tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("InsuredJointInsuranceScore.InsuranceScore", "Insurance Score Second Name", "Label", $CMMResponse)</th>
        <!-- #if((($SPI.isNotNull($entityTypeCd) && !$entityTypeCd.equals("")) && $entityTypeCd.equals("Joint")) &&
        (($SPI.isNotNull($processingJointStatusCd) && !$processingJointStatusCd.equals("")) && $StringRenderer.in($processingJointStatusCd,"M,N,U")))-->
            <td width='5%'>$FormFieldRenderer.render("InsuredJointInsuranceScore.InsuranceScore", $statusCd, "Integer","Size=3|disabled")</td> 
        <!-- #else -->
            <td width='5%'>$FormFieldRenderer.render("InsuredJointInsuranceScore.InsuranceScore", $InsuredJointInsuranceScore.gets('InsuranceScore'), "Integer","Size=3|disabled")</td>   
        <!-- #end -->        	      
       <!-- #if(!$StringRenderer.isTrue($allowOverrideInsuranceScore) && ($SPI.isNotNull($processingJointStatusCd) && !$processingJointStatusCd.equals("")) && ($SPI.isNull($jointOverridInsScore) || $jointOverridInsScore.equals(""))) -->     
            <th width='1%' class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <!-- #else -->
            <th width='1%' class='label'>$FormFieldRenderer.renderLabel("InsuredJointInsuranceScore.OverriddenInsuranceScore", "Score", "Label", $CMMResponse)</th>
        <!-- #end -->        
        <!-- #if( $StringRenderer.isTrue($allowOverrideInsuranceScore)) -->    
            <td width='7%'>$FormFieldRenderer.render("InsuredJointInsuranceScore.OverriddenInsuranceScore", $InsuredJointInsuranceScore.gets('OverriddenInsuranceScore'), "Integer","Size=3|${disable}")</td>
        <!-- #else -->
             <td width='7%'>$FormFieldRenderer.render("InsuredJointInsuranceScore.OverriddenInsuranceScore", $InsuredJointInsuranceScore.gets('OverriddenInsuranceScore'), "Integer","Size=3|disabled")</td>
        <!-- #end --> 
       
           
            <th class='label' width='8%'>Reasons</th>
        <!-- #set( $jointReasons = $InsuredJointInsuranceScore.getBeans("InsuranceScoreReason") ) -->
        <!-- #if( $SPI.beanArrayLength($jointReasons) > 0 && (($SPI.isNotNull($processingJointStatusCd) && !$processingJointStatusCd.equals("")) && !$StringRenderer.in($processingJointStatusCd,"M,N,U"))) -->  
            <td width='55%'>$BeanRenderer.getModelBeanAtIndex($jointReasons, 0).gets("Description")</td>
        <!-- #else -->
            <td width='55%'>&nbsp;</td>
        <!-- #end -->
        </tr>
        <!-- #set( $jointReasonCount = 0 ) -->
        <!-- #foreach( $jointReason in $jointReasons ) -->
            <!-- #if( $jointReasonCount > 0 && (($SPI.isNotNull($processingJointStatusCd) && !$processingJointStatusCd.equals("")) && !$StringRenderer.in($processingJointStatusCd,"M,N,U"))) -->
                <tr>
                    <td colspan='5'>&nbsp;</td>
                    <td>$jointReason.gets("Description")</td>
                </tr>
            <!-- #end -->
            <!-- #set( $jointReasonCount = $jointReasonCount + 1 ) -->
        <!-- #end -->
        <!--#if( $SPI.isNotNull($cpInquiryInfo))-->
		<tr>
            <th width='15%'></th>
            <td width='5%'></td>
            <th width='1%' class='label'>
            <td width='7%'>
            <th class='label' width='8%'>$FormFieldRenderer.renderLabel("CPInquiryInfo.ChoicePointReferenceNumber", "Reference Number", "Label", $CMMResponse)</th>
            <td width='55%'>$cpInquiryInfo.gets("ChoicePointReferenceNumber")</td>
        </tr>
        <!-- #end -->
    </table>
$renderer.tileEnd()
<!-- #end -->	