<!-- Prepare Velocity Variables
	$renderer.setTile("UW", "loss-history-detail-property-detail")
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
    #set( $editLossHistory = $ApplicationRenderer.getProductAuthorityAttributeValue($container, "EditLossHistory", $UserInfo, $todayDt) )
	#set( $ignoreInd = $lossHistory.gets("IgnoreInd") )
    #set( $comment = $lossHistory.gets("Comment") )
    #set( $requiredFlag = "True" )
	#if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
		#set( $disable = "disabled" )
		#set( $disableIgnoreInd = "disabled" )
    #else
    	#if($editLossHistory.equals("No") || $lossHistory.gets("SourceCd").equals("CLUE") )
    		#set( $disable = "disabled" )
    		#set( $requiredFlag = "False" )
    	#else	
    		#set( $disable = "" )
    	#end
    	#if($ignoreInd.equals("Yes") && $comment.equals("This Loss History has been set to Disputed because it is associated to a risk that is no longer active") )
			#set( $disable = "disabled" )
		#end   
    #end
    
    #if( $lossHistory.gets("SourceCd").equals("Innovation") )
        #set($sourceCd = "RIC")
    #else	    		
    	#set($sourceCd = $lossHistory.gets("SourceCd"))
    #end 
    
    #if($lossHistory.gets("SourceCd").equals("CLUE") && $lossHistory.gets("LossDesc") !="")
     	#set(  $delimiter = '\(' )
    	#set ( $lossHistoryVal = $StringRenderer.split($lossHistory.gets("LossDesc"), $delimiter, 0) )
    #end

    #set( $lossHistory = $CMMBean )
    #set( $statusCd = $lossHistory.gets("StatusCd") )
-->	
$FormFieldRenderer.render("LossHistory.TypeCd", "Property", "Hidden")
$FormFieldRenderer.render("LossHistory.StatusCd", $lossHistory.gets("StatusCd"), "Hidden")
$renderer.tileStart("Normal", "LossHistoryDetail", "None", "None") 
	<table width='100%' class='format'>
        <tr id ='Section1'> 
        	<th width='15%' class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossHistoryNumber","Number","Label",null)</th>
            <td width='20%'>$FormFieldRenderer.render("LossHistory.LossHistoryNumber",$lossHistory.gets("LossHistoryNumber"),"Integer","disabled")</td>      
        	<th width='15%' class='label'>$FormFieldRenderer.renderLabel("LossHistory.SourceCd", "Source", "Label", $CMMResponse)</th>
        	<td>$LossHistoryRenderer.productSelectField("LossHistory.SourceCd", $lossHistory.gets("SourceCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::sourceCd", "disabled")</td>    
			<td width='15%'>
            	<table cellpadding='0' cellspacing='0'>
			    	<tr id="LossHistoryIgnoreInd">
    		            <td  >$FormFieldRenderer.render("LossHistory.IgnoreInd",$lossHistory.gets("IgnoreInd"),"CheckBox","$disableIgnoreInd")</td>  
    					<th  class='label'>$FormFieldRenderer.renderLabel("LossHistory.IgnoreInd","Dispute","Label",$CMMResponse)</th>
					</tr>
				</table>
			</td>
			<td width='15%'>&nbsp;</td>
        </tr>    
        <tr id ='Section2'>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossDt", "Loss Date", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
			<td>$FormFieldRenderer.render("LossHistory.LossDt", $lossHistory.gets("LossDt"), "Date", "onBlur=formatDate(this)|Required=${requiredFlag}|$disable")</td>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossCauseCd", "Cause of Loss", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
        	<td colspan="3">$LossHistoryRenderer.productSelectField("LossHistory.LossCauseCd", $lossHistory.gets("LossCauseCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::loss-cause", "Prompt=Select...|Required=${requiredFlag}|$disable")</td>
        </tr>	
        <tr id='Section4'>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.CatastropheNumber", "Catastrophe Number", "Label", $CMMResponse)</th>
        	<td>$FormFieldRenderer.render("LossHistory.CatastropheNumber",$lossHistory.gets("CatastropheNumber"),"String","Size=10|$disable")</td>             	
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.ClaimNumber", "Claim Number", "Label", $CMMResponse)</th>
        	<td>$FormFieldRenderer.render("LossHistory.ClaimNumber",$lossHistory.gets("ClaimNumber"),"String","Size=15|$disable")</td>             	
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.ClaimStatusCd", "Claim Status", "Label", $CMMResponse)</th>
        	<td>$LossHistoryRenderer.productSelectField("LossHistory.ClaimStatusCd", $lossHistory.gets("ClaimStatusCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::claim-status", "Prompt=Select...|$disable")</td>			
		</tr>
        <tr id='Section5'>
        	<th id='LossHistoryCarrierName' class='label'>$FormFieldRenderer.renderLabel("LossHistory.CarrierName", "Carrier Name", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
        	<td id='LossHistoryCarrierName' >$FormFieldRenderer.render("LossHistory.CarrierName", $lossHistory.gets("CarrierName"), "String","Size=15|Required=${requiredFlag}|$disable")</td> 	  
		</tr>
		<tr id='Section6'>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.PolicyNumber", "Policy Number", "Label", $CMMResponse)</th>
        	<td>$FormFieldRenderer.render("LossHistory.PolicyNumber",$lossHistory.gets("PolicyNumber"),"String","Size=15|$disable")</td> 	             	
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.PolicyTypeCd", "Policy Type", "Label", $CMMResponse)</th>
        	<td>$LossHistoryRenderer.productSelectField("LossHistory.PolicyTypeCd", $lossHistory.gets("PolicyTypeCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::policy-type", "Prompt=Select...|$disable")</td>			            	
		</tr>   
        <tr id='Section7'>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.PaidAmt", "Paid Amount", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
			<td>$FormFieldRenderer.render("LossHistory.PaidAmt", $lossHistory.gets("PaidAmt"), "Currency", "Size=10|Required=${requiredFlag}|$disable")</td>
        <!-- #if(!$lossHistory.gets("Comment").contains("risk that is no longer active") ) -->    
            <th id='LossHistoryRiskIdRef' class='label'>$FormFieldRenderer.renderLabel("LossHistory.RiskIdRef", "Property", "Label", $CMMResponse)</th>
            <td id='LossHistoryRiskIdRef'>$RICLossHistoryRenderer.propertySelectField("LossHistory.RiskIdRef", $lossHistory.gets("RiskIdRef"), $container, "Prompt=Select...|$disable")</td>
        <!-- #else-->
        	<th id='LossHistoryRiskIdRef' class='label'>$FormFieldRenderer.renderLabel("LossHistory.RiskIdRef", "Property", "Label", $CMMResponse)</th>
            <td id='LossHistoryRiskIdRef'>$RICLossHistoryRenderer.propertySelectAllRisksField("LossHistory.RiskIdRef", $lossHistory.gets("RiskIdRef"), $container, "disabled")</td>      
        <!-- #end-->  
        </tr>
		<tr id='Section9'>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossDesc", "Loss Description", "Label", $CMMResponse)</th>
        	<td id='LossHistoryLossDesc' colspan='5'>$FormFieldRenderer.render("LossHistory.LossDesc", $lossHistoryVal,"TextArea","Rows=3|Cols=60|$disable")</td>             	
		</tr>
        <tr id='Section8'>
        	<th class='label'>$FormFieldRenderer.renderLabel("LossHistory.Comment", "Explain Reason for Dispute", "Label", $CMMResponse, "Required=False")</th>
        	<td colspan='5'>$FormFieldRenderer.render("LossHistory.Comment",$lossHistory.gets("Comment"),"TextArea","Required=False|Rows=3|Cols=60")</td>             	
		</tr>
    </table>       
    
<script language="JavaScript"> 
$(document).ready( function() {
	var sourceCd = $("#LossHistory\\.SourceCd").val();
	var ignoreInd = $("#LossHistory\\.IgnoreInd").val();
	var comment = $("#LossHistory\\.Comment").val();
	var statusCd = "$statusCd"; 
	if(sourceCd == "Application"){
		$("#LossHistoryIgnoreInd,#Section4,#LossHistoryCarrierName,#Section6,#Section8,#Section9").hide();
		setRequired("LossHistory.CarrierName",false);        
	}
	
	if(ignoreInd == "Yes" && comment == "This Loss History has been set to Disputed because it is associated to a risk that is no longer active"){
	    $("#LossHistory\\.IgnoreInd").prop("disabled", true);
	    $("#LossHistory\\.Comment").prop("disabled", true);
	    $("#Section8").show();  
	}
	if(sourceCd === "CLUE"){
		$("#LossHistory\\.LossDt").prop("disabled", true);
	    $("#LossHistory\\.LossCauseCd").prop("disabled", true);
	    $("#LossHistory\\.CatastropheNumber").prop("disabled", true);
	    $("#LossHistory\\.ClaimNumber").prop("disabled", true);
	    $("#LossHistory\\.CarrierName").prop("disabled", true);
	    $("#LossHistory\\.PolicyNumber").prop("disabled", true);
	    $("#LossHistory\\.PolicyTypeCd").prop("disabled", true);
	    $("#LossHistory\\.PaidAmt").prop("disabled", true);
	    $("#LossHistory\\.RiskIdRef").prop("disabled", true);
	    $("#LossHistory\\.LossDesc").prop("disabled", true);
	    $("#LossHistory\\.ClaimStatusCd").prop("disabled", true);
	    $(".ui-datepicker-trigger").unbind('click'); 
	    setRequired("LossHistory.LossDt",false);        
	    setRequired("LossHistory.LossCauseCd",false);        
	    setRequired("LossHistory.CarrierName",false);        
	    setRequired("LossHistory.PolicyTypeCd",false);        
	    setRequired("LossHistory.PaidAmt",false);        

	}
});	


function setCommentsRequired(){
	var ignoreInd = $("#LossHistory\\.IgnoreInd").val();

	if(ignoreInd == "Yes"){
	    setRequired("LossHistory.Comment",true);
	    $("#LossHistory\\.Comment").prop("disabled", false);
	} else {    
	    setRequired("LossHistory.Comment",false);    
	    $("#LossHistory\\.Comment").prop("disabled", true);
	    $("#LossHistory\\.Comment").val("");
	}
}

$("#LossHistory\\.IgnoreInd").on("click",setCommentsRequired);
setCommentsRequired(); 
</script>   
$renderer.tileEnd()
