<!-- Prepare Velocity Variables
$renderer.setTile("UW", "lossHistory-detail-button")
#set( $lossHistory = $CMMBean )
-->
<!-- #if( $disable.equals("") || $lossHistory.gets("SourceCd").equals("CLUE") ) -->
	<div class='tile'>
		<table class='format'>
			<tr>
			<!-- #if( $lossHistory.gets("StatusCd").equals("New") ) -->
			    <!-- #set( $saveAction = "cmmXForm('UWLossHistoryAdd',$systemId,'$cmmParentIdRef')") -->
			<!-- #else -->
			    <!-- #set( $saveAction = "cmmXForm('UWLossHistoryUpdate',$systemId,'$cmmParentIdRef','$cmmIdRef')" ) -->
			<!-- #end -->
			
			<!-- #if( !$lossHistory.gets("Comment").contains("risk that is no longer active") ) -->
			   <td>$FormFieldRenderer.renderButton("Save","Save","Button",$saveAction)</td>
			<!-- #end -->
			</tr>
	    </table>
	</div>
<!-- #end -->