<!-- Prepare Velocity Variables)
	$renderer.setTile("UW", "loss-history-list")
	#if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
		#set( $disable = "disabled" )
    #else
		#set( $disable = "" )
    #end
    #set( $lossHistoryListUnsorted = $container.findBeansByFieldValue("LossHistory", "StatusCd", "Active") )
    #set( $lossHistoryList = $BeanRenderer.sortBeansBy($lossHistoryListUnsorted, "LossDt", "Descending") )
    
    #set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
    #set( $allowExternalSourceLossHistoryDelete = $ApplicationRenderer.getProductAuthorityAttributeValue($container, "AllowExternalSourceLossHistoryDelete", $UserInfo, $todayDt) )
-->
$renderer.tileStart("List", "LossHistoryList", "None", "None") 
	<table width='100%' class='format'>
    	<tr class='columnHeader'>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("LossHistoryNumber","Number","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("LossDt","Loss Date","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("PaidAmt","Paid Amount","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("LossCauseCd","Loss Cause","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("ClaimNumber","Claim Number","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("ClaimStatusCd","Claim Status","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("SourceCd","Source","Label",null)</th>
	       	<th class='column' width='10%'>$FormFieldRenderer.renderLabel("IgnoreInd","Disputed","Label",null)</th>
	       	<th class='column' width='10%'>&nbsp;</th>
      	</tr>
    <!-- #set( $counter = 0 ) -->
    <!-- #foreach( $lossHistory in $lossHistoryList ) -->  	
    	<!-- #if( $lossHistory.gets("StatusCd").equals("Active") ) -->
    	<!-- #set ($tagId = $lossHistory.gets("LossHistoryNumber")) -->
    	<!-- #if( $lossHistory.gets("SourceCd").equals("Application") ) -->
    		<!-- #set($sourceCd = "Insured") -->
    	<!-- #else -->	
    		<!-- #set($sourceCd = $lossHistory.gets("SourceCd")) -->
    	<!-- #end -->	
    	<!-- #set($ignoreIndVal = "Yes") -->
    	<!-- #if( !$lossHistory.gets("IgnoreInd").equals("Yes")) -->
    		<!-- #set($ignoreIndVal = "") -->
    	<!-- #end -->
    	<tr>
    		<td id='LossHistory_${counter}_LossHistoryNumber'>$lossHistory.gets("LossHistoryNumber")</td>
    		<td id='LossHistory_${counter}_LossDt'>$lossHistory.gets("LossDt")</td>
    		<td id='LossHistory_${counter}_PaidAmt'>$lossHistory.gets("PaidAmt")</td>
    		<td id='LossHistory_${counter}_LossCauseCd'>$lossHistory.gets("LossCauseCd")</td>
    		<td id='LossHistory_${counter}_ClaimNumber'>$lossHistory.gets("ClaimNumber")</td>
    		<td id='LossHistory_${counter}_ClaimStatusCd'>$lossHistory.gets("ClaimStatusCd")</td>
    		<td id='LossHistory_${counter}_SourceCd'>$sourceCd</td>
    		<td id='LossHistory_${counter}_IgnoreInd'>$ignoreIndVal</td>
    		<td id='LossHistory_${counter}_Actions'>
    		<!-- #if( $disable.equals("") ) -->
    			<!-- #set ($EditLinkTagId = "EditLink_" + $tagId) -->      			
      			$FormFieldRenderer.renderLink($EditLinkTagId, "Edit", "Link", "", "javascript:cmmXForm('UWLossHistorySync',$container.getSystemId(),'$container.getId()','$lossHistory.getId()')")&nbsp;
      			<!-- #if( !$lossHistory.gets("SourceCd").equals("CLUE") || ($StringRenderer.isTrue($allowExternalSourceLossHistoryDelete) && !$lossHistory.gets("SourceCd").equals("CLUE")) ) -->
			 		<!-- #set ($DeleteLinkTagId = "DeleteLink_" + $tagId) -->
			 		$FormFieldRenderer.renderLink($DeleteLinkTagId, "Delete", "Link", "", "javascript:if( confirm('Delete Loss History?') ) cmmXForm('UWLossHistoryDelete',$container.getSystemId(),'$container.getId()','$lossHistory.getId()')")
		 		<!-- #end -->
		 	<!-- #else -->	
		 		<!-- #set ($ViewLinkTagId = "ViewLink_" + $tagId) -->
		 		$FormFieldRenderer.renderLink($ViewLinkTagId, "View", "Link", "", "javascript:cmmXForm('UWLossHistorySync',$container.getSystemId(),'$container.getId()','$lossHistory.getId()','Container=$containerName')")
      		<!-- #end -->
    		</td>
    	</tr>
	    <!-- #set( $counter = $counter + 1 ) -->
	    <!-- #end -->
    <!-- #end -->
    <!-- #if( $counter == 0 ) -->
	    <tr>
			<td colspan='9'><b>$FormFieldRenderer.renderLabel("EmptyList","Empty List","Label",null)</b></td>
	    </tr>    
	<!-- #end -->   
    </table>        
$renderer.tileEnd()    	