<!-- Prepare Velocity Variables)
	$renderer.setTile("UW", "loss-history-detail-property-detail")
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
  #set( $editLossHistory = $ApplicationRenderer.getProductAuthorityAttributeValue($container, "EditLossHistory", $UserInfo, $todayDt) )
    #set( $requiredFlag = "True" )

	#if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
		#set( $disable = "disabled" )
		#set( $disableIgnoreInd = "disabled" )
    #else
    	#if($editLossHistory.equals("No") && $lossHistory.gets("SourceCd").equals("CLUE") )
    		#set( $disable = "disabled" )
   		    #set( $requiredFlag = "False" )
    	#else	
    		#set( $disable = "" )
    	#end
    #end
    #if($lossHistory.gets("SourceCd").equals("CLUE") && $lossHistory.gets("LossDesc") !="")
    	#set(  $delimiter = '\(' )
    	#set ( $lossHistoryVal = $StringRenderer.split($lossHistory.gets("LossDesc"), $delimiter, 0) )
    #end
    #set( $lossHistory = $CMMBean )
-->	
$FormFieldRenderer.render("LossHistory.TypeCd", "Property", "Hidden")
$FormFieldRenderer.render("LossHistory.StatusCd", $lossHistory.gets("StatusCd"), "Hidden")
$renderer.tileStart("Normal", "LossHistoryDetail", "None", "None") 
	<table width='100%' class='format'>
        <tr> 
        	<th id ='LossHistoryNumber' width='15%' class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossHistoryNumber","Number","Label",null)</th>
            <td id ='LossHistoryNumber' width='20%'>$FormFieldRenderer.render("LossHistory.LossHistoryNumber",$lossHistory.gets("LossHistoryNumber"),"Integer","disabled")</td>      
        	<th id ='LossHistorySourceCd' width='15%' class='label'>$FormFieldRenderer.renderLabel("LossHistory.SourceCd", "Source", "Label", $CMMResponse)</th>
        	<td id ='LossHistorySourceCd'>$LossHistoryRenderer.productSelectField("LossHistory.SourceCd", $lossHistory.gets("SourceCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::sourceCd", "disabled")</td>    
			<td width='15%'>
            	<table cellpadding='0' cellspacing='0'>
			    	<tr>
			    		<th id ='LossHistoryIgnoreInd' class='label'>$FormFieldRenderer.renderLabel("LossHistory.IgnoreInd","Dispute","Label",$CMMResponse)</th>
    		            <td id ='LossHistoryIgnoreInd' >$FormFieldRenderer.render("LossHistory.IgnoreInd",$lossHistory.gets("IgnoreInd"),"CheckBox","$disableIgnoreInd")</td>  
					</tr>
				</table>
			</td>
			<td width='15%'>&nbsp;</td>
        </tr>    
        <tr>
        	<th id ='LossHistoryLossDt' class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossDt", "Loss Date", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
			    <td id ='LossHistoryLossDt'>$FormFieldRenderer.render("LossHistory.LossDt", $lossHistory.gets("LossDt"), "Date", "onBlur=formatDate(this)|Required=${requiredFlag}|$disable")</td>
        	<th id='LossHistoryLossCauseCd' class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossCauseCd", "Cause of Loss", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
        	<td id='LossHistoryLossCauseCd'>$LossHistoryRenderer.productSelectField("LossHistory.LossCauseCd", $lossHistory.gets("LossCauseCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::loss-cause", "Prompt=Select...|Required=${requiredFlag}|$disable")</td>			
        <tr>
       
        <tr>
        	<th id='LossHistoryCatastropheNumber' class='label'>$FormFieldRenderer.renderLabel("LossHistory.CatastropheNumber", "Catastrophe Number", "Label", $CMMResponse)</th>
        	<td id='LossHistoryCatastropheNumber'>$FormFieldRenderer.render("LossHistory.CatastropheNumber",$lossHistory.gets("CatastropheNumber"),"String","Size=10|$disable")</td>             	
        	<th id='LossHistoryClaimNum' class='label'>$FormFieldRenderer.renderLabel("LossHistory.ClaimNumber", "Claim Number", "Label", $CMMResponse)</th>
        	<td id='LossHistoryClaimNum'>$FormFieldRenderer.render("LossHistory.ClaimNumber",$lossHistory.gets("ClaimNumber"),"String","Size=15|$disable")</td>             	
        	<th id='LossHistoryStatusCd' class='label'>$FormFieldRenderer.renderLabel("LossHistory.ClaimStatusCd", "Claim Status", "Label", $CMMResponse)</th>
        	<td id='LossHistoryStatusCd'>$LossHistoryRenderer.productSelectField("LossHistory.ClaimStatusCd", $lossHistory.gets("ClaimStatusCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::claim-status", "Prompt=Select...|$disable")</td>			
		</tr>
        <tr>
        	<th id='LossHistoryCarrierName' class='label'>$FormFieldRenderer.renderLabel("LossHistory.CarrierName", "Carrier Name", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
        	<td id='LossHistoryCarrierName' >$FormFieldRenderer.render("LossHistory.CarrierName", $lossHistory.gets("CarrierName"), "String","Size=15|Required=${requiredFlag}|$disable")</td> 	  
		</tr>
		<tr>
        	<th id='LossHistoryPolicyNumber' class='label'>$FormFieldRenderer.renderLabel("LossHistory.PolicyNumber", "Policy Number", "Label", $CMMResponse)</th>
        	<td id='LossHistoryPolicyNumber'>$FormFieldRenderer.render("LossHistory.PolicyNumber",$lossHistory.gets("PolicyNumber"),"String","Size=15|$disable")</td> 	             	
        	<th id='LossHistoryPolicyTypeCd' class='label'>$FormFieldRenderer.renderLabel("LossHistory.PolicyTypeCd", "Policy Type", "Label", $CMMResponse)</th>
        	<td id='LossHistoryPolicyTypeCd'>$LossHistoryRenderer.productSelectField("LossHistory.PolicyTypeCd", $lossHistory.gets("PolicyTypeCd"), $BasicPolicy.gets("ProductVersionIdRef"), "UW::underwriting::loss-history::policy-type", "Prompt=Select...|$disable")</td>			            	
		</tr>   
        <tr>
        	<th id='LossHistoryPaidAmt' class='label'>$FormFieldRenderer.renderLabel("LossHistory.PaidAmt", "Paid Amount", "Label", $CMMResponse, "Required=${requiredFlag}")</th>
			<td id='LossHistoryPaidAmt'>$FormFieldRenderer.render("LossHistory.PaidAmt", $lossHistory.gets("PaidAmt"), "Currency", "Size=10|Required=${requiredFlag}|$disable")</td>
        </tr>
         <tr>
        	<th id='LossHistoryLossDesc' class='label'>$FormFieldRenderer.renderLabel("LossHistory.LossDesc", "Loss Description", "Label", $CMMResponse)</th>
        	<td id='LossHistoryLossDesc' colspan='5'>$FormFieldRenderer.render("LossHistory.LossDesc",$lossHistoryVal,"TextArea","Rows=3|Cols=60|$disable")</td>
		</tr>
        <tr>
        	<th id='LossHistoryComment' class='label'>$FormFieldRenderer.renderLabel("LossHistory.Comment", "Explain Reason for Dispute", "Label", $CMMResponse, "Required=False")</th>
        	<td id='LossHistoryComment' colspan='5'>$FormFieldRenderer.render("LossHistory.Comment",$lossHistory.gets("Comment"),"TextArea","Required=False|Rows=3|Cols=60")</td>             	
		</tr>
       
    </table>       
    
<script language="JavaScript"> 



$(document).ready( function() {
	var sourceCd = $("#LossHistory\\.SourceCd").val();
	if(sourceCd == "Application"){
		$("#LossHistoryIgnoreInd, #LossHistoryLossAmt, #LossHistoryCatastropheNumber, #LossHistoryClaimNum,#LossHistoryStatusCd, #LossHistoryCarrierName, #CarrierNameDescLabel, #CarrierNameDescValue,#LossHistoryPolicyNumber, #LossHistoryPolicyTypeCd, #LossHistoryRiskIdRef, #LossHistoryComment, #LossHistoryLossDesc").fadeOut();
		setRequired("LossHistory.CarrierName",false);        
	}  else {
		$("#LossHistoryNumber,#LossHistorySourceCd, #LossHistoryIgnoreInd, #LossHistoryLossDt, #LossHistoryLossCauseCd, #LossHistoryLossAmt, #LossHistoryCatastropheNumber, #LossHistoryClaimNum,#LossHistoryStatusCd, #LossHistoryCarrierName, #CarrierNameDescLabel, #CarrierNameDescValue,#LossHistoryPolicyNumber, #LossHistoryPolicyTypeCd, #LossHistoryPaidAmt, #LossHistoryRiskIdRef, #LossHistoryComment, #LossHistoryLossDesc").fadeIn();      
	}
	if(sourceCd === "CLUE"){
		$("#LossHistory\\.LossDt").prop("disabled", true);
	    $("#LossHistory\\.LossCauseCd").prop("disabled", true);
	    $("#LossHistory\\.CatastropheNumber").prop("disabled", true);
	    $("#LossHistory\\.ClaimNumber").prop("disabled", true);
	    $("#LossHistory\\.CarrierName").prop("disabled", true);
	    $("#LossHistory\\.PolicyNumber").prop("disabled", true);
	    $("#LossHistory\\.PolicyTypeCd").prop("disabled", true);
	    $("#LossHistory\\.PaidAmt").prop("disabled", true);
	    $("#LossHistory\\.LossDesc").prop("disabled", true);
	    $("#LossHistory\\.ClaimStatusCd").prop("disabled", true);
	    $(".ui-datepicker-trigger").unbind('click'); 
	    setRequired("LossHistory.LossDt",false);        
	    setRequired("LossHistory.LossCauseCd",false);        
	    setRequired("LossHistory.CarrierName",false);        
	    setRequired("LossHistory.PolicyTypeCd",false);        
	    setRequired("LossHistory.PaidAmt",false);        

	}
});	



//Display Carrier Name Description if Carrier Name is Other
$( document ).ready(function() {
	displayComments();
});



function setCommentsRequired(){
	var ignoreInd = $("#LossHistory\\.IgnoreInd").val();

	if(ignoreInd == "Yes"){
	    setRequired("LossHistory.Comment",true);
	    $("#LossHistory\\.Comment").prop("disabled", false);
	} else {    
	    setRequired("LossHistory.Comment",false);    
	    $("#LossHistory\\.Comment").prop("disabled", true);
	    document.getElementById("LossHistory.Comment").value = "";
	}
}

$("#LossHistory\\.IgnoreInd").on("change",setCommentsRequired);
setCommentsRequired(); 
</script>   
$renderer.tileEnd()