<!-- Prepare Velocity Variables 
    $renderer.setTile("UW", "open-work-reassign-uw")
   
	#set( $restoreFormValues = false)
  	#if( $CMMResponse.getBeanName().equals("UWOpenWorkReassignRs") && $SPI.hasResponseErrors($CMMResponse)) 
  		#set( $restoreFormValues = true)    
  	#end
  	
  	#set( $taskGroupList = "" )
  	#set( $formTaskGroupList = $SPI.getXFDFValue($CMMResponse,"GroupOptions"))  
  	#if( !$formTaskGroupList.equals("")) 	
  		#set ( $taskGroupList = $SPI.getSelectListFromString($formTaskGroupList, ","))
  	#end 
-->

<script type="text/javascript" language="javascript">
    
    function loadUser(id) {
        if( document.getElementById("UserCd").value != "" ) {	
            document.getElementById(id).value = document.getElementById("UserCd").value;
            document.getElementById(id).focus();
        }
        
        loadUserName(id);
        clearGroupField();
        
    }    
   
    function clearField(sourceField,targetField){
        if(document.getElementById(sourceField).value != "")
            document.getElementById(targetField).value = "";
    
    }
    
    function loadUserName(id){
    	var text = $("#" + id).val();
    	ajaxCMMXForm('ajaxReplaceTransferUser','UWOpenWorkReassignUserSelect', '', '', '', 'ReassignUserId=' + text, '')
    }
    
    function clearUserFields(){
    	clearField('TransferGroup','TransferUser');    	
    	ajaxCMMXForm('ajaxReplaceTransferUser','UWOpenWorkReassignUserSelect', '', '', '', 'ReassignUserId=', '')
    }
    
    function clearGroupField(){
    	clearField('TransferUser','TransferGroup');    	
    }
    
    function showOrHideTransferDetails(){
    	var showTransferTile = false;
    	var clearFields = !${restoreFormValues};
    	$('input[id*="SelectTask_"]').each(
       		function(i) {
       			if($(this).is(":checked")){
       				showTransferTile = true;
       			} 
       		}
       	);  
    	
    	if(showTransferTile){
			$("#TaskTransferTile").show();
			loadUserName("TransferUser");
			if(clearFields){			
				document.getElementById("TransferGroup").value = "";
				refreshTransferGroupList();
			}
	    	
		}else{			
			$("#TaskTransferTile").hide();
		}
    }
    
    function refreshTransferGroupList(){
		ajaxCMMXForm('ajaxReplaceTransferGroup','UWOpenWorkTaskGroupRefresh','','','','','all');
	}
    
    $(document).ready( function() {    	
    	showOrHideTransferDetails();
    });
</script>
	
$FormFieldRenderer.render("UserCd","","Hidden")
$FormFieldRenderer.render("UserName","","Hidden")

	<div id="TaskTransferTile">
		
	$!renderer.tileStart("Normal","OpenWorkUWReassign","None","None") 
	
		 <table width='100%' class='format'>    
		 	<tr>
				<th width='16%' class='label'>$FormFieldRenderer.renderLabel("TransferUser","Transfer To User","Label",$CMMResponse, "Required=False")</th>
			  	<td width='35%'>
				    <table cellpadding='0' cellspacing='0'>
				    	<tr>
				    		<!-- #set( $value = "") -->
				    		<!-- #if( $restoreFormValues) -->    				
    							<!-- #set( $value = $form.get("TransferUser" ))-->
    						<!-- #end -->
				    		<td>$FormFieldRenderer.render("TransferUser",$!value,"String","Size=20|onblur=clearField('TransferUser','TransferGroup');|OnChange=loadUserName(this.id);")</td>
				            <td><a href='#' onclick='window.open("innovation?rq=COUserLookup&SearchType=TransferUser&SearchFilter=", "GenericBrowse","height=500,width=800,left=200,top=200,scrollbars=yes,resizable=yes");'><img id='UserLookup' class='noborder' src='img/lookup-small.png'/></a></td>
				            <td id="ajaxReplaceTransferUser">$!reassignUserName</td> 
				         </tr>
					</table>
			    </td>
			    <th width='8%' class='label'>$FormFieldRenderer.renderLabel("TransferGroup","or Group","Label",$CMMResponse) </th>			   	   	    
			    <td id="ajaxReplaceTransferGroup" width='20%'>
				    $FormFieldRenderer.renderSelect("TransferGroup",$!form.get("TransferGroup" ),$taskGroupList,"SelectList","Prompt=Select...|onChange=clearUserFields();")
				    $FormFieldRenderer.render("GroupOptions", $formTaskGroupList, "Hidden")
			    </td> 
			    <td width='21%'>&nbsp;</td>
			</tr>
			<tr>
				<!-- #set( $value = "") -->
    			<!-- #if( $restoreFormValues) -->    				
    				<!-- #set( $value = $form.get("TransferComments" ))-->
    			<!-- #end -->	
				<th width='16%' class='label'>$FormFieldRenderer.renderLabel("TransferComments", "Transfer Notes/Comments", "Label", $CMMResponse, "Required=True")</th>
				<td width='35%' colspan='4'>$FormFieldRenderer.render("TransferComments",$!value,"TextArea","Cols=80|Rows=3")</td>
			</tr>
			<tr>				
				<td colspan='2'>$FormFieldRenderer.renderButton("Transfer","Transfer","Button","javascript:cmmXForm('UWOpenWorkReassign','','','','')")</td>				
			</tr>
		 </table>
		 
	$!renderer.tileEnd()
	
	</div>