<!-- Prepare Velocity Variables
	$renderer.setTile("UW","pay-plan-information")
	#if( !$Application.gets("StatementAccountRef").equals("") ) 
		#set( $disable = "disabled" )
	#end
	#set( $insuredNameInfo = $Application.getBeanByAlias("InsuredName") )
	#set( $insuredCommercialName = $insuredNameInfo.gets("CommercialName") )
	#set( $environment = $AuthorizeNetRenderer.getEnvironment() )
-->
<script type="text/javascript">
<!--
	function paymentTypeSelect() {
		if( document.getElementById("InstallmentSource.MethodCd").value == "ACH" ) {
			document.getElementById("ach_row1").style.display = "";
			document.getElementById("ach_row2").style.display = "";
			document.getElementById("credit_card_button").style.display = "none";
			document.getElementById("divAuthorizeNetMaskedCreditCard").style.display = "none";
			document.getElementById("spacer").style.display = "none";
			document.getElementById("spacer2").style.display = "none";
			setRequired("InstallmentSource.ReminderDt", false);
		} else if( document.getElementById("InstallmentSource.MethodCd").value == "Credit Card" ) {
			document.getElementById("ach_row1").style.display = "none";
			document.getElementById("ach_row2").style.display = "none";
			document.getElementById("spacer").style.display = "none";
			document.getElementById("credit_card_button").style.display = "";
			document.getElementById("divAuthorizeNetMaskedCreditCard").style.display = "";
			document.getElementById("spacer2").style.display = "";
			setRequired("InstallmentSource.ReminderDt", true);
		} else {
			document.getElementById("ach_row1").style.display = "none";
			document.getElementById("ach_row2").style.display = "none";
			document.getElementById("credit_card_button").style.display = "none";
			document.getElementById("divAuthorizeNetMaskedCreditCard").style.display = "none";
			document.getElementById("spacer").style.display = "";
			document.getElementById("spacer2").style.display = "";
			setRequired("InstallmentSource.ReminderDt", false);
		}
	}	
	function createCustomerProfile() {
		ajaxCMMXFormShowBusy('divAuthorizeNetPopup','COAuthorizeNetCreateCustomerProfile','','','','','all');
	}
	AuthorizeNetPopup.onPopupCancelled = function() {
		
	};
//-->
</script>
<!-- #if( $environment.equals("Sandbox") ) -->
    <script type="text/javascript">
    <!--
    	AuthorizeNetPopup.options.useTestEnvironment = true;
  	//-->
    </script>
<!-- #end -->

<!-- #if( $policyChangePayPlanInd ) -->
    <script type="text/javascript">
    <!--
	AuthorizeNetPopup.onPopupSaved = function() {
		ajaxCMMXFormShowBusy('divAuthorizeNetMaskedCreditCard','UWPolicyAuthorizeNetGetCustomerProfile','','','','','CustomerProfileId','SourceTypeCd'); 
	};
  	//-->
    </script>
<!-- #else -->    
    <script type="text/javascript">
    <!--
	AuthorizeNetPopup.onPopupSaved = function() {
		ajaxCMMXFormShowBusy('divAuthorizeNetMaskedCreditCard','UWAuthorizeNetGetCustomerProfile','$Application.getSystemId()','','','','CustomerProfileId','SourceTypeCd'); 
	};
  	//-->
    </script>
<!-- #end -->

<!-- Fields for Authorize.Net Credit Card Transactions -->
$FormFieldRenderer.render("SourceTypeCd", "InstallmentSource", "Hidden")
$FormFieldRenderer.render("MerchantCustomerId", "IN-$Application.getSystemId()", "Hidden")
$FormFieldRenderer.render("CustomerDescription", $insuredCommercialName, "Hidden")
$FormFieldRenderer.render("CustomerEmailAddr", $Application.getBeanByAlias("InsuredEmail").gets("EmailAddr"), "Hidden")
<!-- #set( $carrierCd = $BasicPolicy.gets("CarrierCd") ) -->
<!-- #set( $paymentServiceAccountId = $CompanyRenderer.getCreditCardPaymentServiceAccount($carrierCd) ) -->
$FormFieldRenderer.render("PaymentServiceAccountId", $paymentServiceAccountId, "Hidden")

$renderer.tileStart("Normal","Pay Plan Information","None","None")
	<table width='100%' class='format'>
		<tr>
			<th width='17%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.MethodCd', "Payment Type", "Label", $CMMResponse, "Required=True")</th>
			<td width='16%'>$FormFieldRenderer.renderSelect('InstallmentSource.MethodCd', $InstallmentSource.gets("MethodCd"),'UWPolicy::policy::pay-plan::payment-type', "SelectList", "${disable}|Prompt=Select...|OnChange=paymentTypeSelect()")</td>
			<td width='67%' id='spacer' style='display: none;'>
			<td width='67%' id='ach_row1' style='display: none;'>
				<table width='100%' cellpadding='0' cellspacing='0'>
					<tr>
						<th width='22%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.ACHBankAccountTypeCd', "Bank Account Type", "Label", $CMMResponse, "Required=True")</th>
				       	<td width='30%' nowrap>$FormFieldRenderer.renderSelect('InstallmentSource.ACHStandardEntryClassCd',$InstallmentSource.gets("ACHStandardEntryClassCd"),'UWPolicy::policy::pay-plan::account-type', "SelectList", "${disable}|Prompt=Select...")	    	
				       	 $FormFieldRenderer.renderSelect('InstallmentSource.ACHBankAccountTypeCd',$InstallmentSource.gets("ACHBankAccountTypeCd"),'UWPolicy::policy::pay-plan::bank-account-type', "SelectList", "${disable}|Prompt=Select...")</td>
				       	<th width='20%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.ACHBankName', "Bank Name", "Label", $CMMResponse, "Required=True")</th>
				       	<td width='18%'>$FormFieldRenderer.render('InstallmentSource.ACHBankName',$InstallmentSource.gets("ACHBankName"), "String", "size=20|${disable}")</td>
			  		</tr>
				</table>	  	
			</td>
			<td width='67%' id='credit_card_button' style='display: none;'>
				<!-- #if( $disable.equals("") ) -->
					<table cellpadding='0' cellspacing='0' class='format'>
						<tr>
				       		<td width='40%' id='CreditCardField'>$FormFieldRenderer.renderButton("EnterCreditCardDetails","Enter Credit Card Details","Button","createCustomerProfile()","Class=button-plain")</td>
				       		<th width='60%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.ReminderDt', "Credit Card Expiration Reminder Date", "Label", $CMMResponse, "Required=True")</th>
				       		<td width='10%' id='ReminderDt'>$FormFieldRenderer.render('InstallmentSource.ReminderDt',$!InstallmentSource.gets("ReminderDt"),"Date","Required=True|size=10|onBlur=formatDate(this)" )</td>				       		
				  		</tr>
					</table>	  	
				<!-- #else -->
					<table cellpadding='0' cellspacing='0' class='format'>
						<tr>
				       		<th width='50%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.ReminderDt', "Credit Card Expiration Reminder Date", "Label", $CMMResponse, "Required=True")</th>				
				       		<td width='10%' id='ReminderDt'>$FormFieldRenderer.render('InstallmentSource.ReminderDt',$!InstallmentSource.gets("ReminderDt"),"Date","Required=True|size=10|${disable}" )</td>	
				       		<td width='40%'>&nbsp;</td>
				  		</tr>
					</table>	  
				<!-- #end -->	
			</td>
		</tr>		
	</table>
	<table width='100%' class='format'>
		<tr>
			<td width='70%' id='ach_row2' style='display: none;'>
				<table width='100%' cellpadding='0' cellspacing='0'>
			  		<tr>
				       	<th width='24%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.ACHBankAccountNumber', "Account Number", "Label", $CMMResponse, "Required=True")</th>
				       	<td width='24%'>$FormFieldRenderer.render('InstallmentSource.ACHBankAccountNumber',$InstallmentSource.gets("ACHBankAccountNumber"), "BankAccountNumber", "size=20|${disable}")</td>
				       	<th width='22%' class='label'>$FormFieldRenderer.renderLabel('InstallmentSource.ACHRoutingNumber', "Routing Number", "Label", $CMMResponse, "Required=True")</th>
				       	<td width='30%'>$FormFieldRenderer.render('InstallmentSource.ACHRoutingNumber',$InstallmentSource.gets("ACHRoutingNumber"), "String", "size=9|maxlength=9|${disable}")</td>
			  		</tr>
				</table>
			</td>
			<td width='35%' id='divAuthorizeNetMaskedCreditCard' style='display: none;'>
			<!-- #if( $policyChangePayPlanInd ) -->
				<table width='100%' cellpadding='0' cellspacing='0'>
			  		<tr>
				    	<th width='55%' class='label'>$FormFieldRenderer.renderLabel('CreditCardNumber', "Credit Card Number", "Label", $CMMResponse, "Required=True")</th>
						<td width='45%'>$FormFieldRenderer.render("InstallmentSource.CreditCardNumber",$InstallmentSource.gets("CreditCardNumber"),"String","disabled")</td>  		
						$FormFieldRenderer.render("InstallmentSource.CustomerProfileId", $InstallmentSource.gets("CustomerProfileId"), "Hidden")
						$FormFieldRenderer.render("InstallmentSource.CustomerPaymentProfileId", $InstallmentSource.gets("CustomerPaymentProfileId"), "Hidden")
			  		</tr>
				</table>
			<!-- #else -->
				<!-- #set( $maskedCreditCardNumber = $InstallmentSource.gets("CreditCardNumber") ) -->
				<table width='100%' cellpadding='0' cellspacing='0'>
			  		<tr>
				    	<th width='55%' class='label'>$FormFieldRenderer.renderLabel('CreditCardNumber', "Credit Card Number", "Label", $CMMResponse, "Required=True")</th>
						<td width='45%'>$FormFieldRenderer.render("CreditCardNumber",$!maskedCreditCardNumber,"String","disabled")</td>  		
			  		</tr>
				</table>
			<!-- #end -->
			</td>
			<td width='30%'>
				<table width='100%' cellpadding='0' cellspacing='0'>
					<tr>
						<th width='48%' class='label'>$FormFieldRenderer.renderLabel('BasicPolicy.PaymentDay', "Day of the Month", "Label", $CMMResponse, "Required=True")</th>
		    			<td width='52%'>$FormFieldRenderer.render('BasicPolicy.PaymentDay',$!BasicPolicy.gets("PaymentDay"), "Integer", "minValue=1|maxValue=31|maxlength=2|size=2|$disable")</td>
					</tr>
				</table>	
			</td>
			<td width='35%' id='spacer2' style='display: none;'></td>
		</tr>
	</table>
$renderer.tileEnd()
<script language="JavaScript" type="text/javascript">
	paymentTypeSelect();
</script>