<!-- 
#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
#set( $allowPropertyClearing = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowPropertyClearing",$todayDt) )
 -->
 
 <!-- #if( $StringRenderer.isTrue($allowPropertyClearing) ) -->
	<div id='ajaxPropertyClearing'>
	     
	<!-- Prepare Velocity Variables				
		
	    #set( $renderer = $Renderer.getInstance("UWApplication","property-clearing", $CMMResponse) )
	     
	    $renderer.setTile("UW", "property-clearing")	    
	    #set( $data = $SPI.getConnection() )
	            
	    #set( $propertyAddr = "" )		
		#set( $hasAddr = $AdditionalParams.getBean("Param","Name","HasAddr").gets("Value") ) 
		
		#set( $containerName = $CMMParams.gets("Container") )
		#set( $container = $CMMResponse.getBean($containerName) )
			
		#if( $StringRenderer.isTrue($hasAddr) )
			#set( $propertyAddr = $RiskRenderer.getPropertyAddress($XFDF) )
			#if( !$propertyAddr.equals("") )
				#set( $beans = $RiskRenderer.propertyClearing($container, $propertyAddr) )
			#end 
		#end
		#set( $idRef = $CMMParams.gets("IdRef") ) 
		#set( $risk = $CMMResponse.getBeanById($idRef) )
    	#set( $building = $risk.getBean("Building") )  
		#set( $riskLookupAddrVerificationHash = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationHash") )
		
		#set( $line = $risk.getParentBean() )

	    #set( $activeBuildings = $line.findBeansByFieldValue("Building", "Status", "Active") ) 
	    #set( $sortedActiveBuildings = $BeanRenderer.sortBeansBy($activeBuildings, ["BldgNumber"], ["Ascending"]) )
	    #set( $firstBuilding = $SPI.getObjectAtIndex($sortedActiveBuildings, 0) )
	    #set( $firstRisk = $firstBuilding.getParentBean() )
	
		#set( $isFirstRisk = true )
		#if( $risk.equals($firstRisk) )
			#set( $isFirstRisk = true )
		#else
			#set( $isFirstRisk = false )
		#end 
	-->

	<script>
	
	function getPropertyClearingAddr() {
					
			// Determine which address to clear against
			var alias = "";
			if( document.getElementById("RiskLookupAddr.PrimaryNumber") )
				alias = "RiskLookupAddr";
			else if( document.getElementById("LocationLookupAddr.PrimaryNumber") )
				alias = "LocationLookupAddr";
				
			// Verify there is an address we recognize as a lookup address
			if( alias != "" ) {
				
				// Hide the results list during search
				if(document.getElementById("PropertyClearingList")) {
					document.getElementById("PropertyClearingList").style.display = "none";
				}
	
				// Show the Search Message during search
				document.getElementById("SearchMsg").style.display = "";															
				
				// Generate the Additional Params
				var params = "HasAddr=Yes&Alias=" + alias + "&Container=$containerName";
				
				// Run the ajax service
				ajaxCMMXForm('ajaxPropertyClearing','UWPropertyClearingAjax', '$container.getSystemId()', '', '', params, 'all' );
			}
			else {
				alert("The current address is not in a recognizable format");
			}
	}		
	
	</script>
<!-- #if( !$riskLookupAddrVerificationHash.equals("") && ($isFirstRisk || (!$isFirstRisk && !($firstBuilding.gets("OccupancyCd") == 'Owner')))) -->
	$renderer.tileStart("Normal", "PropertyClearing", "None", "None") 
	       
		<table width="100%" class='format'>
	    	<tr>
			<td>$FormFieldRenderer.renderButton("PropertyClearingButton", "Search Property Database", "Button", "javascript:getPropertyClearingAddr();", "Class=button-plain")</td>
			</tr>
		</table>
		
		<table width="100%" class='format'>
			<tr>
				<td id='SearchMsg' style='display:none;'><b>Searching for matching addresses...</b></td>
			</tr>
		</table>
		
		<!-- #if( !$propertyAddr.equals("") ) -->
			<!-- #if( $SPI.beanArrayLength($beans) > 0 ) -->		
				<div class='listTable'>	
					
			    	<table width='100%' class='format' id='PropertyClearingList' style='display:'>
			    			
				    	<tr class='columnHeader'> 
					      	<th width='2%'>&nbsp;</th>
						    <th class='column' width='18%'>Insured Name</th>
						    <th class='column' width='14%'>Number</th>
						    <th class='column' width='7%'>Type</th>
						    <th class='column' width='12%'>Product</th>
						    <th class='column' width='22%'>Description</th>
						    <th class='column' width='8%'>Inception Date</th>
						    <th class='column' width='9%'>Expiration Date</th>
						    <th class='column' width='10%'>Status</th>
					    </tr>
					    <!-- #set( $maxHits = 100 ) -->
					    <!-- #set( $counter = 0 )-->
					    <!-- #foreach( $bean in $beans ) -->
					    	<!-- #if( $StringRenderer.lessThan("$counter","$maxHits") ) -->	
						    	<!-- #set( $containerSecurity = $UserRenderer.getContainerSecurity($data, $bean, $UserInfo, $todayDt) ) -->
					   			<!-- #set( $basicPolicy = $bean.getBean("BasicPolicy") ) -->
						    	<!-- #if( $bean.getBeanName().equals("Application") || $bean.getBeanName().equals("ApplicationMini") ) -->
						    		<!-- #set( $displayNumber = $bean.gets("ApplicationNumber") ) -->
						    		<!-- #set( $typeCd = $bean.gets("TypeCd") ) -->
						    		<!-- #set( $description = $bean.gets("Description") ) -->
						    	<!-- #elseif( $bean.getBeanName().equals("Policy") || $bean.getBeanName().equals("PolicyMini") ) -->
						    		<!-- #if( $StringRenderer.isTrue($showPolicyTermInd) ) -->      
						    			<!-- #set( $displayNumber = $basicPolicy.gets("PolicyDisplayNumber") ) -->
						    		<!-- #else -->
						    			<!-- #set( $displayNumber = $basicPolicy.gets("PolicyNumber") ) -->
						    		<!-- #end -->	
						    		<!-- #set( $typeCd = "Policy" ) -->
						    		<!-- #set( $description = $basicPolicy.gets("Description") ) -->
						    	<!-- #end -->
						    	<tr> 
						    		<td align='center'><img id='imgClearing_${counter}_Expand' src='img/expand.gif' onClick='toggle("Clearing_${counter}_Expand");'></td>
						    		<td>$bean.getBean("Insured").gets("IndexName")</td>
						    		
						    		<!-- #set( $linkLogic = $PolicyRenderer.getLinkLogic($bean, $UserInfo, "", $todayDt, $policyLookupInd, $showPolicyTermInd, true, true, "Yes") ) -->	
					    			
					            	<!-- #if( !$containerSecurity.canInquire() ) -->
					    				<td id='Clearing_${counter}'>$displayNumber</td>
					    			<!-- #elseif( $linkLogic.equals("") ) -->
					    				<td id='Clearing_${counter}'>$displayNumber</td>
					               	<!-- #else -->
					                	<td id='ClearingLink_${counter}'><a class='actionLink' href='javascript:$linkLogic'>$displayNumber</a></td>
					               	<!-- #end -->
						    		<td>$typeCd</td>	
						    		<td>$ProductRenderer.getProductVersionName($basicPolicy.gets("ProductVersionIdRef"))</td>    
						    		<td>$description</td>	
								    <td>$basicPolicy.gets("InceptionDt")</td>
								    <td>$basicPolicy.gets("ExpirationDt")</td>
								    <td>$PolicyRenderer.getPolicyDisplayStatus($bean)</td>
						    	</tr>  
						    	<tr id='rowClearing_${counter}_Expand' style='display:none;'>
									<td colspan='9'>
										<table class='none' width='100%' cellspacing='3'>
								        	<tr>
							      				<td width='2%'/>
								      			<td width='35%'>$ProviderRenderer.getProviderName($data, $basicPolicy.gets("ProviderRef"))</td>
								      			<td width='25%'>$CompanyRenderer.getCarrierGroupName($basicPolicy.gets("CarrierGroupCd"))</td>
								      			<td width='43%'/>
								   	    	</tr>
								   	    	<tr>
								   	    		<td>&nbsp;</td>
								   	    	</tr>  
								   	    	<!-- #set( $addrCounter = 0 ) -->
								   	    	<!-- #set( $addrMatches = $RiskRenderer.getMatchingAddressesFromContainer($bean, $propertyAddr) ) -->
								   	    	<!-- #foreach( $addrMatch in $addrMatches ) -->
								   	    		<!-- #set( $addrCounter = $addrCounter + 1 ) -->
								   	    		<!-- #if( $addrMatch.getBeanName().equals("Location") ) -->
								   	    			<!-- #set( $number = $addrMatch.gets("LocationNumber") ) -->
								   	    			<!-- #set( $addr = $addrMatch.getBeanByAlias("LocationLookupAddr") ) -->
								   	    			<!-- #set( $desc = $addrMatch.gets("LocationDesc") ) -->
								   	    		<!-- #else -->
								   	    			<!-- #set( $building = $addrMatch.getBean("Building") ) -->
											   	    <!-- #set( $number = $building.gets("BldgNumber") ) -->
											   	    <!-- #set( $addr = $addrMatch.getBeanByAlias("RiskLookupAddr") ) -->
											   	    <!-- #set( $desc = $addrMatch.gets("Description") ) -->
								   	    		<!-- #end -->							   	    	
									   	    	<tr>							   	    		
									   	    		<td>&nbsp;</td>
									   	    		<td colspan='3'>
									   	    			<table class='none' width='100%'>	
									   	    				<tr>
									   	    					<td id='Clearing_${counter}_AddrMatch_${addrCounter}_Type' width='10%'>$addrMatch.getBeanName()</td>
									   	    					<td id='Clearing_${counter}_AddrMatch_${addrCounter}_Number' width='3%'>$number</td>	
									   	    					<td id='Clearing_${counter}_AddrMatch_${addrCounter}_Description' width='22%'>$desc</td>									   	    			
											   	    			<td id='Clearing_${counter}_AddrMatch_${addrCounter}_Address' width='65%'>$AddressRenderer.buildAddress($addr, "Physical", 1, 200)</td>
											   	    		</tr>
											   	    	</table>
									   	    		</td>
									   	    	</tr>
								   	    	<!-- #end -->
								  	  	</table>
							  	  	</td>
							  	</tr> 
						  	<!-- #elseif( $StringRenderer.equal("$counter","$maxHits") ) -->
								<tr>
									<td colspan='9'><b>Results exceed maximum rows.</b></td>
							    </tr>   
							<!-- #end -->  	
			      		<!-- #set( $counter = $counter + 1 ) -->
					    <!-- #end -->
					</table>
				</div>
			<!-- #else -->
				<table width="100%" class='format'>
			    	<tr>
						<td id='NoMatchMsg'><b>No matches found</b></td>
					</tr>
				</table>
			<!-- #end -->
		<!-- #end -->
	$renderer.tileEnd()
<!-- #end -->	
	<script language="javascript" type="text/javascript">
	
	    // Add "greenbar" to tables
	    $(document).ready( function() {
			$("#PropertyClearingList").children("tbody").children("tr:not([id^='row'])").each(
				function(i) {
					if( i % 2 ) {
						$(this).addClass("greenbar");
						$(this).nextUntil("tr:not([id^='row'])").addClass("greenbar");
					}
				}
			);
	    } );
	    
	</script>	
	</div>
<!-- #end -->
