/* CSS file */

.smallSize {
	font-size: 9px;
	headerStyleName: "gridHeader";	
}

.gridHeader {
	font-size: 9px;
	
}

.formLabelStyle {
    font-weight: bold;
    font-size: 10;
    color: #000000;
}

.formCheckboxStyle{
    font-weight: bold;
    font-size: 10;
    color: #000000;	
}


.textInputStyle {
    font-weight: bold;
    font-size: 10;
    color: #000000;
}


.formComboStyle {
    font-weight: bold;
    font-size: 10;
    color: #000000;
	layoutDirection: ltr;
    
}

.panelTitleStyle {
       color: #ffffff;
       font-size: 14;
       font-weight:normal;  
       border-skin: Embed(source='images/green.png', scaleGridTop='5', scaleGridBottom='80', scaleGridLeft='5', scaleGridRight='95');
}

.reportHeaderStyle {
       color: #ffffff;
       font-size: 14;
       font-weight:normal;  
       border-skin: Embed(source='images/rw.png', scaleGridTop='5', scaleGridBottom='40', scaleGridLeft='5', scaleGridRight='95');
}

.panelSubTitleStyle {
       color: #000000;
       font-size: 10;
       font-weight:normal;  
}


.textAreaTitleStyle{
    color: #000000;
    background-alpha: 0.50;
    border-thickness: 1;
    drop-shadow-enabled: true;
    font-size: 12;	
}

.navigationButtonStyle{
	color: #000000;
	font-size: 10;
	font-weight: normal;
}



.stepsListTreeStyle {
    background-alpha: 0;
    textSelectedColor: #000000;
    rollOverColor: #009933;
    borderThickness: 0;
    selectionColor: #009933;
    color: #FFFFFF;
    font-weight: bold;
    useRollOver: false;
    font-size: 10;
}

