<!-- Prepare Velocity Variables
     $renderer.setTile("CL", "ai-list")
     #set( $containerName = $CMMParams.gets("Container") )
-->
	$!renderer.tileStart("List", "AdditionalInterestList", "None", "Collapsed")
     <table width="100%" class='format' id="tableId">
	  <tr class='columnHeader'> 
	       <th width='2%'>&nbsp;</th>
	       <th class='column' width='13%'>Number</th>
	       <th class='column' width='30%'>Name</th>
	       <th class='column' width='20%'>Interest Type</th>
	       <th class='column' width='20%'>Source</th>
	       <th class='column' width='15%'>&nbsp;</th>
	  </tr>
     <!-- #set( $counter = 0 )-->
     <!-- #foreach( $a in $ClaimAIRenderer.getActiveAdditionalInterests($Claim, $Claim.gets("ProductVersionIdRef")) ) -->
	  <tr>
	       <td align='center'><img src='img/expand.gif' id='img$counter' name='AIList_${counter}_Expand'onClick='toggle("$counter");'></td>
	       <td id='AIList_Number'>$!a.gets("SequenceNumber")</td>
	       <td id='AIList_${counter}_Name'>$FormFieldRenderer.renderMultilineString($!a.gets("Name"))</td>
	       <td id='AIList_${counter}_InterestType'>$!a.gets("TypeCd")</td>
	       <td id='AIList_${counter}_Source'>$!a.gets("SourceCd")</td>
	       <td>
	       <!-- #if( $Claim.gets("TypeCd") == "Claim" || $displayMode ) -->
		    <a class='actionLink' id='AIList_View' href="javascript:cmmXForm('CLAISync',$!systemId,'$!idRef','$!a.getId()','')">View</a>
	       <!-- #else -->
		    <a id='AIList_View' class='actionLink' href="javascript:cmmXForm('CLAISync',$!systemId,'$!idRef','$!a.getId()','')">View</a>
		    	<!-- #if( $a.gets("SourceCd") == "Claim" ) -->
		    <a id='AIList_Change' class='actionLink' href="javascript:cmmXForm('CLAISync',$!systemId,'$!idRef','$!a.getId()','')">Change</a>
		    <a id='AIList_Delete' class='actionLink' href="javascript:if( confirm('Delete Additional Interest?') ) cmmXForm('CLAIDelete',$systemId,'$idRef','$a.getId()')">Delete</a>
		    	<!-- #end -->
		    <a id='AIList_Copy' class='actionLink' href="javascript:cmmXForm('CLAICopy',$!systemId,'$!idRef','$!a.getId()','')">Copy</a>
	       <!-- #end -->
	       </td>
	  </tr>	
	  <tr id='row$counter' style='display:none;'>
	       <td/>
	       <td id='AIList_${counter}_Code'><b>Code: </b>$!a.gets("InterestCd")</td>
	       <td colspan='4'>
		    <table class='none' cellpadding='0' cellspacing='0'>
			 <tr>
			 	<!-- #set( $aiAddr = $a.getBean("PartyInfo").getBean("Addr","AddrTypeCd","AIMailingAddr") ) -->
			      <td id='AIList_${counter}_Address'><b>Address: </b>
			      $AddressRenderer.buildAddress($aiAddr, "Mailing", 1, 90)
			      </td>
			 </tr>
		   </table>	 
	      </td>   
	  </tr>  
      <!-- #set($counter = $counter + 1) -->
     <!-- #end --> 
     <!-- #if( $counter == 0 ) -->
	  <tr>
	       <td colspan='6'><b>Empty List</b></td>
	  </tr>    
     <!-- #end -->   
     </table>
     <script language=javascript>
	  lineCount = $counter;
     </script>
$renderer.tileEnd()

