<!-- Prepare Velocity Variables
$renderer.setTile("UWApplication", "application-closeout-buttons")

## Look for any ValidationErrors with Severity of ERROR that are not CloseOutValidation Errors
## CloseOutValidation errors need to leave the buttons as though there were none, as the problem is 
## on the closeout screen, and the user must be allowed to correct and retry the original action
#set( $hasValidationErrors = false )
#foreach( $verr in $Application.findBeansByFieldValue("ValidationError","SubTypeCd","ERROR") )
	#if( !$verr.gets("TypeCd").equals("CloseOutValidation") )
		#set( $hasValidationErrors = true )
	#end
#end

#set( $hasApprovalIssues = $ApplicationRenderer.hasApprovalIssues($Application) )

#set( $status = $Application.gets("Status") )
#set( $confirmMessage = "Selecting OK to Modify Application may require the application to go through the Underwriter Approval Process again. Continue?" )

#if( $status == "Approved" || $status == "Information Pending" || $status == "Rejected" )
	#set( $makeChanges = "javascript:if(confirm('$confirmMessage')) cmmXForm('UWApplicationChange' ,$systemId,'','','SubmitType=MakeChanges');")
#elseif( $status.startsWith("In Process") )
	#set( $makeChanges = "cmmXForm('UWApplicationChange' ,$systemId,'','','SubmitType=MakeChanges');")
#else
	#set( $makeChanges = "javascript:cmmXForm('UWApplicationModify' ,$systemId,'','','SubmitType=MakeChanges');")
#end

#set( $submit = "cmmXForm('UWApplicationSubmit',$systemId,'','','SubmitType=Submit');" )
#set( $approve = "cmmXForm('UWApplicationSubmit',$systemId,'','','SubmitType=Approved');" )
#set( $information = "cmmXForm('UWApplicationSubmit',$systemId,'','','SubmitType=SendBack');" )
#set( $reject = "cmmXForm('UWApplicationSubmit',$systemId,'','','SubmitType=Reject');" )
#set( $review = "cmmXForm('UWApplicationReview',$systemId,'','','');" )
#set( $pend = "cmmXForm('UWApplicationPend',$systemId,'','','');" )
#set( $unpend = "cmmXForm('UWApplicationUnpend',$systemId,'','','');" )

#set( $processButtonLabel = $TransactionRenderer.getProcessButtonLabel($Application) )
#set( $securityId =  $form.get("SecurityId") )
#set( $hasTransactionOutput = $ApplicationRenderer.hasTransactionOutput($Application) )
#set( $policyOutputPreview = "analyticsTrackPageview('UWApplicationPolicyOutputPreview');window.open('innovation?rq=UWApplicationPolicyOutputPreview&SystemId=$systemId&TabOption=Policy&SecurityId=$securityId')" )
#set( $pendForReleaseInd = $StringRenderer.isTrue($Application.getBean("ApplicationInfo").gets("PendForReleaseInd")) )
-->
<br>
<div class='tile'>
      <table border='0' cellpadding='0' cellspacing='0' >
            <tr>
                <td>
                <!-- #if( $hasValidationErrors ) -->
                    $FormFieldRenderer.renderButton("MakeChanges","MakeChanges","Button","$makeChanges")  
                <!-- #elseif( $hasApprovalIssues ) -->                   
                    $FormFieldRenderer.renderButton("SubmitForApproval","Submit For Approval","Button","$submit")
                    $FormFieldRenderer.renderButton("MakeChanges","MakeChanges","Button","$makeChanges")  
                    <!-- #if( $status.equals("Pending Approval") || $status.equals("Being Modified") || $status.equals("Being Reviewed") ) -->
                    	$FormFieldRenderer.renderButton("SendBackForInformation","Send Back For Information","Button","$information")
                        $FormFieldRenderer.renderButton("Reject","Reject","Button","$reject")
                        $FormFieldRenderer.renderButton("Review","Review","Button","$review")
                    <!-- #end -->
                <!-- #else -->  
                    <!-- #if( $status.equals("Pending Approval") || $status.equals("Being Modified") || $status.equals("Being Reviewed") ) -->
                        <!-- #if( !$pendForReleaseInd ) -->
                        	$FormFieldRenderer.renderButton("Approve","Approve","Button","$approve")
                        <!-- #end -->
                        $FormFieldRenderer.renderButton("Process","$processButtonLabel","Button","$fullProcessLogic")
                        <!-- #if( $hasTransactionOutput ) -->
                        	$FormFieldRenderer.renderButton("PreviewOutput","PreviewOutput","Button","$policyOutputPreview")
                        <!-- #end -->	
                        <!-- #if( !$pendForReleaseInd ) -->
	                        $FormFieldRenderer.renderButton("MakeChanges","MakeChanges","Button","$makeChanges")
	                        $FormFieldRenderer.renderButton("SendBackForInformation","Send Back For Information","Button","$information")
	                        $FormFieldRenderer.renderButton("Reject","Reject","Button","$reject")
	                        $FormFieldRenderer.renderButton("Review","Review","Button","$review")	                        
		                <!-- #end -->
		                <!-- #if( $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowPend", $todayDt)) ) -->
	                        <!-- #if( $pendForReleaseInd ) -->
	                        	$FormFieldRenderer.renderButton("Unpend","Unpend","Button","$unpend")
	                        <!-- #else -->
	                        	$FormFieldRenderer.renderButton("Pend","Pend for Release","Button","$pend")
	                        <!-- #end -->
	                    <!-- #end -->
                    <!-- #else -->
                        $FormFieldRenderer.renderButton("Process","$processButtonLabel","Button","$fullProcessLogic")
                        <!-- #if( $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowPend", $todayDt)) ) -->
	                        <!-- #if( $pendForReleaseInd ) -->
	                        	$FormFieldRenderer.renderButton("Unpend","Unpend","Button","$unpend")
	                        <!-- #else -->
	                        	$FormFieldRenderer.renderButton("Pend","Pend for Release","Button","$pend")
	                        <!-- #end -->
	                    <!-- #end -->
                        <!-- #if( $hasTransactionOutput ) -->
                        	$FormFieldRenderer.renderButton("PreviewOutput","PreviewOutput","Button","$policyOutputPreview")
                        <!-- #end -->	
                        <!-- #if( !$status.equals("Deleted") && !$pendForReleaseInd ) -->
                        	$FormFieldRenderer.renderButton("MakeChanges","MakeChanges","Button","$makeChanges")
                        <!-- #end -->	
                    <!-- #end -->
                <!-- #end -->
                </td>
	    	</tr>
      </table>	
</div>