<!-- Set Velocity Variables
	$renderer.setTile("UWApplication", "application-product-button")  
    #set( $disabled = "")
    #if( $tileType == "Policy" || $displayMode )
		#set ( $disabled = "disabled" ) 
    #end    
    #if ( $Application.getSystemId() == "" )
		#set( $uwAction = "cmmXForm('UWQuoteAddUnderwrite')" )
    #else
		#if( $tabOption == "Underwriting" )
	    	#set( $uwAction = "prepareReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId())" )	
        #elseif( $tabOption.equals("Commission") )
            #set( $uwAction = "prepareCommissionReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId(),'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" )
        #elseif( $tabOption.equals("Audit") )        
          	 #set( $disabled = "")
        	 #if( $tileType == "Policy" || !$isAuditTransaction )
				#set ( $disabled = "disabled" ) 
   			 #end   
   			 #set( $uwAction = "prepareReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId(),'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" )   			 
		#else
            #set( $uwAction = "prepareReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId(),'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" )    
		#end
    #end
    
    #set( $showNextPageButton = $UWProductRenderer.showNextPageButton($ProductTileGroups) )
    #if( $showNextPageButton )    
    	#set( $nextTabOption = $UWProductRenderer.getNextProductTabOption($context,$ProductTileGroups, $tabOption, $TransactionInfo.gets("TransactionCd")) )
    	#if( $tabOption.equals("Risks") && $RiskRenderer.isSingleRisk($CMMResponse) )
		    #set( $nextPageAction = "cmmXForm('UWRiskUpdateUnderwrite', $Application.getSystemId(), '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'NextTabOption=$nextTabOption')" )
		#else
			#set( $nextPageAction = "cmmXForm('UWApplicationUnderwrite', $Application.getSystemId(), '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'NextTabOption=$nextTabOption')" )
	    #end
	    #if( $disabled.equals("disabled") )
	    	#set( $nextPageAction = "cmmXForm('UWApplicationSync', $Application.getSystemId(), '', '', 'CodeRefOptionsKey=${formName}&NextTabOption=$nextTabOption')" )
	    #end
    #end
    
    #if( $tabOption.equals("Commission") )
    	#set( $nextPageAction = "javascript:prepareCommissionReplyXml();${nextPageAction}" )
    #else
    	#set( $nextPageAction = "javascript:prepareReplyXml();${nextPageAction}" )
    #end
    
    #if( $tabOption.equals("LossHistory") )
   		#set( $newLossHistoryAction = "javascript:cmmXForm('UWLossHistoryNew',$container.getSystemId(),'$container.getId()','','TypeCd=$typeCd')" )
    #end
    
-->

<div class='tile'>
	<table class='format'>	
		<tr>	
		    <!-- #if( !$disabled.equals("disabled") && $showNextPageButton ) -->
		    	<td>$FormFieldRenderer.renderButton("NextPage","NextPage","Button",$nextPageAction)</td>
		    <!-- #end -->
			<!-- #if ( !$disabled.equals("disabled") ) -->
		    	<td>$FormFieldRenderer.renderButton("Save","Save","Button",$uwAction)</td>
		    <!-- #end -->	
		  	
			<!-- #if( !$disabled.equals("disabled") && $tabOption.equals("LossHistory") ) -->
				<td>
					$FormFieldRenderer.renderButton("AddAddress","Add Loss History","Button",$newLossHistoryAction)
				</td>
			<!-- #end -->
	  	</tr>
    </table>
</div>