<!-- Prepare Velocity Variables
$renderer.setTile("UWApplication", "application-closeout")

#set( $transaction = $ApplicationRenderer.getLastTransaction($Application) )
#set( $commissionChangeInd = $ApplicationRenderer.hasCommissionChanged($Application) )
#set( $hasEnoughEquity = $ApplicationRenderer.hasEnoughEquity($data,$UserInfo,$Application) )

#if( $BillingEntityRenderer.hasBillingEntity($Application) && !$Application.gets("PolicyRef").equals("") )

	#set( $policy = $ApplicationRenderer.getPolicyAsOfDate($Application) )	
	#set( $billingEntityChangeList = $BillingEntityRenderer.getBillingEntityChangeList($data, $Application, $policy.getBean("BasicPolicy").gets("ManualBillingEntitySplitInd")) )
	
#else
	#set( $billingEntityChangeList = "" )
#end

#set( $revisedAudit = "" )
#set( $auditData = false )
#set( $auditData = $Application.getBean("AuditData","TransactionNumber","") )
#if( $auditData )
	#set( $revisedAudit = $auditData.gets("RevisedInd") )
#end

-->
<script>
	$(document).ready(function(){
		if( $('#GenericBusinessError').text().trim() === 'Payment amount is zero.' ){
			$('#GenericBusinessError').text('A down payment is required.');
		}
	});
</script>

$!renderer.tileStart("Normal","Closeout","None","None")

	$FormFieldRenderer.render("Refresh", "cmmXForm('UWApplicationCloseout', $CMMParams.getSystemId(), '', '', 'UseNetRate=true')", "Hidden")

	  <!-- #if( $hasEnoughEquity ) -->
		  <table width='100%' class='format'>
	          <tr>
	              <td id='AutoReinstatementWarning' with='100%' class='warning'>$renderer.localize("CloseoutWarningAutomaticReinstatement")</td>
	          </tr>
	      </table>	
	  <!-- #end -->
	  <!-- #if( $commissionChangeInd ) -->
	      <table width='100%' class='format'>
	          <tr>
	              <td id='CommissionChangeWarning' with='100%' class='warning'>$renderer.localize("CloseoutWarningCommissionChange")</td>
	          </tr>
	      </table>	  
	  <!-- #end -->
	  <!-- #if( !$billingEntityChangeList.equals("") ) -->
	  	<table width='100%' class='format'>
	          <tr>
	              <td id='BillingEntityChangeWarning' with='100%' class='warning'>$renderer.localize("CloseoutWarningBillingEntityChange")</td>
	          </tr>
	      </table>	  
	  <!-- #end -->
	  <!-- #if( $StringRenderer.isTrue($revisedAudit) ) -->
	  	<table width='100%' class='format'>
	          <tr>
	              <td id='RevisedAuditWarning' with='100%' class='warning'>$renderer.localize("CloseoutWarningRevisedAudit")</td>
	          </tr>
	      </table>	  
	  <!-- #end -->
      <table width='100%' class='format' >	      
	      <tr> 
		      <th width='20%' class='label'>$FormFieldRenderer.renderLabel("InforcePremiumAmt","Prior Full Term Premium","Label",$CMMResponse)</th>
		      <td width='5%' class='numeric' id='ApplicationCloseout_InforcePremiumAmt'>$!transaction.gets("InforcePremiumAmt")</td>
		      <td width='10%'></td>
		      <th width='20%' class='label'>$FormFieldRenderer.renderLabel("FinalPremiumAmt","New Full Term Premium","Label",$CMMResponse)</th>
		      <td width='5%' class='numeric' id='ApplicationCloseout_FinalPremiumAmt'>$!BasicPolicy.gets("FinalPremiumAmt")</td>
		      <td width='40%'></td>
	      </tr>
		  <!-- #if( $commissionChangeInd ) -->
		  <tr>
   	          <th class='label'>$FormFieldRenderer.renderLabel("WrittenPremiumReversalAmt","Written Premium Reversal","Label",$CMMResponse)</th>
   	          <td class='numericWarning' id='ApplicationCloseout_WrittenPremiumReversalAmt'>$ApplicationRenderer.getPremiumReversal($data,$Application)</td>
   	          <td/>
   	          <th class='label'>$FormFieldRenderer.renderLabel("WrittenCommissionReversalAmt","Written Commission Reversal","Label",$CMMResponse)</th>
   	          <td class='numericWarning' id='ApplicationCloseout_WrittenCommissionReversalAmt'>$ApplicationRenderer.getCommissionReversal($data,$Application)</td>
   	      </tr>
   	      <!-- #end -->	  
	      <tr>	              	
		      <th class='label'>$FormFieldRenderer.renderLabel("WrittenPremiumAmt","Pro-Rated Amount","Label",$CMMResponse)</th>
		      <td class='numeric' id='ApplicationCloseout_WrittenPremiumAmt'>$!BasicPolicy.gets("WrittenPremiumAmt")</td>
		      <td/>
		  </tr>
      </table>	
$!renderer.tileEnd()