<!-- Prepare Velocity Variables
$renderer.setTile("UWApplication", "application-summary")

#if( $tileType == "Quote" )
	#set( $premiumLabel = "Quoted Premium" )
#else
	#set( $premiumLabel = "In Force Premium" )
#end
#set( $title = "${tileType}Summary" )
#set( $numberLabel = "${tileType} Number" )
#set( $customerRef = $Application.gets("CustomerRef") )

#set( $liabLine = "" )
#set( $liabLine = $Application.getBean("Line", "LineCd", "Liability") )

#set( $productVersionIdRef = $Application.getBean("BasicPolicy").gets("ProductVersionIdRef") )
#set( $GLIncreasedLimits  = "")
#if( $liabLine != "" )	
	#set( $GLIncreasedLimits = $liabLine.gets("GLIncreasedLimits") )
#end 

#set( $allowCustomerLink = $UserRenderer.getAuthorityAttributeValue($UserInfo, "Customer-PolicyList", $todayDt) )
-->
<script type="text/javascript" language="JavaScript">
	document.title = "$Application.gets('ApplicationNumber') - SurePower Innovation\u00AE"; 
</script>

$FormFieldRenderer.render("ApplicationSystemId", $Application.getSystemId(), "Hidden")
$FormFieldRenderer.render("ApplicationSummary_ProductVersionIdRef", $BasicPolicy.gets("ProductVersionIdRef"), "Hidden")

$!renderer.tileStart("Normal","${tileType}Summary","Summary","None")
      <table width='100%' class='format' >
	      <tr>
		      <th class='label'>$FormFieldRenderer.renderLabel("Application.ApplicationNumber",$numberLabel,"Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_QuoteAppNumber'>$!Application.gets("ApplicationNumber")</td>
		  </tr>
		  <!-- #if( !$Application.gets("PolicyRef").equals("") ) -->
	          <tr>
	              <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.PolicyNumber","Policy Number", "Label", $CMMResponse)</th>
	              <td id='QuoteAppSummary_PolicyNumber'>$BasicPolicy.gets("PolicyNumber")</td>
	          </tr>
	      <!-- #end -->	      
	      <tr>
		      <th class='label'>$FormFieldRenderer.renderLabel("InsuredName","Insured","Label",$CMMResponse)</th>
		  <!-- #if( $customerRef.equals("") || $form.get("ModuleOrigin").equals("Claims") || $form.get("ModuleOrigin").equals("Billing") || !$StringRenderer.isTrue($allowCustomerLink) || $form.get("ExitNavigation").equals("No") ) -->    
		      <td id='QuoteAppSummary_InsuredName'>$FormFieldRenderer.encodeHTML($insuredName)</td>
		  <!-- #else -->
		      <td id='QuoteAppSummary_InsuredName'>$FormFieldRenderer.renderLink("GoToCustomer", $insuredName, "Link", "title='Click to go to the customer'|Class=actionLink", "javascript:cmmXFormSafe('UWPolicyList','$customerRef','','','Container=Customer&amp;MenuGroupCd=Policy&amp;MenuOptionCd=PolicyProcessing&amp;TaskSystemId=')")</td>
		  <!-- #end -->   
		  </tr>
	      <tr>    
	      <!-- #if( $tileType == "Application" ) -->
		      <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.InceptionDt","Inception","Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_InceptionDt'>$!BasicPolicy.gets("InceptionDt")</td>
	      <!-- #else -->
		      <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.EffectiveDt","Effective","Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_EffectiveDt'>$!BasicPolicy.gets("EffectiveDt")</td>
	      <!-- #end -->
	      </tr>
	      <tr>
		      <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.ProductVersionIdRef","Product","Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_Product'>$!ProductRenderer.getProductVersionName($!BasicPolicy.gets("ProductVersionIdRef"))</td>
		  </tr>
	      <tr>    
		      <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.SubTypeCd","Policy Form","Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_SubType'>$!BasicPolicy.gets("SubTypeCd")</td>
		  </tr>
	      <!-- #if( $tileType == "Application" ) -->
	      <tr>
		      <th class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.EffectiveDt","Term Effective","Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_TermEffDate'>$!BasicPolicy.gets("EffectiveDt")</td>
		  </tr>    
	      <!-- #end -->
	      <tr>    
	      	  <!-- #set ( $taxesFeesAmt = "0" ) -->
	      	  <!-- #set ( $premiumIncTaxesFeesAmt = "0" ) -->
		      <!-- #set ( $fees = $!Application.findBeansByFieldValue("Fee","Status","Active") ) -->
		      <!-- #foreach( $fee in $fees ) -->
				<!-- #set( $taxesFeesAmt = $StringRenderer.formatValue($StringRenderer.addMoney($taxesFeesAmt, $fee.gets("FinalAmt")),2) ) -->		      		      
		      <!-- #end -->
		      <!-- #set( $premiumIncTaxesFeesAmt = $StringRenderer.formatValue($StringRenderer.addMoney($premiumIncTaxesFeesAmt, $!BasicPolicy.gets("FinalPremiumAmt")),2) ) -->		      		      
		      <!-- #set( $premiumIncTaxesFeesAmt = $StringRenderer.formatValue($StringRenderer.addMoney($premiumIncTaxesFeesAmt, $taxesFeesAmt),2) ) -->		      		      
		  </tr>
	      <tr>    
		      <!-- #set ( $premiumLabelTaxesFees = "$premiumLabel (Inc Taxes & Fees)" ) -->
		      <th class='label'>$FormFieldRenderer.renderLabel("PremiumIncTaxesFeesAmt","Premium","Label",$CMMResponse)</th>
		      <td id='QuoteAppSummary_PremWithTaxesFeesAmt'>$StringRenderer.formatMoney($premiumIncTaxesFeesAmt, true)</td>	
	      </tr>	   
          <!--  #if($GLIncreasedLimits!="") -->
		  <tr>
		      <th class='label'>$FormFieldRenderer.renderLabel("GLIncreasedLimits","Liability Limits","Label",$CMMResponse)</th>
		      <td >$ProductRenderer.productSelectField("GLIncreasedLimits",$GLIncreasedLimits,$productVersionIdRef,"UW::underwriting::limits::liability-increased","Required=True|disabled")</td>
		  </tr>
          <!-- #end -->
	      
		  <!-- #if( !$hasLockUser.equals($UserInfo.gets("LoginId")) ) -->
	          <tr>
	      	      <th class='label'>$FormFieldRenderer.renderLabel("ApplicationOwner","Owner", "Label", $CMMResponse)</th>
	              <td id='QuoteAppSummary_ApplicationOwner'>$hasLockUser</td>
	          </tr>
	      <!-- #end -->
	      <tr>
	      	  <th class='label'>$FormFieldRenderer.renderLabel("Application.Status","Status", "Label", $CMMResponse)</th>
	          <td id='QuoteAppSummary_Status'>$Application.gets("Status")</td>
	      </tr>
	      
	       <tr>
	      	  <th class='label'>Pay Plan</th>
	          <td>$BasicPolicy.gets("PayPlanCd")</td>
	      </tr>
	      
 	  <!-- #if( !$ApplicationRenderer.hasValidProductVersion($Application)) -->
 	      <tr>
 	          <td colspan='2' class='warning'>New product version available</td>
 	      </tr>
	  <!-- #end -->    
      </table>
$!renderer.tileEnd("Summary")			      	
