<!-- Prepare Velocity Variables
$renderer.setTile("UWTransaction","transaction-renewal")

#set ( $addlTextCodes = $CMMResponse.getBean("ResponseParams").getBean("AdditionalParams").getBean("Param", "Name", "AddTextCds").gets("Value") )

#if( $tileType == "Application" )
    #set( $disable = "disabled" )
    #set( $style = "style='display: none;'" )
    #if( $PolicyRenderer.isFullInquiryMode($CMMResponse) )
        #set( $appDisable = "disabled" )
    #else
        #set( $appDisable = "" )
    #end
    #set( $Transaction = $!Application.getBean("TransactionInfo") )
    $renderer.setValidation("UWApplication","field-validation")
    #set( $containerType = $Application )
    #set( $containerName = "Application" )
    #set( $addAction =  "cmmXForm('UWApplicationTransactionTextAdd',${Application.getSystemId()},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Application&DisplayTransaction=true&AddTextCds=${addlTextCodes}')" )
#else
    #set( $disable = "" )
    #set( $style = "" )
    #set( $appDisable = "" )
    #set( $Transaction = $!CMMResponse.getBean("TransactionHistory") )
    #set( $containerType = $Policy )
    #set( $containerName = "Policy" )
    #set( $startAction = "cmmXForm('UWPolicyTransactionAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
    #set( $addAction =  "cmmXForm('UWPolicyTransactionTextAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
    #set( $cancelAction =  "cmmXForm('UWPolicySync',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','DisplayTransaction=false')" )
#end

#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
#set( $allowAdditionalDeclarationTextEntry = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowAdditionalDeclarationTextEntry", $todayDt) )
#if( !$StringRenderer.isTrue($allowAdditionalDeclarationTextEntry) )
	#set( $textDisable = "disabled" )
#else
	#set( $textDisable = $appDisable )
#end
-->
$FormFieldRenderer.render("SuppressValidationException", "True", "Hidden")
$FormFieldRenderer.render("AddTextCds", $addlTextCodes, "Hidden")
$FormFieldRenderer.render("AddTextCdInd", "true", "Hidden")

<table width='100%' class='format'>
	<tr>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("RewriteToProductVersion", "Rewrite to Product", "Label", $CMMResponse, "Required=True")</th>
	<!-- #if( $tileType.equals("Application") ) -->
		<td width='85%'>$SPI.optionLabel("CO::common::states::all", $BasicPolicy.gets("ControllingStateCd")) - $ProductRenderer.getProductVersionName($Transaction.gets("RewriteToProductVersion")) - $CompanyRenderer.getCarrierGroupName($BasicPolicy.gets("CarrierGroupCd"))</td>
	<!-- #else -->
		<!-- #if( $Transaction.valueEquals("RewriteToProductVersion", "") ) -->
			<td width='85%'>$policyRenderer.rewriteProductSelectField("RewriteToProductVersion", $policyRenderer.getProductVersionId(), "Required=True")</td>
		<!-- #else -->
	  		<td width='85%'>$policyRenderer.rewriteProductSelectField("RewriteToProductVersion", $Transaction.gets("RewriteToProductVersion"), "Required=True")</td>
	  	<!-- #end -->	
	<!-- #end -->
	</tr>
	<tr>
    	<th class='label'>$FormFieldRenderer.renderLabel("TransactionShortDescription", "Description", "Label", $CMMResponse, "Required=True")</th>
    	<!-- #if( $tileType.equals("Application") && $appDisable.equals("") ) -->
    		<td>$FormFieldRenderer.render("TransactionInfo.TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|${appDisable}")</td>
        <!-- #else -->
        	<td>$FormFieldRenderer.render("TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|${appDisable}")</td>
        <!-- #end -->	
    </tr>
	<tr>
		<td>
	    	<table cellpadding='0' cellspacing='0'>
		    	<tr>
		    		<td>$FormFieldRenderer.renderButton("Start", "Start", "Button", $startAction, "${style}")</td>
		    		<td>$FormFieldRenderer.renderButton("Cancel", "Cancel", "Button", $cancelAction, "${style}")</td>
		    	</tr>
	       </table>
	 	</td>
	</tr>
</table>