<!-- Prepare Velocity Variables
$renderer.setTile("UWTransaction","transaction-expire")

#set( $startAction = "cmmXForm('UWPolicyTransactionAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
#set( $addAction =  "cmmXForm('UWPolicyTransactionTextAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
#set( $cancelAction =  "cmmXForm('UWPolicySync',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','DisplayTransaction=false')" )

#if( $tileType == "Application" )
    #set( $disable = "disabled" )
    #set( $style = "style='display: none;'" )
    #set( $Transaction = $!Application.getBean("TransactionInfo") )
    $renderer.setValidation("UWApplication","field-validation")
    #if ( $PolicyRenderer.isFullInquiryMode($CMMResponse) == true )
        #set( $appDisable = "disabled" )
    #else
        #set( $appDisable = "" )
    #end
#else
    #set( $disable = "" )
    #set( $style = "" )
    #set( $Transaction = $!CMMResponse.getBean("TransactionHistory") )
    #set( $appDisable = "" )
#end


#set ( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
#set( $allowAdditionalDeclarationTextEntry = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowAdditionalDeclarationTextEntry", $todayDt) )
#if( !$StringRenderer.isTrue($allowAdditionalDeclarationTextEntry) )
	#set( $textDisable = "disabled" )
#else
	#set( $textDisable = $appDisable )
#end

	#set( $productVersionIdRef = $container.getBean("BasicPolicy").gets("ProductVersionIdRef") )
	#set( $productCloseReasonList = $ApplicationRenderer.getQuoteCloseReasonList($container) )
	
	#set( $transactionCloseReason = $Transaction.getBean("TransactionCloseReason") )
	#set( $closeReasonCd = $transactionCloseReason.gets("CloseReasonCd") )
	#set( $productCloseReasonBean = $ApplicationRenderer.getProductCloseReason($productVersionIdRef, $closeReasonCd) )
	
	#set( $productCloseSubReasonList = $ApplicationRenderer.getQuoteCloseSubReasonList($productCloseReasonBean, $closeReasonCd) )
	
	#if( $tileType.equals("Application") )
		#set( $closeSubReasonCd = $transactionCloseReason.gets("CloseSubReasonCd") )
	#elseif( $form.get("CloseSubReasonCd").equals("") )		
		#set( $closeSubReasonCd = $ApplicationRenderer.getQuoteCloseSubReasonDefault($productCloseReasonBean) )
	#else
		#set( $closeSubReasonCd = $form.get("CloseSubReasonCd") )
	#end
	
	#set( $hasSubReasons = false )
    #if( $SPI.getArrayLength($productCloseSubReasonList.getOptions()) > 0 )
		#set( $hasSubReasons = true )
	#end	
	
	#if( $productCloseReasonBean.valueEquals("SubReasonLabel", "") )
		#set( $closeSubReasonLabel = "Sub Reason" )
	#else
		#set( $closeSubReasonLabel = $productCloseReasonBean.gets("SubReasonLabel") )
	#end 
	
	#if( $StringRenderer.isTrue($productCloseReasonBean.gets("SubReasonRequiredInd")) )
		#set( $closeSubReasonRequired = "Required=True" )
	#else
		#set( $closeSubReasonRequired = "" )
	#end
	
	#set( $selectAction = "ajaxCMMXForm('ajaxReplaceSubReason','UWPolicyTransactionCloseSubReasonAjax','','','','','ProductVersionIdRef','CloseReasonCd')" )
-->
$FormFieldRenderer.render("SuppressValidationException", "True", "Hidden")
$FormFieldRenderer.render("ProductVersionIdRef", $productVersionIdRef, "Hidden")
<table width='100%' class='format'>
	<tr>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TransactionEffectiveDt", "Effective Date", "Label", $CMMResponse)</th>
		<td width='85%'>$FormFieldRenderer.render("TransactionEffectiveDt", $Transaction.gets('TransactionEffectiveDt'), "Date", "tabindex=2|disabled")</td>
	</tr>
</table>
<!-- #if( $SPI.getArrayLength($productCloseReasonList.getOptions()) > 0 ) -->
	<table width='100%' class='format'>
		<tr>
		    <th width='15%' class='label'>$FormFieldRenderer.renderLabel("CloseReasonCd", "Reason", "Label", $CMMResponse, "Required=True")</th>  
		 	<td width='85%'>$FormFieldRenderer.renderSelect("CloseReasonCd", $closeReasonCd, $productCloseReasonList, "SelectList", "Prompt=Select...|Required=True|onChange=${selectAction}|${disable}")</td>
		</tr>
	</table>
	<span id='ajaxReplaceSubReason'>	
		<!-- #if( $hasSubReasons ) -->
			<table width="100%" class='format'>
		    	<tr>
			      <th width='15%' class='label'>
			          $FormFieldRenderer.render("CloseSubReasonLabel", $closeSubReasonLabel, "Hidden")
			          $FormFieldRenderer.renderLabel("CloseSubReasonLabel", $closeSubReasonLabel, "Label", $CMMResponse, "${closeSubReasonRequired}")
			      </th>
				  <td width='85%'>$FormFieldRenderer.renderSelect("CloseSubReasonCd", $closeSubReasonCd , $productCloseSubReasonList, "SelectList", "Prompt=Select...|${closeSubReasonRequired}|${disable}")</td>
				</tr>
			</table>	
		<!-- #end -->
	</span>
	<table width="100%" class='format'>
		<tr>
	    	<th width='15%' class='label'>$FormFieldRenderer.renderLabel("CloseComment", "Comments", "Label", $CMMResponse, "Required=True")</th>  
		  	<td width='85%'>$FormFieldRenderer.render("CloseComment", $transactionCloseReason.gets("CloseComment") , "TextArea", "Rows=3|Cols=40|Required=True|${disable}")</td>
		</tr>
	</table>
<!-- #end -->
<table width='100%' class='format'>
	<tr>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TransactionShortDescription", "Description", "Label", $CMMResponse, "Required=True")</th>
	<!-- #if( $tileType.equals("Application") && $appDisable.equals("") ) -->
   		<td width='85%'>$FormFieldRenderer.render("TransactionInfo.TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|${appDisable}")</td>
    <!-- #else -->
       	<td width='85%'>$FormFieldRenderer.render("TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|${appDisable}")</td>
    <!-- #end -->		
	</tr>
	<tr>
		<td>
	    	<table cellpadding='0' cellspacing='0'>
		    	<tr>
		    		<td>$FormFieldRenderer.renderButton("Start", "Start", "Button", $startAction, "${style}")</td>
		    		<td>$FormFieldRenderer.renderButton("Cancel", "Cancel", "Button", $cancelAction, "${style}")</td>
		    	</tr>
	       </table>
	 	</td>
	</tr>
</table>