<!-- Prepare Velocity Variables
$!renderer.setTile("UWTransaction","transaction-cancel")

#set( $cancelRefreshAction =  "setCurrentFieldId(this);cmmXForm('UWPolicyTransactionRefresh', ${systemId}, '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'Container=Policy&DisplayTransaction=true&ActionField=CancelRequestedByCd', 'true')" )
#set( $cancelTypeRefreshAction =  "setCurrentFieldId(this);cmmXForm('UWPolicyTransactionRefresh', ${systemId}, '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'Container=Policy&DisplayTransaction=true&ActionField=CancelTypeCd', 'true')" )
#set( $addAction =  "setCurrentFieldId(this);cmmXForm('UWPolicyTransactionTextAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
#set( $startAction = "cmmXForm('UWPolicyTransactionAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
#set( $cancelAction =  "cmmXForm('UWPolicySync',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','DisplayTransaction=false')" )

#if( $tileType == "Application" )
    #set( $disable = "disabled" )
    #if ( $PolicyRenderer.isFullInquiryMode($CMMResponse) == true )
        #set( $appDisable = "disabled" )
    #else
        #set( $appDisable = "" )
    #end
    #set( $style = "style='display: none;'" )
    #set( $Transaction = $!Application.getBean("TransactionInfo") )
    $renderer.setValidation("UWApplication","field-validation")
#else
    #set( $disable = "" )
    #set( $appDisable = "" )
    #set( $style = "" )
    #set( $Transaction = $!CMMResponse.getBean("TransactionHistory") )
    #set( $cancelNoticeSent = false )
    #if( $!form.get('TransactionCd') == "Cancellation" && $!BasicPolicy.gets("CancelDt") != "" )
      #set( $cancelNoticeSent = true )
    #end
    #set( $flatCancel = false )
    #if( $!Transaction.gets('CancelTypeCd').equals("Flat") )
      #set( $flatCancel = true )
    #end
#end

#set ( $currentFieldId = "" )
#set ( $currentFieldId = $XFDF.getBean("Param", "Name", "CurrentFieldId").gets("Value") )
#set ( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )

#set( $allowAdditionalDeclarationTextEntry = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowAdditionalDeclarationTextEntry", $todayDt) )
#if( !$StringRenderer.isTrue($allowAdditionalDeclarationTextEntry) )
	#set( $textDisable = "disabled" )
#else
	#set( $textDisable = $appDisable )
#end

#set( $restrictCancelRequestByListToIR = $UserRenderer.getAuthorityAttributeValue($UserInfo, "RestrictCancelRequestByListToIR", $todayDt) )
#if( $StringRenderer.isTrue( $restrictCancelRequestByListToIR ) )
	#set( $cancelRequestUMOL = "UWPolicy::policy::transaction::cancel-request-by-insured-only")
#else
	#set( $cancelRequestUMOL = "UWPolicy::policy::transaction::cancel-requested-by")
#end

#set( $cancelTypeCd = $!Transaction.gets("CancelTypeCd") )

#if( $cancelTypeCd.equals("") )
	#set( $cancelTypeCd = "Pro-Rate" )
#end
-->
<script language="JavaScript">
function setCurrentFieldId(fieldObj) {
    document.getElementById("CurrentFieldId").value = fieldObj.name;
}

function transactionEffectiveDtChanged(textObj) {
  if (formatDate(textObj) && textObj.value.length > 0) {
    setCurrentFieldId(textObj);
    cmmXForm('UWPolicyTransactionRefresh', ${systemId}, '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'Container=Policy&DisplayTransaction=true&ActionField=TransactionEffectiveDt', 'true')
    return true;
  } else {
    return false;
  }
}
</script>

$FormFieldRenderer.render("SuppressValidationException", "True", "Hidden")
$FormFieldRenderer.render("CurrentFieldId", $currentFieldId, "Hidden")

<table width='100%' class='format'>
<!-- #if( $tileType.equals("Application") ) -->
	<tr>
		<th width='15%' class='label'>Cancellation Type</th>
	    <td id='Cancel_Type'>$!Transaction.gets("CancelRequestedByCd")</td>
	</tr>
	<tr>
		<th class='label'>Effective Date</th>
	    <td id='Cancel_EffectiveDt'>$Transaction.gets("TransactionEffectiveDt")</td>
	</tr>
	<tr>
		<th class='label'>Reason</th>
	<!-- #foreach( $reason in $Transaction.getBeans("TransactionReason") ) -->
		<!-- #set ($transReason= $TransactionRenderer.getTransactionDisplayText($container, $reason) ) -->
		    <td colspan='2' id='Cancel_Reason'>$transReason</td>
		</tr>
		<!-- #if ($transReason == "Insured Request") -->
		<tr>	
			<th class='label'>Reason Description</th>
		 	<td id='ReasonDescription'>$Transaction.gets("ReasonDescription")</td>
		 </tr>
		<!-- #end -->		
	<!-- #end -->
<!-- #end -->

<!-- #if( $tileType.equals("Policy") ) -->
	<tr>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("CancelRequestedByCd", "Cancellation Type", "Label", $CMMResponse, "Required=True")</th>
	<!-- #if( $Transaction.gets("CancelRequestedByCd").equals("") ) -->
		<td width='85%'>$FormFieldRenderer.renderSelect("CancelRequestedByCd", $Transaction.gets("CancelRequestedByCd"), $cancelRequestUMOL, "SelectList", "OnChange=$cancelRefreshAction|Required=True|tabindex=2|${disable}")</td>
	<!-- #else -->
		<td width='85%'>$FormFieldRenderer.renderSelect("CancelRequestedByCd", $Transaction.gets("CancelRequestedByCd"), $cancelRequestUMOL, "SelectList", "tabindex=2|Required=True|disabled")</td>
	<!-- #end -->
	</tr>
    <!-- #if( $cancelNoticeSent ) -->    
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("ReasonCd", "Reason", "Label", $CMMResponse, "Required=True")</th>
		<!-- #set( $reasonCount = 0 ) -->
		<!-- #foreach( $reason in $Transaction.getBeans("TransactionReason") ) -->
			<!-- #set( $reasonCd = $!reason.gets("ReasonCd") ) -->
		    <td>$TransactionRenderer.getTransactionDisplayText($container, $reason)</td>
		</tr>
		$FormFieldRenderer.render("ReasonCd_$velocityCount", $reason.gets("ReasonCd"), "Hidden")
	    <!-- #set( $reasonCount = $velocityCount ) -->
		<tr>
			<td>&nbsp;</td>
		<!-- #end -->
		</tr>
	<!-- #else -->
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("ReasonCd", "Reason", "Label", $CMMResponse, "Required=True")</th>
			<td>
		    	<table cellpadding='0' cellspacing='0'>
			 		<tr>
			      		<td>$PolicyRenderer.reasonSelectField("ReasonCd",$Transaction,$Policy,"tabindex=4|${disable}|style='width:100%'",$UserInfo,$todayDt)</td>
			      		<td>$FormFieldRenderer.renderButton("Add", "Add", "Button", $addAction, "tabindex=5|${disable}")</td>	
			 		</tr>
		    	</table>
			</td>			
		</tr>	
		<!-- #set( $reasonCount = 0 ) -->
		<!-- #set( $hasInsRequestReason = false ) -->	
	  	<!-- #foreach( $reason in $Transaction.getBeans("TransactionReason") ) -->
	        <!-- #set( $reasonCd = $!reason.gets("ReasonCd") ) -->
	        
	        <!-- #if( $reasonCd.equals("InsRequest") ) -->	
				<!-- #set( $hasInsRequestReason = true ) -->
			<!-- #end -->
			<tr>
				<td>&nbsp;</td>
				<td>
					<table width='100%' cellpadding='0' cellspacing='0'>
						<tr>
		    				<td width='70%'>$TransactionRenderer.getTransactionDisplayText($container, $reason)</td>
		    				<td width='30%'>$FormFieldRenderer.renderLink("DeleteLink_${reasonCount}", "Delete", "Link", "", "javascript:cmmXForm('UWPolicyTransactionTextDelete',$!systemId,'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true&DeleteReasonCd=$!reasonCd&reasonCount=$reasonCount&ActionField=CancelRequestedByCd', 'true')")</td>		    	
		    			</tr>
		    		</table>
		    	</td>			
			</tr>
			
			$FormFieldRenderer.render("ReasonCd_$velocityCount", $reason.gets("ReasonCd"), "Hidden")	
			<!-- #set( $reasonCount = $velocityCount ) -->
		<!-- #end -->
		<!-- #if( $hasInsRequestReason ) -->			
			<tr>
				<th class='label'>$FormFieldRenderer.renderLabel("ReasonDescription", "Reason Description", "Label", $CMMResponse, "Required=True")</th>		
				<!-- #if( $Transaction.gets("ReasonDescription").equals("") ) -->
					<td width='85%'>$FormFieldRenderer.renderSelect("ReasonDescription", $Transaction.gets("ReasonDescription"), "UWPolicy::policy::transaction::reason-desc", "SelectList", "Prompt=Select...|Required=True|tabindex=2|${disable}")</td>
				<!-- #else -->
					<td width='85%'>$FormFieldRenderer.renderSelect("ReasonDescription", $Transaction.gets("ReasonDescription"), "UWPolicy::policy::transaction::reason-desc", "SelectList", "tabindex=2|Required=True|disabled")</td>
				<!-- #end -->
			</tr>
		<!-- #end -->
			
		<tr>
	    	<td>&nbsp;</td>
		</tr>
	<!-- #end -->
	<tr>
    	<th class='label'>$FormFieldRenderer.renderLabel("TransactionEffectiveDt", "Effective Date", "Label", $CMMResponse, "Required=True")</th>
	<!-- #if( $cancelNoticeSent || $flatCancel ) -->	
		<td>$FormFieldRenderer.render("TransactionEffectiveDt", $Transaction.gets('TransactionEffectiveDt'), "Date", "OnBlur=formatDate(this)|Required=True|tabindex=5|disabled")</td>	
	<!--#else -->
		<td>$FormFieldRenderer.render("TransactionEffectiveDt", $Transaction.gets('TransactionEffectiveDt'), "Date", "OnChange=return transactionEffectiveDtChanged(this)|OnBlur=formatDate(this)|Required=True|tabindex=3|${disable}")</td>
    <!-- #end -->	
    </tr>
	$FormFieldRenderer.render("ReasonCount", "$reasonCount", "Hidden")
<!-- #end -->

	<tr>
		<th class='label'>$FormFieldRenderer.renderLabel("CancelTypeCd", "Type", "Label", $CMMResponse, "Required=True")</th>
	<!-- #if( $cancelNoticeSent ) -->
		<td id='Cancel_TypeCd'>$!PolicyRenderer.cancelTypeSelectField("CancelTypeCd",$cancelTypeCd,$Transaction,$container,$UserInfo,$todayDt,"","tabindex=5|disabled")</td>
	<!-- #else -->
		<td id='Cancel_TypeCd'>$!PolicyRenderer.cancelTypeSelectField("CancelTypeCd",$cancelTypeCd,$Transaction,$container,$UserInfo,$todayDt,$cancelTypeRefreshAction,"Required=True|tabindex=5|DisableDefault|${disable}")</td>
	<!-- #end -->	
    </tr>
    <tr>
    	<th class='label'>$FormFieldRenderer.renderLabel("TransactionShortDescription", "Description", "Label", $CMMResponse, "Required=True")</th>
	<!-- #if( $cancelNoticeSent ) -->
		<td colspan='2'>$FormFieldRenderer.render("TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|tabindex=6|disabled")</td>
    <!-- #else -->
    	<!-- #if( ($tileType.equals("Application")) && ($appDisable.equals("")) ) -->
    		<td colspan='2'>$FormFieldRenderer.render("TransactionInfo.TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|tabindex=6|${appDisable}")</td>
        <!-- #else -->
        	<td colspan='2'>$FormFieldRenderer.render("TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|tabindex=6|${appDisable}")</td>
        <!-- #end -->	
    <!-- #end -->
    </tr>
    <!-- #if( $Transaction.gets("TransactionCd") != "Cancellation" ) -->
    <tr>
     	<th valign='top' class='label'>$FormFieldRenderer.renderLabel("AdditionalNoticeText", "Additional Notice Text", "Label", $CMMResponse)</th>
    <!-- #if( ($tileType.equals("Application")) && ($appDisable.equals("")) ) -->	
		<td colspan='2'>$FormFieldRenderer.render("TransactionInfo.TransactionLongDescription", $Transaction.gets('TransactionLongDescription'), "TextArea", "Rows=5|Cols=80|tabindex=7|${textDisable}")</td>
	<!-- #else -->
		<td colspan='2'>$FormFieldRenderer.render("TransactionLongDescription", $Transaction.gets('TransactionLongDescription'), "TextArea", "Rows=5|Cols=80|tabindex=7|${textDisable}")</td>
    <!-- #end -->
    </tr>
    <!-- #end -->
    <tr>
		<td>
	    	<table cellpadding='0' cellspacing='0'>
		    	<tr>
		    		<td>$FormFieldRenderer.renderButton("Start", "Start", "Button", $startAction, "tabindex=8|${style}")</td>
		    		<td>$FormFieldRenderer.renderButton("Cancel", "Cancel", "Button", $cancelAction, "tabindex=9|${style}")</td>
		    	</tr>
	       </table>
	 	</td>
	</tr>
</table>
