<!-- Prepare Velocity Variables
$renderer.setTile("UWTransaction","transaction-rewrite-new")

#set( $startAction = "cmmXForm('UWPolicyTransactionAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
#set( $addAction =  "cmmXForm('UWPolicyTransactionTextAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
#set( $cancelAction =  "cmmXForm('UWPolicySync',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','DisplayTransaction=false')" )
#set( $changeDateAction =  "ajaxCMMXForm('ajaxChangeDate','UWPolicyTransactionChangeDate', '', '', '', '', 'AccountCd', 'CategoryCd')" )

#if( $tileType == "Application" )
    #set( $disable = "disabled" )
    #set( $style = "style='display: none;'" )
    #set( $Transaction = $!Application.getBean("TransactionInfo") )
    $renderer.setValidation("UWApplication","field-validation")
    #if( $PolicyRenderer.isFullInquiryMode($CMMResponse) )
        #set( $appDisable = "disabled" )
    #else
        #set( $appDisable = "" )
    #end
#else
    #set( $disable = "" )
    #set( $style = "" )
    #set( $Transaction = $!CMMResponse.getBean("TransactionHistory") )
    #set( $appDisable = "" )
#end

#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
#set( $allowAdditionalDeclarationTextEntry = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowAdditionalDeclarationTextEntry", $todayDt) )
#if( !$StringRenderer.isTrue($allowAdditionalDeclarationTextEntry) )
	#set( $textDisable = "disabled" )
#else
	#set( $textDisable = $appDisable )
#end
-->
<script language="JavaScript">
function setCurrentFieldId(fieldObj) {
    document.getElementById("CurrentFieldId").value = fieldObj.name;
}

function transactionEffectiveDtChanged(textObj) {
  if (formatDate(textObj) && textObj.value.length > 0) {
    setCurrentFieldId(textObj);
    cmmXForm('UWPolicyTransactionRefresh', ${systemId}, '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'Container=Policy&DisplayTransaction=true&ActionField=TransactionEffectiveDt', 'true')
    return true;
  } else {
    return false;
  }
}
</script>
$FormFieldRenderer.render("CurrentFieldId", $currentFieldId, "Hidden")

<table width='100%' class='format'>
	<tr>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TransactionEffectiveDt", "Effective Date", "Label", $CMMResponse, "Required=True")</th>
		<td width='15%'>$FormFieldRenderer.render("TransactionEffectiveDt", $Transaction.gets('TransactionEffectiveDt'), "Date", "OnChange=return transactionEffectiveDtChanged(this)|OnBlur=formatDate(this)|Required=True|${disable}")</td>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("RewriteToProductVersion", "Rewrite to Product", "Label", $CMMResponse, "Required=True")</th>		
	<!-- #if( $tileType.equals("Application") ) -->
		<td width='55%'>$SPI.optionLabel("CO::common::states::all", $BasicPolicy.gets("ControllingStateCd")) - $ProductRenderer.getProductVersionName($Transaction.gets("RewriteToProductVersion")) - $CompanyRenderer.getCarrierGroupName($BasicPolicy.gets("CarrierGroupCd"))</td>
	<!-- #else -->
		<!-- #if( $Transaction.valueEquals("RewriteToProductVersion", "") ) -->
			<td width='55%'>$policyRenderer.rewriteProductSelectField("RewriteToProductVersion", $policyRenderer.getProductVersionId(), "Required=True")</td>
		<!-- #else -->
	  		<td width='55%'>$policyRenderer.rewriteProductSelectField("RewriteToProductVersion", $Transaction.gets("RewriteToProductVersion"), "Required=True")</td>
	  	<!-- #end -->	
	<!-- #end -->
	</tr>
	<tr>
    	<th class='label'>$FormFieldRenderer.renderLabel("TransactionShortDescription", "Description", "Label", $CMMResponse, "Required=True")</th>
    	<!-- #if( $tileType.equals("Application") && $appDisable.equals("") ) -->
    		<td colspan='3'>$FormFieldRenderer.render("TransactionInfo.TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|${appDisable}")</td>
        <!-- #else -->
        	<td colspan='3'>$FormFieldRenderer.render("TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|${appDisable}")</td>
        <!-- #end -->	
    </tr>
</table>
<table width='100%' class='format'>      
	<tr>
		<td>
	    	<table cellpadding='0' cellspacing='0'>
		    	<tr>
		    		<td>$FormFieldRenderer.renderButton("Start", "Start", "Button", $startAction, "${style}")</td>
		    		<td>$FormFieldRenderer.renderButton("Cancel", "Cancel", "Button", $cancelAction, "${style}")</td>
		    	</tr>
	       </table>
	 	</td>
	</tr>
</table>
