<!-- Prepare Velocity Variables
$!renderer.setTile("UWTransaction","transaction-endorse")

#set ( $addlTextCodes = $CMMResponse.getBean("ResponseParams").getBean("AdditionalParams").getBean("Param", "Name", "AddTextCds").gets("Value") )

#if( $tileType == "Application" )
    #set( $Transaction = $!Application.getBean("TransactionInfo") )
	#set( $disable = "" )
    #if( $formName.equals("application-closeout") || !$Transaction.gets("ReplacementOfTransactionNumber").equals("") )
    	#set( $effDtDisable = "disabled" )
    #else
    	#set( $effDtDisable = "" )
    #end
    #if ( $PolicyRenderer.isFullInquiryMode($CMMResponse) == true )
        #set( $appDisable = "disabled" )
    #else 
        #set( $appDisable = "" )
    #end 
    $renderer.setValidation("UWApplication","field-validation")
    #set( $containerType = $Application )
    #set( $containerName = "Application" )
    #set( $addAction =  "cmmXForm('UWApplicationTransactionTextAdd',${Application.getSystemId()},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Application&DisplayTransaction=true&AddTextCds=${addlTextCodes}')" )
#else
    #set( $disable = "" )
    #set( $effDtDisable = "" )
    #set( $appDisable = "" )
    #set( $Transaction = $!CMMResponse.getBean("TransactionHistory") )
    #set( $containerType = $Policy )
    #set( $containerName = "Policy" )
    #set( $startAction = "cmmXForm('UWPolicyTransactionAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
    #set( $addAction =  "cmmXForm('UWPolicyTransactionTextAdd',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','Container=Policy&DisplayTransaction=true')" )
    #set( $cancelAction =  "cmmXForm('UWPolicySync',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','DisplayTransaction=false')" )
#end

#set ( $currentFieldId = "" )
#set ( $currentFieldId = $XFDF.getBean("Param", "Name", "CurrentFieldId").gets("Value") )
#set ( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )

#set( $allowAdditionalDeclarationTextEntry = $UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowAdditionalDeclarationTextEntry", $todayDt) )
#if( !$StringRenderer.isTrue($allowAdditionalDeclarationTextEntry) )
	#set( $textDisable = "disabled" )
#else
	#set( $textDisable = $appDisable )
#end
-->

<script language="JavaScript">

function setCurrentFieldId(fieldObj) {
    document.getElementById("CurrentFieldId").value = fieldObj.name;
}

function transactionEffectiveDtChanged(textObj) {    
	if (formatDate(textObj) && textObj.value.length > 0) {    
    setCurrentFieldId(textObj);
    if( $containerName.equals("Policy") ) {
    	cmmXForm('UWPolicyTransactionRefresh', ${systemId}, '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'Container=Policy&DisplayTransaction=true&ActionField=TransactionEffectiveDt', 'true')
    	return true;
    }
  } else {
    return false;
  }
}
</script>

$FormFieldRenderer.render("SuppressValidationException", "True", "Hidden")
$FormFieldRenderer.render("AddTextCds", $addlTextCodes, "Hidden")
$FormFieldRenderer.render("AddTextCdInd", "true", "Hidden")
$FormFieldRenderer.render("CurrentFieldId", $currentFieldId, "Hidden")

<table width='100%' class='format'>
	<tr>
		<!-- #if( !$form.get("TransactionEffectiveDt").equals("") ) -->
			<!-- #set( $transactionEffectiveDt = $form.get("TransactionEffectiveDt") ) -->
		<!-- #else -->
			<!-- #set( $transactionEffectiveDt = $Transaction.gets("TransactionEffectiveDt") ) -->
		<!-- #end -->
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TransactionEffectiveDt", "Effective Date", "Label", $CMMResponse, "Required=True")</th>
		<td width='85%'>$FormFieldRenderer.render("TransactionEffectiveDt", $transactionEffectiveDt, "Date", "OnChange=return transactionEffectiveDtChanged(this)|OnBlur=formatDate(this)|Required=True|tabindex=2|${effDtDisable}")</td>
	</tr>
	<tr>
    	<th class='label'>$FormFieldRenderer.renderLabel("TransactionShortDescription", "Description", "Label", $CMMResponse, "Required=True")</th>
    	<!-- #if( $tileType.equals("Application") && $appDisable.equals("") ) -->
    		<td>$FormFieldRenderer.render("TransactionInfo.TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|tabindex=5|${appDisable}")</td>
        <!-- #else -->
        	<td>$FormFieldRenderer.render("TransactionShortDescription", $Transaction.gets('TransactionShortDescription'), "String", "Size=80|Required=True|tabindex=5|${appDisable}")</td>
        <!-- #end -->	
    </tr>
<!-- #if( $tileType.equals("Policy") ) -->
	<tr>
		<td>
	    	<table cellpadding='0' cellspacing='0'>
		    	<tr>
		    		<td>$FormFieldRenderer.renderButton("Start", "Start", "Button", $startAction, "tabindex=6|${style}")</td>
		    		<td>$FormFieldRenderer.renderButton("Cancel", "Cancel", "Button", $cancelAction, "tabindex=7|${style}")</td>
		    	</tr>
	       </table>
	 	</td>
	</tr>
<!-- #end -->
</table>