<!-- Prepare Velocity Variables
$renderer.setTile("UWTransaction","transaction-select")
#set( $selectAction =  "cmmXForm('UWPolicyTransactionNew',${systemId},'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef','DisplayTransaction=true&TransactionNumber=')" )
#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams") ) )  
#if( $tileType == "Application" )
	#set( $disable = "disabled" )
	$renderer.setValidation("UWApplication","field-validation")
	#set( $Transaction = $!Application.getBean("TransactionInfo") )
#else
	#set( $disable = "" )
	#set( $Transaction = $!CMMResponse.getBean("TransactionHistory") )
#end
-->

<table width='100%' class='format'>
	<tr>
		<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TransactionCd", "Transaction", "Label", $CMMResponse, "Required=True")</th>
		<!-- #if( $tileType.equals("Application") ) -->		
			<td>$!TransactionInfo.gets("TransactionCd")</td>
		<!-- #else -->
			<td>
				<table cellpadding='0' cellspacing='0'>				
					<!--  #if( $form.get('TransactionCd').equals("") ) -->
					<tr>
						<td>$TransactionRenderer.transactionSelectField("TransactionCd", $form.get('TransactionCd'), $CMMResponse, "","DisableDefault|Required=True|tabindex=1|${disable}")</td>
						<td>$FormFieldRenderer.renderButton("Select","Select","Button",$selectAction, "tabindex=2")</td>
					</tr>
					<!-- #else -->						
					<tr>
						<!-- #if( $!Transaction.gets("TransactionCd").equals("") ) -->
							 <!-- #set( $transactionCd = $form.get('TransactionCd') ) -->
						<!-- #else -->
							 <!-- #set( $transactionCd = $Transaction.gets("TransactionCd")) -->
						<!-- #end -->
						<td id='TransactionCd'>$TransactionRenderer.transactionSelectField("TransactionCd", $transactionCd, $CMMResponse, "","DisableDefault|Required=True|tabindex=1|disabled")</td>
					<!-- #end -->
					</tr>
				</table>
			</td>			
		<!-- #end -->
	</tr>
</table>
