<script type="text/javascript" language="JavaScript">
$(document).ready( function() {
	$("#PaymentTransfer").dialog({
		width: 915,
		modal: true,
		autoOpen: false,
		resizable: false,		
		title: 'Payment Transfer',
		close: function( event, ui ) {
			$("#Return").click();
		}
	});
	});

function actionSelect() {	
	var action = document.getElementById("ARTrans.ReasonCd").value;
	if( action == "SendToOtherAccount"){	
		$("#PaymentTransfer").dialog('open');
		cmmXForm("ARPaymentTransferStart","$Account.getSystemId()", "", "$CMMParams.getIdRef()", "PageDialogInd=Yes&PageDialogId=PaymentTransfer", false, "IFramePaymentTransfer");
	}
}

function loadPaymentTransferFrame(element) {
	if ($("#PaymentTransfer").closest('.ui-dialog').is(':visible')) { 
		element.height(element.contents().height());
		var myPos = { my: "center", at: "center", of: window };
		$("#PaymentTransfer").dialog('option','position', myPos);		
	}	
}

</script>

$renderer.tileStart("Normal", "ReverseInformation", "None", "None")	
<div id="PaymentTransfer" style="display:none;">
	<iframe name="IFramePaymentTransfer" id="IFramePaymentTransfer" frameborder="0" scrolling="no" align="middle" width="890" onload="loadPaymentTransferFrame($(this))"></iframe>
</div>

<!-- #set( $trans = $Account.getBeanById($CMMParams.getIdRef()) ) -->

<!-- #set( $showNSFReversalInd = true) -->
<!-- #set( $unreverseTransactionForRefundInd = false) -->

<!-- #if( $trans.gets("TypeCd").equals("AutomatedRefund") || $trans.gets("TypeCd").equals("ManualRefund") )-->
	<!-- #set( $showNSFReversalInd = false) -->
<!-- #elseif( $trans.gets("TypeCd").equals("Receipt") && $trans.gets("ARReceiptTypeCd").equals("Cash") ) -->
	<!-- #set( $showNSFReversalInd = false) -->
<!-- #elseif( $trans.gets("TypeCd").equals("ManualReversal") && ($trans.gets("ReasonCd").equals("Stop") || $trans.gets("ReasonCd").equals("Void") || $trans.gets("ReasonCd").equals("UnStop") || $trans.gets("ReasonCd").equals("UnVoid")) )-->
     <!-- #set( $id = $trans.getId()) -->
	 <!-- #if( $AccountRenderer.isUnreverseTransactionForRefund($Account, $Account.getBeanById($id)) )-->
		   <!-- #set( $showNSFReversalInd = false) -->
		   <!-- #set( $unreverseTransactionForRefundInd = true) -->		   
	 <!-- #end -->
<!-- #end -->
		
<!-- #if( $showNSFReversalInd) -->
	<!-- #if( $trans.gets("ARReceiptTypeCd").equals("Credit Card") ) -->
	
		<table width='100%' class='format'>
			<tr>
				<th class='sectionLabel'>Credit Card Reversal</th>
			</tr>
		    <tr>
		    	<th>&nbsp;</th>
		    </tr>
			<tr>
				<td width='100%'>$FormFieldRenderer.renderButton("CCReverse","Go to Credit Card Reversal Page","Button","cmmXForm('ARNSFStopPayment','$systemId','','$idRef','')")</td>
			</tr>
		</table>
	
	<!-- #else -->	
		
		<table width='100%' class='format'>
			<tr>
				<th class='sectionLabel'>NSF/Stop Reversal</th>
			</tr>
			<tr>
		    	<th>&nbsp;</th>
		    </tr>
			<tr>				
				<!-- #if( $trans.gets("ARReceiptTypeCd").equals("Transfer") && $StringRenderer.equal($trans.gets("UseReceiptAmt"), "No") ) -->
					<td width='100%'>$FormFieldRenderer.renderButton("NSFStop","Go to NSF/Stop Reversal Page","Button","cmmXForm('ARNSFStopPaymentCreditAdjust','$systemId','','$idRef','')")</td>
				<!-- #else -->
					<td width='100%'>$FormFieldRenderer.renderButton("NSFStop","Go to NSF/Stop Reversal Page","Button","cmmXForm('ARNSFStopPayment','$systemId','','$idRef','')")</td>
				<!-- #end -->
			</tr>
		</table>
	
	<!-- #end -->	
<!-- #end -->

    <input style='display:none' name='ARTrans.ARPolicyIdRef' value='$!ARPolicy.getId()' />    
    <!-- #if( $trans.gets("TypeCd").equals("ManualReversal") && ($trans.gets("ReasonCd").equals("Stop") && !$unreverseTransactionForRefundInd) )-->
    
    <!-- #else -->
    	<!-- #if( $showNSFReversalInd) -->
    		<div class='sectionSeparator'></div>
    	<!-- #end -->
	    <table width='100%' class='format'>
	    	<!-- #if( $trans.gets("TypeCd").equals("ManualReversal") && ($trans.gets("ReasonCd").equals("Stop") || $trans.gets("ReasonCd").equals("Void")) )-->
	    	
	    	<!-- #else -->
		        <tr>
		        	<th class='sectionLabel' colspan='3'>All Other Reversal Types</th>
		        </tr>
		        <tr>
		        	<th>&nbsp;</th>
		        </tr>
	        <!-- #end -->
	        <tr>	        		
	        	<th width='10%' class='label'>$FormFieldRenderer.renderLabel("ARTrans.ReasonCd", "Reason for Reversal", "Label", $CMMResponse, "Required=True")</th>        	
	        	<!-- #if( $trans.gets("TypeCd").equals("Receipt") ||  ($trans.gets("TypeCd").equals("ManualReversal") && (($trans.gets("ReasonCd").equals("UnStop") && !$unreverseTransactionForRefundInd) || $trans.gets("ReasonCd").equals("ReverseNSF") || $trans.gets("ReasonCd").equals("UnreverseCreditCardTransaction"))) ) -->
	           	    <td width='10%'>$FormFieldRenderer.renderSelect("ARTrans.ReasonCd", $reasonCd, "AR::account::reverse::account", "SelectList","Required=True|Prompt=Select...|OnChange=actionSelect()")</td>
	            <!-- #elseif( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("Stop") )  -->	
	            	$FormFieldRenderer.render("ARTrans.ReasonCd", "UnStop", "Hidden")
	            	<td width='10%'>$FormFieldRenderer.render("ReasonLabel","UnStop","Label","Disabled=True")</th>
	            <!-- #elseif( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("Void") ) -->	
	            	$FormFieldRenderer.render("ARTrans.ReasonCd", "UnVoid", "Hidden")
	            	<td width='10%'>$FormFieldRenderer.render("ReasonLabel","UnVoid","Label","Disabled=True")</th>
	            <!-- #else -->
	            	<td width='10%'>$SPIAR.selectBean($ARTrans, "ReasonCd", "AR::account::reverse::refund")</td>
	            <!-- #end -->
	        </tr>
	        <tr>
	            <th width='10%' class='label'>$FormFieldRenderer.renderLabel("ARTrans.ReasonDesc", "Reason Description", "Label", $CMMResponse, "Required=True")</th>
	            <td width='23%'>$FormFieldRenderer.renderSelect("ARTrans.ReasonDesc", $form.gets("ARTrans.ReasonDesc"), "AR::account::reason-desc::all", "SelectList","Required=True|Prompt=Select...")</td>
	        </tr>
	        <tr><td>&nbsp;</td></tr>
	        <tr>
	        	<!-- #if( $trans.gets("ReasonCd").equals("Void") || $trans.gets("ReasonCd").equals("Stop") )  -->	
	            	<td width='9%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reversals of void/stop transactions are NOT sent to the bank in any way.\n\nAre you sure you want to reverse transaction on the Account?') ) cmmXForm('ARReverseTransaction',$!Account.getSystemId(),'','$CMMParams.getIdRef()')")</td>
	            <!-- #elseif( $trans.gets("ReasonCd").equals("UnVoid") || $trans.gets("ReasonCd").equals("UnStop") )  -->	
	            	<td width='9%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reversals of unvoid/unstop transactions are NOT sent to the bank in any way.\n\nAre you sure you want to reverse transaction on the Account?') ) cmmXForm('ARReverseTransaction',$!Account.getSystemId(),'','$CMMParams.getIdRef()')")</td>
	            <!-- #else -->
	            	<td width='9%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reverse Transaction ?') ) cmmXForm('ARReverseTransaction',$!Account.getSystemId(),'','$CMMParams.getIdRef()')")</td>
	            <!-- #end -->
	
	 
	        </tr>
	    </table>
    <!-- #end -->
$renderer.tileEnd()