<!--
#set( $systemId = $CMMParams.gets("SystemId") )
#set( $trans = $Account.getBeanById($CMMParams.getIdRef()) ) 
#set( $idRef = $CMMParams.gets("IdRef") )
 
 -->
$renderer.tileStart("Normal", "ReverseInformation", "None", "None")	
    <table width='100%' class='format'>
        <tr>       	
        	<!-- #if( $epayment) -->
        		<th width='17%' class='label'>$FormFieldRenderer.renderLabel("ReasonDesc","Reason","Label",$CMMResponse, "Required=True")</th> 
        		
        		<!-- #if( $!trans.gets("ARReceiptTypeCd") == "ACH" || $!trans.gets("ARReceiptTypeCd") == "Web Payment") )  -->
        			 <!-- #if( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("OtherNoSuspense") ) -->	        	 	
		        	 	<th width='10%' class='label'>$FormFieldRenderer.render("ReasonLabel","Reverse","Label","Disabled=True")</th>
		        	 	$FormFieldRenderer.render("ReasonCd", "ReverseOtherNoSuspense", "Hidden")
		        	 	<!-- #set( $reasonCd = "ReverseOtherNoSuspense" )  -->		          	
	   				<!-- #elseif( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("NSFFee") ) -->
	   					<td width='10%'>$FormFieldRenderer.render("ReasonLabel","Reverse NSF","String","Disabled=True")</td>
	   					$FormFieldRenderer.render("ReasonCd", "ReverseNSF", "Hidden")
	   					<!-- #set( $reasonCd = "ReverseNSF" )  -->	
	           		<!-- #else -->
        				 <td width='10%'>$FormFieldRenderer.renderSelect("ReasonCd",$form.get("ReasonCd"),"AR::account::reverse::achreversal","SelectList","OnChange=cmmXForm('ARNSFStopPayment','$systemId','','$idRef','')|IgnoreChanges=True|Required=True")</td>
        				 <!-- #set( $reasonCd = $RICARRenderer.getFirstOptionValue("AR::account::reverse::achreversal") )  -->	
	            	<!-- #end -->
        		<!-- #else -->
	        		<!-- #if( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("ReverseCreditCardTransaction") ) -->        		
	        			<td width='30%'>$FormFieldRenderer.render("ReasonLabel","Unreverse Credit Card Transaction","Label","Disabled=True")</td>
	        			$FormFieldRenderer.render("ReasonCd", "UnreverseCreditCardTransaction", "Hidden")	
	        			<!-- #set( $reasonCd = "UnreverseCreditCardTransaction" )  -->	
	        		<!-- #else -->
	        			<td width='30%'>$FormFieldRenderer.render("ReasonLabel","Reverse Credit Card Transaction","Label","Disabled=True")</td> 
	        			$FormFieldRenderer.render("ReasonCd", "ReverseCreditCardTransaction", "Hidden")
	        			<!-- #set( $reasonCd = "ReverseCreditCardTransaction" )  -->			
	        		<!-- #end -->     
	        	<!-- #end -->   		

        		<th width='17%' class='label'>$FormFieldRenderer.renderLabel("ReasonDesc","Reason Description","Label",$CMMResponse, "Required=True")</th>
        		<!-- #if( ( $form.get("ReasonCd").equals("") && $reasonCd.equals("NSFFee") ) || $form.get("ReasonCd").equals("NSFFee") ) -->
	            	<td width='23%'>$FormFieldRenderer.renderSelect("ReasonDesc",$form.get("ReasonDesc"),"AR::account::reason-desc::nsf","SelectList","Prompt=Select...|IgnoreChanges=True|Required=True")</td>
	            <!-- #else -->
	            	<td width='23%'>$FormFieldRenderer.renderSelect("ReasonDesc",$form.get("ReasonDesc"),"AR::account::reason-desc::all","SelectList","Prompt=Select...|IgnoreChanges=True|Required=True")</td>
	            <!-- #end -->
	            
	            <!-- #if( $counter > 1 ) -->
	           	      <!-- #if( $!trans.gets("ARReceiptTypeCd").equals("ACH") || $!trans.gets("ARReceiptTypeCd").equals("Web Payment") )  -->
		            	  <td width='15%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reversals of ACH transactions are NOT sent to the bank in any way. You should only reverse ACH transactions if the automatic ACH exception processing failed for this transaction. You should only use this as a last resort.\n\nAre you sure you want to reverse transactions on these Accounts?') ) cmmXForm('ARNSFStopTransaction','$systemId','','$idRef','','true')")</td>
		  			  <!-- #else -->
	        			  <td width='15%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reverse transactions on these Accounts?') ) cmmXForm('ARNSFStopTransaction','$systemId','','$idRef','','true')")</td>
	        		  <!-- #end -->
	        	<!-- #else -->
	        		 <!-- #if( $!trans.gets("ARReceiptTypeCd") == "ACH" || $!trans.gets("ARReceiptTypeCd") == "Web Payment") )  -->
		        		<td width='15%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reversals of ACH transactions are NOT sent to the bank in any way. You should only reverse ACH transactions if the automatic ACH exception processing failed for this transaction. You should only use this as a last resort.\n\nAre you sure you want to reverse transaction on the Account?') ) cmmXForm('ARNSFStopTransaction','$systemId','','$idRef','','true')")</td>
		             <!-- #else -->		        	
	        			<td width='15%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reverse transaction?') ) cmmXForm('ARNSFStopTransaction','$systemId','','$idRef','','true')")</td>
	        		<!-- #end -->
	        	<!-- #end -->
	        	<td width='25%'>&nbsp;</td>        		
        	<!-- #else -->	  
        		<th width='17%' class='label'>$FormFieldRenderer.renderLabel("ReasonDesc","Reason","Label",$CMMResponse, "Required=True")</th>        	     	
	        	 <!-- #if( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("Stop") ) -->	        	 	
	        	 	<th width='10%' class='label'>$FormFieldRenderer.render("ReasonLabel","UnStop","Label","Disabled=True")</th>
	        	 	$FormFieldRenderer.render("ReasonCd", "UnStop", "Hidden")
	          	<!-- #elseif( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("Void") ) -->
            	   	<th width='10%' class='label'>$FormFieldRenderer.render("ReasonLabel","UnVoid","Label","Disabled=True")</th>
            	   	$FormFieldRenderer.render("ReasonCd", "UnVoid", "Hidden")
   				<!-- #elseif( $trans.gets("TypeCd").equals("ManualReversal") && $trans.gets("ReasonCd").equals("NSFFee") ) -->
   					<td width='10%'>$FormFieldRenderer.render("ReasonLabel","Reverse NSF","String","Disabled=True")</td>
   					$FormFieldRenderer.render("ReasonCd", "ReverseNSF", "Hidden")
           		<!-- #else -->
           			 <td width='10%'>$FormFieldRenderer.renderSelect("ReasonCd",$form.get("ReasonCd"),"AR::account::reverse::nsfstop","SelectList","OnChange=cmmXForm('ARNSFStopPayment','$systemId','','$idRef','')|IgnoreChanges=True|Required=True")</td>
	            <!-- #end -->
	            <th width='15%' class='label'>Reason Description</th>
	            <!-- #if( ( $form.get("ReasonCd").equals("") && $reasonCd.equals("NSFFee") ) || $form.get("ReasonCd").equals("NSFFee") ) -->
	            	<td width='23%'>$FormFieldRenderer.renderSelect("ReasonDesc",$form.get("ReasonDesc"),"AR::account::reason-desc::nsf","SelectList","Prompt=Select...|IgnoreChanges=True|Required=True")</td>
	            <!-- #else -->
	            	<td width='23%'>$FormFieldRenderer.renderSelect("ReasonDesc",$form.get("ReasonDesc"),"AR::account::reason-desc::all","SelectList","Prompt=Select...|IgnoreChanges=True|Required=True")</td>
	            <!-- #end -->   
	            <!-- #if( $counter > 1 ) -->	            			          
		        		<td width='15%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reverse transactions on these Accounts?') ) cmmXForm('ARNSFStopTransaction','$systemId','','$idRef','','true')")</td>
	        	<!-- #else -->
		       			<td width='15%'>$FormFieldRenderer.renderButton("Button","Submit","Button","if( confirm('Reverse transaction?') ) cmmXForm('ARNSFStopTransaction','$systemId','','$idRef','','true')")</td>
	        	<!-- #end -->
	        	<td width='20%'>&nbsp;</td>
	        <!-- #end -->
        </tr>
    </table>
$renderer.tileEnd()