<!-- Prepare Velocity Variables
	
	#set( $currentRow = $AdditionalParams.getBean("Param", "Name", "CurrentRow").gets("Value") ) 
	#set( $totalApplied = "" )
	
	#set( $actionParam = false )	
	#set( $actionParam = $AdditionalParams.getBean("Param","Name","Action") )
	#if( !$actionParam || !$actionParam.gets("Value").equals("New") )
		#set( $accountNumberArray = $AccountRenderer.getAccountNumbersFromXFDF($XFDF) )		
		#set( $rowCount = $SPI.getArrayLength($accountNumberArray) )
		#set( $checkAmt = $XFDF.getBean("Param","Name","CheckAmt").gets("Value") )
		#set( $unappliedAmt = $AccountRenderer.getUnappliedAmtFromXFDF($XFDF, $currentRow) )	
	#else
		#set( $rowCount = 0 )
	#end
-->
	<div class='listTable'>
		<table width='100%' class='format' id='AccountList'>
			<tr>
				<th class='column' width='17%'>Account</th> 
				<th class='column' width='23%'>Name</th>
				<th class='column' width='9%'>Effective</th>
				<th class='column' width='9%'>Pay Off</th>
				<th class='column' width='9%'>Due</th>
				<th class='column' width='10%'>Applied</th>
				<th class='column' width='21%'></th>	
			</tr>	
			
			<!-- #set( $rowCount = $rowCount + 1 ) -->
			<!-- #set( $count = 0 ) -->
			<!-- #foreach( $accountNumber in $accountNumberArray ) -->
												
				<!-- Clear all variables that will display in the table -->
				<!-- #set( $insuredName = "" ) -->	
				<!-- #set( $message = "" ) -->
				<!-- #set( $nameClass = "" ) -->			
				<!-- #set( $effectiveDt = "" ) -->
				<!-- #set( $payOff = "" ) -->
				<!-- #set( $due = "" ) -->
				<!-- #set( $receiptAmt = "" ) -->
				<!-- #set( $grossNetInd = "" ) -->
				<!-- #set( $commissionTakenAmt = "" ) -->
				<!-- #set( $autoExpand = false ) -->	
				<!-- #set( $chargeInstallmentFeeAsCollected = false) -->
				
				<!-- Current Row: Find an Account or Statement Account -->				
				<!-- #set( $count = $count + 1 ) -->
				<!-- #if( $StringRenderer.equal("$currentRow","$count") ) -->
					<!-- #set( $found = false ) -->							
				
					<!-- Find the Account by Account Number -->							
					<!-- #set( $receiptLookup = $AccountRenderer.getAccountByLookup($accountNumber) ) -->
					<!-- #set( $account = $receiptLookup.getAccount() ) -->
					<!-- #set( $message = $receiptLookup.getMessage() ) -->					
					<!-- #if( $account != "" && !$AccountRenderer.isFeeAccount($account) && $message.equals("")  ) -->
						<!-- #set( $accountNumber = $account.gets("AccountDisplayNumber") ) -->
						<!-- #set( $insuredName = $AccountRenderer.getInsuredName($account) ) -->
						<!-- #if( $AccountRenderer.isAuditAccount($account) ) -->
							<!-- #set( $insuredName = $StringRenderer.concat($insuredName,"-Audit") )
						<!-- #end -->
						<!-- #set( $effectiveDt = $AccountRenderer.getEffectiveDate($account) ) -->
						<!-- #set( $payOff = $account.gets("TotalAmt") ) -->
						<!-- #set( $due = $!account.gets("OpenAmt") ) -->
						<!-- #if( $StringRenderer.lessThanEqual($!account.gets("TotalAmt"), "0") ) -->
							<!-- #set( $due = $!account.gets("TotalAmt") ) -->
						<!-- #end -->
						<!-- #set( $receiptAmt = $AccountRenderer.defaultAppliedAmt($unappliedAmt, $due) ) -->
						<!-- #set( $grossNetInd = $account.getBean("ARPayPlan").gets("StatementTypeCd") ) -->
						<!-- #set( $sourceRef = $account.getSystemId() ) -->
						<!-- #set( $found = true ) -->
						<!-- #set( $paymentOptions = "") -->
						<!-- #set( $paymentOptions = $AccountRenderer.getPaymentOptionList($sourceRef) ) -->	
						<!-- #set( $chargeInstallmentFeeAsCollected = $AccountRenderer.chargeInstallmentFeeAsCollected($account) ) -->				
						<!-- #if( $chargeInstallmentFeeAsCollected) -->
							<!-- #set( $payOff = $AccountRenderer.getDueAmountAsCollected($account, $checkAmt, "Check", "TotalAmt")  ) -->
							<!-- #set( $due = $AccountRenderer.getDueAmountAsCollected($account, $checkAmt, "Check", "OpenAmt") ) -->
							<!-- #set( $receiptAmt = $AccountRenderer.defaultAppliedAmt($unappliedAmt, $due) ) -->
						<!-- #end -->					
					<!-- #end -->																
					
					<!-- Try and find a Statement Account by Statement Account Number -->
					<!-- #if( !$found ) -->
						<!-- #set( $statementAccount = false ) -->
						<!-- #set( $statementAccount = $AccountRenderer.getDTOStatementAccount($accountNumber, "") ) -->
						<!-- #if( $statementAccount ) -->
							<!-- #set( $found = true ) -->
							<!-- #set( $autoExpand = true ) -->
							<!-- #set( $statementAccountRef = $statementAccount.getSystemId() ) -->
							<!-- #set( $saAccounts = $AccountRenderer.getAccountsInStatementAccount($statementAccountRef) ) -->
							<!-- #set( $receiptItemArray = $AccountRenderer.getReceiptSpreadAmounts($saAccounts, $checkAmt, "Due", $unappliedAmt, "Check") ) -->
							<!-- #set( $index = 0 ) -->
							<!-- #set( $rowCount = $rowCount + $SPI.getArrayLength($saAccounts) ) -->
							<!-- #foreach( $saAccount in $saAccounts ) -->
								<!-- #set( $accountNumber = $saAccount.gets("AccountDisplayNumber") ) -->
								<!-- #if( $AccountRenderer.isFeeAccount($saAccount) ) -->
									<!-- #set( $insuredName = "Statement Account Fees" ) -->
									<!-- #set( $feeAccountInd = "Yes" ) -->
									<!-- #set( $chargeInstallmentFeeAsCollected = $AccountRenderer.chargeInstallmentFeeAsCollected($saAccount) ) -->
								<!-- #else -->
									<!-- #set( $insuredName = $AccountRenderer.getInsuredName($saAccount) ) -->
									<!-- #if( $AccountRenderer.isAuditAccount($saAccount) ) -->
										<!-- #set( $insuredName = $StringRenderer.concat($insuredName,"-Audit") )
									<!-- #end -->
									<!-- #set( $feeAccountInd = "No" ) -->
									<!-- #set( $chargeInstallmentFeeAsCollected = false) -->
								<!-- #end -->
								<!-- #set( $effectiveDt = $AccountRenderer.getEffectiveDate($saAccount) ) -->
								<!-- #set( $payOff = $saAccount.gets("TotalAmt") ) -->
								<!-- #set( $due = $saAccount.gets("OpenAmt") ) -->
								<!-- #set( $receiptAmt = $SPI.getObjectAtIndex($receiptItemArray, $index) ) -->
								<!-- #if( $AccountRenderer.isFeeAccount($saAccount) && $chargeInstallmentFeeAsCollected) -->
									<!-- #set( $payOff = $AccountRenderer.getFeeAccountDueAmt($saAccount, $checkAmt, "Check", "TotalAmt")  ) -->
									<!-- #set( $due = $AccountRenderer.getFeeAccountDueAmt($saAccount, $checkAmt, "Check", "OpenAmt") ) -->
								<!-- #end -->
								<!-- #set( $grossNetInd = $saAccount.getBean("ARPayPlan").gets("StatementTypeCd") ) -->
								
								<!-- #if( $grossNetInd.equals("Net") ) -->
						        	<!-- #set( $commissionStyle = "" ) -->
								<!-- #else -->
									<!-- #set( $commissionStyle = "visibility:hidden" ) -->
						        <!-- #end -->
						        <!-- #set( $paymentOptions = "") -->
						        <!-- #set( $paymentOptions = $AccountRenderer.getPaymentOptionList($saAccount.getSystemId()) ) -->
						        
								<tr>
									<td width='17%'>
										$FormFieldRenderer.render("FeeAccountInd_$count",$feeAccountInd,"Hidden") 
										$FormFieldRenderer.render("SourceRef_$count",$saAccount.getSystemId(),"Hidden")
										<span style='white-space: nowrap'>
										$FormFieldRenderer.render("AccountNumber_$count",$accountNumber,"String","IgnoreChanges=True|size='20'|OnChange=receiptFill('AccountNumber',$count,$count)" )
										<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
										</span>									
									</td>									
									<td width='23%' class='$nameClass'>$FormFieldRenderer.render("InsuredName_$count",$insuredName,"String","Disabled")</td>
									<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count",$effectiveDt,"Date","Disabled")</td>
									<td width='9%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("PayOff_$count",$payOff,"Currency","Size=10|Disabled")</a></td>
									<td width='12%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("Due_$count",$due,"Currency","Size=10|Disabled")</a></td>
									<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count",$receiptAmt,"Currency","IgnoreChanges=True|Size=10|OnChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
									<td width='21%'>
										$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
										$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
									</td>	
								</tr>
								<!-- #if( $StringRenderer.isCurrency($receiptAmt) ) -->
									<!-- #set( $totalApplied = $StringRenderer.addMoney($totalApplied, $receiptAmt) ) -->
								<!-- #end -->
								<!-- #set( $index = $index + 1 ) -->
								<!-- #set( $count = $count + 1 ) -->
							<!-- #end -->
						<!-- #end -->
						
						<!-- Split Bill -->
						<!-- #if( $message.equals("Billing Entity") && !$account.gets("BillingEntitySequenceNumber").equals("") )  -->
							<!-- #set( $beAccounts = $AccountRenderer.getOpenBalanceAccountsInSplitBill($account) ) -->
							<!-- #foreach( $beAccount in $beAccounts ) -->		
								<!-- #set( $found = true ) -->						
								<!-- #set( $autoExpand = true ) -->
								<!-- #set( $accountNumber = $beAccount.gets("AccountDisplayNumber") ) -->								
								<!-- #set( $insuredName = $beAccount.getBeanByAlias("BillingEntityName").gets("CommercialName") ) -->
								<!-- #if( $AccountRenderer.isAuditAccount($beAccount) ) -->
										<!-- #set( $insuredName = $StringRenderer.concat($insuredName,"-Audit") )
								<!-- #end -->
								<!-- #set( $effectiveDt = $AccountRenderer.getEffectiveDate($beAccount) ) -->
								<!-- #set( $payOff = $beAccount.gets("TotalAmt") ) -->
								<!-- #set( $due = $beAccount.gets("OpenAmt") ) -->
								<!-- #set( $receiptAmt = $SPI.getObjectAtIndex($receiptItemArray, $index) ) -->
								<!-- #set( $grossNetInd = $beAccount.getBean("ARPayPlan").gets("StatementTypeCd") ) -->
								
								<!-- #if( $grossNetInd.equals("Net") ) -->
						       		<!-- #set( $commissionStyle = "" ) -->
								<!-- #else -->
									<!-- #set( $commissionStyle = "visibility:hidden" ) -->
						        <!-- #end -->
						        <!-- #set( $paymentOptions = "") -->
						        <!-- #set( $paymentOptions = $AccountRenderer.getPaymentOptionList($beAccount.getSystemId()) ) -->		
						        <!-- #set( $chargeInstallmentFeeAsCollected = $AccountRenderer.chargeInstallmentFeeAsCollected($beAccount) ) -->		
						        <!-- #if( $chargeInstallmentFeeAsCollected) -->
									<!-- #set( $payOff = $AccountRenderer.getFeeAccountDueAmt($beAccount, $checkAmt, "Check", "TotalAmt")  ) -->
									<!-- #set( $due = $AccountRenderer.getFeeAccountDueAmt($beAccount, $checkAmt, "Check", "OpenAmt") ) -->
								<!-- #end -->		
						        
								<tr>
									<td width='17%'>
										$FormFieldRenderer.render("SourceRef_$count",$beAccount.getSystemId(),"Hidden")
										<span style='white-space: nowrap'>
										$FormFieldRenderer.render("AccountNumber_$count",$accountNumber,"String","IgnoreChanges=True|size='20'|OnChange=receiptFill('AccountNumber',$count,$count)" )
										<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
										</span>
									</td>
									<td width='23%' class='$nameClass'>$FormFieldRenderer.render("InsuredName_$count",$insuredName,"String","Disabled")</td>
									<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count",$effectiveDt,"Date","Disabled")</td>
									<td width='9%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("PayOff_$count",$payOff,"Currency","Size=10|Disabled")</a></td>
									<td width='12%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("Due_$count",$due,"Currency","Size=10|Disabled")</a></td>
									<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count",$receiptAmt,"Currency","IgnoreChanges=True|Size=10|OnChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
									<td width='21%'>
										$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
										$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
									</td>	
								</tr>
								<!-- #if( $StringRenderer.isCurrency($receiptAmt) ) -->
									<!-- #set( $totalApplied = $StringRenderer.addMoney($totalApplied, $receiptAmt) ) -->
								<!-- #end -->
								<!-- #set( $index = $index + 1 ) -->
								<!-- #set( $count = $count + 1 ) -->
							<!-- #end -->
						<!-- #end -->
						
						<!-- Account with audits -->
						<!-- Try and find account and its associated audit account -->
						<!-- #if( !$found ) -->
							<!-- #set( $auditAccounts = $AccountRenderer.getAccountsAndAuditAccountsWithBalance($account) ) -->
							<!-- #foreach( $auditAccount in $auditAccounts ) -->								
								<!-- #set( $autoExpand = true ) -->
								<!-- #set( $accountNumber = $auditAccount.gets("AccountDisplayNumber") ) -->
								<!-- #if( $AccountRenderer.isAuditAccount($auditAccount) ) -->
									<!-- #set( $insuredName = $StringRenderer.concat($AccountRenderer.getInsuredName($auditAccount), "-Audit") ) -->	
								<!-- #else -->
									<!-- #set( $insuredName = $AccountRenderer.getInsuredName($auditAccount) ) -->	
								<!-- #end -->														
								<!-- #set( $effectiveDt = $AccountRenderer.getEffectiveDate($auditAccount) ) -->
								<!-- #set( $payOff = $auditAccount.gets("TotalAmt") ) -->
								<!-- #set( $due = $auditAccount.gets("OpenAmt") ) -->
								<!-- #set( $receiptAmt = $SPI.getObjectAtIndex($receiptItemArray, $index) ) -->
								<!-- #set( $grossNetInd = $auditAccount.getBean("ARPayPlan").gets("StatementTypeCd") ) -->
								
								<!-- #if( $grossNetInd.equals("Net") ) -->
						       		<!-- #set( $commissionStyle = "" ) -->
								<!-- #else -->
									<!-- #set( $commissionStyle = "visibility:hidden" ) -->
						        <!-- #end -->						       	
						        
								<tr>
									<td width='17%'>
										$FormFieldRenderer.render("SourceRef_$count",$auditAccount.getSystemId(),"Hidden")
										<span style='white-space: nowrap'>
										$FormFieldRenderer.render("AccountNumber_$count",$accountNumber,"String","IgnoreChanges=True|size='20'|OnChange=receiptFill('AccountNumber',$count,$count)" )
										<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
										</span>
									</td>
									<td width='23%' class='$nameClass'>$FormFieldRenderer.render("InsuredName_$count",$insuredName,"String","Disabled")</td>
									<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count",$effectiveDt,"Date","Disabled")</td>
									<td width='9%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("PayOff_$count",$payOff,"Currency","Size=10|Disabled")</a></td>
									<td width='12%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("Due_$count",$due,"Currency","Size=10|Disabled")</a></td>
									<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count",$receiptAmt,"Currency","IgnoreChanges=True|Size=10|OnChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
									<td width='21%'>
										$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
										$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
									</td>	
								</tr>
								<!-- #if( $StringRenderer.isCurrency($receiptAmt) ) -->
									<!-- #set( $totalApplied = $StringRenderer.addMoney($totalApplied, $receiptAmt) ) -->
								<!-- #end -->
								<!-- #set( $index = $index + 1 ) -->
								<!-- #set( $count = $count + 1 ) -->
							<!-- #end -->
							
						<!-- #end -->
						
					<!-- #end -->
					
					
				
					<!-- No Account Found -->
					<!-- #if( !$found ) -->			
						<!-- #set( $insuredName = "Account Not Found" ) --> 
						<!-- #set( $nameClass = "error" ) -->
						<!-- #set( $sourceRef = "" ) -->
					<!-- #end -->
				
							
				<!-- Not Current Row: Get values from XFDF params -->
				<!-- #else -->
					<!-- #set( $insuredName = $XFDF.getBean("Param","Name","InsuredName_$count").gets("Value") ) -->
					<!-- #set( $message = $XFDF.getBean("Param","Name","Message_$count").gets("Value") ) -->	
					<!-- #set( $nameClass = $XFDF.getBean("Param","Name","NameClass_$count").gets("Value") ) -->
					<!-- #set( $effectiveDt = $XFDF.getBean("Param","Name","EffectiveDt_$count").gets("Value") ) -->
					<!-- #set( $payOff = $XFDF.getBean("Param","Name","PayOff_$count").gets("Value") ) -->
					<!-- #set( $due = $XFDF.getBean("Param","Name","Due_$count").gets("Value") ) -->
					<!-- #set( $receiptAmt = $XFDF.getBean("Param","Name","ReceiptAmt_$count").gets("Value") ) -->
					<!-- #set( $grossNetInd = $XFDF.getBean("Param","Name","GrossNetInd_$count").gets("Value") ) -->
					<!-- #set( $commissionTakenAmt = $XFDF.getBean("Param","Name","CommissionTakenAmt_$count").gets("Value") ) -->
					<!-- #set( $sourceRef = $XFDF.getBean("Param","Name","SourceRef_$count").gets("Value") ) -->
					<!-- #set( $paymentOptions = "") -->
					<!-- #set( $paymentOptions = $AccountRenderer.getPaymentOptionList($sourceRef) ) -->
				<!-- #end -->
				
				<!-- #if( $grossNetInd.equals("Net") ) -->
		        	<!-- #set( $commissionStyle = "" ) -->
				<!-- #else -->
					<!-- #set( $commissionStyle = "visibility:hidden" ) -->
		        <!-- #end -->		      
				<!-- #if( !$autoExpand ) -->		
					<tr>
						<td width='17%'>	
							$FormFieldRenderer.render("SourceRef_$count",$sourceRef,"Hidden")						
							$FormFieldRenderer.render("NameClass_$count",$nameClass,"Hidden")
							$FormFieldRenderer.render("Message_$count",$message,"Hidden")
							<span style='white-space: nowrap'>
							$FormFieldRenderer.render("AccountNumber_$count",$accountNumber,"String","IgnoreChanges=True|size='20'|OnChange=receiptFill('AccountNumber',$count,$count)" )
							<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
							</span>
						</td>
						<td width='23%' class='$nameClass'>
							$FormFieldRenderer.render("InsuredName_$count",$insuredName,"String","Disabled")
							<!-- #if( $message != "" ) -->
								<br/><div class='error'>$message</div>
							<!-- #end -->
						</td>
						<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count",$effectiveDt,"Date","Disabled")</td>
						<td width='9%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("PayOff_$count",$payOff,"Currency","Size=10|Disabled")</a></td>
						<td width='12%' class='numeric'><a style='cursor: help' title='$paymentOptions'>$FormFieldRenderer.render("Due_$count",$due,"Currency","Size=10|Disabled")</a></td>
						<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count",$receiptAmt,"Currency","IgnoreChanges=True|Size=10|OnChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
						<td width='21%'>
							$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
							$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
						</td>	
					</tr>
					<!-- #if( $StringRenderer.isCurrency($receiptAmt) ) -->
						<!-- #set( $totalApplied = $StringRenderer.addMoney($totalApplied, $receiptAmt) ) -->
					<!-- #end -->
				<!-- #end -->
			<!-- #end -->
			
			<!-- Create a blank row -->		
			<!-- #if( !$autoExpand ) -->	
				<!-- #set( $count = $count + 1 ) -->
			<!-- #end -->
			<tr>
				<td width='17%'> 
					<span style='white-space: nowrap'>
					$FormFieldRenderer.render("AccountNumber_$count","","String","IgnoreChanges=True|size='20'|OnChange=javascript:receiptFill('AccountNumber',$count,$count)" )
					<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
					</span>
				</td>
				<td width='23%' class='$nameClass'>$FormFieldRenderer.render("InsuredName_$count","","String","Disabled")</td>
				<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count","","Date","Disabled")</td>
				<td width='9%' class='numeric'>$FormFieldRenderer.render("PayOff_$count","","Currency","Size=10|Disabled")</td>
				<td width='12%' class='numeric'>$FormFieldRenderer.render("Due_$count","","Currency","Size=10|Disabled")</td>
				<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count","","Currency","IgnoreChanges=True|Size=10|onChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
				<td width='21%'>
					$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
					$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
				</td>	
			</tr>					
	    </table>
	</div>
	
	<!-- #set( $total = $StringRenderer.formatValue($totalApplied, 2, "0.00") ) -->
	<!-- #if( $StringRenderer.greaterThan($total,"0.00") && $StringRenderer.lessThan($total,$checkAmt) ) -->
		<!-- #set( $spreadButtonStyle = "" ) -->
	<!-- #else -->
		<!-- #set( $spreadButtonStyle = "visibility:hidden" ) -->
    <!-- #end -->
	<table width='100%' class='none'>	
		<tr>	
			<td width='40%'>
				$FormFieldRenderer.renderButton("ResetValues","Clear All Rows","Button","javascript:receiptClear()","Class=button-plain")	
			</td>
			<td width='18%' style='$spreadButtonStyle'>$FormFieldRenderer.renderButton("SpreadRemainder","Spread Remainder" ,"Button","javascript:spreadRemainder()","Class=button-plain") </td>
			<th width='12%'>Total:</th>
			<td width='7%' class='numeric' id='ReceiptTotal'>$totalApplied</td>			
			<td width='23%'>$FormFieldRenderer.render("RowCount", $count.toString(), "Hidden")</td>
		</tr>
		<tr>
			<td colspan='9'>&nbsp;</td>
		</tr>
		<tr>
		    <td colspan='9'>
			<!-- #if( $addProcessedStatus.equals("Warning") ) -->
			    $FormFieldRenderer.renderButton("ButtonAddIgnore","ButtonAddIgnore","Button","javascript:receiptAddIgnoreWarnings('$receipt.getId()')")
			<!-- #else -->
			    $FormFieldRenderer.renderButton("ButtonAdd","ButtonAdd","Button","javascript:receiptAdd('$receipt.getId()')")
			<!-- #end -->	
		    </td>
		</tr>	
	</table>
	
	<script language="javascript" type="text/javascript">

    // Add "greenbar" to tables
    $(document).ready( function() {
		$("#AccountList").children("tbody").children("tr:not([id^='row'])").each(
			function(i) {
				if( i % 2 ) {
					$(this).addClass("greenbar");
					$(this).nextUntil("tr:not([id^='row'])").addClass("greenbar");
				}
			}
		);
    } );
    
 	// Update RqUID field value to avoid duplicate request errors on Post button
    $("#RqUID").val("$ResponseParams.gets('RqUID')");
    
    // Set Focus
    var focusId = "#" + document.getElementById("NextFieldId").value;
    $(focusId).focus().select();
	</script>