<!-- Prepare Velocity Variables
	$renderer.setTile("AR", "batch-receipt-load-tile")
	#set( $accountNum = $AdditionalParams.getBean("Param","Name","AccountNumber").gets("Value") )
	#if( $accountNum )
		#set( $account = $AccountRenderer.getAccountByAccountNumber($accountNum) )
		#set( $insured = $AccountRenderer.getInsuredName($account) )
		#set( $effDt = $AccountRenderer.getEffectiveDate($account) )
	#end

	## Set the current due at the account level.  Since OpenAmt is basically BilledAmt - PaidAmt, it can look weird if the account was 
	## paid off before all the installments were billed.  So, this logic will set it to TotalAmt if TotalAmt is .LE. 0. 
	## This will still show a negative Current Due, if the over all account is in credit balance.
	#set( $currentDueAccountLevelAmt = $!account.gets("OpenAmt") )
	#if( $StringRenderer.lessThanEqual($!Account.gets("TotalAmt"), "0") )
		#set( $currentDueAccountLevelAmt = $!account.gets("TotalAmt") )
	#end
	#set ( $securityId = $SPI.getSecurityId($ResponseParams))
	#set( $allowDeleteInd = $BatchReceipt.gets("AllowDeleteInd") )
	#set( $allowAddInd = $BatchReceipt.gets("AllowAddInd") ) 
	#set( $longRunnningProcessedStatus = $XFDF.getBean("Param", "Name", "LongRunnningProcessedStatus").gets("Value") )
	#set( $arService = "AccountView" )
	#set( $currencySymbol = $StringRenderer.getCurrencySymbolForLocale() )
-->
<script type="text/javascript">

	function totalApplied() {
		var total = 0;
		var amt1 = 0;
		var currencySign = "${currencySymbol}";
		var symbol = "\\"+currencySign+"|\\,";	
		var symbolRegex = new RegExp(symbol, "g");
		if( parseFloat(document.getElementById("ReceiptAmt_1").value.replace(symbolRegex,"")) > 0 ) {
			amt1 = parseFloat(document.getElementById("ReceiptAmt_1").value.replace(symbolRegex,""));
		}
		var amt2 = 0;
		if( parseFloat(document.getElementById("ReceiptAmt_2").value.replace(symbolRegex,"")) > 0 ) {
			amt2 = parseFloat(document.getElementById("ReceiptAmt_2").value.replace(symbolRegex,""));
		}	
		var amt3 = 0;
		if( parseFloat(document.getElementById("ReceiptAmt_3").value.replace(symbolRegex,"")) > 0 ) {
			amt3 = parseFloat(document.getElementById("ReceiptAmt_3").value.replace(symbolRegex,""));
		}	
		total = Math.round(amt1 + amt2 + amt3);
		
		document.getElementById("ReceiptTotal").value = formatCurrencyValue(total, true, currencySign);
	}
		
	function postBatch(element) {		
		if( confirm("Post Batch") ) {
			if( document.getElementById("EmptyList") ) {
		   		alert ("Please add at least one receipt");
		    }else{
				cmmXForm("BatchReceiptPostRequest",$BatchReceipt.getSystemId(),"$BatchReceipt.getId()", "$BatchReceipt.getId()", "LongRunningRequestName=BatchReceiptPostRq&LongRunningResponseName=BatchReceiptSync&LongRunningPollTime=2000");
			} 
		}
	}
	
	function postBatchIgnoreWarnings(element) {		
		if( confirm("Post Batch Ignoring Warning Issues") ) {
			cmmXForm("BatchReceiptPostRequest",$BatchReceipt.getSystemId(),"$BatchReceipt.getId()", "$BatchReceipt.getId()", "IgnoreWarningsInd=Yes&LongRunningRequestName=BatchReceiptPostRq&LongRunningResponseName=BatchReceiptSync&LongRunningPollTime=2000");
		}
	}		
	
</script>
$FormFieldRenderer.render("TodayDt", $DateRenderer.getDate($CMMResponse.getBean("ResponseParams")), "Hidden")
$FormFieldRenderer.render("BatchReceiptRef", $BatchReceipt.getSystemId(), "Hidden")
$renderer.tileStart("Normal","Post Receipts","None","None")

	<table width='100%' class='format'>	
		<tr>
			<!-- #if( !$launchLongPollingRequestInd.equals("Yes") )-->
				<!-- #if( $longRunnningProcessedStatus.equals("Warning") ) -->
			    	<td>$FormFieldRenderer.renderButton("ButtonPostIgnore","ButtonPostIgnore","Button","javascript:postBatchIgnoreWarnings(this)")</td>
			    <!-- #else -->
				    <td>$FormFieldRenderer.renderButton("ButtonPost","ButtonPost","Button","javascript:postBatch(this)")</td>
				<!-- #end -->
			<!-- #end -->
		</tr>
	</table>	
	<div class='listTable'>
		<table width='100%' class='format'>	
			<tr>
				<th class='column' width='20%'>Account Number</th>
				<th class='column' width='10%'>Type</th>
				<th class='column' width='10%'>Date</th>
				<th class='column' width='10%'>Number</th>
				<th class='columnNumeric' width='10%'>Check Amount</th>
				<th class='columnNumeric' width='13%'>Applied</th>
				<th class='column' width='25%'>Comment</th>
				<th class='column' width='2%'>&nbsp;</th>				
			</tr>
			<!-- #set( $totalAmount = "0" )-->
			<!-- #set( $counter = 0 ) -->
			<!-- #foreach($receipt in $BatchReceipt.findBeansByFieldValue("ARReceipt","StatusCd","Validated") ) -->
				<tr>	
					<!-- #set($accountRef = $receipt.gets("SourceRef") ) -->
					<td><a id='Post_AccountNumber_$counter' class='actionLink' href='javascript:void(0)' onclick="javascript:window.open('innovation?rq=$arService&AccountRef=$accountRef&ModuleOrigin=Billing&SecurityId=$securityId', 'ViewAccount','height=920,width=1152,left=200,scrollbars=yes,resizable=yes');">$!receipt.gets("AccountNumber")</a></td>
					<td><a id='Post_TypeCd_$counter' style='cursor: help' title='Type of receipt collected'>$!receipt.gets("TypeCd")</a></td>
					<td><a id='Post_ReceiptDt_$counter' style='cursor: help' title='Receipt date'>$!receipt.gets("ReceiptDt")</a></td>
					<td><a id='Post_Reference_$counter' style='cursor: help' title='Reference number for this receipt'>$!receipt.gets("Reference")</a></td>
					<td class='numeric'><a id='Post_CheckAmt_$counter' style='cursor: help' title='Check amount'>$SPIAR.labelDecimal($receipt,"CheckAmt")</a></td>
					<td class='numeric'><a id='Post_AppliedAmt_$counter' style='cursor: help' title='Applied amount'>$SPIAR.labelDecimal($receipt,"ReceiptAmt")</a></td>	
					<td><a id='Post_Description_$counter' style='cursor: help' title='This post encountered errors'><font color="#FF0000">$!receipt.gets("Desc")</font></a></td>
					<!-- #if( $StringRenderer.isTrue($allowDeleteInd) ) -->	
						<td><a class='actionLink' href='javascript:if( confirm("Delete this Receipt") ) cmmXForm("BatchReceiptDelete",$BatchReceipt.getSystemId(),"$BatchReceipt.getId()", "$!receipt.getId()")'>Delete</a></td>
					<!-- #else -->
					    <td>&nbsp;</td>
					<!-- #end -->		
					<td>$FormFieldRenderer.render("Post_AccountRef_$counter",$accountRef,"Hidden")</td>		
				</tr>
				<!-- #set( $counter = $counter + 1 ) -->	
				<!-- #if( $StringRenderer.isCurrency($!receipt.gets("ReceiptAmt")) ) -->
					<!-- #set( $totalAmount = $StringRenderer.addMoney($totalAmount, $!receipt.gets("ReceiptAmt"))) -->
				<!-- #end -->	
			<!-- #end -->				     
			
			<!-- #if( $counter == 0 ) -->
			<tr>
		    	<td colspan='10' id='EmptyList'><b>Empty List</b></td>
	       	</tr>    
	       	<!-- #else -->
			<tr>	
				<td/>
				<td/>
				<td/>		
				<td/>
				<td/>		
				<td>
					<table class='total' cellpadding='0' cellspacing='0'>
						<tr>
							<th>Total:</th>
							<td class='numeric' id='BatchReceiptTotal' class='numeric'>$totalAmount</td>
						</tr>
					</table>	
				</td>
				<td/>	
				<td/>				
			</tr>   
	        <!-- #end -->
	    </table>
	</div>
$renderer.tileEnd()

<script>
	addLoadEvent(toggleCommissionTaken);
</script>