<!-- Prepare Velocity Variables
	$renderer.setTile("AR", "batch-receipt-load-tile")
	
	#set( $todayDt = $DateRenderer.getDate($CMMResponse.getBean("ResponseParams")) )

	#set( $securityId = $SPI.getSecurityId($ResponseParams))
	#set( $allowDeleteInd = $BatchReceipt.gets("AllowDeleteInd") )
	#set( $allowAddInd = $BatchReceipt.gets("AllowAddInd") ) 
	
	#set( $actionParam = "" )	
	#set( $actionParam = $AdditionalParams.getBean("Param","Name","Action") )
	#if( $actionParam == "" || !$actionParam.gets("Value").equals("New") )
		#set( $accountNumbers = $AccountRenderer.getAccountNumbersFromXFDF($XFDF) )
		#set( $rowCount = $SPI.getArrayLength($accountNumbers) )
	#else
		#set( $rowCount = 0 )
	#end
	
	#set( $unappliedAmt = $AccountRenderer.getUnappliedAmtFromXFDF($XFDF) )
		
	#set( $totalApplied = "" )
	#set( $addProcessedStatus = $AdditionalParams.getBean("Param", "Name", "AddProcessedStatus").gets("Value") )
	
	#set( $action = $AdditionalParams.getBean("Param","Name","Action").gets("Value") )
	#if( $action.equals("New") || $action.equals("Add") )
		#set( $typeCd = "" )
		#set( $payBy = "" )
		#set( $reference = "" )
		#set( $receiptDt = $todayDt )
		#set( $checkAmt = "" )
		#set( $payByOtherDescription = "" )
	#else
		#set( $typeCd = $form.gets("TypeCd") )
		#set( $payBy = $form.gets("PayBy") )
		#set( $reference = $form.gets("Reference") )
		#set( $receiptDt = $form.gets("ReceiptDt") )
		#set( $checkAmt = $form.gets("CheckAmt") )
		#set( $payByOtherDescription = $form.gets("PayByOtherDescription") )
	#end
	
	
-->
<script type="text/javascript">


		
	function sumApplied(currentFieldId, count, rowCount) { 
		
		setNextFieldId(currentFieldId, count);	
		var nextFieldId = document.getElementById("NextFieldId").value;
		if( document.getElementById(nextFieldId) ) {
			var focusElement = document.getElementById(nextFieldId);
			setFocus(focusElement);
		}
		var total = 0;
		for( i=1; i<=rowCount; i++){
			var id = "ReceiptAmt_" + i;
			if( document.getElementById(id) ) {
								
				var appliedAmt = Number(document.getElementById("ReceiptAmt_" + i).value.replace(/\$|\,/g,''));				
				total = (total + appliedAmt);
			}
		}

		document.getElementById("ReceiptTotal").innerHTML = formatCurrencyValue(total, true);	
		
		var checkAmt = Number(document.getElementById("CheckAmt").value.replace(/\$|\,/g,''));
		
		if( total > 0 && total < checkAmt ) {
			document.getElementById("SpreadRemainder").style.visibility="visible";
		}
		else {
			document.getElementById("SpreadRemainder").style.visibility="hidden";
		}	
	}
		
	function receiptFill(currentFieldId, count, currentRow) {
		setNextFieldId(currentFieldId, count);
		ajaxCMMXForm('batch-receipt-ajax','BatchReceiptFill','','','','CurrentRow=' + currentRow + '&AddProcessedStatus=None','all');
	}
	
	function receiptClear() {
		if( confirm("Clear all rows?") ) {
			ajaxCMMXForm('batch-receipt-ajax','BatchReceiptFill', '','','','Action=New&AddProcessedStatus=None');
		}
	}
	
	function spreadRemainder() {
		
		ajaxCMMXForm('batch-receipt-ajax','BatchReceiptFill', '','','','Action=Spread&AddProcessedStatus=None','all');
		
		// Recalculate total applied
		sumApplied($rowCount);
	}
	
	function receiptAdd(id) {
		
		cmmXForm("RICBatchReceiptAdd",$BatchReceipt.getSystemId(),"", "","Action=Clear&IgnoreWarningsAddInd=No");			
	}
		
	function receiptAddIgnoreWarnings(id) {
		
		if( confirm("Add Receipts Ignoring Warning Issues") ) {
			cmmXForm("RICBatchReceiptAdd",$BatchReceipt.getSystemId(),"", "","IgnoreWarningsAddInd=Yes");		
		}
	}
		
	function toggleCommissionTaken(count){		
		
		if( count > 0 ) {	
			
			if( document.getElementById("GrossNetInd_" + count + "_2").checked) {	
				document.getElementById("CommissionTakenAmt_" + count).style.visibility="visible";
			} else {
				document.getElementById("CommissionTakenAmt_" + count).value = "";
				document.getElementById("CommissionTakenAmt_" + count).style.visibility="hidden";
			}
		}		
	}

	function loadAccount() {
		var count = document.getElementById("Count").value;
		receiptFill("AccountNumber", count, count);
	}
	function setNextFieldId(currentFieldId, count) {
		if( currentFieldId == "AccountNumber" ) {
			var nextFieldId = "ReceiptAmt_" + count;
		} else {
			count = count + 1;
			var nextFieldId = "AccountNumber_" + count;
		}
		document.getElementById("NextFieldId").value = nextFieldId;
	}
</script>

$renderer.tileStart("Normal","Add Receipts","None","None")

	<table width='100%' class='format'>							
		<tr>
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TypeCd", "Type", "Label", $CMMResponse, "Required=True")
			$FormFieldRenderer.render("TodayDt", $todayDt, "Hidden")
			$FormFieldRenderer.render("BatchReceiptRef", $BatchReceipt.getSystemId(), "Hidden")
			$FormFieldRenderer.render("Count", $AdditionalParams.getBean("Param","Name","Count").gets("Value"), "Hidden")
			$FormFieldRenderer.render("NextFieldId", "", "Hidden")
			</th> 
   			<td width='20%'>$FormFieldRenderer.renderSelect("TypeCd",$typeCd,"AR::account::receipt::directtype","SelectList","IgnoreChanges=True")</td>
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("PayBy", "Pay By", "Label", $CMMResponse, "Required=True")</th>
			<td width='15%'>$FormFieldRenderer.renderSelect("PayBy",$payBy,"AR::account::receipt::payby","SelectList","IgnoreChanges=True")</td>
           	<th width='10%' class='label' id="PayByOtherDescriptionLabel">$FormFieldRenderer.renderLabel("PayByOtherDescription", "Pay By Description", "Label", $CMMResponse, "Required=False")</th> 
			<td width='30%' id="PayByOtherDescriptionValue">$FormFieldRenderer.render("PayByOtherDescription",$payByOtherDescription,"String","Required=False|" )</td>
		</tr>
		<tr>	
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Reference", "Check #", "Label", $CMMResponse, "Required=True")</th> 
			<td width='20%'>$FormFieldRenderer.render("Reference",$reference,"String","IgnoreChanges=True|Required=true|size='20'" )</td>
	  	 	<th width='10%' class='label'>$FormFieldRenderer.renderLabel("ReceiptDt", "Date", "Label", $CMMResponse, "Required=True")</th> 
			<td width='15%'>$FormFieldRenderer.render("ReceiptDt",$receiptDt,"Date","IgnoreChanges=True|onBlur=formatDate(this)|Required=True" )</td>
           	<th width='10%' class='label'>$FormFieldRenderer.renderLabel("CheckAmt", "Check Amount", "Label", $CMMResponse, "Required=True")</th> 
			<td width='30%'>$FormFieldRenderer.render("CheckAmt",$checkAmt,"Currency","IgnoreChanges=True|Required=True|Size=15" )</td>
  	 	</tr>
	</table>		
	
<script language="JavaScript"> 
	
	$(document).ready( function(){
		updatePayByOtherDescVisibility();
		toggleRequiredCheckField();
	});
	
	function updatePayByOtherDescVisibility() {
		var val = $("#PayBy").val();
		if( val === "Other") {
			$('#PayByOtherDescriptionLabel').show();
			$('#PayByOtherDescriptionValue').show();
			setRequired("PayByOtherDescription",true);
		} else {
			$('#PayByOtherDescriptionLabel').hide();
			$('#PayByOtherDescriptionValue').hide();
			setRequired("PayByOtherDescription",false);
		}
	}
	
	function toggleRequiredCheckField(){
		if( $('#TypeCd').val() === 'Check' || $('#TypeCd').val() === 'BankCheck' ){
			setRequired('Reference', true);
		} else {
			setRequired('Reference', false);
		}
	}
	
	$("#PayBy").on("change", updatePayByOtherDescVisibility);
	$('#TypeCd').on('change', toggleRequiredCheckField);
</script>
	
	<br/>
	
	<div id='batch-receipt-ajax'>
		<div class='listTable'>
		<table width='100%' class='format' id='AccountList'>
			<tr>
				<th class='column' width='17%'>Account</th>
				<th class='column' width='23%'>Name</th>
				<th class='column' width='9%'>Effective</th>
				<th class='column' width='9%'>Pay Off</th>
				<th class='column' width='9%'>Due</th>
				<th class='column' width='10%'>Applied</th>
				<th class='column' width='21%'></th>	
			</tr>			
			<!-- #set( $count = 0 ) -->
			<!-- #foreach($accountNumber in $accountNumbers) -->
				<!-- #set( $count = $count + 1 ) -->
				
				<!-- Clear all variables that will display in the table -->
				<!-- #set( $insuredName = "" ) -->	
				<!-- #set( $message = "" ) -->
				<!-- #set( $nameClass = "" )	-->		
				<!-- #set( $effectiveDt = "" ) -->
				<!-- #set( $payOff = "" ) -->
				<!-- #set( $due = "" ) -->
				<!-- #set( $receiptAmt = "" ) -->
				<!-- #set( $grossNetInd = "" ) -->
				<!-- #set( $commissionTakenAmt = "" ) -->
				
				<!-- Load the field values from XFDF -->		
				<!-- #set( $insuredName = $XFDF.getBean("Param","Name","InsuredName_$count").gets("Value") ) -->	
				<!-- #set( $message = $XFDF.getBean("Param","Name","Message_$count").gets("Value") ) -->
				<!-- #set( $nameClass = $XFDF.getBean("Param","Name","NameClass_$count").gets("Value") ) -->
				<!-- #set( $effectiveDt = $XFDF.getBean("Param","Name","EffectiveDt_$count").gets("Value") ) -->
				<!-- #set( $payOff = $XFDF.getBean("Param","Name","PayOff_$count").gets("Value") ) -->
				<!-- #set( $due = $XFDF.getBean("Param","Name","Due_$count").gets("Value") ) -->
				<!-- #set( $receiptAmt = $XFDF.getBean("Param","Name","ReceiptAmt_$count").gets("Value") ) -->
				<!-- #set( $grossNetInd = $XFDF.getBean("Param","Name","GrossNetInd_$count").gets("Value") ) -->
				<!-- #set( $commissionTakenAmt = $XFDF.getBean("Param","Name","CommissionTakenAmt_$count").gets("Value") ) -->
				
				<!-- #if( $grossNetInd.equals("Net") ) -->
		        	<!-- #set( $commissionStyle = "" ) -->
				<!-- #else -->
					<!-- #set( $commissionStyle = "visibility:hidden" ) -->
		        <!-- #end -->
				<tr>
					<td width='16%'>
						$FormFieldRenderer.render("SourceRef_$count",$account.getSystemId(),"Hidden")
						$FormFieldRenderer.render("NameClass_$count",$nameClass,"Hidden")
						$FormFieldRenderer.render("Message_$count",$message,"Hidden")
						<span style='white-space: nowrap'>
						$FormFieldRenderer.render("AccountNumber_$count",$accountNumber,"String","IgnoreChanges=True|size='18'|OnChange=receiptFill('AccountNumber',$count,$count)" )
						<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
						</span>
					</td>
					<td width='25%' class='$nameClass'>
						$FormFieldRenderer.render("InsuredName_$count",$insuredName,"String","Disabled")
						<!-- #if( $message != "" ) -->	
							<br/><div class='error'>$message</div>
						<!-- #end -->
					</td>
					<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count",$effectiveDt,"Date","Disabled")</td>
					<td width='9%' class='numeric'>$FormFieldRenderer.render("PayOff_$count",$payOff,"Currency","Size=10|Disabled")</td>
					<td width='12%' class='numeric'>$FormFieldRenderer.render("Due_$count",$due,"Currency","Size=10|Disabled")</td>
					<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count",$receiptAmt,"Currency","IgnoreChanges=True|Size=10|OnChange=receiptFill('ReceiptAmt',$count,0)")</td>
					<td width='21%'>
						$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
						$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
					</td>	
				</tr>
				<!-- #if( $StringRenderer.isCurrency($receiptAmt) ) -->
					<!-- #set( $totalApplied = $StringRenderer.addMoney($totalApplied, $receiptAmt) ) -->
				<!-- #end -->
			<!-- #end -->	
			
			<!-- Add one blank row -->	
			<!-- #set( $count = $count + 1 ) -->
			<tr>
				<td width='16%'>
					<span style='white-space: nowrap'>
					$FormFieldRenderer.render("AccountNumber_$count","","String","IgnoreChanges=True|size='18'|OnChange=receiptFill('AccountNumber',$count,$count)" )
					<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
					</span>
				</td>
				<td width='23%' class='$nameClass'>$FormFieldRenderer.render("InsuredName_$count","","String","Disabled")</td>
				<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count","","Date","Disabled")</td>
				<td width='9%' class='numeric'>$FormFieldRenderer.render("PayOff_$count","","Currency","Size=10|Disabled")</td>
				<td width='12%' class='numeric'>$FormFieldRenderer.render("Due_$count","","Currency","Size=10|Disabled")</td>
				<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count","","Currency","IgnoreChanges=True|Size=10|onChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
				<td width='21%'>
					$FormFieldRenderer.render("GrossNetInd_$count", "Gross","Hidden") 
					$FormFieldRenderer.render("CommissionTakenAmt_$count", "","Hidden") 
				</td>	
			</tr>								
	    </table>
	   </div>
	<!-- #set( $total = $StringRenderer.formatValue($totalApplied, 2, "0.00") ) -->
	<!-- #if( $StringRenderer.greaterThan($total,"0.00") && $StringRenderer.lessThan($total,$checkAmt) ) -->
		<!-- #set( $spreadButtonStyle = "" ) -->
	<!-- #else -->
		<!-- #set( $spreadButtonStyle = "visibility:hidden" ) -->
    <!-- #end -->
	<table width='100%' class='none'>	
		<tr>	
			<td width='40%'>
				$FormFieldRenderer.renderButton("ResetValues","Clear All Rows","Button","javascript:receiptClear()","Class=button-plain")	
			</td>
			<td width='18%' style='$spreadButtonStyle'>$FormFieldRenderer.renderButton("SpreadRemainder","Spread Remainder" ,"Button","javascript:spreadRemainder()","Class=button-plain") </td>
			<th width='12%'>Total:</th>
			<td width='7%' class='numeric' id='ReceiptTotal'>$totalApplied</td>			
			<td width='23%'>$FormFieldRenderer.render("RowCount", $count.toString(), "Hidden")</td>
		</tr>
		<tr>
			<td colspan='9'>&nbsp;</td>
		</tr>
		<tr>
		    <td colspan='9'>
			<!-- #if( $addProcessedStatus.equals("Warning") ) -->
			    $FormFieldRenderer.renderButton("ButtonAddIgnore","ButtonAddIgnore","Button","javascript:receiptAddIgnoreWarnings('$receipt.getId()')")
			<!-- #else -->
			    $FormFieldRenderer.renderButton("ButtonAdd","ButtonAdd","Button","javascript:receiptAdd('$receipt.getId()')")
			<!-- #end -->	
		    </td>
		</tr>	
	</table>
	
	</div>
	
$renderer.tileEnd()

<script>
	addLoadEvent(toggleCommissionTaken);
</script>