<!-- Prepare Velocity Variables
	$renderer.setTile("AR", "receipt-statement-tile")

-->
<script language='JavaScript'>			
	function loadBatch() {
		document.getElementById("showLoad").style.display = "";        
	}				
	function noNegative( el ) {
		el.value = el.value.replace(/-/g,"");
	}	
	function viewPendingBatches(batchId) {	   
		var url = 'innovation?rq=ARPendingBatchesView&BatchId='+ batchId;		
		window.open(url);
	
	}	
	
	function loadSelectedBatch(newBatchId) {				    	
		cmmXForm("ARBatchTransfer",newBatchId ) ;
	}
	
	function deleteBatch(element) {		
		if( confirm("Delete Batch?") ) {
			cmmXForm("ARPendingBatchDelete",$BatchReceipt.getSystemId(),"$BatchReceipt.getId()", "$BatchReceipt.getId()"); 
		}
	}	
	
</script>

$renderer.tileStart("Normal","BatchReceiptInformation","None","None")	
	<table width='100%' class='format'>
		<tr>
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("BatchId", "Batch Id", "Label", $CMMResponse, null)</th> 
			<td width='10%'>$FormFieldRenderer.render("BatchId", $!BatchReceipt.gets("BatchId"), "String", "disabled")</td>
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("PostDt", "Post Date", "Label", $CMMResponse, "Required=True")</th>
			<td width='10%'>$FormFieldRenderer.render("PostDt", $!BatchReceipt.gets("AppliedDt"), "Date", "onBlur=formatDate(this)|Required=True")</td>
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("TotalAmt", "Total Amount", "Label", $CMMResponse, "Required=True")</th>
			<td width='5%'>$FormFieldRenderer.render("TotalAmt", $!BatchReceipt.gets("TotalAmt"), "Currency", "Required=True|OnChange=noNegative(this)|OnBlur=noNegative(this)") $FormFieldRenderer.render("BatchReceiptRef", $BatchReceipt.getSystemId(), "Hidden")</td>
		</tr>
		<!-- #set( $table = false ) -->
        <!-- #set( $table = $SPI.getModelObject("AR::depository-location::all::all") ) -->
        <!-- #if( $table ) -->
        	<!-- #set( $depositoryLocationArray = $SPIAR.optionsArray("AR::depository-location::all::all") ) -->
			<!-- #if( $depositoryLocationArray.length() > 2 ) -->	
				<tr>
					<th class='label'>$FormFieldRenderer.renderLabel("DepositoryLocationCd","Location","Label", $CMMResponse, "Required=True")</th>
					<td>$FormFieldRenderer.renderSelect("DepositoryLocationCd",$BatchReceipt.gets("DepositoryLocationCd"),"AR::depository-location::all::all","SelectList","")</td>
				</tr>
			<!-- #end -->
		<!-- #end -->
	</table>
$renderer.tileEnd()