<!-- Velocity Variable Setup
#set( $arReceipt = $CMMResponse.findBeanByFieldValue("ARReceipt", "StatusCd", "Refund") )
#set( $payTo = $!form.gets("PayTo") )
#set( $accountNo = $Suspense.gets("AccountNumber") )
 
#set( $address = $BeanRenderer.newModelBean("Addr") )
$address.setValue("Addr1",$form.gets("Addr1"))
$address.setValue("Addr2",$form.gets("Addr2"))
$address.setValue("Addr3",$form.gets("Addr3")) 
$address.setValue("Addr4",$form.gets("Addr4")) 
$address.setValue("City",$form.gets("City"))
$address.setValue("StateProvCd",$form.gets("StateProvCd"))
$address.setValue("PostalCode",$form.gets("PostalCode"))
$address.setValue("RegionCd",$form.gets("RegionCd"))
$address.setValue("RegionISOCd",$form.gets("RegionISOCd")) 
 -->
 
<script language='JavaScript'>
	// Check to see if the payment type needs to use the check detail fields
	function setCheckFields() {
		var typeCd = document.getElementById("ARReceipt.ReceiptTypeCd").value;
		if( typeCd == "AutomatedRefund") {
			document.getElementById("checkDetails1").style.visibility = "hidden";
			document.getElementById("checkDetails2").style.visibility = "hidden";
			document.getElementById("checkDetails3").style.visibility = "hidden";
			document.getElementById("checkDetails4").style.visibility = "hidden";
			document.getElementById("ARReceipt.Reference").value = "";
			document.getElementById("ARReceipt.ReceiptDt").value = "";
		} else {
			document.getElementById("checkDetails1").style.visibility = "visible";
			document.getElementById("checkDetails2").style.visibility = "visible";
			document.getElementById("checkDetails3").style.visibility = "visible";
			document.getElementById("checkDetails4").style.visibility = "visible";
		}
	}
	
</script>
 
$renderer.tileStart("Normal","Suspense Refund Information","None","None")
<div id="suspense_refund_adjust">
    <input style='display:none' name='ARReceipt.TypeCd' value='Check' />
    <input style='display:none' name='ARReceipt.StatusCd' value='Refund' />
    <table width='100%' class='format'>
    	<tr>
    		<th class="label">Account*</th>
    		<td colspan='2'>$CompanyRenderer.carrierBillingAccountSelectField("AccountNumber", $accountNo, "")</td>
    		<td colspan='5'>&nbsp;</td>
	    </tr>
        <tr>
            <th class='label'>Check Type*</th>
			<td colspan='2'>$FormFieldRenderer.renderSelect("ARReceipt.ReceiptTypeCd", $!arReceipt.gets('ReceiptTypeCd'), "AR::account::refund::suspense", "SelectList", "Prompt=Select...|OnChange=setCheckFields()")</td>
			<td>&nbsp;</td>
            <th class='label' id='checkDetails1'>Check Number</th>
            <td id='checkDetails2'><input name='ARReceipt.Reference' id='ARReceipt.Reference' value='$!arReceipt.gets("Reference")' size='10'/></td>
            <th class='label' id='checkDetails3'>Check Date</th>
            <td id='checkDetails4'><input name='ARReceipt.ReceiptDt' id='ARReceipt.ReceiptDt' value='$!arReceipt.gets("ReceiptDt")' size='10' onblur="check_date(this)"/></td>
        </tr>
        <tr>
            <th class='label'>Description*</th>
            <td><input name='ARReceipt.Desc' id='ARTrans.Desc' value='$!arReceipt.gets("Desc")' size='25'/></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>            
            <th class='label'>Amount*</th>
            <td>$FormFieldRenderer.render("ARReceipt.ReceiptAmt", "$!arReceipt.gets('ReceiptAmt')", "Currency", "Size=10")</td>
        </tr>
        <tr>
            <th class='label'>Pay To*</th>
			<td colspan='3'><textarea name='PayTo' id='PayTo' rows='5' cols='35' maxlength="60" >$!payTo</textarea></td>
			<td colspan='4'>
        <table>
        <tr>
			<td>
				$AddressRenderer.renderInputBlock("Mailing", $address, $context, "Required=True|Label=Address|LabelColumnWidth=16%|FieldColumnWidth=84%|NoFieldPrefix=True")
        	</td>
        </tr>
        </table>
			</td>
        </tr>
        <tr>
			<td>$FormFieldRenderer.renderButton("Refund","Refund","Button","javascript:postRefund(this)")</td>
		</tr>        
    </table>    
</div>    
$renderer.tileEnd()