<!-- 
	#set( $actionParam = "" )	
	#set( $actionParam = $AdditionalParams.getBean("Param","Name","Action") )
	#if( $actionParam == "" || !$actionParam.gets("Value").equals("New") )
		#set( $accountNumbers = $AccountRenderer.getAccountNumbersFromXFDF($XFDF) )
		#set( $rowCount = $SPI.getArrayLength($accountNumbers) )
	#else
		#set( $rowCount = 0 )
	#end
	
	#set( $unappliedAmt = $AccountRenderer.getUnappliedAmtFromXFDF($XFDF) )
		
	#set( $totalApplied = "" )
	
	#set( $action = $AdditionalParams.getBean("Param","Name","Action").gets("Value") )
	#if( $action.equals("New") || $action.equals("Add") )
		#set( $typeCd = "" )
		#set( $payBy = "" )
		#set( $reference = "" )
		#set( $receiptDt = "" )
		#set( $checkAmt = "" )
	#else
		#set( $typeCd = $form.gets("TypeCd") )
		#set( $payBy = $form.gets("PayBy") )
		#set( $reference = $form.gets("Reference") )
		#set( $receiptDt = $form.gets("ReceiptDt") )
		#set( $checkAmt = $form.gets("CheckAmt") )
	#end
-->

$renderer.tileStart("Normal","Posting Information","None","None")
	<!-- Form variables that should be passed to/from each request -->
	<!-- <input style='display:none' name='Suspense.StatusCd' value='$!ProviderStatement.gets("StatusCd")'/> -->
               
	<input style='display:none' id='Submit_SuspenseRef' name="Submit_SuspenseRef" value="$form.gets('Submit_SuspenseRef')"/>	
	<input style='display:none' id='EventSystemId' name="EventSystemId" value="$form.gets('EventSystemId')"/>
	<input style='display:none' id='EventId' name="EventId" value="$form.gets('EventId')"/>
	<table width='100%' class='format'>
		<tr>
			<th width='15%' class='label'>Source</th>
			<th width='15%' class='label'>Source Name</th>
			<th width='15%' class='label'>Account</th>
			<th width='15%' class='label'>Post Date</th>
			<th width='15%' class='label'>Pended Amount</th>
			<th width='75%' class='label'>&nbsp;</th>
		</tr>
		<tr>                    
			<td><input readonly='true' ID="Submit_SourceCd" name="Submit_SourceCd" value="$form.gets('Submit_SourceCd')" /></td>
			<td><input readonly='true' ID="Submit_SourceName" name="Submit_SourceName" value="$form.gets('Submit_SourceName')"/></td>
			<td><input readonly='true' ID="Submit_AccountNumber" name="Submit_AccountNumber" value="$form.gets('Submit_AccountNumber')" size="15"/></td>
			<td><input readonly='true' ID="Submit_BookDt" name="Submit_BookDt" value="$StringRenderer.formatDate($form.gets('Submit_BookDt'))" size="10"/></td>
			<td><input readonly='true' ID="Submit_ReceiptAmt" name="Submit_ReceiptAmt" value="$form.gets('Submit_ReceiptAmt')"/></td>
		</tr>
		<tr>		
			<th class='label'>Receipt Type</th>
			<th class='label'>Receipt Number</th>
			<th class='label'>Receipt Date</th>
		</tr>
		<tr>
			<td><input readonly='true' ID="Submit_TypeCd" name="Submit_TypeCd" value="$form.gets('Submit_TypeCd')"/></td>
			<td><input readonly='true' ID="Submit_Reference" name="Submit_Reference" value="$form.gets('Submit_Reference')"/></td>
			<td><input readonly='true' ID="Submit_ReceiptDt" name="Submit_ReceiptDt" value="$StringRenderer.formatDate($form.gets('Submit_ReceiptDt'))" size="10"/></td>
		</tr>
	</table>
	
	<div class='sectionSeparator'></div>

<script type="text/javascript">
	function postBatch(element) {			
		if( confirm("Post Suspense") ) 
			cmmXForm("SuspensePost")
	}
	
	function postRefund(element) {	
				
		if( confirm("Post Refund") ) {
			var currentSystemId = document.getElementById("EventSystemId").value;
			var currentId = document.getElementById("EventId").value;
			if (currentSystemId == "" || currentId == "" ) {
				alert("Please select a batch receipt first");
				return;
			}
			document.getElementById(element.name).style.visibility = "hidden";
			cmmXForm("SuspenseRefund",currentSystemId, currentId,"","SuspenseRef=" + currentSystemId)
		}
	}		

	function sumApplied(currentFieldId, count, rowCount) { 
		
		setNextFieldId(currentFieldId, count);			
		var nextFieldId = document.getElementById("NextFieldId").value;
		if( document.getElementById(nextFieldId) ) {
			var focusElement = document.getElementById(nextFieldId);
			setFocus(focusElement);
		}
		var total = 0;
		for( i=1; i<=rowCount; i++){
			var id = "ReceiptAmt_" + i;
			if( document.getElementById(id) ) {
								
				var appliedAmt = Number(document.getElementById("ReceiptAmt_" + i).value.replace(/\$|\,/g,''));				
				total = (total + appliedAmt);
			}
		}
		document.getElementById("ReceiptTotal").innerHTML = formatCurrencyValue(total, true);	
		
		var checkAmt = Number(document.getElementById("Submit_ReceiptAmt").value.replace(/\$|\,/g,''));
		
		if( total > 0 && total < checkAmt ) {
			document.getElementById("SpreadRemainder").style.visibility="visible";
		}
		else {
			document.getElementById("SpreadRemainder").style.visibility="hidden";
		}
	}
		
	function receiptFill(currentFieldId, count, currentRow) {
		setNextFieldId(currentFieldId, count);
		ajaxCMMXForm('suspense-post-ajax','SuspensePostFill','','','','CurrentRow=' + currentRow + '&AddProcessedStatus=None','all');
	}
	
	function receiptClear() {
		if( confirm("Clear all rows?") ) {
			ajaxCMMXForm('suspense-post-ajax','SuspensePostFill', '','','','Action=New&AddProcessedStatus=None');
		}
	}
	
	function spreadRemainder() {
		
		ajaxCMMXForm('suspense-post-ajax','SuspensePostFill', '','','','Action=Spread&AddProcessedStatus=None','all');
		
	}
	
	function receiptAdd(id) {
		
		cmmXForm("BatchReceiptAdd",$BatchReceipt.getSystemId(),"", "","Action=Clear&IgnoreWarningsAddInd=No");			
	}
		
	function receiptAddIgnoreWarnings(id) {
		
		if( confirm("Add Receipts Ignoring Warning Issues") ) {
			cmmXForm("BatchReceiptAdd",$BatchReceipt.getSystemId(),"", "","IgnoreWarningsAddInd=Yes");		
		}
	}
		
	function toggleCommissionTaken(count){		
		
		if( count > 0 ) {	
			
			if( document.getElementById("GrossNetInd_" + count + "_2").checked) {	
				document.getElementById("CommissionTakenAmt_" + count).style.visibility="visible";
			} else {
				document.getElementById("CommissionTakenAmt_" + count).value = "";
				document.getElementById("CommissionTakenAmt_" + count).style.visibility="hidden";
			}
		}		
	}

	function loadAccount() {
		var count = document.getElementById("Count").value;
		receiptFill("AccountNumber", count, count);
	}
	function setNextFieldId(currentFieldId, count) {
		if( currentFieldId == "AccountNumber" ) {
			var nextFieldId = "ReceiptAmt_" + count;
		} else {
			count = count + 1;
			var nextFieldId = "AccountNumber_" + count;
		}
		document.getElementById("NextFieldId").value = nextFieldId;
	}

	function initMemoDialog(count) {
		memoValue = document.getElementById("Memo_" + count).value;
		$("#memo_text").html("<textarea id='MemoText_" + count + "' name='MemoText_" + count + "' cols='60' rows='4'>" + memoValue + "</textarea>");
		document.getElementById("MemoOk").onclick = function() { memoSave(count); };
	}
	function memoSave(count) {
		document.getElementById("Memo_" + count).value = document.getElementById("MemoText_" + count).value;
		$('#memo_dialog').dialog('close');
	}
	
</script>
     
    #set( $accountNumberArray = $AccountRenderer.getAccountNumbersFromXFDF($XFDF) )	 
    #set( $totalApplied = "" )
    
    $FormFieldRenderer.render("Count", $AdditionalParams.getBean("Param","Name","Count").gets("Value"), "Hidden")
	$FormFieldRenderer.render("NextFieldId", "", "Hidden")
            
    <div id='suspense-post-ajax'>
		<div class='listTable'>
			<table width='100%' class='format' id='AccountList'>
				<tr>
					<th class='column' width='17%'>Account</th>
					<th class='column' width='21%'>Insured Name</th>
					<th class='column' width='9%'>Effective</th>
					<th class='column' width='10%'>Pay Off</th>
					<th class='column' width='10%'>Due</th>
					<th class='column' width='10%'>Applied</th>
					<th class='column' width='4%'>Memo</th>
					<th class='column' width='15%'>Gross/Net</th>	
					<th class='column' width='4%'>Comm Taken</th>	
				</tr>			
				<!-- #set( $count = 0 ) -->
				<!-- #foreach($accountNumber in $accountNumberArray) -->
					<!-- #set( $count = $count + 1 ) -->
					
					<!-- Clear all variables that will display in the table -->
					<!-- #set( $insuredName = "" ) -->	
					<!-- #set( $message = "" ) -->
					<!-- #set( $nameClass = "" )	-->		
					<!-- #set( $effectiveDt = "" ) -->
					<!-- #set( $payOff = "" ) -->
					<!-- #set( $due = "" ) -->
					<!-- #set( $receiptAmt = "" ) -->
					<!-- #set( $grossNetInd = "" ) -->
					<!-- #set( $commissionTakenAmt = "" ) -->
					
					<!-- Load the field values from XFDF -->		
					<!-- #set( $insuredName = $XFDF.getBean("Param","Name","InsuredName_$count").gets("Value") ) -->	
					<!-- #set( $message = $XFDF.getBean("Param","Name","Message_$count").gets("Value") ) -->
					<!-- #set( $nameClass = $XFDF.getBean("Param","Name","NameClass_$count").gets("Value") ) -->
					<!-- #set( $effectiveDt = $XFDF.getBean("Param","Name","EffectiveDt_$count").gets("Value") ) -->
					<!-- #set( $payOff = $XFDF.getBean("Param","Name","PayOff_$count").gets("Value") ) -->
					<!-- #set( $due = $XFDF.getBean("Param","Name","Due_$count").gets("Value") ) -->
					<!-- #set( $receiptAmt = $XFDF.getBean("Param","Name","ReceiptAmt_$count").gets("Value") ) -->
					<!-- #set( $memo = $XFDF.getBean("Param","Name","Memo_$count").gets("Value") ) -->
					<!-- #set( $grossNetInd = $XFDF.getBean("Param","Name","GrossNetInd_$count").gets("Value") ) -->
					<!-- #set( $commissionTakenAmt = $XFDF.getBean("Param","Name","CommissionTakenAmt_$count").gets("Value") ) -->
					
					<!-- #if( $grossNetInd.equals("Net") ) -->
			        	<!-- #set( $commissionStyle = "" ) -->
					<!-- #else -->
						<!-- #set( $commissionStyle = "visibility:hidden" ) -->
			        <!-- #end -->
					<tr>
						<td width='18%'>
							$FormFieldRenderer.render("SourceRef_$count",$account.getSystemId(),"Hidden")
							$FormFieldRenderer.render("NameClass_$count",$nameClass,"Hidden")
							$FormFieldRenderer.render("Message_$count",$message,"Hidden")
							$FormFieldRenderer.render("AccountNumber_$count",$accountNumber,"String","IgnoreChanges=True|size='16'|OnChange=receiptFill('AccountNumber',$count,$count)" )
							<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
						</td>
						<td width='21%' class='$nameClass'>
							$FormFieldRenderer.render("InsuredName_$count",$insuredName,"String","Disabled")
							<!-- #if( $message != "" ) -->	
								<br/><div class='error'>$message</div>
							<!-- #end -->
						</td>
						<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count",$effectiveDt,"Date","Disabled")</td>
						<td width='9%' class='numeric'>$FormFieldRenderer.render("PayOff_$count",$payOff,"Currency","Size=10|Disabled")</td>
						<td width='10%' class='numeric'>$FormFieldRenderer.render("Due_$count",$due,"Currency","Size=10|Disabled")</td>					
						<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count",$receiptAmt,"Currency","IgnoreChanges=True|Size=10|OnChange=receiptFill('ReceiptAmt',$count,0)")</td>
						<td width='4%'>
							$FormFieldRenderer.renderButton("MemoButton_$count","Memo","Button","","Class=button-plain|onclick=initMemoDialog($count);showMemoDialog();")
							$FormFieldRenderer.render("Memo_$count",$memo,"Hidden")
						</td>
						<td width='14%'>$FormFieldRenderer.renderSelect("GrossNetInd_$count",$grossNetInd, "Gross=Gross|Net=Net", "RadioButtonGroup", "onClick=javascript:toggleCommissionTaken('$count');")</td>					
						<td width='4%' class='numeric'><div style='$commissionStyle'>$FormFieldRenderer.render("CommissionTakenAmt_$count",$commissionTakenAmt, "Currency", "Size=8")</div></td>
					</tr>
					<!-- #set( $totalApplied = $StringRenderer.addMoney($totalApplied, $receiptAmt) ) -->
				<!-- #end -->	
				
				<!-- Add one blank row -->	
				<!-- #set( $count = $count + 1 ) -->
				<tr>
					<td width='18%'>
						$FormFieldRenderer.render("AccountNumber_$count","","String","IgnoreChanges=True|size='16'|OnChange=receiptFill('AccountNumber',$count,$count)" )
						<a id='AccountLookup_$count' href='#' onclick='window.open("innovation?rq=AccountSearch&SearchSubType=BatchReceipt&Index=$count", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");'><img class='noborder' src='img/lookup-small.png'/></a>
					</td>
					<td width='21%' class='$nameClass'>$FormFieldRenderer.render("InsuredName_$count","","String","Disabled")</td>
					<td width='9%'>$FormFieldRenderer.render("EffectiveDt_$count","","Date","Disabled")</td>
					<td width='9%' class='numeric'>$FormFieldRenderer.render("PayOff_$count","","Currency","Size=10|Disabled")</td>
					<td width='10%' class='numeric'>$FormFieldRenderer.render("Due_$count","","Currency","Size=10|Disabled")</td>
					<td width='10%' class='numeric'>$FormFieldRenderer.render("ReceiptAmt_$count","","Currency","IgnoreChanges=True|Size=10|onChange=sumApplied('ReceiptAmt',$count,$rowCount)")</td>
					<td width='4%'>
						$FormFieldRenderer.renderButton("MemoButton_$count","Memo","Button","","Class=button-plain|onclick=initMemoDialog($count);showMemoDialog()")
						$FormFieldRenderer.render("Memo_$count","","Hidden")
					</td>
					<td width='14%'>$FormFieldRenderer.renderSelect("GrossNetInd_$count","", "Gross=Gross|Net=Net", "RadioButtonGroup", "onClick=javascript:toggleCommissionTaken('$count');")</td>					
					<td width='4%' class='numeric'><div style='visibility:hidden'>$FormFieldRenderer.render("CommissionTakenAmt_$count","", "Currency", "Size=8")</div></td>
				</tr>								
		    </table>
        </div>
		<!-- #set( $total = $StringRenderer.formatValue($totalApplied, 2, "0.00") ) -->
		<!-- #if( $StringRenderer.greaterThan($total,"0.00") && $StringRenderer.lessThan($total,$checkAmt) ) -->
			<!-- #set( $spreadButtonStyle = "" ) -->
		<!-- #else -->
			<!-- #set( $spreadButtonStyle = "visibility:hidden" ) -->
	    <!-- #end -->
		<table width='100%' class='none'>	
			<tr>	
				<td width='35%'>$FormFieldRenderer.renderButton("ResetValues","Clear All Rows","Button","javascript:receiptClear()","Class=button-plain")</td>
				<td width='18%' style='$spreadButtonStyle'>$FormFieldRenderer.renderButton("SpreadRemainder","Spread Remainder" ,"Button","javascript:spreadRemainder()","Class=button-plain")</td>
				<th width='10%'>Total:</th>
				<td width='7%' class='numeric' id='ReceiptTotal'>$totalApplied</td>			
				<td width='30%'>$FormFieldRenderer.render("RowCount", $count.toString(), "Hidden")</td>
			</tr>
			<tr>
				<td colspan='9'>&nbsp;</td>
			</tr>
			<tr>
			    <td colspan='9'>$FormFieldRenderer.renderButton("ButtonPost","Submit","Button","javascript:postBatch(this)")</td>
			</tr>	
		</table>	
	</div>
	 
	$FormFieldRenderer.render("memo_dialog", "", "JQueryDialog", "JQuery", "draggable=true|width=350|resizable=false|autoOpen=false|modal=true|title='Memo Text'|indent=true|openMethod=showMemoDialog|includeScript=true") 
	<div id='memo_dialog' style='display: none'>
		<div id='memo_text'></div>
		<br/>
		$FormFieldRenderer.renderButton("MemoOk", "OK", "Button", "")
	</div>    
	       
$renderer.tileEnd()

<script>
	addLoadEvent(toggleCommissionTaken);
	
	//Update RqUID field if it's lower than the new RQUID	
	$(document).ready( function() {
		replaceCurrentRqUID($ResponseParams.gets('RqUID'));	
	});
</script>