<!-- 
	#set( $responseParams = $CMMResponse.getBean("ResponseParams") )
	#set( $jobs = $OperationRenderer.getJobs($data,$responseParams) ) 

	##
	## Setup variables for viewing and emailing batch job logs
	
	#set( $envTable = $SPI.getModelObject("EnvironmentSettings::Environment::All") ) 
	#set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
	
	## Determine if this user can view the log
	#set( $viewLog = $UserRenderer.getAuthorityAttributeValue($UserInfo, "Log-View", $todayDt) )
	DEBUG: $viewLog

	## The environment variable Log-View can override this setting if it is set
	#set( $viewLog = $SPI.getEnvironmentVariable("Logging", "Log-View", $viewLog) )	
	DEBUG: $viewLog
		
	## Determine if this user can send logs to support
	#set( $emailLog = $UserRenderer.getAuthorityAttributeValue($UserInfo, "Log-Email", $todayDt) )
	
	## The environment variable Log-View can override this setting if it is set
	#set( $emailLog = $SPI.getEnvironmentVariable("Logging", "Log-Email", $emailLog) )	
	
	## Determine if the To address text field is editable
	#set( $logEmailOverride = $UserRenderer.getAuthorityAttributeValue($UserInfo, "Log-Email-Override", $todayDt))
	
	## The environment variable Log-View can override this setting if it is set
	#set( $logEmailOverride = $SPI.getEnvironmentVariable("Logging", "Log-Email-Override", $logEmailOverride) )	
	
	#set( $recipientDisabled = "Yes" )
	#if( $logEmailOverride.equalsIgnoreCase("Yes") )
		#set( $recipientDisabled = "No" )
	#end if
	
	#set( $logColumnEnabled = false )
	#if( $viewLog.equalsIgnoreCase("Yes") || $emailLog.equalsIgnoreCase("Yes") )
		#set( $logColumnEnabled = true )
	#end

    #set( $refreshInterval = $!form.gets("RefreshInterval", $SPI.optionLabel("COOperation::job-options::job-history::refresh-interval-default", "default")) )
-->

<script type="text/javascript">
    var refreshTimer;
    function establishRefreshTimer() {
        var element = document.getElementById("RefreshInterval");
        var interval = element.value;
        if (interval > 0) {
            // establish a timer to do the refresh after the right amount of time
        	refreshTimer = setTimeout("refresh()", interval);
        }
    }
    
    function setRefreshInterval() {
        var element = document.getElementById("RefreshInterval");
        var interval = element.value;
        if (interval == 0 && refreshTimer) {
            clearTimeout(refreshTimer);
            refreshTimer = null;
        } else {
            // refresh immediately and the next page will establish the right timer
            refresh();
        }
    }
    
    function refresh() {
        cmmXForm("COJobHistoryPage");
    }
</script>

$renderer.addTileCommand("<a href=javascript:refresh()>[Refresh List]</a>")
$renderer.tileStart("Normal","JobHistory","None","None")
    
    <table width="100%" class='format'>
        <tr>
        	<!-- #if ($OperationRenderer.operationsAutomationNotWorking() ) -->
        	<td align="left">
        		<table class="error">
                	<tr><td><b>The operation automation background processes do not appear to be active.</b></td><tr>
                	<tr><td><b>Any scheduled jobs will not be started and other job monitoring features may not be available.</b></td></tr>
				</table>	
        	</td>
        	<!-- #end -->
            <td align="right">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>$FormFieldRenderer.renderLabel("RefreshInterval","Automatically refresh","Label",$CMMResponse)</th>
                        <td>$FormFieldRenderer.renderSelect("RefreshInterval","$refreshInterval","COOperation::job-options::job-history::refresh-interval","SelectList","onChange=setRefreshInterval()|IgnoreChanges=True")</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>     

    <div class='listTable'>
    
     <table width="100%" class='format'>
	  	<tr>
	  	   <!-- #if( $logColumnEnabled ) -->
	          <th width="20%">Job</th>
	          <th width="15%">Start</th>
	          <th width="15%">End</th>
	          <th width="10%">Started By</th>
	          <th width="10%">Status</th>
	          <th width="10%">Last Action</th>
	          <th width="10%">Last Activity</th>
	          <th width="10%">Log</th>
	       <!-- #else -->
	          <th width="25%">Job</th>
	          <th width="15%">Start</th>
	          <th width="15%">End</th>
	          <th width="15%">Started By</th>
	          <th width="10%">Status</th>
	          <th width="10%">Last Action</th>
	          <th width="10%">Last Activity</th>
	       <!-- #end -->
	  	</tr>
	  	<!-- #set($counter = 0)-->
	  	<!-- #foreach( $job in $jobs ) -->
	  	    <!-- #set( $jobTemplate = "" ) -->
	  	    <!-- #set( $lastJobAction = "" ) -->
	  	    <!-- #set( $lastJobActionTemplate = "" ) -->
	  		<!-- #set( $jobTemplate = $OperationRenderer.getJobTemplate($job.gets("JobTemplateIdRef")) ) -->
	  		<!-- #set( $lastJobAction = $OperationRenderer.getLastJobAction($job) ) -->
	  		<!-- #set( $lastJobActionTemplate = $OperationRenderer.getJobActionTemplate($lastJobAction.gets("JobActionTemplateIdRef")) ) -->
	  		<!-- #set( $securityId = $form.get("SecurityId") ) -->
	  		<!-- #set( $userLoginId = $job.gets("UpdateUser") ) -->
	  		<!-- #set( $jobNumber = $job.getSystemId() ) -->
	  		<!-- #if( $jobTemplate.gets("Name").contains("Group Data Conversion") || $jobTemplate.gets("Name").contains("Daily Jobs Manual") )-->
	  			<!-- #set( $jobName = $jobTemplate.gets("Name") ) -->
	  			<!-- #set( $jobNumber = $StringRenderer.concat("$jobNumber", "$jobName" ,"_") ) -->
	  		<!-- #end-->
	  			  		
	  		<tr>
	  			<td><a id="Job_${jobNumber}_Name" class='actionLink' href='javascript:cmmXForm("COJobSync",$job.getSystemId(),"","","")'>$jobTemplate.gets("Name")</a></td>
	  			<!-- #set( $startDateTimeOutput = $DateRenderer.formatDateTimeDetailedOutput($job.gets("StartDt"), $job.gets("StartTm")) ) -->
	  			<!-- #set( $endDateTimeOutput = $DateRenderer.formatDateTimeDetailedOutput($job.gets("EndDt"), $job.gets("EndTm")) ) -->
	  			<td id="Job_${jobNumber}_StartDt">$StringRenderer.getValueAtIndex($startDateTimeOutput, 0) $StringRenderer.getValueAtIndex($startDateTimeOutput, 1)</td>
	  			<td id="Job_${jobNumber}_EndDt">$StringRenderer.getValueAtIndex($endDateTimeOutput, 0) $StringRenderer.getValueAtIndex($endDateTimeOutput, 1)</td>
	  			<td><a id="Job_${jobNumber}_StartedBy" class='actionLink' href='#' onclick='window.open("innovation?rq=UIUserDetails&amp;UserId=$userLoginId&amp;SecurityId=$securityId","ViewUser","height=320,width=1152,left=200,scrollbars=no,resizable=yes");'>$job.gets("StartUserId")</a></td>
	  			<!-- #set( $hasErrors = "False" ) -->
                <!-- #set( $hasErrors = $OperationRenderer.hasErrors($!job) ) --> 
                <!-- #set( $jobStatus = $job.gets("Status")) -->  
                <!-- #if( $hasErrors == "True" ) -->
	  				<td id="Job_${jobNumber}_Status" valign="bottom">$OperationRenderer.renderJobProgressBar($job, "$jobStatus - with errors")</td>
                <!-- #else -->
	  				<td id="Job_${jobNumber}_Status" valign="bottom">$OperationRenderer.renderJobProgressBar($job, $jobStatus)</td>
                <!-- #end -->
	  			<td id="Job_${jobNumber}_LastActionName" valign="bottom">$OperationRenderer.renderJobActionProgressBar($job, $lastJobAction, $!lastJobActionTemplate.gets("Name"))</td>
	  			<td id="Job_${jobNumber}_LastActivityTm">$!lastJobAction.gets("LastActivityDt") $!lastJobAction.gets("LastActivityTm")</td>
	  	        <!-- #if( $logColumnEnabled ) -->
	  	            <!-- #set( $logFile = "" ) -->
	  	            <!-- #set( $logFile = $!job.gets("LogFilename") ) -->
	  	            <td>
	  	                <!-- #if( !$logFile.equals("") ) -->
	  	                    <!-- #set( $logFile = "log/${logFile}" ) -->
	  	                    <!-- #if( $viewLog.equalsIgnoreCase("Yes") ) -->
	  	                        <a class='actionLink' target="_blank" href='innovation?rq=File&amp;Filename=/$logFile' onclick='analyticsTrackPageview("ViewLog/batch-job")'>View Log</a>
	  	                    <!-- #end -->
	  	                    <!-- #if( $viewLog.equalsIgnoreCase("Yes") && $emailLog.equalsIgnoreCase("Yes") ) -->
	  	                        <br/>
	  	                    <!-- #end -->
	  	                    <!-- #if( $emailLog.equalsIgnoreCase("Yes") ) -->
	  	                        <a class='actionLink' href='#' onclick='window.open("innovation?rq=COEmailCompose&amp;ToName=Support&amp;ToAddress=$SPI.getSupportEmailAddress()&amp;Subject=$StringRenderer.encodeForURL("Support Requested (Batch)")&amp;Body=$StringRenderer.encodeForURL("Environment: ")$StringRenderer.encodeForURL("$envTable.getOption('Name').getLabel()")$StringRenderer.encodeForURL("-")$StringRenderer.encodeForURL($data.getDatabaseName())&amp;FormTitle=$StringRenderer.encodeForURL("Send Email To Support")&amp;AttachFile=$logFile&amp;SenderName=$UserInfo.gets('LoginId')&amp;SenderAddress=$UserInfo.gets('EmailAddr')&amp;IsRecipientDisabled=$recipientDisabled", "ComposeEmail", "height=500,width=700,left=200,top=200,scrollbars=yes,resizable=yes");' >$renderer.getString("CO", "EmailSupport")</a>
	  	                    <!-- #end -->
	  	                <!-- #end -->
	  	            </td>
	  	        <!-- #end -->
	  		</tr>
	  		<!-- #set($counter = $counter + 1) -->
	  	<!-- #end -->
	  	<!-- #if( $counter == 0 ) -->
	  		<tr>
	  	       <!-- #if( $logColumnEnabled ) -->
	       		   <td colspan='8'><b>Empty List</b></td>
	  	       <!-- #else -->
	       		   <td colspan='7'><b>Empty List</b></td>
	           <!-- #end -->
	  		</tr>    
     	<!-- #end -->  
     </table>
     
    </div>
$renderer.tileEnd()

<script type="text/javascript">
    // Establish initial refresh timer
    establishRefreshTimer();
</script>