<!-- Prepare Velocity Variables
	#set( $envTable = $SPI.getModelObject("EnvironmentSettings::Environment::All") ) 
--> 
</div> <!-- End of <div class='main'> -->
<div class='tile'>
	<div class='clear'></div>
	<div id='FooterTile' class='footer'>
		<div class="footer_left"></div>
		<div class="footer_content">
			<img src='img/powered_by.png' class='powered_by' title='$RICProductRenderer.getSPIVersion()/$SPI.getSPIVersion()' />		
			<span title="Host: $SPI.getHostName() Database: $data.getDatabaseName()"><strong>$FormFieldRenderer.renderLabel("Environment","Environment","Label",$CMMResponse):</strong> $envTable.getOption("Name").getLabel()</span>
			<span><strong>$FormFieldRenderer.renderLabel("CurrentLogon","Current Logon","Label",$CMMResponse):</strong> $ResponseParams.gets("UserId")</span>
			<span><strong>$FormFieldRenderer.renderLabel("PostingDt","Posting Date","Label",$CMMResponse):</strong> $!OperationRenderer.getBookDate()</span>
		<!-- #if( !$UserRenderer.getConversationVariable($CMMResponse, "CurrentDate", "").equals("") ) -->	
			<span><strong>$!FormFieldRenderer.renderLabel("CurrentDt","Current Date","Label",$CMMResponse):</strong> $DateRenderer.getDate($ResponseParams)</span>
		<!-- #end -->	
			&nbsp;&nbsp;<a href="#" onclick="setActiveStyleSheet('color1'); return false;"><img src="img/color1_selection.png" alt="Turn Site Orange" border='0'/></a>
			&nbsp;&nbsp;<a href="#" onclick="setActiveStyleSheet('color2'); return false;"><img src="img/color2_selection.png" alt="Turn Site Blue" border='0'/></a>
			<span id='PagePerformanceStats' style='font-size: 9px;'></span>
		</div>
	</div>  <!-- End of <div class='footer'> -->
</div> <!-- End of <div class='tile'> -->
</div> <!-- End of <div class='contents'> -->

<div id='BusyBox1' align='center' title='Processing...' style='display: none;'>
	<img id='BusyBoxImg' src='img/progress-bar-animated.gif' height='22px;' width='270px;' />
</div>
<script language="javascript" type="text/javascript">
    // Add "greenbar" to tables
    $(document).ready( function() {
    	setGreenBar();
		
    } );
    
    function setGreenBar() {
    	// div.listTable > table - Starting with every direct child table of div.listTable
    	// tr:not([id^='row']) - Every <tr> that does NOT had an id that starts with 'row'  This picks up all 'parent' type rows
    	//					     The ones that start with 'row' are the children to expand
		$("div.listTable > table").children("tbody").children("tr:not([id^='row'])").each(
			function(i) {
				if( i % 2 ) {
					// Green bar every other matching above 'parent'
					//$(this).addClass("greenbar");
					$(this).css({'background-color': '#ECECEC'});
					// For each of these parent that you green bar, also green bar all <tr> rows until the next one that does not start
					// with row.  So greenbar the children too.
					//$(this).nextUntil("tr:not([id^='row'])").addClass("greenbar");
					$(this).nextUntil("tr:not([id^='row'])").css({'background-color': '#ECECEC'});
				} else {
					// White bar every other matching above 'parent'
					//$(this).addClass("whitebar");
					$(this).css({'background-color': '#FFFFFF'});
					// For each of these parent that you white bar, also white bar all <tr> rows until the next one that does not start
					// with row.  So whitebar the children too.
					//$(this).nextUntil("tr:not([id^='row'])").addClass("whitebar");
					$(this).nextUntil("tr:not([id^='row'])").css({'background-color': '#FFFFFF'});
				}
			}
		);
    }
    
</script>
</form>