<!-- Prepare Velocity Variables 
-->

$renderer.tileStart("Normal","Account Check Inquiry","None","None")
    <table class='format'>
		<tr>
		   	<th width='15%' class='label'>$FormFieldRenderer.renderLabel("AccountCd","Account","Label", null)</th>
		   	<td width='20%' colspan='3'>$PYAccountRenderer.accountSelectField($data, "AccountCd", "$form.gets('AccountCd')", "Required=True|Prompt=Select...|$disabled")</td>
          	<td width='10%'>&nbsp;</td>
          	<td width='10%'>&nbsp;</td>
          	<td width='15%'>&nbsp;</td>
          	<td width='30%'>&nbsp;</td>
		</tr>
		<tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("CheckNumberStart","Item Number From","Label", null)</th>
            <td>$FormFieldRenderer.render("CheckNumberStart",$!form.gets('CheckNumberStart'),"String","Required=True|Size=10")</td>
        	<th class='label'>$FormFieldRenderer.renderLabel("CheckNumberEnd","To","Label", null)</th>
            <td>$FormFieldRenderer.render("CheckNumberEnd",$!form.gets('CheckNumberEnd'),"String","Required=True|Size=10")</td>
			<td colspan='2'>&nbsp;</td>
		</tr>
		<tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("CheckDateStart","Item Date From","Label", null)</th>            
            <td>$FormFieldRenderer.render("CheckDateStart",$!form.gets('CheckDateStart'),"Date","Required=True|onBlur=formatDate(this)")</td>
        	<th class='label'>$FormFieldRenderer.renderLabel("CheckDateEnd","To","Label", null)</th>
            <td>$FormFieldRenderer.render("CheckDateEnd",$!form.gets('CheckDateEnd'),"Date","Required=True|onBlur=formatDate(this)")</td>
			<td colspan='2'>&nbsp;</td>
		</tr>
		<tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("IncludeLabel","Include:","Label", null)</th>
        	<td colspan='5'>
				<table class='format' cellpadding='0' cellspacing='0'>
					<tr>
						<td>
							<table class='format'>
								<tr>
									<td>$FormFieldRenderer.render("IncludeOpen",$form.gets("IncludeOpen"),"CheckBox","")</td>
			        				<th class='label'>$FormFieldRenderer.renderLabel("OpenLabel","Open","Label", null)</th>
			        			</tr>
			        		</table>		
						</td>
						<td>
							<table class='format'>
								<tr>
									<td>$FormFieldRenderer.render("IncludeCleared",$form.gets("IncludeCleared"),"CheckBox","")</td>
			        				<th class='label'>$FormFieldRenderer.renderLabel("ClearedLabel","Cleared","Label", null)</th>
			        			</tr>
			        		</table>		
						</td>
						<td>
							<table class='format'>
								<tr>
									<td>$FormFieldRenderer.render("IncludeVoided",$form.gets("IncludeVoided"),"CheckBox","")</td>
			        				<th class='label'>$FormFieldRenderer.renderLabel("VoidedLabel","Voided","Label", null)</th>
			        			</tr>
			        		</table>		
						</td>
						<td>
							<table class='format'>
								<tr>
									<td>$FormFieldRenderer.render("IncludeStopped",$form.gets("IncludeStopped"),"CheckBox","")</td>
			        				<th class='label'>$FormFieldRenderer.renderLabel("StoppedLabel","Stopped","Label", null)</th>
			        			</tr>
			        		</table>		
						</td>
						<td>
							<table class='format'>
								<tr>
									<td>$FormFieldRenderer.render("IncludeProcessed",$form.gets("IncludeProcessed"),"CheckBox","")</td>
			        				<th class='label'>$FormFieldRenderer.renderLabel("ProcessedLabel","Processed","Label", null)</th>
			        			</tr>
			        		</table>		
						</td>
					</tr>
        		</table>		
			</td>
		    <!-- #set( $saveAction =  "cmmXForm('PYAccountInquiryLoad',&quot;&quot;,&quot;&quot;)" ) -->
			<td align='center'>$FormFieldRenderer.renderButton("LoadInquiry","Load","Button",$!saveAction)</td>			
		</tr>
	</table>
$renderer.tileEnd()

