<!-- Prepare Velocity Variables
	$renderer.setTile("UWProductUW", "additional-areas")
    #if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
		#set( $disable = "disabled" )
    #else
		#set( $disable = "" )
    #end
    #set( $idRef = $CMMParams.gets("IdRef") )
    #if ( $idRef == "" )
		#set( $containerName = $CMMParams.gets("Container") )
       	#set( $container = $CMMResponse.getBean($!containerName) )
       	#set( $idRef = $container.getBean("Line").getBean("Risk").getId())
       	#set( $CMMBean = $CMMResponse.getBeanById($idRef) )
    #end
    #set( $risk = $CMMResponse.getBeanById($idRef) )
    #set( $building = $risk.getBean("Building") )
    #set( $dwProgramTypeCd = $container.getBean("BasicPolicy").gets("DwProgramTypeCd") )
    #if( $UWProductRenderer.isMultiStatePolicy($container) )
    	#set( $productVersionIdRef = $RiskRenderer.getProductVersionIdRef($container, $risk) )
    #else
		#set( $productVersionIdRef = $container.getBean("BasicPolicy").gets("ProductVersionIdRef") )
    #end
    #set( $riskLookupAddrVerificationHash = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationHash") )
    
    #set( $line = $risk.getParentBean() )

    #set( $activeBuildings = $line.findBeansByFieldValue("Building", "Status", "Active") ) 
    #set( $sortedActiveBuildings = $BeanRenderer.sortBeansBy($activeBuildings, ["BldgNumber"], ["Ascending"]) )
    #set( $firstBuilding = $SPI.getObjectAtIndex($sortedActiveBuildings, 0) )
    #set( $firstRisk = $firstBuilding.getParentBean() )

	#set( $isFirstRisk = true )
	#if( $risk.equals($firstRisk) )
		#set( $isFirstRisk = true )
	#else
		#set( $isFirstRisk = false )
	#end 
-->

<!-- #if( !$riskLookupAddrVerificationHash.equals("") && ($isFirstRisk || (!$isFirstRisk && !($firstBuilding.gets("OccupancyCd") == 'Owner')))) -->
$renderer.tileStart("Normal", "Additional Areas of the Dwelling", "None", "None") 

    <table width='74%' class='format'>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea1","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea1",$!building.gets("AdditionalArea1"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt1Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt1","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt1Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt1",$!building.gets("AdditionalAreaSqFt1"),"Integer","onkeypress=return numeralsOnly(event)|onblur=formatNumberComma(event);|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea2","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea2",$!building.gets("AdditionalArea2"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt2Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt2","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt2Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt2",$!building.gets("AdditionalAreaSqFt2"),"Integer","onkeypress=return numeralsOnly(event)|onblur=formatNumberComma(event);|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea3","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea3",$!building.gets("AdditionalArea3"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt3Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt3","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt3Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt3",$!building.gets("AdditionalAreaSqFt3"),"Integer","onkeypress=return numeralsOnly(event)|onblur=formatNumberComma(event);|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea4","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea4",$!building.gets("AdditionalArea4"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt4Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt4","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt4Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt4",$!building.gets("AdditionalAreaSqFt4"),"Integer","onkeypress=return numeralsOnly(event)|onblur=formatNumberComma(event);|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea5","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea5",$!building.gets("AdditionalArea5"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt5Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt5","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt5Value"width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt5",$!building.gets("AdditionalAreaSqFt5"),"Integer","onkeypress=return numeralsOnly(event)|onblur=formatNumberComma(event);|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea6","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea6",$!building.gets("AdditionalArea6"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt6Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt6","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt6Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt6",$!building.gets("AdditionalAreaSqFt6"),"Integer","onkeypress=return numeralsOnly(event)|onblur=formatNumberComma(event);|Size=10|${disable}")</td>
		</tr>
	</table>
	
	<script type="text/javascript">
		// Add Comma to number 
		function formatNumberComma(itemName) {
			var num = itemName.target.value;
			var symbol = "\\,";	
			var symbolRegex = new RegExp(symbol, "g");
			num = num.toString().replace(symbolRegex,"");
			
			if( isNaN(num) || num == "" ) {
				num = "0";	
			}
			for( var i = 0; i < Math.floor((num.length-(1+i))/3); i++ ) {
				num = num.substring(0,num.length-(4*i+3))+','+ num.substring(num.length-(4*i+3));
			}
			itemName.target.value = num;
		}
		
		function displaySqFtField(){
			var area1 = $("#Building\\.AdditionalArea1").val();
			var area2 = $("#Building\\.AdditionalArea2").val();
			var area3 = $("#Building\\.AdditionalArea3").val();
			var area4 = $("#Building\\.AdditionalArea4").val();
			var area5 = $("#Building\\.AdditionalArea5").val();
			var area6 = $("#Building\\.AdditionalArea6").val();
			
			if( area1 != 'None') {
				$("#AdditionalAreaSqFt1Label, #AdditionalAreaSqFt1Value").show();
			} else {
				$("#AdditionalAreaSqFt1Label, #AdditionalAreaSqFt1Value").hide();
			}
		
			if(area2 != 'None') {
				$("#AdditionalAreaSqFt2Label, #AdditionalAreaSqFt2Value").show();
			} else {
				$("#AdditionalAreaSqFt2Label, #AdditionalAreaSqFt2Value").hide();
			}
			
			if(area3 != 'None') {
				$("#AdditionalAreaSqFt3Label, #AdditionalAreaSqFt3Value").show();
			} else {
				$("#AdditionalAreaSqFt3Label, #AdditionalAreaSqFt3Value").hide();
			}
			
			if(area4 != 'None') {
				$("#AdditionalAreaSqFt4Label, #AdditionalAreaSqFt4Value").show();
			} else {
				$("#AdditionalAreaSqFt4Label, #AdditionalAreaSqFt4Value").hide();
			}
			
			if(area5 != 'None') {
				$("#AdditionalAreaSqFt5Label, #AdditionalAreaSqFt5Value").show();
			} else {
				$("#AdditionalAreaSqFt5Label, #AdditionalAreaSqFt5Value").hide();
			}
			
			if(area6 != 'None') {
				$("#AdditionalAreaSqFt6Label, #AdditionalAreaSqFt6Value").show();
			} else {
				$("#AdditionalAreaSqFt6Label, #AdditionalAreaSqFt6Value").hide();
			}
			
		}
	
		$("#Building\\.AdditionalArea1, #Building\\.AdditionalArea2,#Building\\.AdditionalArea3, #Building\\.AdditionalArea4, #Building\\.AdditionalArea5, #Building\\.AdditionalArea6").on("change",displaySqFtField);
		displaySqFtField();	
	</script>

$renderer.tileEnd()
<!-- #end -->   
