<!-- Prepare Velocity Variables
$renderer.setTile("UWApplication", "policy-form-information")

#if( $tileType == "Policy" )
     #set( $disable = "disabled" )
     #set( $tileName = "policy-form-information" )
#elseif( $displayMode )
     #set( $disable = "disabled" )
     #set( $tileName = "policy-form-information" )
#else
     #set( $disable = "" )
     #set( $tileName = "policy-form-information" )
#end
#set( $originalSubTypeCd = '' )
#set( $originalDwProgramTypeCd = '')
#if( $containerName.equals("Application") )
	#set( $applicationMini = $BeanRenderer.selectMiniBean("Application", $Application.getSystemId()) )
	#set( $originalProductVersionIdRef = $applicationMini.getBean("BasicPolicy").gets("ProductVersionIdRef") )	
	#set( $originalSubTypeCd = $applicationMini.getBean("BasicPolicy").gets("SubTypeCd") )
	#set( $originalDwProgramTypeCd = $applicationMini.getBean("BasicPolicy").gets("DwProgramTypeCd") )
#end	
#set( $containerName = $CMMParams.gets("Container") )
#set( $container = $CMMResponse.getBean($!containerName) )
#set( $lineVar = $container.getBean("Line").gets("LineCd")) 
#set( $buildingRef = $risk.getBean("Building") ) 
#if( $BasicPolicy.gets("SubTypeCd").equals("FL1") )
      #set( $acvFieldVisibility = "visibility: hidden;" )
#else
      #set( $acvFieldVisibility = "" )
#end
      
#if( !$BasicPolicy.gets("SubTypeCd").equals("FL1") )
      #set( $ecVMMFieldVisibility = "visibility: hidden;" )
#else
      #set( $ecVMMFieldVisibility = "" )
#end
#set( $subTypeCd = $!BasicPolicy.gets("SubTypeCd")) 
#set( $listSource =  "all" )
#if( $MigratedPolicyInd )
	#set( $listSource =  "migrated" )
#end

-->
<!-- #if( !$disable.equals("disabled") && ( !$BasicPolicy.gets("SubTypeCd").equals($originalSubTypeCd) || !$BasicPolicy.gets("DwProgramTypeCd").equals($originalDwProgramTypeCd) ) ) -->
<script type="text/javascript">
$(window).on('load', function() {
	forceDirty = true;
});
</script>
<!-- #end -->
$FormFieldRenderer.render("CurrentFieldId", $currentFieldId, "Hidden")
$FormFieldRenderer.render("InitiatingField", "", "Hidden")
$!renderer.tileStart("Normal","Policy Form Information","None","None")
	<table width='100%' class='format' cellpadding='0' cellspacing='0'>	  	
		<tr colspan='2'>
		<!-- #if ( $containerName.equals("Application") && $StringRenderer.in($TransactionInfo.gets("TransactionCd"), "New Business,Rewrite-New,Endorsement, Rewrite-Renewal,Renewal,Renewal Start, Renewal Changes") ) -->
	       <th width='15%' class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.SubTypeCd","Policy Form","Label",$CMMResponse,"Required=True")
				<img src='img/help-small.png' id="Imagetext" title="Condominiums must select FL-2 Broad Form."/>
			</th>
	       <td width='25%'>$ProductRenderer.productSelectField("BasicPolicy.SubTypeCd",$BasicPolicy.gets("SubTypeCd"),$productVersionIdRef,"UW::underwriting::policy-form::all","onChange=$producerAction|Required=True|Prompt=Select...|${disable}")</td>	       
		<!-- #else -->
     	   <th width='15%' class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.SubTypeCd","Policy Form","Label",$CMMResponse,"Required=True")
				<img src='img/help-small.png' id="Imagetext" title="Condominiums must select FL-2 Broad Form."/>
			</th>
	       <td width='25%'>$ProductRenderer.productSelectField("BasicPolicy.SubTypeCd",$BasicPolicy.gets("SubTypeCd"),$productVersionIdRef,"UW::underwriting::policy-form::all","onChange=$producerAction|Required=True|Prompt=Select...|disabled")</td>
	    <!-- #end -->	    	      	
	 	<!-- #if ( $containerName.equals("Application") && $StringRenderer.in($TransactionInfo.gets("TransactionCd"), "New Business,Rewrite-New,Endorsement, Rewrite-Renewal,Renewal,Renewal Start, Renewal Changes") ) -->
	       <th width='17%' class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.DwProgramTypeCd","Dwelling Properties Program","Label",$CMMResponse,"Required=True")</th>
	       <td width='30%'>$ProductRenderer.productSelectField("BasicPolicy.DwProgramTypeCd",$BasicPolicy.gets("DwProgramTypeCd"),$productVersionIdRef,"UW::underwriting::dpprogram-type::all","onChange=$producerAction|Required=True|Prompt=Select...|${disable}")</td>	       
		<!-- #else -->
     	   <th width='17%' class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.DwProgramTypeCd","Program Type","Label",$CMMResponse,"Required=True")</th>
	       <td width='30%'>$ProductRenderer.productSelectField("BasicPolicy.DwProgramTypeCd",$BasicPolicy.gets("DwProgramTypeCd"),$productVersionIdRef,"UW::underwriting::dpprogram-type::all","onChange=$producerAction|Required=True|Prompt=Select...|disabled")</td>
	    <!-- #end -->	    	      	
	  </tr>
     </table>
$!renderer.tileEnd()
