<!-- Prepare Velocity Variables
    $renderer.setTile("UW","building-list")
    #set( $containerName = $CMMParams.gets("Container") )
    #set( $systemId = $CMMParams.gets("SystemId") )
    #set( $container = $CMMResponse.getBean($containerName) )
    #set( $locations = $container.getBeans("Location") )
    
    #set( $lineIdRef = $CMMParams.gets("ParentIdRef") )
    #set( $line = $container.getBeanById($lineIdRef) )
    
    #set( $riskList = $line.getAllBeans("Risk") )
    #set( $riskList = $RiskRenderer.sortBuildingList($riskList) )
    
    #if( $tileType == "Policy" || $displayMode )
        #set ( $disabled = "disabled") 
    #end 
	#set( $subTypeCd = $container.getBean("BasicPolicy").gets("SubTypeCd") )
	
	#set( $systemId = $CMMParams.gets("SystemId") )
-->
    #set( $id = $!container.getId() )
    <!-- #if ( $containerName == "Application" && $displayMode != true ) -->
    <!-- ##$renderer.addTileCommand("<a id='AddLocation' href=javascript:cmmXForm('UWLocationDwellingNew','$!systemId','$!id','','NewLocation=True')>[Add Location]</a>")-->
    <!-- #end -->
    $renderer.addTileCommand("<a href=javascript:expandAllId('risk');expandAllId('loc')>[Expand List]</a>")
    $renderer.addTileCommand("<a href=javascript:collapseAllId('risk');collapseAllId('loc')>[Collapse List]</a>")
    $renderer.tileStart("List","RiskLocationList","None","None")
        <table width='100%' class='format'>
        <input id="uinotes" name="uinotes_xxx" style='display:none' onfocus='javascript:this.style.display="none"' />
        <!-- #set ( $counter = 0 ) -->
        <!-- #set ( $count = 0 ) -->
        <!-- #foreach ( $location in $locations ) -->
        	<!-- #if( $location.gets("Status").equals("Active") ) -->
        		<!-- #set( $count = $count + 1 ) -->
        	<!-- #end -->
        <!-- #end -->
        <!-- #foreach ( $location in $locations ) -->
            <!-- #if ( $velocityCount == 1 ) -->
            <tr> 
                <!-- th class='column' width='2%'>&nbsp;</th>-->
                <th class='column' width='2%'>&nbsp;</th>
                <th class='column' width='66%'>Building Number / Address</th>
                <th class='column' width='30%'>&nbsp;</th>
            </tr>


            <tr>
                <!-- <td align='center'><img src='img/expand.gif' id='imgloc$counter' onClick='toggle("loc${counter}");'></td>-->
                <td colspan='2'><!--$!location.gets("LocationNumber") - $!location.gets("LocationDesc")--></td>
                <td align='left'>
	                <!-- #set ( $parentId = $location.getParentBean().getId() ) -->
	                <!-- #set( $id = $!container.getBean("Line").getId() ) -->
		            <!-- #if ( $tileType != "Policy" && !$subTypeCd.equals("")) -->
		                <a id='Location$!location.gets("LocationNumber")_AddRisk' class='actionLink' href='javascript:cmmXForm("UWLineUpdateRiskNew", "$CMMParams.gets("SystemId")", "$line.getId()", "$line.getId()", "Operation=Update&RiskTypeCd=Dwelling")'>Add Risk</a>	                	
	                <!-- #end -->
                </td>
            </tr>


            <!-- #end -->
            <!-- #if ( $location.gets("Status") != "Deleted" ) -->

	            <!-- #if ( $velocityCount == $locations.size() ) -->
	            <!-- #end -->

            <!-- tr id='rowloc$counter' style='display:none;'>-->
                <!-- td/-->
                <!-- #set ( $locAddr = $location.getBean("Addr", "AddrTypeCd", "LocationAddr") ) -->
                <!-- <td colspan='3'>$!locAddr.gets("Addr1")&nbsp$!locAddr.gets("Addr2")&nbsp;$!locAddr.gets("City")&nbsp;$!locAddr.gets("StateProvCd")&nbsp;$!locAddr.gets("PostalCode")</td>-->
            <!-- </tr>-->
                <!-- #set ($riskCnt = 0) -->
                <!-- #foreach ( $risk in $riskList) ) -->
                    <!-- #if ( $risk.gets("LocationRef") == $location.getId() ) -->
	                    <!-- #set ( $building = $risk.getBean("Building") ) -->
	                    <!-- #if ( $building.gets("Status") != "Deleted") -->
	                        <!-- #set( $riskAddr = $building.getBean("Addr", "AddrTypeCd", "RiskAddr") ) -->
	                        <!-- #set( $riskTypeCd = $risk.gets("TypeCd")) -->
	                        <!-- #set( $buildingNumber = $building.gets("BldgNumber") ) -->
		                    <tr>
		                    	<!-- td/-->
		                        <td align='center'><img src='img/expand.gif' id='imgrisk${counter}-${riskCnt}' onClick='toggle("risk${counter}-${riskCnt}");'></td>
		                        <!-- #if ( $!risk.gets("Description") == "" || $!risk.gets("Description") == " ") -->
		                        	<td>$!building.gets("BldgNumber") - $AddressRenderer.buildAddress($!building.getBean("Addr", "AddrTypeCd", "RiskAddr"), "Physical", 4, 35)</td>
                    			<!-- #else -->
		                        	<td>$!building.gets("BldgNumber") - $AddressRenderer.buildAddress($!building.getBean("Addr", "AddrTypeCd", "RiskAddr"), "Physical", 4, 35)</td>
		                        <!-- #end --> <!-- if risk has not been deleted -->

		                        <td align='left'>
		                        <!-- #set ( $parentId = $risk.getParentBean().getId() ) -->
		                        <!-- #if ( $tileType == "Policy" ) -->
		                            <a id='Risk_${buildingNumber}_View' class='actionLink' href='javascript:cmmXForm("UWRiskSync","$CMMParams.gets("SystemId")", "$!parentId", "$risk.getId()", "Container=Policy&TransactionNumber=$transactionNumber")'>View</a>&nbsp;&nbsp;
		                        <!-- #elseif ( $displayMode == true ) -->
		                            <a id='Risk_${buildingNumber}_View' class='actionLink' href='javascript:cmmXForm("UWRiskSync","$CMMParams.gets("SystemId")", "$!parentId", "$risk.getId()", "")'>View</a>&nbsp;&nbsp;
		                        <!-- #elseif( !$subTypeCd.equals("") ) -->
		                            <a id='Risk_${buildingNumber}_Change' class='actionLink' href='javascript:cmmXForm("UWLineUpdateRiskSync","$CMMParams.gets("SystemId")", "$!parentId", "$!parentId", "RiskIdRef=$risk.getId()")'>Change</a>&nbsp;&nbsp;
		                            <!-- #if ( !$RiskRenderer.isSingleRisk($container) ) -->
			                            <a id='Risk_${buildingNumber}_Delete' class='actionLink' href='javascript:if( confirm("Delete Risk?") ) cmmXForm("UWLineUpdateRiskDelete","$CMMParams.gets("SystemId")", "$!parentId", "$!parentId", "RiskIdRef=$risk.getId()")'>Delete</a>&nbsp;&nbsp;
		                        	<!-- #end -->
								  	<!-- #set ( $isWorkComp = "" ) -->
								  	<!-- #set ( $isMultiState = "" ) -->

									<!-- #set( $productVersionIdRef = $location.gets("ProductVersionIdRef") ) -->
									<!-- #if( $productVersionIdRef ) -->
										<!-- #set( $multiStatelocations = $container.findBeansByFieldValue("Location", "ProductVersionIdRef", $productVersionIdRef) )-->
										<!-- #if( $SPI.beanArrayLength($multiStatelocations) > 1 ) -->
											<!-- #set( $isMultiState = "true")-->
										<!-- #end -->
									<!-- #end -->

									<!-- #if( !$location.gets("ProductVersionIdRef").equals("") ) -->
										<!-- #if( $isMultiState == "true")-->
											$FormFieldRenderer.renderLink("Risk_${buildingNumber}_Move", "Move", "Link", "", "javascript:cmmXForm('UWRiskLocationLoadMove', $systemId, '$parentId', '$parentId', 'RiskLocationRef=$location.getId()&RiskIdRef=$risk.getId()')")&nbsp;
										<!-- #end -->
									<!-- #elseif($count > 1) -->
										$FormFieldRenderer.renderLink("Risk_${buildingNumber}_Move", "Move", "Link", "", "javascript:cmmXForm('UWRiskLocationLoadMove', $systemId, '$parentId', '$parentId', 'RiskLocationRef=$location.getId()&RiskIdRef=$risk.getId()')")&nbsp;
									<!-- #end -->
		                        <!-- #end -->
		                        </td>
		                    </tr>
		                    <tr id='rowrisk${counter}-${riskCnt}' style='display:none;'>
		                        <!-- td/-->
		                        <td/>
		                        <td colspan='2'>$!riskAddr.gets("Addr1")&nbsp$!riskAddr.gets("Addr2")&nbsp;$!riskAddr.gets("City")&nbsp;$!riskAddr.gets("StateProvCd")&nbsp;$!riskAddr.gets("PostalCode")</td>
		                    </tr>
	                        <!-- #set ($riskCnt = $riskCnt + 1 ) -->
	                    <!-- #end --> <!-- if risk has not been deleted -->
                    <!-- #end --> <!-- if risk belongs to this location -->
                <!-- #end --> <!-- foreach risk -->
                <!-- #set($counter = $counter + 1) -->
            <!-- #end -->  <!-- if location is valid and active -->
        <!-- #end --> <!-- foreach location -->
	  <!-- #if( $counter == 0 ) -->
	       <tr>
		    <td colspan='4'><b>Empty List</b></td>
	       </tr>    
	  <!-- #end -->  
        </table>
        $SPI.debug('TEST')
    $renderer.tileEnd()