<!-- Prepare Velocity Variables    
    $renderer.setTile("UW", "questions-conversion") 
    
    #set( $businessSourceCd = $BasicPolicy.gets("BusinessSourceCd") )
	
	#if( $businessSourceCd.equals("Conversion") )
		#set( $businessCdConversion = true )
	#else
		#set( $businessCdConversion = false )
	#end

	#set( $dwProgramType = $BasicPolicy.gets("DwProgramTypeCd") )
	#set( $transactionHistory = $BasicPolicy.getBean("TransactionHistory") )
	#set( $transactionCd = $transactionHistory.gets("TransactionCd") )
	#set( $allowEditQuestionsOnTransactions = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowEditUWQuestionsOnTransactions",$todayDt) )

	#set( $riskLookupAddrVerificationHash = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationHash") )
	#set( $riskLookupAddrVerificationMsg = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationMsg") )
-->

<style type="text/css" media="screen">
	div#Questions table { width: 100%; }
</style>

#if( $fortifiedZipLookup.isEmpty() ) 
<style type="text/css" media="screen">
	#Question_QMeetFortifiedMapReq_Row { display: none; }
</style>
#end

 <script language="JavaScript">
	$(function(){
		if( !$businessCdConversion ){
			$("#Question_TrampolineonPremises option[value='Yes']").remove();
		}
	});

	//Visibility By Dwelling Style
	function condoQuestionVisbility(){
		var questionIds = ["QManagerOnPremises","QSecurityAttendant","QBldgEntranceLocked"];
	
		var dwellingStyle = $("#Building\\.DwellingStyle").val();
	
		if (dwellingStyle === "Condominium/Co-operative") {
			jQuery.each(questionIds, function(i,v) { $("#Question_"+v+"_Row").show(); });
		} else {
			jQuery.each(questionIds, function(i,v) { $("#Question_"+v+'_Row').hide(); });
		}   
	}
	$("#Building\\.DwellingStyle").on("change",function(){
		condoQuestionVisbility();	
		toggleVisiblyRequiredFields();
	});	

	function questionGeneralCon(){
		var residence = $("#Building\\.Residence").val();
	
		if ( residence === "Under Construction (New)" || residence === "Vacant Under Renovation" ) {
			$("#Question_QAppGeneralContractor_Row").show();
			$("#Question_QPropertyInUse_Row").show();
		} else {
			$("#Question_QAppGeneralContractor_Row").hide();
			$("#Question_QPropertyInUse_Row").hide();
		}   
	}
	 
	$("#Building\\.Residence").on("change",function(){
		questionGeneralCon();	
		toggleVisiblyRequiredFields();
	});
	
	function heatQuestion(){
		var possible = ["Oil Forced Air","Oil Hot Water / Steam","Oil Radiant"];
		
		var heat1 = $("#Building\\.Heating").val();
		var heat2 = $("#Building\\.SecondaryHeat").val();
	
		if( possible.indexOf(heat1) != -1 || possible.indexOf(heat2) != -1 ) {
			$("#Question_QOtherInsForFuelTank_Row").show();
		} else {
			$("#Question_QOtherInsForFuelTank_Row").hide();
		}   
	}
	
	$("#Building\\.Heating").on("change",function(){
		heatQuestion();	
		toggleVisiblyRequiredFields();
	});
	
	$("#Building\\.SecondaryHeat").on("change",function(){
		heatQuestion();	
		toggleVisiblyRequiredFields();
	});
		
	
	function questionRentedToStudent(){
		var student = $("#Building\\.StudentHousing").val();
	
		if ( student === "Yes" ) {
			$("#Question_QPropRentedToStudents_Row").show();
			$("#Question_QPropRentedToStudents").val("YES").prop("disabled",true);
		} else {
			$("#Question_QPropRentedToStudents_Row").hide();
			$("#Question_QPropRentedToStudents").val("NO").prop("disabled",true);
		}   
	}
	 
	$("#Building\\.StudentHousing").on("change",function(){
		questionRentedToStudent();
		toggleVisiblyRequiredFields();
	});
	
	function questionRentersInsurance(){
		var occupancy = $("#Building\\.OccupancyCd").val();
	
		if ( occupancy === "Owner" ) {
			$("#Question_QRentersInsReq_Row").hide();
		} else {
			$("#Question_QRentersInsReq_Row").show();
		}   
	}
	 
	$("#Building\\.OccupancyCd").on("change",function(){
		questionRentersInsurance();
		toggleVisiblyRequiredFields();
	});
	
	function questionLeaseRequired(){
		var occupancy = $("#Building\\.OccupancyCd").val();
	
		if ( occupancy === "Owner" ) {
			$("#Question_QLeaseReq_Row").hide();
		} else {
			$("#Question_QLeaseReq_Row").show();
		}   
	}
	 
	$("#Building\\.OccupancyCd").on("change",function(){
		questionLeaseRequired();
		toggleVisiblyRequiredFields();
	});
	
	function naturalGasWellHideSubQuestions(){
		var naturalGasWell = $("#Question_QNaturalGasWellOnPremises").val(); 
		
		if(naturalGasWell.toUpperCase() === "NO") {
			$("#Question_QH2SPresent_Row").hide();
			$("#Question_QH2SPresent").val("");
			$("#Question_QLineInHouse_Row").hide();
			$("#Question_QLineInHouse").val("");
		} else {
			$("#Question_QH2SPresent_Row").show();
			$("#Question_QLineInHouse_Row").show();
		}
	}
	 
	$("#Question_QNaturalGasWellOnPremises").on("change",function(){
		naturalGasWellHideSubQuestions();
	});
	
	function naturalGasWellTypeHideSubQuestions(){
		var naturalGasWellType = $("#Question_QNaturalGasWell").val(); 
		var H2SPresent = $("#Question_QH2SPresent").val(); 
		
		if(naturalGasWellType != "Active Low Pressure" && naturalGasWellType != "Inactive and Active Low Pressure") {
			if(H2SPresent != "") {
				$("#Question_QLineInHouse_Row").hide();
				$("#Question_QLineInHouse").val("");
			}
		} else {
			$("#Question_QLineInHouse_Row").show();
		}
	}
	 
	$("#Question_QNaturalGasWell").on("change",function(){
		naturalGasWellTypeHideSubQuestions();
	});
	
	$( '#Questions input[type=text]' ).css({'text-align' : 'left'});
	
	function toggleVisiblyRequiredFields(){
		$( '#Questions tr[id] input[type=hidden]' ).each(function() {
			$(this).val( $(this).val().replace('Required=True', '') );
		});
		
		$('#Questions tr[id] label' ).each( function(){
			var text = $( this ).text();
			
			if( text.length > 0 && text[ text.length - 1] === '*' )
				$(this).text( text.substring(0, text.length - 1 ) );
		});
		
		$('#Questions tr[id]:visible label' ).each( function(){
			$(this).text( $( this ).text() + '*' );
		});
		 
		$( '#Questions tr[id]:visible input[type=hidden]' ).each(function() {
			$(this).val( $(this).val() + '|Required=True' );
		});
		
		$("div#Questions > table.format > tbody > tr:visible:odd").addClass("greenbar").removeClass("whitebar");
		$("div#Questions > table.format > tbody > tr:visible:even").addClass("whitebar").removeClass("greenbar");
	}

	function toggleVisiblyReadOnlyRequiredFields(){
      $('#Questions tr[id] label' ).each( function(){
        var text = $( this ).text();

        if( text.length > 0 && text[ text.length - 1] === '*' )
          $(this).text( text.substring(0, text.length - 1 ) );
      });

      $('#Questions tr[id]:visible label' ).each( function(){
        $(this).text( $( this ).text() + '*' );
      });

      $("div#Questions > table.format > tbody > tr:visible:odd").addClass("greenbar").removeClass("whitebar");
      $("div#Questions > table.format > tbody > tr:visible:even").addClass("whitebar").removeClass("greenbar");
      $('select[id^=Question_]:visible, input[type=text][id^=Question_]:visible').prop('disabled', true);
    }

	 $(document).ready( function() {
        if ($riskLookupAddrVerificationHash.equals("") && $riskLookupAddrVerificationMsg.equals("") ){
            $('#Questions').parent().parent().parent().hide();
        } else {

          var strQuestionIds = ["QGuestCapacity", "QWrittenContractPropMgr", "QRentPropGuestScrResp",
            "QRentPropCollectionResp", "QRentPropMaintResp", "QRentPropHousekeepingtResp",
            "QSTRFireExtinquisher", "QSTRNotHeated", "QSTRWinterized",
            "QSTRHotTub", "QSTRSignedRentalAgreement", "QRentPropMktgResp"];

          if ("$dwProgramType" === "STR") {
            jQuery.each(strQuestionIds, function (i, v) {
              $("#Question_" + v + "_Row").show();
            });
          } else {
            jQuery.each(strQuestionIds, function (i, v) {
              $('#Question_' + v + '_Row').hide();
            });
          }

          condoQuestionVisbility();
          questionGeneralCon();
          heatQuestion();
          questionRentedToStudent();
          questionRentersInsurance();
          questionLeaseRequired();

          if ( "$transactionCd" !== "New Business" && "$transactionCd" !== "Rewrite-New" && "$businessSourceCd" !== "Conversion" && "$allowEditQuestionsOnTransactions" === "No") {
            toggleVisiblyReadOnlyRequiredFields();
          } else {
            toggleVisiblyRequiredFields();
          }
        }
	} );
	
	
	$('#Questions select' ).on('change', function(){
      if ("$transactionCd" !== "New Business" && "$transactionCd" !== "Rewrite-New" && "$businessSourceCd" !== "Conversion" && "$allowEditQuestionsOnTransactions" === "No") {
        toggleVisiblyReadOnlyRequiredFields();
      } else {
        toggleVisiblyRequiredFields();
      }
	});
</script>

