<!--
	#set( $productVersionIdRef = $AdditionalParams.getBean("Param","Name","ProductVersionIdRef").gets("Value") )
	#set( $fortifiedZip = $AdditionalParams.getBean("Param","Name","RiskLookupAddr.PostalCode").gets("Value") )

    #set( $first5FortZipLookup = $fortifiedZip )
    #if( $first5FortZipLookup.length() > 5 )
        #set( $first5FortZipLookup = $first5FortZipLookup.substring(0,5) )
    #end
    #set( $fortifiedZipLookup = $ProductRenderer.getCoderefValue($productVersionIdRef, "UW::underwriting::risk-address-zip::all", $first5FortZipLookup) )
-->

<!-- #if( !$fortifiedZipLookup.equals("") ) -->
<table width="100%" class='format'>
    <th width="53%" id ='FortifiedLabel' class='label'>$FormFieldRenderer.renderLabel("Building.MeetFortifiedMapReq","Does this risk meet the fortified map requirements for distance to the coast?","Label",$CMMResponse,"Required=True")</th>
    <td width="13%" id ='FortifiedValue'>$ProductRenderer.productSelectField("Building.MeetFortifiedMapReq","",$productVersionIdRef,"CO::common::yes-no::all","Required=True|Prompt=Select...|${disable}")</td>
    <td width="34%"><div id="fortInfo"><a href="https://www.google.com/maps/d/viewer?mid=1SYKsyTE4WqoTAeGh0zsq77v-hyc&usp=sharing" target="_blank">Rockingham Insurance Fortified Requirement Map</a><br/><a href="http://disastersafety.org/fortified/" target="_blank">Institute of Business and Home Safety</a></div></td>
</table>
<script>
  function showHideFort() {
    if( $("#Building\\.MeetFortifiedMapReq").val() !== "No" ) {
      $("#fortInfo").hide();
    } else {
      $("#fortInfo").show();
    }
  }

  $('#Building\\.MeetFortifiedMapReq').on('change', function(){
    showHideFort();
  });

  showHideFort();
</script>
<!-- #end -->