<!-- Prepare Velocity Variables
	$renderer.setTile("UWProductUW", "risk-location-edit")
    #if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
		#set( $disable = "disabled" )
    #else
		#set( $disable = "" )
    #end
    #set( $idRef = $CMMParams.gets("IdRef") )
    #if ( $idRef == "" )
		#set( $containerName = $CMMParams.gets("Container") )
       	#set( $container = $CMMResponse.getBean($!containerName) )
       	#set( $idRef = $container.getBean("Line").getBean("Risk").getId())
       	#set( $CMMBean = $CMMResponse.getBeanById($idRef) )
    #end
    #set( $allowFACRiskNumber = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowFACRiskNumber",$todayDt) )
    #set( $risk = $CMMResponse.getBeanById($idRef) )
    #set( $building = $risk.getBean("Building") )
    #set( $riskAddr = $building.getBean("Addr", "AddrTypeCd", "RiskAddr") )
    #set( $dwProgramTypeCd = $container.getBean("BasicPolicy").gets("DwProgramTypeCd") )
    #set( $premiumGroup = $building.gets("PremiumGroup") )
    #set( $premiumGroupLLP = $building.gets("LLPremiumGroup") ) 
    #set( $riskLookupAddr = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr") )
    #if( $UWProductRenderer.isMultiStatePolicy($container) )
    	#set( $productVersionIdRef = $RiskRenderer.getProductVersionIdRef($container, $risk) )
    #else
		#set( $productVersionIdRef = $container.getBean("BasicPolicy").gets("ProductVersionIdRef") )
    #end
	
	## Create a new instance of ScheduledPremiumModRenderer only if one hasn't already been
	## created in the current velocity context.
	#if( !$scheduledPremiumModRenderer )
		#set( $scheduledPremiumModRenderer = $ScheduledPremiumModRenderer.getInstance($CMMResponse) )
	#end
	
	#if($riskLookupAddr.gets("County").equals("Virginia Beach") || $riskLookupAddr.gets("County").equals("Accomack") || $riskLookupAddr.gets("County").equals("Northampton") || $riskLookupAddr.gets("County").equals("Virginia Beach City") )
		#set( $hideBeachRisk = "true" )
	#else 
		#set( $hideBeachRisk = "false" )
	#end
	
	#set( $fortifiedZip = $riskLookupAddr.gets("PostalCode") )
	#set( $first5FortZipLookup = $fortifiedZip )
	#if( $first5FortZipLookup.length() > 5 ) 
		#set( $first5FortZipLookup = $first5FortZipLookup.substring(0,5) )
	#end
	#set( $fortifiedZipLookup = $ProductRenderer.getCoderefValue($productVersionIdRef, "UW::underwriting::risk-address-zip::all", $first5FortZipLookup) )
	
	#set( $line = $risk.getParentBean() )

    #set( $activeBuildings = $line.findBeansByFieldValue("Building", "Status", "Active") ) 
    #set( $sortedActiveBuildings = $BeanRenderer.sortBeansBy($activeBuildings, ["BldgNumber"], ["Ascending"]) )
    #set( $firstBuilding = $SPI.getObjectAtIndex($sortedActiveBuildings, 0) )
    #set( $firstRisk = $firstBuilding.getParentBean() )

	#set( $isFirstRisk = true )
	#if( $risk.equals($firstRisk) )
		#set( $isFirstRisk = true )
	#else
		#set( $isFirstRisk = false )
	#end 
-->

<script type="text/javascript">
function enableOccupiedPct() {
	var indField = document.getElementById("Building.OccupancyCd");
	var occupiedPctLabel = document.getElementById("span_label_OccupiedPct");
	var occupiedPctField = document.getElementById("span_OccupiedPct");
	if (indField && occupiedPctField && occupiedPctLabel) {
		if (indField.value == "Both") {
			occupiedPctField.style.display = "";
			occupiedPctLabel.style.display = "";
		} else {
			occupiedPctField.style.display = "none";
			occupiedPctLabel.style.display = "none";
		}
	}
}

</script>
<!-- #if($isFirstRisk || (!($isFirstRisk) && !($firstBuilding.gets("OccupancyCd") == 'Owner'))) -->
$renderer.tileStart("Normal", "Risk Location General", "None", "None")

    $renderer.inputHidden("ProductVersionIdRef", $productVersionIdRef )
    $renderer.inputHidden("Risk.TypeCd", $risk.gets("TypeCd") )
    $renderer.inputHidden("Risk.Status", $risk.gets("Status") )
    $renderer.inputHidden("Risk.LocationRef", $risk.gets("LocationRef") )
	$renderer.inputHidden("Building.BldgNumber", $building.gets("BldgNumber") )

    <table width='74%' class='format'>
		<tr>
            <th width='20%' class='label'>$FormFieldRenderer.renderLabel("Risk.Description","Risk Description","Label",$CMMResponse,"Required=False")</th>
	    	<td colspan='4'>$FormFieldRenderer.render("Risk.Description",$!risk.gets("Description"),"String","Required=False|Size=60|${disable}")</td>
		</tr>
		
		<tr>
			<!-- #if( $StringRenderer.isTrue($allowFACRiskNumber) ) -->
			<th width='20%' class='label'>$FormFieldRenderer.renderLabel("Building.FACRiskNumber","FAC Risk Number","Label",$CMMResponse,"Required=False")</th>
	    	<td colspan='4'>$FormFieldRenderer.render("Building.FACRiskNumber",$!building.gets("FACRiskNumber"),"String","Size=20|${disable}")</td>
	    	<!-- #else -->
	    	<td>$renderer.inputHidden("Building.FACRiskNumber", $building.gets("FACRiskNumber") )</td>
	    	<!-- #end -->
		</tr>
	</table>
	
	$AddressRenderer.renderInputBlock("PhysicalLookupWithCounty", $riskLookupAddr, $context, "Required=True|Label=Lookup Address|LabelColumnWidth=15%|FieldColumnWidth=85%")
	
	<table width="74%" class='format'>
	<tr>
         <th class='label' width='20%'>$FormFieldRenderer.renderLabel("Building.TerritoryCd","Territory","Label",$CMMResponse)</th>
        <td width='13%'>$FormFieldRenderer.render("Building.TerritoryCd",$!building.gets("TerritoryCd"),"Integer","Size=3|Disabled")</td>
		
		<!-- #if( $hideBeachRisk.equals("true") ) -->	
        	<th width='20%' class='label'>$FormFieldRenderer.renderLabel("Building.BeachRisk","Beach Location?","Label",$CMMResponse)</th>
        	<td width='13%'>$ProductRenderer.productSelectField("Building.BeachRisk",$!building.gets("BeachRisk"),$productVersionIdRef,"CO::common::no-yes::all","${disable}")</td>   
        <!-- #end -->  
        
        <!-- #if( $dwProgramTypeCd.equals("STR") ) -->
        	<th class='label' width="20%">$FormFieldRenderer.renderLabel("Building.LLPremiumGroup","LLP Premium Group","Label",$CMMResponse)</th>
        	<td width="13%">$FormFieldRenderer.render("Building.LLPremiumGroup",$!building.gets("LLPremiumGroup"),"Integer","Size=3|Disabled")</td>
        	
        	<th class='label' width="20%">$FormFieldRenderer.renderLabel("Building.PremiumGroup","Premium Group","Label",$CMMResponse)</th>
        	<td width="20%">$FormFieldRenderer.render("Building.PremiumGroup",$!building.gets("PremiumGroup"),"Integer","Size=3|Disabled")</td>
        <!-- #else --> 
	        <!-- #if( $dwProgramTypeCd.equals("LLP") ) -->	
	        	<!-- #if( !$premiumGroupLLP.equals("") ) -->	
	        		<th class='label' width="20%">$FormFieldRenderer.renderLabel("Building.LLPremiumGroup","Premium Group","Label",$CMMResponse)</th>
	        		<td width="13%">$FormFieldRenderer.render("Building.LLPremiumGroup",$!building.gets("LLPremiumGroup"),"Integer","Size=3|Disabled")</td>
				<!-- #else -->
	        		<th class='label' width="20%">&nbsp;</th>
	        		<td width="20%">&nbsp;</td>
		        <!-- #end -->
	        <!-- #else -->
		        <!-- #if( !$premiumGroup.equals("") ) -->	
	        		<th class='label' width="20%">$FormFieldRenderer.renderLabel("Building.PremiumGroup","Premium Group","Label",$CMMResponse)</th>
	        		<td width="20%">$FormFieldRenderer.render("Building.PremiumGroup",$!building.gets("PremiumGroup"),"Integer","Size=3|Disabled")</td>
				<!-- #else -->
	        		<th class='label' width="20%">&nbsp;</th>
	        		<td width="20%">&nbsp;</td>
		        <!-- #end -->
	        <!-- #end -->        
        <!-- #end -->    
	</tr>	
	</table>

<div id="ajaxFortifiedZipLookup">
	<!-- #if( !$fortifiedZipLookup.equals("") ) -->	
		<table width="100%" class='format'>
			 <th width="53%" id ='FortifiedLabel' class='label'>$FormFieldRenderer.renderLabel("Building.MeetFortifiedMapReq","Does this risk meet the fortified map requirements for distance to the coast?","Label",$CMMResponse,"Required=True")</th>
			 <td width="13%" id ='FortifiedValue'>$ProductRenderer.productSelectField("Building.MeetFortifiedMapReq",$!building.gets("MeetFortifiedMapReq"),$productVersionIdRef,"CO::common::yes-no::all","Required=True|Prompt=Select...|${disable}")</td>
			 <td width="34%"><div id="fortInfo"><a href="https://www.google.com/maps/d/viewer?mid=1SYKsyTE4WqoTAeGh0zsq77v-hyc&usp=sharing" target="_blank">Rockingham Insurance Fortified Requirement Map</a><br/><a href="http://disastersafety.org/fortified/" target="_blank">Institute of Business and Home Safety</a></div></td>
		</table>
	<script>
		function showHideFort() {
			if( $("#Building\\.MeetFortifiedMapReq").val() !== "No" ) {
              $("#fortInfo").hide();
			} else {
              $("#fortInfo").show();
			}
		}

		$('#Building\\.MeetFortifiedMapReq').on('change', function(){
          showHideFort();
        });

		showHideFort();


    </script>
	<!-- #end -->
</div>
<script>
  $(document).ready(function(){
     //Don't want to use the default onclick. Need to override the preexisting one.
     $('#RiskLookupAddr\\.addrVerifyImg').attr('onclick', 'javascript:RiskLookupAddr.verify().done(function(){ajaxFortifiedZipLookup();});')
  });

  function ajaxFortifiedZipLookup() {
    ajaxCMMXForm('ajaxFortifiedZipLookup', 'UWRICFortifiedZipAjax', '', '', '', '',
        'ProductVersionIdRef',
        'RiskLookupAddr.PostalCode');
  }
</script>
    
    $renderer.tileEnd()
    <!-- #end -->