<!-- Prepare Velocity Variables
	#set( $allowHistoricalClaimTransactionEntry = $ClaimProductRenderer.getAuthorityAttributeValue($Claim.gets("ProductVersionIdRef"), "AllowHistoricalClaimTransactionEntry", $UserInfo, $todayDt) )
	
	#set( $saveAction = "cmmXForm('CLHistoricalClaimTransactionEntry',$systemId,'','','CodeRefOptionsKey=claim-general&TabOption=SpecialOptions')" )
-->
 
<!-- #if( $form.get("OptionCd").equals("Historical Claim Transaction Entry") ) -->
$!renderer.tileStart("Normal","Historical Claim Transaction Entry","None","None")
 	
	<table>
		<tr>
			<th class='label'>&nbsp;&nbsp;&nbsp;Historical transactions will not be subject to business rules</th>
		</tr>
		<tr>
	    	<th class='label'>&nbsp;&nbsp;&nbsp;Historical transactions will not be included in accounting, statistical or state reporting</th>
	    </tr>
	    <tr>
	    	<th class='label'>&nbsp;&nbsp;&nbsp;Historical transactions will not produce output or issue payments</th>
	    </tr>
	</table>
 	<br> 	
 	<div class='sectionSeparator'></div>
 	
 	<!-- #if( $allowHistoricalClaimTransactionEntry.equalsIgnoreCase("YES") && !$ClaimPolicyInfo.gets("PolicyRef").equals("") ) -->
 	<table class='format' width='100%'>
		<!-- #if( !$StringRenderer.isTrue($Claim.gets("HistoryModeInd")) && $ClaimRenderer.isALossNotice($Claim) ) -->
			<tr>
				<td colspan='3' class='warning'>Until turned off, all subsequent transactions will be historical only.</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th width='20%' class='label'>$FormFieldRenderer.renderLabel("Claim.OriginalClaimNumber", "Original Claim Number", "Label", $CMMResponse, "Required=True")</th>
				<td width='20%'>$FormFieldRenderer.render("Claim.OriginalClaimNumber", $Claim.gets("OriginalClaimNumber"), "String", "Size=20|Required=True|$disable")</td>
				<td>$FormFieldRenderer.renderButton("Start","Start","Button",$saveAction)</td>
			</tr>
		<!-- #elseif( $StringRenderer.isTrue($Claim.gets("HistoryModeInd")) ) -->
			<!-- #set( $existingTransactions = $Claim.findBeanByFieldValue("ClaimantTransaction", "ClaimTransactionHistoryRef", "") ) -->
			<!-- #if( $SPI.beanArrayLength($existingTransactions) == 0 ) -->			
	    	<tr>
	    		<td colspan='3' class='warning'>Once a non-historical transaction is completed, historical entry cannot be restarted.</td>
	    	</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
	    	<tr>	
	    		<th width='20%' class='label'>$FormFieldRenderer.renderLabel("Claim.OriginalClaimNumber", "Original Claim Number", "Label", $CMMResponse, "Required=True")</th>
				<td width='20%'>$FormFieldRenderer.render("Claim.OriginalClaimNumber", $Claim.gets("OriginalClaimNumber"), "String", "Size=20|Required=True|disabled")</td>
				<td>$FormFieldRenderer.renderButton("Stop","Stop","Button",$saveAction)</td>
	    	</tr>
	    	<!-- #else -->
	    	<tr>
	    		<td colspan='3' class='warning'>You have some pending claimant transactions. Please finalize the transactions before switching from historic entry to non-historical entry in this claim transaction.</td>
	    	</tr>
	    	<!-- #end -->
    	<!-- #elseif( !$ClaimRenderer.isALossNotice($Claim) ) -->
	    	<tr>
	    		<td colspan='3' class='warning'>Historical claim transaction entry can only be started during loss notice.</td>
	    	</tr>
    	<!-- #end -->
		   
    </table>
    <!-- #else -->
    	<b>No authority to perform selected action</b>
    <!-- #end -->
$!renderer.tileEnd()
<!-- #end -->