<!-- Prepare Velocity Variables
	$renderer.setTile("CLTransaction", "property-damaged-property")
	#set( $propertyDamaged = $CMMBean )
	#set( $damagedLocationAddr = $propertyDamaged.getBeanByAlias("PropertyDamagedLocation") )
	#set( $buildingNumber = $PropertyDamagedRenderer.getPolicyRiskNumber($Claim, $propertyDamaged) )
	#set( $buildingLocationNumber = $PropertyDamagedRenderer.getPolicyRiskLocationNumber($Claim, $propertyDamaged) )
-->
$FormFieldRenderer.render("PropertyDamaged.PropertyTypeCd", $propertyDamaged.gets("PropertyTypeCd"), "Hidden") 
$FormFieldRenderer.render("PropertyDamaged.PolicyRiskIdRef", $propertyDamaged.gets("PolicyRiskIdRef"), "Hidden") 
$FormFieldRenderer.render("PropertyDamagedLocation.Addr1", $damagedLocationAddr.gets("Addr1"), "Hidden") 
$FormFieldRenderer.render("PropertyDamagedLocation.Addr2", $damagedLocationAddr.gets("Addr2"), "Hidden") 
$!renderer.tileStart("Normal","PropertyDamagedProperty","None","None")
	<table width='100%' class='format'>
		<tr>
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("PropertyDamaged.PropertyDamagedNumber", "Property Number", "Label", null)</th>
			<td width='10%'>$FormFieldRenderer.render("PropertyDamaged.PropertyDamagedNumber",$propertyDamaged.gets("PropertyDamagedNumber"),"Integer","disabled")</td>   
			<!-- #if( !$buildingNumber.equals("") ) -->
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("RiskNumber", "Policy Building Number", "Label", null)</th>
				<td width='10%'>$FormFieldRenderer.render("RiskNumber", $buildingNumber, "Integer", "disabled")</td>
			<!-- #else -->
				<td width='15%'>&nbsp;</td>
				<td width='10%'>&nbsp;</td>
			<!-- #end -->
			<!-- #if( !$buildingLocationNumber.equals("") ) -->
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("LocationNumber", "Policy Location Number", "Label", null)</th>
				<td width='25%'>$FormFieldRenderer.render("LocationNumber", $buildingLocationNumber, "Integer", "disabled")</td>
			<!-- #else -->
				<td width='15%'>&nbsp;</td>
				<td width='25%'>&nbsp;</td>
			<!-- #end -->   
		</tr>
		<!-- #if( $propertyDamaged.gets("XactInd").equals("")) -->
			<!-- $propertyDamaged.setValue("XactInd","Yes") -->
		<!-- #end -->
		<tr> 
			<th class='label'>$FormFieldRenderer.renderLabel("PropertyDamaged.Description", "Description", "Label", $CMMResponse, "Required=True")</th>
			<td colspan='4'>$FormFieldRenderer.render("PropertyDamaged.Description", $propertyDamaged.gets("Description"), "TextArea", "Cols=60|Rows=3|Required=True|$disable")</td>
		</tr>
		<tr> 
			<th class='label'>$FormFieldRenderer.renderLabel("PropertyDamaged.DamageDesc", "Damage Description", "Label", $CMMResponse, "Required=True")</th>
			<td colspan='4'>$FormFieldRenderer.render("PropertyDamaged.DamageDesc", $propertyDamaged.gets("DamageDesc"), "TextArea", "Cols=60|Rows=3|Required=True|$disable")</td>
		</tr>
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("PropertyDamaged.DamageEstimateAmt", "Damage Amount", "Label", $CMMResponse, "Required=False")</th>
			<td>$FormFieldRenderer.render("PropertyDamaged.DamageEstimateAmt", $propertyDamaged.gets("DamageEstimateAmt"), "Currency", "Required=False|$disable")</td>
			<!-- #if( $ClaimantRenderer.isFirstPartyClaimant($claimant) && $PropertyDamagedRenderer.isPolicyRisk($Claim, $propertyDamaged) )) -->
				<td align='right'>$FormFieldRenderer.render("PropertyDamaged.NotToRepairInd", $propertyDamaged.gets("NotToRepairInd"), "CheckBox", "$disable")</td>
				<th width='30%' class='label'>$FormFieldRenderer.renderLabel("PropertyDamaged.NotToRepairInd", "Elected Not To Repair", "Label", $CMMResponse)</th>		                   				
			<!-- #else -->
				<td colspan='2'>&nbsp;</td>
			<!-- #end -->	
		</tr>
		<tr>
			<th class='label'>Damage Location:</th>
		</tr>
		<tr> 
			<th class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$FormFieldRenderer.renderLabel("PropertyDamaged.LocationDesc", "Description", "Label", $CMMResponse, "Required=False")</th>
			<td colspan='4'>$FormFieldRenderer.render("PropertyDamaged.LocationDesc", $propertyDamaged.gets("LocationDesc"), "TextArea", "Cols=60|Rows=3|Required=False|$disable")</td>
		</tr>					
		<tr>
			<th class='label'>&nbsp;&nbsp;&nbsp;&nbsp;
				$FormFieldRenderer.renderLabel("PropertyDamagedLocation.City", "City", "Label", $CMMResponse, "Required=False"),
				$FormFieldRenderer.renderLabel("PropertyDamagedLocation.StateProvCd", "State", "Label", $CMMResponse, "Required=False")
				$FormFieldRenderer.renderLabel("PropertyDamagedLocation.PostalCode", "Zip", "Label", $CMMResponse, "Required=False")
			</th>
			<td colspan='4'>
				<table cellpadding='0' cellspacing='0'>
					<tr>					
						<td>$FormFieldRenderer.render("PropertyDamagedLocation.City", $damagedLocationAddr.gets("City"), "String","size=16|Required=False|$disable")</td>
						<td>$FormFieldRenderer.renderSelect("PropertyDamagedLocation.StateProvCd", $damagedLocationAddr.gets("StateProvCd"), "CO::common::states::all", "SelectList","Prompt=Select...|Required=False|$disable")</td>
						<td>$FormFieldRenderer.render("PropertyDamagedLocation.PostalCode", $damagedLocationAddr.gets("PostalCode"), "PostalCode", "Required=False|$disable")</td>
					</tr>
				</table>
			</td>
		</tr>						
		<tr> 
			<th class='label'>$FormFieldRenderer.renderLabel("PropertyDamaged.Comment", "Comments", "Label", $CMMResponse, "")</th>
			<td colspan='4'>$FormFieldRenderer.render("PropertyDamaged.Comment", $propertyDamaged.gets("Comment"), "TextArea", "Cols=60|Rows=3|$disable")</td>
		</tr>
		
	</table>
$!renderer.tileEnd()