<!-- Prepare Velocity Variables
#set( $claimant = $Claim.getBeanById($cmmParentIdRef) )
#set( $destination = $claimant.getBeanByAlias("PaymentDestination") )
-->
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript" src="innovation-question.js"></script>    

<script language='JavaScript'>
	function setPayToName() {
		
		var payToName = "";
		var payToList = new Array();
		
		// Pay to Claimant
		if( document.getElementById("ScheduledPayment.PayToClaimantInd").value == "Yes" ) {
			payToName += document.getElementById("ClaimantName").value;
		} 
		
		// Pay to Vendor
		if( document.getElementById("ScheduledPayment.PayToProviderInd").value == "Yes" ) {
			
			// Load from Vendor Lookup
			if( trim(document.getElementById("VendorProviderNumber").value) != "" ) {
				
				var text = document.getElementById("VendorProviderName").firstChild.nodeValue;
				var code = document.getElementById("VendorProviderNumber").value;
				if( text != "" ) {
					// Determine if already added
					var foundInd = addToHashArray(payToList, "ProviderNumber::"+code.toUpperCase(), true);
					if (!foundInd) { 
						if( payToName.length > 0 )
							payToName += " and ";
						payToName += text;
					}
				}
			}
			
			// Load from Vendor Select List
			else if( document.getElementById("VendorProviderList").value != "" ) {
				
				
				var code = document.getElementById("VendorProviderList");
				if (code != "") {
					for (i=0; i<code.options.length; i++) {
						if (code.options[i].selected) {
							var text = code.options[i].text;
							if (text != "" && text != "Select...") {
								var foundInd = addToHashArray(payToList, code.options[i].value);
								if (!foundInd) { 
									if( payToName.length > 0 )
										payToName += " and ";
									payToName += code.options[i].text;								
								}
							}
						}
					}
				}
			}
		} 
		
		// Pay to Interest
		if( document.getElementById("ScheduledPayment.PayToInterestInd").value == "Yes" ) {
			var code = document.getElementById("ScheduledPayment.InterestIdRef");
			if( code != "" ) {
				for (i=0; i<code.options.length; i++) {
					if (code.options[i].selected) {
						var text = code.options[i].text;
						if( text != "" && text != "Select..." ) {
							var foundInd = addToHashArray(payToList, "InterestIdRef::"+code.options[i].value);
							if (!foundInd) { 
								if( payToName.length > 0 )
									payToName += " and ";
								payToName += text;
							}
						}						
					}
				} 
			}
		} 
		
		// Pay to Override
		if( document.getElementById("ScheduledPayment.PayToOverrideInd").value == "Yes" ) {
			if(document.getElementById("ScheduledPayment.PayToOverrideInd").disabled == false) {
				$("#ScheduledPayment\\.PayToName, #ScheduledPayment\\.PayToName2, #ScheduledPayment\\.PayToName3").prop('disabled', false);
			}
		} else {
			$("#ScheduledPayment\\.PayToName, #ScheduledPayment\\.PayToName2, #ScheduledPayment\\.PayToName3").prop('disabled', true);
			document.getElementById("ScheduledPayment.PayToName").value = payToName;
		}
		
		setMailToSelect();
		reAllocation();
		setRequired1099Ind();
		setClaimantACHFields();
		
		var brokenUpPayToName = payToName.split(" "), payToName1 = "", payToName2 = "", payToName3 = "";
		
		for( var i = 0; i < brokenUpPayToName.length; i++ ){
			var word = brokenUpPayToName[i];
			
			if( (payToName1 + ' ' + word).length < 60 && payToName2.length === 0 && payToName3.length === 0 )
				payToName1 = (payToName1 + ' ' + word).trim();
			else if( (payToName2 + ' ' + word).length < 60 && payToName3.length === 0 )
				payToName2 = (payToName2 + ' ' + word).trim();
			else
				payToName3 = (payToName3 + ' ' + word).trim();
		}
		
		$("#ScheduledPayment\\.PayToName").val(payToName1);
		$("#ScheduledPayment\\.PayToName2").val(payToName2);
		$("#ScheduledPayment\\.PayToName3").val(payToName3);
	}
	
	// Add item to array if it is not in the array.  	
	function addToHashArray(array, item, matchInd) {
		// Determine if already added
		var foundInd = false;
		for (x=0; x<array.length; x++) {
			if (array[x] == item) {
				foundInd = true; 
				break;
			}
			if (matchInd != null && matchInd) {
				if (array[x].match("^"+item)==item) {
					foundInd = true; 
					break;
				}
			}
		}
		if (!foundInd) {			 
			array[array.length] = item;
		}
		return foundInd;
	}
	
	function setRequired1099Ind() {
		if(document.getElementById("MailingTaxInfo.Required1099Ind").disabled == false) {
			document.getElementById("MailingTaxInfo.Required1099Ind").value = "No";
			if( document.getElementById("ScheduledPayment.PayToProviderInd").value == "Yes" ) {
				if( document.getElementById("VendorProviderList").value != "" && document.getElementById("VendorProviderNumber").value != "" ) {
					document.getElementById("MailingTaxInfo.Required1099Ind").value = document.getElementById("Required1099Ind").value;
				}	
			}
			if( document.getElementById("ScheduledPayment.PayToOverrideInd").value == "Yes" ) {
				document.getElementById("MailingTaxInfo.Required1099Ind").value = "";	
			}
		}
	}
	
	function setProviderTaxId() {
		if( document.getElementById("ScheduledPayment.PayToProviderInd").value == "Yes" ) {
			if( document.getElementById("VendorProviderList").value != "" || document.getElementById("VendorProviderNumber").value != "" ) {
				document.getElementById("MailingTaxInfo.Required1099Ind").value = document.getElementById("Required1099Ind").value;
				document.getElementById("MailingTaxInfo.TaxIdTypeCd").value = document.getElementById("TaxIdTypeCd").value;
				document.getElementById("MailingTaxInfo.FEIN").value = document.getElementById("TaxId").value;
				document.getElementById("MailingTaxInfo.FEIN").onchange();
			}	
		} 
	}
	
	function setMailToSelect() {
		var mailToList = new Array();
				
		var selected = document.getElementById("MailToSelect").value;
		if( document.getElementById("MailToSelect").options ) {
			document.getElementById("MailToSelect").options.length = 0;
			addOption("MailToSelect", "Select...", "");
			if( document.getElementById("ScheduledPayment.PayToClaimantInd").value == "Yes" ) {
				addOption("MailToSelect", document.getElementById("ClaimantName").value, "Claimant");
				
				var claimantAssociateList = document.getElementById("ClaimantAssociateList").value;				
				if( claimantAssociateList.length > 0 ) {
					var list = claimantAssociateList.split("||");
					for( i=0; i<list.length; i++ ) {
						var list2 = list[i].split("|");
						addOption("MailToSelect", list2[0], list2[1]);
					}
				}
			} 									
			if( document.getElementById("ScheduledPayment.PayToProviderInd").value == "Yes" ) {
				if( trim(document.getElementById("VendorProviderNumber").value) != "" ) {
			
					var text = document.getElementById("VendorProviderName").firstChild.nodeValue;
					if( text != "" ) { 
						var code = document.getElementById("VendorProviderNumber").value;
						var foundInd = addToHashArray(mailToList, "ProviderNumber::"+code.toUpperCase(), true);
						if (!foundInd) {
							addOption("MailToSelect", text, "ProviderNumber::"+code.toUpperCase());
						}
					}
				}
				else if( document.getElementById("VendorProviderList").value != "" ) {
					var code = document.getElementById("VendorProviderList");
					
					for (i=0; i<code.options.length; i++) {
						if (code.options[i].selected) {
							var text = code.options[i].text;
							if (text != "" && text != "Select...") {
								var foundInd = addToHashArray(mailToList, code.options[i].value);
								if (!foundInd) { 
									addOption("MailToSelect", text, code.options[i].value);
								}
							}
						}
					}
										
				}
			}  
			if( document.getElementById("ScheduledPayment.PayToInterestInd").value == "Yes" ) {
				var code = document.getElementById("ScheduledPayment.InterestIdRef");
				if( code != "" ) { 
					for (i=0; i<code.options.length; i++) {
						if (code.options[i].selected) {
							var text = code.options[i].text;
							if( text != "" && text != "Select..." ) {
								var foundInd = addToHashArray(mailToList, "InterestIdRef::" + code.options[i].value);
								if (!foundInd) {
									addOption("MailToSelect", text, "InterestIdRef::" + code.options[i].value);
								}
							}						
						}
					} 
				}
			}  
			document.getElementById("MailToSelect").value = selected;
			document.getElementById("MailToSelect").selected = true;

			if( document.getElementById("MailToSelect").options.length > 1 ) {
				document.getElementById("MailToSelect").value = document.getElementById("MailToSelect").options[1].value;
				document.getElementById("MailToSelect").selected = true;
				
			}	
			mailToSelect();
		}
	}
	
	function mailToSelect() {
		if(document.getElementById("MailToSelect").disabled == false) {
			var claimSystemId = document.getElementById("ClaimSystemId").value;
			var claimantId = document.getElementById("ClaimantId").value;
			ajaxCMMXForm("ajaxReplaceMailing","CLMakePaymentMailing", claimSystemId, claimantId, "", "", "MailToSelect", "VendorProviderNumber", "ScheduledPayment.InterestIdRef");
		}
	}
	
	function loadProvider() {
		setPayToName(); 
		setProviderTaxId();
		document.getElementById("VendorProviderList").value = "";
	}
	
	// This function is used to clear the vendor field in case it was set but not needed.
	// If the vendor field is set then the vendor reference number will be attached to a payment
	// when it may not be wanted this can cause unnecessary grouping.
	function clearUnusedVendor() {
		var providerInd = document.getElementById("ScheduledPayment.PayToProviderInd");
		var provider = document.getElementById("VendorProviderNumber");

		if(providerInd.value == "")
			provider.value = "";
	}
	
	// Clear the field contents of passed field 
    function clearField(sourceField,targetField){
		if(document.getElementById(sourceField).value != "")
            document.getElementById(targetField).value = "";
    
    }
	
	// Determine the number of payments
	function calculatePaymentNumber(startDate, stopDate, frequency) {
		startDt = parseDate(startDate);
		stopDt = parseDate(stopDate);
		
		var frequencyCd = "";
		var frequencyNumber = "";
		var semiMonthDay1;
		var semiMonthDay2;
		
		if(evalEqualsIgnoreCase(frequency,"once a week")) {
			frequencyCd = "week";
			frequencyNumber = 1;
		} else if(evalEqualsIgnoreCase(frequency,"once every two weeks")) {
			frequencyCd = "week";
			frequencyNumber = 2;			
		} else if(evalEqualsIgnoreCase(frequency,"twice a month")) {
			frequencyCd = "twicemonth";
			frequencyNumber = 1;
			var startDay = startDt.getDate(); 
			if (startDay <= 15) {
				semiMonthDay1 = startDay;
				semiMonthDay2 = startDay + 15;
			} else {
				semiMonthDay1 = startDay - 15;
				semiMonthDay1 = startDay;				
			}
		} else if(evalEqualsIgnoreCase(frequency,"once a month")) {
			frequencyCd = "month";
			frequencyNumber = 1;			
		} else if(evalEqualsIgnoreCase(frequency,"once every 2 months")) {
			frequencyCd = "month";
			frequencyNumber = 2;			
		} else if(evalEqualsIgnoreCase(frequency,"once every 3 months")) {
			frequencyCd = "month";
			frequencyNumber = 3;			
		} else if(evalEqualsIgnoreCase(frequency,"once every 6 months")) {
			frequencyCd = "month";
			frequencyNumber = 6;			
		} else if(evalEqualsIgnoreCase(frequency,"once a year")) {
			frequencyCd = "year";
			frequencyNumber = 1;			
		} 
		
		var paymentCnt = 1;
		var currentDt = startDt;
		var startDay = currentDt.getDate(); 
		var stopDay = stopDt.getDate();
		while (currentDt.valueOf() <= stopDt.valueOf()) {
			if (frequencyCd == "week") {
				currentDt = currentDt.addDays(frequencyNumber * 7);
			} else if (frequencyCd == "month") {
				currentDt = currentDt.addMonths(frequencyNumber);
			} else if (frequencyCd == "year") {
				currentDt = currentDt.addYears(frequencyNumber);
			} else if (frequencyCd == "twicemonth") {
				var curDay = currentDt.getDate();
				if (curDay == semiMonthDay1) {
					var lastDay = currentDt.getDaysInMonth();
					if (semiMonthDay2 > lastDay) {
						currentDt.setDate(lastDay);
					} else {
						currentDt.setDate(semiMonthDay2);						
					}
				} else {
					currentDt = currentDt.addMonths(1);
					currentDt.setDate(semiMonthDay1);
				}
			}
			if (currentDt.valueOf() > stopDt.valueOf()) {
				break;
			}
			paymentCnt = paymentCnt + 1;
		}
		return paymentCnt;
	}
	
	/* #set( $scheduledPayment = $CMMBean ) */
	
	function reAllocation() {
		var paidCnt = $ClaimantTransactionRenderer.getScheduledPaymentPaidCount($scheduledPayment);
		var startDt = document.getElementById("ScheduledPayment.StartDt").value;
		var stopDt = document.getElementById("ScheduledPayment.StopDt").value;
		var frequency = document.getElementById("ScheduledPayment.FrequencyCd").value;
		var paymentCnt = 0;
		if (startDt == "" || stopDt == "" || frequency == "") {
			document.getElementById("ScheduledPayment.NumberOfPayments").value = 0;			
		} else {
			var paymentCnt = calculatePaymentNumber(startDt, stopDt, frequency);
			document.getElementById("ScheduledPayment.NumberOfPayments").value = paymentCnt;			
		}
		var totalInitialAmt = 0;
		var totalScheduleAmt = 0;
		var totalTotalAmt = 0;
		var totalReserveAmt = 0;
		var remainingPaymentCnt = paymentCnt - paidCnt;
		var displayPaymentCnt = remainingPaymentCnt; 
		if (paidCnt == 0) {
			// Account for the initial payment from a fresh schedule
			displayPaymentCnt = displayPaymentCnt - 1;
			if (displayPaymentCnt < 0) {
				displayPaymentCnt = 0
			}
		}
		$("label[for^='Reserve_NumOfPayments_']").each(  
			function() {
				$(this).text(displayPaymentCnt);
				ids = this.htmlFor.split('_');
				id = ids[2] + '_' + ids[3];
				
				initialId = "Reserve_ReserveInitialAmt_" + id;
				initialValue = $("input[id='" + initialId + "']").val();
				if (initialValue == "") {
					initialValue = 0;
				}				
				initialValue = getCurrencyValue(initialValue);
				totalInitialAmt = totalInitialAmt + initialValue;
				
				scheduleId = "Reserve_ScheduledAmt_" + id;
				scheduleValue = $("input[id='" + scheduleId + "']").val();
				if (scheduleValue == "") {
					scheduleValue = 0;
				}
				scheduleValue = getCurrencyValue(scheduleValue);
				totalScheduleAmt = totalScheduleAmt + scheduleValue;
				
				totalId = "Reserve_TotalPayments_" + id;
				if (paidCnt == 0) {
					totalAmt = initialValue + (scheduleValue * (paymentCnt - 1));  
				} else {
					totalAmt = initialValue + (scheduleValue * remainingPaymentCnt);
				}
				$("label[for='" + totalId + "']").text(formatCurrencyValue(totalAmt, true, "${currencySymbol}"));
				$("input[id='" + totalId + "']").val(totalAmt);
				totalTotalAmt = totalTotalAmt + totalAmt;
				
				originalId = "Reserve_ReserveAmt_" + id;
				originalValue = $("input[id='" + originalId + "']").val();
				if (originalValue == "") {
					originalValue = 0;
				}
				originalValue = getCurrencyValue(originalValue);
				remainingAmt = originalValue - totalAmt;
				$("label[for='" + originalId + "']").text(formatCurrencyValue(remainingAmt, true, "${currencySymbol}"));
				totalReserveAmt = totalReserveAmt + remainingAmt;				
			}
		);
		$("input[id^='Reserve_NumOfPayments_']").val(remainingPaymentCnt);
		
		if (totalTotalAmt == "") {
			totalTotalAmt = 0;
		}
		if (totalReserveAmt == "") {
			totalReserveAmt = 0;
		}
		
		$("label[for='TotalInitialPaymentAmt']").text(formatCurrencyValue(totalInitialAmt, true, "${currencySymbol}"));
		$("label[for='TotalSchedulePaymentAmt']").text(formatCurrencyValue(totalScheduleAmt, true, "${currencySymbol}"));
		$("label[for='TotalPaymentAmt']").text(formatCurrencyValue(totalTotalAmt, true, "${currencySymbol}"));
		$("label[for='TotalReserveAmt']").text(formatCurrencyValue(totalReserveAmt, true, "${currencySymbol}"));
	}
	
	 // Show/hide Claimant ACH fields based on PaymentMethodCd 
	function setClaimantACHFields() {
		var typeCd = document.getElementById("ScheduledPayment.PaymentMethodCd").value;	
		var payToClaimantInd = document.getElementById("ScheduledPayment.PayToClaimantInd").value;		
		if( typeCd == "ACH" && payToClaimantInd == "Yes") {
			expandRow("typeCd");
			expandRow("accountInfo");
			
			if( document.getElementById("ClaimantDestination.ACHBankAccountTypeCd").value == "" &&
				document.getElementById("ClaimantDestination.ACHStandardEntryClassCd").value == "" &&
   		     	document.getElementById("ClaimantDestination.ACHName").value == "" &&
   		     	document.getElementById("ClaimantDestination.ACHBankAccountNumber").value == "" &&
   		     	document.getElementById("ClaimantDestination.ACHRoutingNumber").value == "" ) {
				document.getElementById("ClaimantDestination.ACHBankAccountTypeCd").value = '$!destination.gets("ACHBankAccountTypeCd")';			
				document.getElementById("ClaimantDestination.ACHBankAccountNumber").value = '$!destination.gets("ACHBankAccountNumber")';
				document.getElementById("ClaimantDestination.ACHRoutingNumber").value = '$!destination.gets("ACHRoutingNumber")';
				document.getElementById("ClaimantDestination.ACHName").value = '$!destination.gets("ACHName").replaceAll("'","\\'")';
				document.getElementById("ClaimantDestination.ACHStandardEntryClassCd").value = '$!destination.gets("ACHStandardEntryClassCd")';
				document.getElementById("ClaimantDestination.ACHBankAccountNumber").onchange();  // This triggers field masking
			}		   		     
		} else  {	
			collapseRow("typeCd");
			collapseRow("accountInfo");
			document.getElementById("ClaimantDestination.ACHStandardEntryClassCd").value = "";
			document.getElementById("ClaimantDestination.ACHBankAccountTypeCd").value = "";
			document.getElementById("ClaimantDestination.ACHName").value = "";
			document.getElementById("ClaimantDestination.ACHBankAccountNumber").value = "";
			document.getElementById("ClaimantDestination.ACHRoutingNumber").value = "";				
		}	
	}
	
</script>