<!-- Prepare Velocity Variables
$renderer.setTile("CLTransaction", "transaction-start")

#set ( $transFlag = $!AdditionalParams.getBean("Param", "Name", "DisplayTransaction") )
#if ( $transFlag )
    #set ( $displayTransaction = $transFlag.gets("Value") )
#else 
    #set ( $displayTransaction = $form.get("DisplayTransaction") )
#end 

-->
	
<!-- #if( $displayTransaction == "true" ) -->
$!renderer.tileStart("Normal","TransactionStart","None","None")
	<table width='100%' class='format'>
		<tr>
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel('ClaimTransactionInfo.TransactionShortDescription', "Description", "Label", null)</th>
	    	<td>$FormFieldRenderer.render('TransactionShortDescription',$form.gets("TransactionShortDescription"), "String", "size=80|maxsize=100")</td>
	    </tr>
	    <tr>
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel('ClaimTransactionInfo.TransactionLongDescription', "Additional Text", "Label", null)</th>
	    	<td>$FormFieldRenderer.render('TransactionLongDescription',$form.gets("TransactionLongDescription"), "TextArea", "cols=80|rows=5")</td>
		</tr>
	</table>
	
	<table class='format'>
		<tr>
		    <!-- #set( $saveAction = "cmmXForm('CLTransactionStart',$systemId,'$idRef', '', 'TabOption=Summary')") -->
		   <td>$FormFieldRenderer.renderButton("Start","Start","Button",$saveAction)</td>
		</tr>
    </table>
$!renderer.tileEnd()
<!-- #end -->