<!-- Set Velocity Variables
	$renderer.setTile("UWProductHomeowners", "application-product-button")  
    #set( $disabled = "")
    #if( $tileType == "Policy" || $displayMode )
		#set ( $disabled = "disabled" ) 
    #end    
    #if ( $Application.getSystemId() == "" )
		#set( $uwAction = "cmmXForm('UWQuoteAddUnderwrite')" )
    #else
		#if( $tabOption == "Underwriting" )
	    	#set( $uwAction = "prepareReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId())" )	
        #elseif( $tabOption.equals("Commission") )
            #set( $uwAction = "prepareCommissionReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId(),'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" )
        #elseif( $tabOption.equals("Audit") )        
          	 #set( $disabled = "")
        	 #if( $tileType == "Policy" || !$isAuditTransaction )
				#set ( $disabled = "disabled" ) 
   			 #end   
   			 #set( $uwAction = "prepareReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId(),'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" )   			 
		#else
            #set( $uwAction = "prepareReplyXml();cmmXForm('UWApplicationUnderwrite',$Application.getSystemId(),'$tabOptionCMMParentIdRef','$tabOptionCMMIdRef')" )    
		#end
    #end
    
    #set( $showNextPageButton = $UWProductRenderer.showNextPageButton($ProductTileGroups) )
    #if( $showNextPageButton )    
    	#set( $nextTabOption = $UWProductRenderer.getNextProductTabOption($context,$ProductTileGroups, $tabOption, $TransactionInfo.gets("TransactionCd")) )
    	#if( $tabOption.equals("Risks") && $RiskRenderer.isSingleRisk($CMMResponse) )
		    #set( $nextPageAction = "cmmXForm('UWRiskUpdateUnderwrite', $Application.getSystemId(), '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'NextTabOption=$nextTabOption')" )
		#else
			#set( $nextPageAction = "cmmXForm('UWApplicationUnderwrite', $Application.getSystemId(), '$tabOptionCMMParentIdRef', '$tabOptionCMMIdRef', 'NextTabOption=$nextTabOption')" )
	    #end
	    #if( $disabled.equals("disabled") )
	    	#set( $nextPageAction = "cmmXForm('UWApplicationSync', $Application.getSystemId(), '', '', 'CodeRefOptionsKey=${formName}&NextTabOption=$nextTabOption')" )
	    #end
    #end
    
    #if( $tabOption.equals("Commission") )
    	#set( $nextPageAction = "javascript:prepareCommissionReplyXml();${nextPageAction}" )
    #else
    	#set( $nextPageAction = "javascript:prepareReplyXml();${nextPageAction}" )
    #end
    #set( $application = $bean )
	#set( $basicPolicy = $application.getBean("BasicPolicy") )
	#set( $underlyingInforcePolicy = $basicPolicy.getValue("UnderlyingInforcePolicy") )
	#set( $id = $!container.getId() )
	#set( $systemId = $CMMParams.gets("SystemId") )
	#set( $ulPolicy = "cmmXForm('UWLocationNew','$!systemId','$!id')")
-->
<script>
    $(document).ready(function(){
        $('#AddUnderlyingPolicy').click(function(){
          	if(confirm("Do you wish to leave this screen without saving?")){
        	   cmmXForm('UWLocationNew','$!systemId','$!id')
          	}
        });
      });

</script>
<div class='tile'>
	<table class='format'>	
		<tr>
	    	<td>$FormFieldRenderer.renderButton("NextPage","NextPage","Button",$nextPageAction)</td>
	    	<td>$FormFieldRenderer.renderButton("Save","Save","Button",$uwAction)</td>    	
	     #if(!$underlyingInforcePolicy.equals("No")) 
	    	<td>$FormFieldRenderer.renderButton("AddUnderlyingPolicy","Add Underlying Policy","Button", "")</td>
	     #end

	  	</tr>
    </table>
</div>