<!-- Prepare Velocity Variables
	$renderer.setTile("UW", "ho-additional-areas")
    #if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
		#set( $disable = "disabled" )
		#set( $disable = "" )
    #end
    #set( $idRef = $CMMParams.gets("IdRef") )
    #if ( $idRef == "" )
		#set( $containerName = $CMMParams.gets("Container") )
       	#set( $container = $CMMResponse.getBean($!containerName) )
       	#set( $idRef = $container.getBean("Line").getBean("Risk").getId())
       	#set( $CMMBean = $CMMResponse.getBeanById($idRef) )
    #end
    #set( $risk = $CMMResponse.getBeanById($idRef) )
    #set( $building = $risk.getBean("Building") )
    #set( $dwProgramTypeCd = $container.getBean("BasicPolicy").gets("DwProgramTypeCd") )
    #if( $UWProductRenderer.isMultiStatePolicy($container) )
    	#set( $productVersionIdRef = $RiskRenderer.getProductVersionIdRef($container, $risk) )
    #else
		#set( $productVersionIdRef = $container.getBean("BasicPolicy").gets("ProductVersionIdRef") )
    #end
    #set( $riskLookupAddrVerificationHash = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationHash") )
-->

<!-- #if( !$riskLookupAddrVerificationHash.equals("") ) -->
$renderer.tileStart("Normal", "Additional Areas of the Dwelling", "None", "None") 

    <table width='74%' class='format'>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea1","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea1",$!building.gets("AdditionalArea1"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt1Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt1","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt1Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt1",$!building.gets("AdditionalAreaSqFt1"),"Integer","onkeypress=return numeralsOnly(event)|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea2","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea2",$!building.gets("AdditionalArea2"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt2Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt2","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt2Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt2",$!building.gets("AdditionalAreaSqFt2"),"Integer","onkeypress=return numeralsOnly(event)|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea3","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea3",$!building.gets("AdditionalArea3"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt3Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt3","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt3Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt3",$!building.gets("AdditionalAreaSqFt3"),"Integer","onkeypress=return numeralsOnly(event)|Size=10|${disable}")</td>
		</tr>
		<tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalArea4","Additional Area","Label",$CMMResponse)</th>
			<td width='20%'>$ProductRenderer.productSelectField("Building.AdditionalArea4",$!building.gets("AdditionalArea4"),$productVersionIdRef,"UW::underwriting::additional-area-types::all","${disable}")</td>             	
			
			<th id="AdditionalAreaSqFt4Label" width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.AdditionalAreaSqFt4","Additional Area Square Footage","Label",$CMMResponse)</th>
			<td id="AdditionalAreaSqFt4Value" width='20%'>$FormFieldRenderer.render("Building.AdditionalAreaSqFt4",$!building.gets("AdditionalAreaSqFt4"),"Integer","onkeypress=return numeralsOnly(event)|Size=10|${disable}")</td>
		</tr>

	</table>
	
	<script type="text/javascript">
		function displaySqFtField(){
			var area1 = $("#Building\\.AdditionalArea1").val();
			var area2 = $("#Building\\.AdditionalArea2").val();
			var area3 = $("#Building\\.AdditionalArea3").val();
			var area4 = $("#Building\\.AdditionalArea4").val();
			
			if( area1 != 'None') {
				$("#AdditionalAreaSqFt1Label, #AdditionalAreaSqFt1Value").show();
			} else {
				$("#AdditionalAreaSqFt1Label, #AdditionalAreaSqFt1Value").hide();
			}
		
			if(area2 != 'None') {
				$("#AdditionalAreaSqFt2Label, #AdditionalAreaSqFt2Value").show();
			} else {
				$("#AdditionalAreaSqFt2Label, #AdditionalAreaSqFt2Value").hide();
			}
			
			if(area3 != 'None') {
				$("#AdditionalAreaSqFt3Label, #AdditionalAreaSqFt3Value").show();
			} else {
				$("#AdditionalAreaSqFt3Label, #AdditionalAreaSqFt3Value").hide();
			}
			
			if(area4 != 'None') {
				$("#AdditionalAreaSqFt4Label, #AdditionalAreaSqFt4Value").show();
			} else {
				$("#AdditionalAreaSqFt4Label, #AdditionalAreaSqFt4Value").hide();
			}
			
		}
	
		$("#Building\\.AdditionalArea1, #Building\\.AdditionalArea2,#Building\\.AdditionalArea3, #Building\\.AdditionalArea4").on("change",displaySqFtField);
		displaySqFtField();	
	</script>

$renderer.tileEnd()
<!-- #end -->   
