<div id="ajaxReplaceHOWindHailDed">
<!-- 
	#set( $productVersionIdRef = $AdditionalParams.getBean("Param","Name","ProductVersionIdRef").gets("Value") )
	#set( $covALimit = $SPI.replaceAll( $AdditionalParams.getBean("Param","Name","Building.CovALimit").gets("Value"), "[^0-9.]+", "" ) )
	#set( $allPerilDed = $AdditionalParams.getBean("Param","Name","Building.AllPerilDed").gets("Value") )
	#set( $county = $AdditionalParams.getBean("Param","Name","RiskLookupAddr.County").gets("Value") )
	#set( $city = $AdditionalParams.getBean("Param","Name","RiskLookupAddr.City").gets("Value") )
	#set( $otherDeductibleType = $AdditionalParams.getBean("Param","Name","Building.OtherDeductibleType").gets("Value") )
	
	#set( $key = $RICProductRenderer.getAllPerilDedOptionsKey( $productVersionIdRef, $covALimit, $county, $city ) )
	#set( $typeOptionsUMOL = "UW::underwriting::windstormhailded-options_$key::types-$allPerilDed" )
	#set( $deductibleOptionsUMOL = "UW::underwriting::windstormhailded-options_$key::deductibles-$allPerilDed" )
	#set( $firstListOption = $RICProductRenderer.getFirstOptionValue( $productVersionIdRef, $typeOptionsUMOL ) )
	#if( !$otherDeductibleType.isEmpty() && !$RICProductRenderer.isAnOption( $productVersionIdRef, $typeOptionsUMOL, $otherDeductibleType ) )
		#set( $otherDeductibleType = $firstListOption )
	#end
 -->
	<table width='100%' class='format'>
		 <tr>
			<th width='30%' class='label'>&nbsp;$FormFieldRenderer.renderLabel("Building.OtherDeductibleType","Other Deductible Type","Label",$CMMResponse,"Required=True")</th>
			<!-- #if( !$county.isEmpty() && !$city.isEmpty() && !$covALimit.isEmpty() && !$allPerilDed.isEmpty() ) -->
			<td width='70%'>$ProductRenderer.productSelectField("Building.OtherDeductibleType", $otherDeductibleType,$productVersionIdRef,$typeOptionsUMOL,"onchange=replaceWindHailDed();|Required=True")</td>             
			<!-- #end -->
		 </tr>
		 <tr>
			<th width='30%' class='label'>&nbsp;$FormFieldRenderer.renderLabel("Building.WindHailDed","Other Deductible Limit","Label",$CMMResponse,"Required=True")</th>
			<!-- #if( !$county.isEmpty() && !$city.isEmpty() && !$covALimit.isEmpty() && !$allPerilDed.isEmpty() ) -->
			<td width='70%'>
				<!-- #if( !$otherDeductibleType.equals("") && !$otherDeductibleType.equals("None") ) -->
					$ProductRenderer.productSelectField("Building.WindHailDed","",$productVersionIdRef,$deductibleOptionsUMOL,"Required=True")
				<!-- #elseif( $otherDeductibleType.equals("None") ) -->
					$ProductRenderer.productSelectField("Building.WindHailDed","",$productVersionIdRef,"UW::underwriting::windstormhailded-options_location-group_none::deductibles","Required=True")
				<!-- #else -->
					<!-- #if( $firstListOption.equals("None") ) -->
						$ProductRenderer.productSelectField("Building.WindHailDed","",$productVersionIdRef,"UW::underwriting::windstormhailded-options_location-group_none::deductibles","Required=True")
					<!-- #else -->
						$ProductRenderer.productSelectField("Building.WindHailDed","",$productVersionIdRef,$deductibleOptionsUMOL,"Required=True")
					<!-- #end -->
				<!-- #end -->
			</td>             
			<!-- #end -->
		 </tr>
	 </table>
</div>