<!-- Prepare Velocity Variables)
    $renderer.setTile("UW", "ho-general")
    #if( $tileType == "Policy" || $tile.gets("DisplayOnlyInd") == "Yes" || $displayMode )
  		#set( $disable = "disabled" )
    #else
  		#set( $disable = "" )
    #end
    #set( $idRef = $CMMParams.gets("IdRef") ) 
    #if( $idRef == "" )
       #set( $containerName = $CMMParams.gets("Container") )
       #set( $container = $CMMResponse.getBean($!containerName) )
       #set( $idRef = $container.getBean("Line").getBean("Risk").getId()) 
       #set( $CMMBean = $CMMResponse.getBeanById($idRef) )
    #end 
    #set( $risk = $CMMResponse.getBeanById($idRef) )
    #set( $application = $container) 
    #set( $building = $risk.getBean("Building") )
    #set( $riskAddr = $building.getBean("Addr", "AddrTypeCd", "RiskAddr") )
    #set( $riskLookupAddr = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr") )
	#set( $productVersionIdRef = $container.getBean("BasicPolicy").gets("ProductVersionIdRef") )   
	#set( $formType = $container.getBean("BasicPolicy").gets("SubTypeCd") )  
	#set( $riskSaveButtonText = "Continue" ) 
	
	#set( $riskLookupAddrVerificationHash = $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationHash") )
	#set( $riskLookupAddrVerificationMsg =  $building.getBean("Addr", "AddrTypeCd", "RiskLookupAddr").gets("VerificationMsg") )
	
	#set( $protectionClass = $!building.gets("ProtectionClass") )
	#if( $protectionClass.equals("") )
		#set( $protectionClass = "Protected" )
	#end
	
-->

<script language="JavaScript">

//set fields mandatory based on 'Quote' or other stage.
$(function() {
	
});

</script>

<!-- #if( !$riskLookupAddrVerificationHash.equals("") || !$riskLookupAddrVerificationMsg.equals("") ) -->
$renderer.tileStart("Normal", "Protection Class", "None", "None") 

    <table width='100%' class='format'>
		<tr> 
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.MilesToFireDept","Miles to Fire Station","Label",$CMMResponse,"Required=True")
				<img src='img/help-small.png' id="Imagetext" title="If less than 1 mile, enter a 1. Do not enter decimals."/>
			</th>
			<td width='20%'>$FormFieldRenderer.render("Building.MilesToFireDept",$!building.gets("MilesToFireDept"),"Integer","onchange=validateProtection()|Required=True|Size=3|${disable}")</td> 
			
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.FeetToFireHydrant","Feet to Fire Hydrant","Label",$CMMResponse,"Required=True")
				<img src='img/help-small.png' id="Imagetext" title="If no fire hydrant, enter 1001."/>
			</th>
			<td width='20%'>$FormFieldRenderer.render("Building.FeetToFireHydrant",$!building.gets("FeetToFireHydrant"),"Integer","onchange=validateProtection()|Required=True|Size=3|${disable}")</td> 
			
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.ProtectionClass","Protection Class","Label",$CMMResponse,"Required=True")</th>
			<td width='15%'>$FormFieldRenderer.render("Building.ProtectionClass", $protectionClass,"String","Required=True|Size=20|disabled")</td>
			
		</tr> 
		
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("Building.TerritoryCd","Territory","Label",$CMMResponse,"Required=True")</th>
        	<td>$FormFieldRenderer.render("Building.TerritoryCd",$!building.gets("TerritoryCd"),"Integer","Required=True|Size=3|${disable}")</td> 
        </tr>
		
	</table>
	
   

<script type="text/javascript">
<!--
	// Link RiskLookupAddr to RiskAddr here. We can't use the LinkedAddr param when rendering RiskLookupAddr block since the RiskAddr block has not yet been created
	$(document).ready( function() {
		RiskLookupAddr.addLinkedAddressControlGroup(RiskAddr);
	});
//-->
	
	
function validateProtection() {
	var milesToFireDept = parseInt( $("#Building\\.MilesToFireDept").val().replace(/,/g, "") );
	var feetToFireHydrant = parseInt( $("#Building\\.FeetToFireHydrant").val().replace(/,/g, "") );
	if( !jQuery.isNumeric( milesToFireDept ) || !jQuery.isNumeric( feetToFireHydrant ) || milesToFireDept <= 0 || feetToFireHydrant <= 0 ) {
		SelectElement("#Building\\.ProtectionClass", "");
		return;
	}
	
/* 	If "Miles to fire department" <= 5 and "Feet to Hydrant" <= 1000 then set to Protected
    If "Miles to fire department" <= 5 and "Feet to Hydrant" > 1000 then set to Partially Protected
	If "Miles to fire department" > 5 set to Unprotected */
	 
	if(milesToFireDept <= 5 && feetToFireHydrant <= 1000) {
		SelectElement("#Building\\.ProtectionClass", "Protected");
	}
	else if(milesToFireDept <= 5 && feetToFireHydrant > 1000) {
        SelectElement("#Building\\.ProtectionClass", "Partially Protected");
    }
	else if(milesToFireDept > 5) {
        SelectElement("#Building\\.ProtectionClass", "Unprotected");
    }
 }

function SelectElement(selectElementId, value) {
	    $( selectElementId ).val( value );
	    $( $( selectElementId ).siblings().get(0) ).html( value );
	}
	
	
</script>

$renderer.tileEnd()
<!-- #end -->   