<!-- Prepare Velocity Variables
$renderer.setTile("UWQuickQuote", "ho-quick-quote-general")
     
#set( $productVersionIdRef = $BasicPolicy.gets("ProductVersionIdRef") )

#set( $providerRef = $BasicPolicy.gets("ProviderRef") )
#if( $providerRef.equals("0") || $providerRef.equals("") )
	#set( $providerNumber = $form.get("ProviderNumber") )
#else
     #set( $provider = $ProviderRenderer.getProviderBySystemId($providerRef) )
     #set( $providerNumber = $provider.gets("ProviderNumber") )
     #set( $producerName = $provider.getBean("PartyInfo").getBean("NameInfo").gets("CommercialName") )
#end
#set( $producerAction =  "setCurrentFieldId(this);cmmXForm('UWApplicationCopy',$Application.getSystemId(),'','','InitiatingField=ProviderNumber','true')" )

#set( $currentFieldId = "" )
#set( $currentFieldId = $XFDF.getBean("Param", "Name", "CurrentFieldId").gets("Value") )
-->

<script language="JavaScript" type="text/javascript">
<!--
	function loadProducer(id) {
	  if( document.getElementById("ProducerCd").value != "" ) {	
		document.getElementById(id).value = document.getElementById("ProducerCd").value;
		if( id == "ProviderNumber" ) {
		  document.getElementById("DisplayProducerName").innerHTML = document.getElementById("ProducerName").value;
		}	
	  } 
	}
	
	function loadProducerName(id) {
	}
	
	function effectiveDtChanged(textObj) {
	  if (formatDate(textObj)) {
	    setCurrentFieldId(textObj);
	    ajaxCMMXFormShowBusy('ajaxExpirationDt','UWQuickQuoteExpirationDt', $Application.getSystemId(), '', '', '', 'EffectiveDt');
	    return true;
	  } else {
	    return false;
	  }
	}
	
	function setCurrentFieldId(fieldObj) {
		document.getElementById("CurrentFieldId").value = fieldObj.name;
	}
-->	
</script>
$FormFieldRenderer.render("ProducerCd", "", "Hidden")
$FormFieldRenderer.render("ProducerName", "", "Hidden")
$FormFieldRenderer.render("CurrentFieldId", $currentFieldId, "Hidden")

$!renderer.tileStart("Normal","Policy General","None","None")
	<table width='100%' class='format'>
		<tr>
	  		<th width='15%' class='label'>$FormFieldRenderer.renderLabel('BasicPolicy.CompanyProductCd', "Product", "Label", null)</th>
	       	<td width='15%'>$!ProductRenderer.getProductVersionName($productVersionIdRef)</td>	
	       	<th width='15%' class='label'>$FormFieldRenderer.renderLabel('CarrierGroupCd', "Carrier Group", "Label", null)</th>
	       	<td width='30%' colspan='2'>$!CompanyRenderer.getCarrierGroupName($!BasicPolicy.gets("CarrierGroupCd"))</td>
	       	<td width='15%'/>
	       	<td width='10%'/>
	  	</tr>
	  	<tr>
	       	<th class='label'>$FormFieldRenderer.renderLabel('EffectiveDt', "Effective Date", "Label", $CMMResponse, "Required=True")</th>
	       	<td width='15%'>$FormFieldRenderer.render("EffectiveDt", $BasicPolicy.gets("EffectiveDt"), "Date", "size=10|Required=True|onchange=return effectiveDtChanged(this)|onblur=formatDate(this)")</td>	       
	       	<th width='15%' class='label'>$FormFieldRenderer.renderLabel("ExpirationDt", "Expiration Date", "Label", $CMMResponse, "Required=True")</th>
	       	<td id='ajaxExpirationDt'>$FormFieldRenderer.render('ExpirationDt',$!BasicPolicy.gets("ExpirationDt"), "Date", "size=10|Required=True|disabled|onblur=formatDate(this)")</td>
	  	</tr>
	  	<tr>
	       	<th class='label'>$FormFieldRenderer.renderLabel('ProviderNumber', "Producer: Code", "Label", $CMMResponse, "Required=True")</th>	
	       	<td colspan='3'>
			    <table cellpadding='0' cellspacing='0'>
					<tr>
				    	<td>$FormFieldRenderer.render("ProviderNumber", $!providerNumber, "String", "OnChange=$producerAction|Size=12|MaxLength=20|Required=True")</td>
				    	<!-- #set( $searchSubType = "Agency,Group" ) -->
	                    <td><a href='#' onclick='window.open("innovation?rq=INProducerSearchPage&SearchSubType=$searchSubType", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");' ><img class='noborder' src='img/lookup-small.png'/></a></td>
				    	<td><label id='DisplayProducerName'>$!producerName</label></td>
				 	</tr>
				</table>	
			</td>				
	  	</tr>
	  	<tr>	
	  		<th class='label'>$FormFieldRenderer.renderLabel('SubTypeCd', "Policy Form", "Label", $CMMResponse,"Required=True")</th>
			<td>$ProductRenderer.productSelectField('SubTypeCd',$!BasicPolicy.gets("SubTypeCd"),$productVersionIdRef,'UW::underwriting::sub-type::all', "${subTypeDisable}|Prompt=Select...|Required=True")</td>		
		</tr>
     </table>
$!renderer.tileEnd()