<!--
$renderer.setTile("UWApplication", "policy-form-ho")

#if( $tileType == "Policy" )
     #set( $disable = "disabled" )
     #set( $tileName = "policy-form-ho" )
#elseif( $displayMode )
     #set( $disable = "disabled" )
     #set( $tileName = "policy-form-ho" )
#else
     #set( $disable = "" )
     #set( $tileName = "policy-form-ho" )
#end
#set( $productVersionIdRef = $BasicPolicy.gets("ProductVersionIdRef") )
-->
<!-- Prepare Velocity Variables -->
$FormFieldRenderer.render("BasicPolicy.OldSubTypeCd",$BasicPolicy.gets("OldSubTypeCd"),"Hidden")
$renderer.tileStart("Normal", "Policy Form", "None", "None")
$renderer.setTile("UWApplication", "policy-form-ho")




<table width='100%' class='format'>
	<tr>
		<!-- #if ( $containerName.equals("Application") && $StringRenderer.in($TransactionInfo.gets("TransactionCd"), "New Business,Rewrite-New,Endorsement, Rewrite-Renewal,Renewal,Renewal Start, Renewal Changes") ) -->
	    	<th width='12%' class='label'>$FormFieldRenderer.renderLabel('BasicPolicy.SubTypeCd', "Policy Form", "Label", $CMMResponse,"Required=True")</th>
			<td width='13%'>$ProductRenderer.productSelectField('BasicPolicy.SubTypeCd',$!BasicPolicy.gets("SubTypeCd"),$productVersionIdRef,'UW::underwriting::sub-type::all', "${disable}|Prompt=Select...|Required=True")</td>       
			<td width='75%'>&nbsp;</td>	
		<!-- #else -->
			<th width='12%' class='label'>$FormFieldRenderer.renderLabel('BasicPolicy.SubTypeCd', "Policy Form", "Label", $CMMResponse,"Required=True")</th>
			<td width='13%'>$ProductRenderer.productSelectField('BasicPolicy.SubTypeCd',$!BasicPolicy.gets("SubTypeCd"),$productVersionIdRef,'UW::underwriting::sub-type::all', "disabled|Prompt=Select...|Required=True")</td>       
			<td width='75%'>&nbsp;</td>
		<!-- #end -->		
	</tr>
</table>
<table width='100%' class='format'>
	<tr>
		<th width='12%' class='label'>$FormFieldRenderer.renderLabel('BasicPolicy.PriorCarrierCd', "Prior Carrier", "Label", $CMMResponse,"Required=True")</th>
		<td width='13%'>$ProductRenderer.productSelectField('BasicPolicy.PriorCarrierCd',$!BasicPolicy.gets("PriorCarrierCd"),$productVersionIdRef,'UW::underwriting::prior-carrier-type::all', "${disable}|Prompt=Select...|Required=True")</td>		
		<td width='75%'>&nbsp;</td>		
	</tr>
</table>

<div id='Other'>
	<table width='50%' class='format'>
		<tr> 
		    <th id="carrierLabel" width='15%' class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.Carrier","Carrier","Label",$CMMResponse,"Required=True")</th>
		    <td id="carrierValue" width='35%'>$FormFieldRenderer.render('BasicPolicy.Carrier',$!BasicPolicy.gets("Carrier"),"String","Required=True|Size=32|${disable}")</td>
		</tr>
	</table>
	<table width='55%' class='format'>
		<tr> 
		    <th id="yearsWPriorCarrierLabel" width='50%' class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.NumYearWPriorCarrier","Number of Years Consecutively Insured with Prior Carrier","Label",$CMMResponse,"Required=True")</th>
		    <td id="yearsWPriorCarrierValue" width='5%' >$FormFieldRenderer.render('BasicPolicy.NumYearWPriorCarrier',$!BasicPolicy.gets("NumYearWPriorCarrier"),"Integer","Required=True|Size=3|${disable}")</td>
		</tr>
	</table>
</div>

<div id='Rock'>
	<table width='75%' class='format'>
		<tr> 
		    <th id="numYearWRockinghamLabel" width='70%'class='label'>$FormFieldRenderer.renderLabel("BasicPolicy.NumYearWRockingham","Number of Years Homeowners Coverage (HO/FO/MO) has been with Rockingham Insurance","Label",$CMMResponse,"Required=True")</th>
		    <td id="numYearWRockinghamValue" width='5%'>$FormFieldRenderer.render('BasicPolicy.NumYearWRockingham',$!BasicPolicy.gets("NumYearWRockingham"),"Integer","Required=True|Size=3|${disable}")</td>
		</tr>
	</table>
</div>


<script type="text/javascript">

function displayCarrierCd(){
	var priorCarrierCd = $("#BasicPolicy\\.PriorCarrierCd").val();
	var label = $("#carrierLabel");
	var value = $("#carrierValue");
	var label2 = $("#yearsWPriorCarrierLabel");
	var value2 = $("#yearsWPriorCarrierValue");

	if(priorCarrierCd == "Other"){
		label.fadeIn();
	    value.fadeIn();
	    label2.fadeIn();
	    value2.fadeIn();
	    setRequired("BasicPolicy.Carrier",true);
	    setRequired("BasicPolicy.NumYearWPriorCarrier",true);
	}  else {
		label.fadeOut();
	    value.fadeOut();
	    label2.fadeOut();
	    value2.fadeOut();
	    document.getElementById("BasicPolicy.Carrier").value = "";
	    setRequired("BasicPolicy.Carrier",false);
	    document.getElementById("BasicPolicy.NumYearWPriorCarrier").value = "";
	    setRequired("BasicPolicy.NumYearWPriorCarrier",false);
	}
}

$("#BasicPolicy\\.PriorCarrierCd").on("change",displayCarrierCd);
displayCarrierCd(); 

function displayNumYearWRockingham(){
	var priorCarrierCd = $("#BasicPolicy\\.PriorCarrierCd").val();
	var label = $("#numYearWRockinghamLabel");
	var value = $("#numYearWRockinghamValue");

	if(priorCarrierCd == "Rockingham Insurance"){
		label.fadeIn();
	    value.fadeIn();
	    setRequired("BasicPolicy.NumYearWRockingham",true);
	}  else {
		label.fadeOut();
	    value.fadeOut();
	    document.getElementById("BasicPolicy.NumYearWRockingham").value = "";
	    setRequired("BasicPolicy.NumYearWRockingham",false);
	}
}

$("#BasicPolicy\\.PriorCarrierCd").on("change",displayNumYearWRockingham);
displayNumYearWRockingham(); 

</script>



$renderer.tileEnd()

