
<!-- Prepare Velocity Variables
    $renderer.setTile("UWPolicy", "policy-shell-homeowners")   
        
    #if( $CMMParams.gets("IdRef").equals("") )   
    	#set( $risk = $Policy.findBeanByFieldValue("Risk","Status","") )
    #else
    	#set( $risk = $Policy.getBeanById($CMMParams.gets('IdRef')) )    	 
    #end
    #set( $building = $risk.getBean("Building") )
    #set( $riskAddr = $building.getBean("Addr", "AddrTypeCd", "RiskAddr") )  
-->

$renderer.tileStart("Normal","Building Information","None","None")
   
    <table width="100%" class='format'>
    	
		<tr>
			<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Risk.Description","Risk Description","Label",$CMMResponse,"Required=True")</th>       
            <td colspan='3'>$FormFieldRenderer.render("Risk.Description",$!risk.gets("Description"),"String","Required=True|Size=32|${disable}")</td>       		  			
		</tr>
		
	</table>
	
	<div id='CombinedAddr'> 
			
		$AddressRenderer.renderInputBlock("Physical", $riskAddr, $context, "Required=True|Label=Address|LabelColumnWidth=15%|FieldColumnWidth=85%|${disable}")
    
    </div>
     
$renderer.tileEnd()
