<!-- Prepare Velocity Variables    
    $renderer.setTile("UW", "questions-hideshow") 
    #set( $idRef = $CMMParams.gets("IdRef") ) 
    #if( $idRef.equals("") )
       #set( $containerName = $CMMParams.gets("Container") )
       #set( $container = $CMMResponse.getBean($!containerName) )
       #set( $idRef = $container.getBean("Line").getBean("Risk").getId()) 
       #set( $CMMBean = $CMMResponse.getBeanById($idRef) )
    #end     
   

    #set( $risk = $CMMResponse.getBeanById($idRef) )
    #set( $line = $risk.getParentBean() )
    #set( $activeBuildings = $line.findBeansByFieldValue("Building", "Status", "Active") ) 
    #set( $questionReplies = $container.getBean("QuestionReplies") )

	#set( $milValue = false )
	#set( $woodFurnaceValue = false )

	#foreach( $building in $activeBuildings )          
		#set( $riskOtherLimit = $building.gets("CovLLimit") )   
		#set( $primaryHeatType = $building.gets("Heating") )
		#set( $secondaryHeatType = $building.gets("SecondaryHeat") )
			
		#if( $riskOtherLimit.equals("1000000"))
			#set( $milValue = true )
		#end	
		
	#end
    #if ( $risk.gets("LineCd").equals("Homeowners") )
    	#set( $building = $risk.getBean("Risk").getBean("Building") )
    #else
	    #set( $building = $risk.getBean("Building") )
    #end
	#set( $subType = $!BasicPolicy.gets("SubTypeCd") )
	#set( $residenceType = $building.gets("Residence"));
	#set( $dwellingStyle = $building.gets("DwellingStyle"));
	
-->

<script language="JavaScript">
//Visibility By Dwelling Style
condoQuestionVisbility();
resiAppQuestionVisbility();
toggleVisiblyRequiredFields();
function toggleVisiblyRequiredFields(){$( '#Questions tr[id] input[type=hidden]' ).each(function() {
	$(this).val( $(this).val().replace('Required=True', '') );
});

$('#Questions tr[id] label' ).each( function(){
	var text = $( this ).text();
if( text.length > 0 && text[ text.length - 1] === '*' ){
		$(this).text( text.substring(0, text.length - 1 ) );
}
});

$('#Questions tr[id]:visible label' ).each( function(){
	$(this).text( $( this ).text() + '*' );
});
 
 $( '#Questions tr[id]:hidden label' ).each(function() {
var text = $( this ).text();
if( text.length > 0 && text[ text.length - 1] === '*' ){
		$(this).text( text.substring(0, text.length - 1 ) );
}
});  

$( '#Questions tr[id]:visible input[type=hidden]' ).each(function() {
	$(this).val( $(this).val() + '|Required=True' );
});

$("div#Questions > table.format > tbody > tr:visible:odd").addClass("greenbar").removeClass("whitebar");
$("div#Questions > table.format > tbody > tr:visible:even").addClass("whitebar").removeClass("greenbar");
}
function resiAppQuestionVisbility(){
	var ownerPropVal = "OwnerOfProperty";
    var quesAppGenCont = "ApplicantGeneralContractor";
    if("$residenceType" === "Course of Construction" && "$subType" !== "HO-0004"){
    	$('label[for=Question_ApplicantGeneralContractor]').html('9. If Building is under construction, is the applicant the general contractor?');
    	$("#Question_"+quesAppGenCont+"_Row").show();
	}else if("$residenceType" === "Course of Construction" && "$subType" === "HO-0004"){
		$("#Question_"+quesAppGenCont+"_Row").show();
	}else{
		$("#Question_"+quesAppGenCont+"_Row").hide();
		$("#Question_"+quesAppGenCont).val('');
	}
	
	if ("$subType" === "HO-0004"){
		$("#Question_"+ownerPropVal+"_Row").show();
	}else{
		$("#Question_OwnerOfProperty").val('');	
		$("#Question_OwnerOfPropNoExplain").val('');	
		$("#Question_OwnersName").val('');
		$("#Question_"+ownerPropVal+"_Row").hide();
		$("#Question_OwnersName_Row").hide();
		$("#Question_OwnerOfPropNoExplain_Row").hide();
	}
}
function condoQuestionVisbility(){
	var questionIds = ["GeneralInfoQuesRentersNCondos","ManageronPremises","SecurityAttendant","BuildingEntranceLock"];
	if ("$subType"==="HO-0004" || "$subType" === "HO-0006") {
		$("#Question_GeneralInfoQuesRentersNCondos_Row").html("<th height='50px'  colspan='2' class='whitebar sectionLabel'>General Information Questions - Renters and Condos Only</th>");
		jQuery.each(questionIds, function(i,v) { $("#Question_"+v+"_Row").show();});
		} else {
		jQuery.each(questionIds, function(i,v) { $("#Question_"+v+'_Row').hide();
		$("#Question_"+v).val("");
		});
	} 
}
$("[id^=Question_]").on("change",function(){
	toggleVisiblyRequiredFields();
});

$("#Question_GeneralInformationQuestionsHeader_Row").html("<th height='50px' colspan='2' class='sectionLabel whitebar'>General Information Questions</th>");
$("#Question_GeneralInfoQuesResiApplication_Row").html("<th height='50px' colspan='2' class='whitebar sectionLabel'>General Information Questions - Residential Application</th>");

</script>

