<!-- Prepare Velocity Variables)
    $renderer.setTile("UW", "quick-quote-ho-general")
    #set( $idRef = $CMMParams.gets("IdRef") ) 
    #if( $idRef == "" )
       #set( $containerName = $CMMParams.gets("Container") )
       #set( $container = $CMMResponse.getBean($!containerName) )
       #set( $idRef = $container.getBean("Line").getBean("Risk").getId()) 
       #set( $CMMBean = $CMMResponse.getBeanById($idRef) )
    #end 
    #set( $risk = $CMMResponse.getBeanById($idRef) )
    #set( $building = $risk.getBean("Building") )
    #set( $riskAddr = $building.getBean("Addr", "AddrTypeCd", "RiskAddr") )
	#set( $productVersionIdRef = $container.getBean("BasicPolicy").gets("ProductVersionIdRef") )     
	#set( $riskSaveButtonText = "Continue" ) 
-->
$renderer.tileStart("Normal", "HomeownersGeneral", "None", "None") 

    $FormFieldRenderer.render("Risk.TypeCd", "Homeowners", "Hidden" )
    $FormFieldRenderer.render("Risk.Status", $risk.gets("Status"), "Hidden" )
    $FormFieldRenderer.render("Risk.LocationRef", $risk.gets("LocationRef"), "Hidden" )
    $FormFieldRenderer.render("Building.BldgNumber", $building.gets("BldgNumber"), "Hidden" )
    
    <table width='100%' class='format'>
        <tr> 
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.SqFt","Square Footage","Label",$CMMResponse,"Required=True")</th>
            <td width='15%'>$FormFieldRenderer.render("Building.SqFt",$!building.gets("SqFt"),"Integer","Required=True|Size=10")</td>  
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.YearBuilt","Year Built","Label",$CMMResponse,"Required=True")</th>
            <td width='25%'>$FormFieldRenderer.render("Building.YearBuilt",$!building.gets("YearBuilt"),"Year","Required=True|Size=4")</td>  
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Building.ConstructionCd","Construction Type","Label",$CMMResponse,"Required=True")</th>
            <td width='15%'>$ProductRenderer.productSelectField("Building.ConstructionCd",$!building.gets("ConstructionCd"),$productVersionIdRef,"UW::underwriting::construction-type-val::all","Required=True|Prompt=Select...")</td>             
        </tr>
        <tr>
	        <th class='label'>$FormFieldRenderer.renderLabel("Building.RoofCd","Roof Type","Label",$CMMResponse,"Required=True")</th>
            <td>$ProductRenderer.productSelectField("Building.RoofCd",$!building.gets("RoofCd"),$productVersionIdRef,"UW::underwriting::roof-type-ho::all","Required=True|Prompt=Select...")</td>             
	    	<th class='label'>$FormFieldRenderer.renderLabel("Building.Stories","# of Stories","Label",$CMMResponse,"Required=True")</th>
            <td>$FormFieldRenderer.render("Building.Stories",$!building.gets("Stories"),"Integer","Required=True|Size=3")</td>   
          	<th class='label'>$FormFieldRenderer.renderLabel("Building.TerritoryCd","Territory","Label",$CMMResponse,"Required=True")</th>
        	<td>$FormFieldRenderer.render("Building.TerritoryCd",$!building.gets("TerritoryCd"),"Integer","Required=True|Size=3")</td> 
        </tr>
        <tr>    
            <th class='label'>$FormFieldRenderer.renderLabel("Building.OccupancyCd","Occupancy Type","Label",$CMMResponse,"Required=True")</th>
            <td>$ProductRenderer.productSelectField("Building.OccupancyCd",$!building.gets("OccupancyCd"),$productVersionIdRef,"UW::underwriting::occupancy-type-ho::all","Required=True|Prompt=Select...")</td>             
        	<th class='label'>$FormFieldRenderer.renderLabel("Building.ProtectionClass","Protection Class","Label",$CMMResponse,"Required=True")</th>
        	<td>$FormFieldRenderer.render("Building.ProtectionClass",$!building.gets("ProtectionClass"),"Integer","Required=True|Size=3")</td>  
            <th class='label'>$FormFieldRenderer.renderLabel("RiskAddr.PostalCode","Zip","Label",$CMMResponse,"Required=True")</th>
			<td>$FormFieldRenderer.render("RiskAddr.PostalCode",$!riskAddr.gets("PostalCode"),"PostalCode","Required=True")</td>			
        </tr>
    </table>
$renderer.tileEnd()