<!-- Prepare Velocity Variables
    $renderer.setTile("COReference", "link-reference")
    #set ( $modelName = $CMMParams.gets("ModelName") )
    #set ( $mdaType = "${mdaContainer}::item-reference::${modelName}::all" )
    #set ( $idRef = $CMMParams.gets("IdRef") )
    #set ( $item = $CMMResponse.getBeanById($idRef) )
    #set ( $userId = $ResponseParams.gets("UserId") )
	#set ( $user = $CMMResponse.getBean("ResponseParams").getBean("UserInfo") )	    
	#set ( $xfdf = $CMMResponse.getBean("ResponseParams").getBean("XFDF") )	 
    #set ( $containerName = $CMMParams.gets("Container") )
    #set ( $container = $CMMResponse.getBean($containerName) )
    #set ( $linkRef = $CMMResponse.getBean("ResponseParams").getBean("AdditionalParams").getBean("Param", "Name", "LinkReferences") )

    #if( $disableItemReference || !$BeanRenderer.isActive($item) )
         #set( $disable = "disabled" )
    #else
         #set( $disable = "" )
    #end
        
    #set( $refList = $SPI.getCodeRefList($mdaType) ) 
    #set( $refListSize = $refList.size() )
        
    #set( $action = false ) 
    #set( $newSysId = false)
	#set( $action = $xfdf.getBean("Param", "Name", "Action") )
	#if( $action )
		#set( $action = $action.gets("Value") )
	#else
		#set( $action = "" )		
	#end  
	#if( $action == "Move" || $action == "Copy" )
	   #set( $newSysId = $xfdf.getBean("Param", "Name", "NewSysId") )
	   #if( $newSysId )
	   	  #set( $newSysId = $newSysId.gets("Value") )	   
	   	  #if( $newSysId != "")	  
		   	  #set( $newContainer = $AttachmentRenderer.getContainerForAttachment($data,$containerName,$newSysId) )
		  #else
			#set( $newSysId = "" )
		  #end
		#else
			#set( $newSysId = "" )
	   #end
	#else
		#set( $newSysId = "" )
	#end
    
    #if( $action == "Edit" || $action == "Move" || $action == "Copy")
		#set( $attach = $CMMResponse.getBeanById($idRef) )
		#set( $links = $attach.getBeans("LinkReference") )
		#set( $linkRefs = $AttachmentRenderer.getLinkReferences($links) )		
	#else
	   #set( $links = $CMMResponse.getBeans("LinkReference") )
	   #set( $linkRefs = $CMMResponse.getBean("ResponseParams").getBean("AdditionalParams").getBean("Param", "Name", "LinkReferences").gets("Value") )
	#end
	
	#set( $hasLinkReference = true ) ##Flag, to be used by another tile(attachment-button.html), to indicate that LinkReference tile was defined
	#if( !$fileWithContainerDefault.equals("No") )
		#set( $fileWithContainerDefault = "Yes" )
	#end
	#if( $disable.equals("disabled") || !$fileWithContainerDisableInd.equals("No") )
		#set( $fileWithContainerDisable = "disabled" )
	#end
-->
<script type="text/javascript">
<!--
	// Build Comma Separated List of LinkReference IdRef Fields
	function buildLinkReferencesParam() {
		
		// Get All LinkReferenceInclude CheckBoxes
		document.getElementById("LinkReferences").value = $("input[id^='LinkReferenceInclude_']").map(function() {
			
			// Get Associated LinkReference IdRef Field
			count = this.id.split("_")[1];
			idRef = document.getElementById("LinkReferenceIdRef_" + count).value;
			
			// CheckBoxe is Checked
			if( this.value == "Yes" ) {
				
				// Add Value to Comma Separated List
				return idRef;	
			} else {
				return null;
			}
		}).get().join(',');
	}
	
	// Select LinkReferenceInclude CheckBoxes Based on Comma Separated List of LinkReference IdRef Fields
	function toggleLinkReferenceCheckBoxes() {
		linkReferences = document.getElementById("LinkReferences").value;
		
		$("input[id^='LinkReferenceInclude_']").each(
			function() {
				
				// Get Associated LinkReference IdRef Field
				count = this.id.split("_")[1];
				idRef = document.getElementById("LinkReferenceIdRef_" + count).value;
				
				// Check if IdRef in Comma Separated List
				if( jQuery.inArray(idRef, linkReferences.split(',') ) >= 0 ) {
					// Check Checkbox
					$(this).attr('checked','checked');
				} else {
					// Uncheck Checkbox
					$(this).prop('checked', false);
				}
			}	
		);
	}
//-->
</script>
$FormFieldRenderer.render("LinkReferences",$SPI.getXFDFValue($CMMResponse,"LinkReferences"),"Hidden")
<!-- #if ($refListSize > 0) -->
$renderer.tileStart("Normal", "ItemReference", "NoHeader", "None")
	<table class='format'>
    	<tr>
        	<th class='label'>$FormFieldRenderer.renderLabel('LinkReference.AttachTo', "$linkReferenceLabel", "Label", $CMMResponse, "Required=$!attachmentPointRequiredInd")</th>
        </tr>
    </table>    
    <table class='format'>
        <tr>
			<td>$FormFieldRenderer.render("ContainerInd", $fileWithContainerDefault, "CheckBox", $fileWithContainerDisable)</td>
			<th class='label'>$FormFieldRenderer.renderLabel("ContainerInd", $fileWithContainer, "Label", $CMMResponse)</th>    
		</tr>   	    
       	<!-- #if( $newContainer ) -->
           	<!-- #set ( $linkReferenceArray = $ItemReferenceRenderer.getLinkReferenceResults($mdaType, $newContainer, $itemReferenceFilter, false, true) ) -->	            	
           <!-- #else -->
            <!-- #set ( $linkReferenceArray = $ItemReferenceRenderer.getLinkReferenceResults($mdaType, $container, $itemReferenceFilter, false, true) ) -->
        <!-- #end -->
        <!-- #set( $counter = 0 ) -->
        <!-- #foreach( $linkReferenceResult in $linkReferenceArray ) -->
        	<!-- #set( $linkReference = $linkReferenceResult.getItemNVP() ) -->
        	<!-- #set( $included = false ) -->
        	<!-- #set( $linkDesc = $linkReference.getName() ) -->
        	
        	<!-- #if( $linkReferenceResult.isDeleted() ) -->
	        		<!-- #set( $linkDesc =  $linkReference.getName() + " (DELETED)" ) -->
	        <!-- #end -->
        	
        	<!-- #if($modelName.equals("AI") ) -->
	        	<!-- #set( $finalRiskAddr = "" ) -->
	        	<!-- #set( $linkIdRef = $linkReference.getValue() ) -->
				<!-- #set( $building = $container.getBean("Line").findBeanByFieldValue("Risk","id",$linkIdRef).getBean("Building") ) -->
				<!-- #set( $riskAddr = $building.findBeanByFieldValue("Addr","AddrTypeCd","RiskAddr") ) -->
				<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("Addr1")," ")    )  -->
				<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("City")," ")    )  -->
				<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("StateProvCd")," ")    )  -->
				<!-- #set( $finalRiskAddr = $StringRenderer.concat($finalRiskAddr, $riskAddr.gets("PostalCode")," ")    )  -->
				<!-- #set( $linkDesc =$finalRiskAddr  ) -->
				
				<!-- #if( $linkReferenceResult.isDeleted() ) -->
	        		<!-- #set( $linkDesc =  $finalRiskAddr + " (DELETED)" ) -->
	        	<!-- #end -->
	        <!-- #end -->
	        	
        	<!-- #set( $included = $BeanRenderer.findBeanByFieldValueAndStatus($item, "LinkReference", "IdRef", $linkReference.getValue(), "Active") ) -->
	        <tr>
	        	<td/>
	            <td>
	            	<table>
	            		<tr>
	            			<td style='padding: 0px;'>
	            			<!-- #if( $included ) -->
	            				$FormFieldRenderer.render("LinkReferenceInclude_$counter", "Yes", "CheckBox", "OnClick=buildLinkReferencesParam()|$disable")
	            			<!-- #else -->
	            				$FormFieldRenderer.render("LinkReferenceInclude_$counter", "No", "CheckBox", "OnClick=buildLinkReferencesParam()|$disable")
	            			<!-- #end -->
	            			$renderer.inputHidden("LinkReferenceIdRef_$counter", $linkReference.getValue())
	            			</td>
							<th id='LinkReferenceDescription_$counter' class='label' style='padding: 0px;'>$FormFieldRenderer.renderLabel("LinkReferenceInd_$counter", $linkDesc, "Label", $CMMResponse)</th>    
	            		</tr>
	            	</table>
	            </td>
            <tr>
            <!-- #set( $counter = $counter + 1 ) -->
           <!-- #end -->
    </table>      
$renderer.tileEnd()
<script type="text/javascript">
<!--
	toggleLinkReferenceCheckBoxes();
//-->
</script>
<!-- #end --> <!-- if reference objects exist, show the reference list -->