<script language="javascript">

	function refresh(){
	    cmmXForm('UWApplicationSync', $CMMParams.gets("SystemId"), '$CMMParams.gets("ParentIdRef")', '', 'CodeRefOptionsKey=$form.get("CodeRefOptionsKey")&TabOption=policy');
	}

	$(document).ready( function(){
		refresh();
	});
    </script>
    
    <form id='frmCMM' name='frmCMM' action='innovation' method='post'>
        <!-- cmmXForm parameters -->
        <input name='SecurityId' value='$!SPI.getSecurityId($!ResponseParams)' style="display:none" />
        <input id='ConversationId' name='ConversationId' value='$!ResponseParams.gets("ConversationId")' style="display:none" />
        <input name="RqUID" value="$ResponseParams.gets('RqUID')" style="display:none"/>
        <input name="XForm" value="" style="display:none"/>
        <input type="Submit" value="CMMSubmit" name="CMMSubmit"  style="display:none" />

        <!-- Tiling References -->
	    <input style='display:none' name='VelocityVariableTile' value='$form.get("VelocityVariableTile")' />
	    <input style='display:none' name='VelocityVariableOverrideTile' value='$form.get("VelocityVariableOverrideTile")' />
	    <input style='display:none' name='FormVariableTile' value='$form.get("FormVariableTile")' />
	    <input style='display:none' name='SiteMenuTile' value='$form.get("SiteMenuTile")' />
        <input style='display:none' name='MenuTile' value='$form.get("MenuTile")' />
        <input style='display:none' name='SummaryTile' value='$form.get("SummaryTile")' />
        <input style='display:none' name='NavigationTiles' value='$form.get("NavigationTiles")' />
        <input style='display:none' name='TileType' value='$form.get("TileType")' />

        
        <input style='display:none' name='FilterStatus' value='$form.get("FilterStatus")' />
        <input style='display:none' name='OrderBy' value='$form.get("OrderBy")' />
        <input style='display:none' name='SortOrder' value='$form.get("SortOrder")' />
        <input style='display:none' name='DocRef' value='$form.get("DocRef")' />
        <input style='display:none' name='DocType' value='$form.get("DocType")' />
		<input style='display:none' name='AutomaticTaskInd' value='$form.get("AutomaticTaskInd")' />
        <input style='display:none' name='DocSearch' value='$form.get("DocSearch")'/>
        <input style='display:none' name='LogKey' value='$form.get("LogKey")'/>

        <!-- Package References -->
       <input style='display:none' name='MDAContainerPackage' value='$form.get("MDAContainerPackage")' />
       <input style='display:none' name='CustomerSystemId' value='$!form.get("CustomerSystemId")' />
       <input style='display:none' name='TaskSystemId' value='$!form.get("TaskSystemId")' />
       <input style='display:none' name='Module' value='$form.get("Module")' />
       <input style='display:none' name='Button1' value='$form.get("Button1")' />
       <input style='display:none' name='Button1Logic' value='$form.get("Button1Logic")'/>
       <input style='display:none' name='Button2' value='$form.get("Button2")' />
       <input style='display:none' name='Button2Logic' value='$form.get("Button2Logic")'/>
       <input style='display:none' name='Button3' value='$form.get("Button3")' />
       <input style='display:none' name='Button3Logic' value='$form.get("Button3Logic")'/>
       <input style='display:none' name='Button4' value='$form.get("Button4")' />
       <input style='display:none' name='Button4Logic' value='$form.get("Button4Logic")'/>

       <!-- Call the refresh to redirect the stored service name -->
        <div style="margin-bottom:0px; font-size:9; margin-left:10px; margin-bottom:2px">
<!--            <a href='javascript:refresh();'>Loading...</a>   -->
        </div> 

    </form>
