<!-- Prepare Velocity Variables     
    #set( $SearchType = $!form.get("SearchType") )
    $renderer.setTile("COProvider", "provider-detail")
    #if( !$Provider.gets("NewProviderRef").equals("0") && !$Provider.gets("NewProviderRef").equals("") )
       #set( $newProvider = $ProviderRenderer.getProviderBySystemId($Provider.gets("NewProviderRef")) )
    #end   
    #set( $destination = $Provider.getBean("ElectronicPaymentContract","ContractTypeCd","ClaimsPayment").getBean("ElectronicPaymentDestination") )
    

-->

<!-- Form variables that should be passed to/from each request -->
$FormFieldRenderer.render("SearchType", "$!form.gets('SearchType')", "Hidden")
$FormFieldRenderer.render("PageType", "$!form.gets('PageType')", "Hidden")
$FormFieldRenderer.render("ProviderSystemId", "$!Provider.getSystemId()", "Hidden")
$FormFieldRenderer.render("OrigCommercialName", "$!ProviderName.gets('CommercialName')", "Hidden")
$FormFieldRenderer.render("ClaimsPaymentDestination.ACHName", "$!ProviderName.gets('CommercialName')", "Hidden")

$!renderer.tileStart("None", "ProviderDetail", "None", "None")   
     <table width='100%" class='format'>
	  <tr> 
	       <th width='16%' class='label'>$FormFieldRenderer.renderLabel("Provider.ProviderNumber", "Provider Code", "Label", $CMMResponse, "Required=True")</th>
           <td width='23%'>$FormFieldRenderer.render("Provider.ProviderNumber", $!Provider.gets('ProviderNumber'), "String", "size=12|maxlength=20|tabindex=1|Required=True|$disable")</td>
	       <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Provider.ProviderTypeCd", "Provider Type", "Label", $CMMResponse, "Required=True")</th>
           <td width='13%'>$FormFieldRenderer.renderSelect("Provider.ProviderTypeCd", $!Provider.gets('ProviderTypeCd'), "CLProvider::provider::type::provider", "SelectList", "Prompt=Select...|tabindex=2|Required=True|$disable")</td>
	       <td width='33%'>&nbsp;</td>
	  </tr>
	  <tr>
	  		<th class='label'>Status&nbsp;&nbsp;</th>
			<td>$!renderer.select('Provider.StatusCd',$!Provider.gets('StatusCd'),'COProvider::provider::status::all',"tabindex=3|$disable")</td>
			<th class='label'>Status Date&nbsp;&nbsp;</th>
            <td><input tabindex='4' id='Provider.StatusDt' name='Provider.StatusDt' value='$!Provider.gets("StatusDt")'size='10' maxlength='10' onBlur="check_date(this)" $disable/></td>
	  </tr>
	  <tr>
	       <th class='label'>Business Type</th>
	       <td>$!renderer.select('ProviderTaxInfo.LegalEntityCd',$!ProviderTaxInfo.gets('LegalEntityCd'),'COProvider::provider::businesstype::provider',"tabindex=5|$disable")</td>
	       <td colspan='2'>
	       		<table class='format' cellpadding='0' cellspacing='0'>
	       			<tr>
	       				<th class='label'>$FormFieldRenderer.renderLabel("Provider.CombinePaymentInd", "Allow Combined Payments", "Label", $CMMResponse, "Required=True")</th>
           				<td>$FormFieldRenderer.renderSelect("Provider.CombinePaymentInd",$Provider.gets("CombinePaymentInd"),"CO::common::yes-no::all", "SelectList", "tabindex=6|Required=True|Prompt=Select...|$disable")</td>
           			</tr>
           		</table>
           	</td>			
	  </tr>
	  <tr>
	       <th class='label'>$FormFieldRenderer.renderLabel("ProviderName.CommercialName", "Business Name", "Label", $CMMResponse, "Required=True")</th>
	       <td>$FormFieldRenderer.render("ProviderName.CommercialName", $!ProviderName.gets("CommercialName"), "String", "OnBlur=createIndexName();copyValueIfBlank('ProviderName.CommercialName','AcctName.CommercialName')|size=32|tabindex=6|Required=True|$disable")</td>
	  </tr>
	  <tr> 
	       <th class='label'>Name</th>
	       <td>$FormFieldRenderer.render("ProviderName.GivenName", $!ProviderName.gets("GivenName"), "String", "size=32|tabindex=9|$disable|onBlur=javascript:copyValueIfBlank('ProviderName.GivenName','AcctName.CommercialName2')")</td>
	  </tr>
	  <tr>      
	       <th class='label'>DBA Name</th>
	       <td>$FormFieldRenderer.render("ProviderName.DBAName", $!ProviderName.gets("DBAName"), "String", "size=32|tabindex=10|$disable|onBlur='javascript:createDBAIndexName()'")</td>
	       <th colspan='2' class='label'>Search DBA</th>
	       <td>$FormFieldRenderer.render("ProviderName.DBAIndexName", $!ProviderName.gets("DBAIndexName"), "String", "size=32|tabindex=11|$disable")</td>
	  </tr>
	  <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("ProviderStreetAddr.Addr1", "Street Address", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.render("ProviderStreetAddr.Addr1", $!ProviderStreetAddr.gets('Addr1'), "String", "size=32|tabindex=12|Required=True|$disable")</td>
            <td><!-- #if( !$disable.equals("disabled") ) -->
            	$FormFieldRenderer.renderButton("CopyAddress", "Copy Address", "Button", "copyAddress('ProviderStreetAddr', 'ProviderBillingAddr')|Class=button-plain|tabindex=17|$disable")
            <!-- #end --></td>
            <th class='label'>$FormFieldRenderer.render("ProviderBillingAddr.Addr1", "Billing Address", "Label")</th>
            <td>$FormFieldRenderer.render("ProviderBillingAddr.Addr1", $!ProviderBillingAddr.gets('Addr1'), "String", "size=32|tabindex=18|$disable")</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>$FormFieldRenderer.render("ProviderStreetAddr.Addr2", $!ProviderStreetAddr.gets('Addr2'), "String", "size=32|tabindex=13|$disable")</td>
            <td colspan='2'>&nbsp;</td>
            <td>$FormFieldRenderer.render("ProviderBillingAddr.Addr2", $!ProviderBillingAddr.gets('Addr2'), "String", "size=32|tabindex=19|$disable")</td>
        </tr>
        <tr>
            <th class='label'>
            $FormFieldRenderer.renderLabel("ProviderStreetAddr.City", "City", "Label", $CMMResponse, "Required=True"),
            $FormFieldRenderer.renderLabel("ProviderStreetAddr.StateProvCd", "State", "Label", $CMMResponse, "Required=True")
            $FormFieldRenderer.renderLabel("ProviderStreetAddr.PostalCode", "Zip", "Label", $CMMResponse, "Required=True")
            </th>
            <td colspan='2'>
                <table cellpadding='0' cellspacing='0'>
                     <tr>
                          <td>$FormFieldRenderer.render("ProviderStreetAddr.City", $!ProviderStreetAddr.gets('City'), "String", "size=16|tabindex=14|Required=True|$disable")</td>
                          <td>$FormFieldRenderer.renderSelect("ProviderStreetAddr.StateProvCd", $!ProviderStreetAddr.gets('StateProvCd'), "CO::common:states::all", "SelectList", "tabindex=15|Required=True|Prompt=Select...|$disable")</td>
                          <td>$FormFieldRenderer.render("ProviderStreetAddr.PostalCode", $!ProviderStreetAddr.gets('PostalCode'), "PostalCode", "size=10|tabindex=16|Required=True|$disable")</td>
                     </tr>
                </table>
            </td>
            <th class='label'>
            $FormFieldRenderer.render("ProviderBillingAddr.City", "City", "Label"),
            $FormFieldRenderer.render("ProviderBillingAddr.StateProvCd", "State", "Label")
            $FormFieldRenderer.renderLabel("ProviderBillingAddr.PostalCode", "Zip", "Label", $CMMResponse)
            </th>
            <td>
                <table cellpadding='0' cellspacing='0'>
                     <tr>
                          <td>$FormFieldRenderer.render("ProviderBillingAddr.City", $!ProviderBillingAddr.gets('City'), "String", "size=16|tabindex=20|$disable")</td>
                          <td>$FormFieldRenderer.renderSelect("ProviderBillingAddr.StateProvCd", $!ProviderBillingAddr.gets('StateProvCd'), "CO::common:states::all", "SelectList", "tabindex=21|Prompt=Select...|$disable")</td>
                          <td>$FormFieldRenderer.render("ProviderBillingAddr.PostalCode", $!ProviderBillingAddr.gets('PostalCode'), "PostalCode", "size=10|tabindex=22|$disable")</td>
                     </tr>
                </table>
            </td>	
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("ProviderPrimaryPhone.PhoneNumber", "Primary Phone", "Label", $CMMResponse)</th>
            <td colspan='2'>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <td>$FormFieldRenderer.renderSelect("ProviderPrimaryPhone.PhoneName", $!ProviderPrimaryPhone.gets('PhoneName'), "CO::common::phonetype::all", "SelectList", "tabindex=24|Prompt=Select...|$disable")</td>
                        <td>$FormFieldRenderer.render("ProviderPrimaryPhone.PhoneNumber", $!ProviderPrimaryPhone.gets("PhoneNumber"), "Phone", "tabindex=25|$disable")</td>
                    </tr>
                </table>                    
            </td>
            <td colspan='2'>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <th class='label'>$FormFieldRenderer.renderLabel("ProviderSecondaryPhone.PhoneNumber", "Secondary Phone", "Label", $CMMResponse)</th>
                        <td>$FormFieldRenderer.renderSelect("ProviderSecondaryPhone.PhoneName", $!ProviderSecondaryPhone.gets('PhoneName'), "CO::common::phonetype::all", "SelectList", "Prompt=Select...|tabindex=26|$disable")</td>
                        <td>$FormFieldRenderer.render("ProviderSecondaryPhone.PhoneNumber", $!ProviderSecondaryPhone.gets("PhoneNumber"), "Phone", "tabindex=27|$disable")</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>    
            <th class='label'>$FormFieldRenderer.renderLabel("ProviderFax.PhoneNumber", "Fax Number", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("ProviderFax.PhoneNumber", $!ProviderFax.gets("PhoneNumber"), "Phone", "tabindex=28|$disable")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("ProviderEmail.EmailAddr", "Email Address", "Label", $CMMResponse)</th>
            <td colspan='2'>$FormFieldRenderer.render("ProviderEmail.EmailAddr", $ProviderEmail.gets("EmailAddr"), "Email" ,"size=44|tabindex=29|$disable")</td>
        </tr>
        <tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("Provider.XactanalysisCarrierID", "Xactanalysis Carrier ID", "Label", $CMMResponse)</th>
         	<td colspan='2'>$FormFieldRenderer.render("Provider.XactanalysisCarrierID", $!Provider.gets('XactanalysisCarrierID'), "String", "size=40|tabindex=42|$disable")</td>
           	<th class='label'>$FormFieldRenderer.renderLabel("Provider.XactanalysisRecipientAddress", "Xactanalysis Recipient Address", "Label", $CMMResponse)</th>
         	<td colspan='2'>$FormFieldRenderer.render("Provider.XactanalysisRecipientAddress", $!Provider.gets('XactanalysisRecipientAddress'), "String", "onBlur=createRecipientXactAddress();|size=40|tabindex=44|$disable")</td>
        </tr>
	  <tr>
	       <th class='label'>Replaced by Provider</th>
	       <!-- #if( $form.get("NewProviderNumber").equals("") ) -->
		   		<!-- #set( $newProviderNumber = $newProvider.gets("ProviderNumber") ) -->
		   <!-- #else -->
			    <!-- #set( $newProviderNumber = $form.get("NewProviderNumber") ) -->
		   <!-- #end -->
	       <td ><input tabindex='30' name='NewProviderNumber'type='text' value='$!newProviderNumber'size='15' maxlength='15' $disable/></td>
	       <td />            
	       <th class='label'>Sort Name</th>            
	       <td><input tabindex='31' id='Provider.IndexName' name='Provider.IndexName' type='text' value='$!Provider.gets("IndexName")' size='44' maxlength='44' $disable/></td>            
	  </tr>
       <tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("Provider.GenericProviderInd", "Generic Provider?", "Label", $CMMResponse)</th>
            <td>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <td>$FormFieldRenderer.renderSelect("Provider.GenericProviderInd", $!Provider.gets('GenericProviderInd'), "CO::common::yes-no::all", "SelectList", "onchange=toggleReassignToGroupIndFieldRequired()|Prompt=Select...|$disable")</td>
                    </tr>
                </table>                    
            </td>
			<th class='label'>$FormFieldRenderer.renderLabel("Provider.ReassignToGroup", "Reassign Email Task to", "Label", $CMMResponse)</th>
			<!-- #set( $taskGroupList = $UserRenderer.getTaskGroupList("", $DateRenderer.getStringDate()) ) -->
			<td colspan='2'>$FormFieldRenderer.renderSelect("Provider.ReassignToGroup",$!Provider.gets("ReassignToGroup"),$taskGroupList,"SelectList","Prompt=Select...|onChange=javascript:clearField('TransferToGroup','TransferToUser')")</td>
       </tr>
	   </table>
	  <table width='100%" class='format'>
          <!-- #if ($Misc1) -->
	  <tr>
	       <td width='16%'>&nbsp;</td>
	       <th class='label'>Type</th>
	       <th class='label'>Data</th>
	       <th class='label'>Type</th>
	       <th class='label'>Data</th>
	       <th class='label'>Type</th>
	       <th class='label'>Data</th>
	  </tr>
	  <tr>
	       <th class='label'>Miscellaneous Fields</th>
	       <td>$renderer.select("Misc1.Name", $!Misc1.gets('Name'),"COProvider::provider::misc::all","tabindex=32|$disable")</td>
	       <td><input tabindex='33' name='Misc1.Value'type='text'value='$!Misc1.gets("Value")'size='15' maxlength='15' $disable/></td>
	       <td>$renderer.select("Misc2.Name", $!Misc2.gets('Name'),"COProvider::provider::misc::all","tabindex=34|$disable")</td>
	       <td><input tabindex='35' name='Misc2.Value'type='text'value='$!Misc2.gets("Value")'size='15' maxlength='15' $disable/></td>
	       <td>$renderer.select("Misc3.Name", $!Misc3.gets('Name'),"COProvider::provider::misc::all","tabindex=36|$disable")</td>
	       <td><input tabindex='37' name='Misc3.Value'type='text'value='$!Misc3.gets("Value")'size='15' maxlength='15' $disable/></td>
	  </tr>
          <!-- #end -->
       <tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("Provider.NotificationMethod", "Notification Method", "Label", $CMMResponse)</th>
            <td>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <td>$FormFieldRenderer.renderSelect("Provider.NotificationMethod", $!Provider.gets('NotificationMethod'), "COProvider::provider::notification::all", "SelectList", "tabindex=37|Prompt=Select...|$disable")</td>
                    </tr>
                </table>                    
            </td>
			<th class='label'>$FormFieldRenderer.renderLabel("Provider.PreferredDeliveryMethod", "Delivery Preference", "Label", $CMMResponse)</th>
            <td colspan='2'>$FormFieldRenderer.renderSelect("Provider.PreferredDeliveryMethod", $!Provider.gets("PreferredDeliveryMethod"), "::output::deliverypreference::provider" , "SelectList", "tabindex=38|$disable" )</td>
       </tr>
	   <tr>
	       <th class='label'>Comments</th>
	       <td colspan='6'>$!renderer.textarea('Provider.Comments',$!Provider.gets("Comments"),'80','3',"tabindex=39|$disabled")</td>
	   </tr>
     </table>	
     

$renderer.tileEnd()
<script language='javascript'>
	function toggleReassignToGroupIndFieldRequired() {
		var genericProvider = $("#Provider\\.GenericProviderInd").val();
		var when = false; 
		if(genericProvider.toLowerCase() == 'yes') {
			when = true; 
		} 
		setRequired("Provider.ReassignToGroup", when);
	}
</script> 
