<!-- Prepare Velocity Variables-->
#set( $lossCauseCd = $AdditionalParams.getBean("Param","Name","Claim.LossCauseCd").gets("Value") )
#set( $subLossCausesExist = $ClaimProductRenderer.hasSubLossCauseForLossCause($lossCauseCd,$Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd")))

<!-- #if( !$!lossCauseCd.equals("") && $subLossCausesExist )-->					
	<table width='100%' class='format' cellpadding='0' cellspacing='0'>	
		<tr>						
			<th class='label'>$FormFieldRenderer.renderLabel("Claim.SubLossCauseCd", "Primary Sub Loss Cause", "Label", $CMMResponse, "Required=True")</th>
			<td>$ClaimProductRenderer.subLossCauseSelectField("Claim.SubLossCauseCd", "" , $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), $lossCauseCd, "Prompt=Select...|Required=True|$subLossCauseDisable")</td>						
		</tr>		
	</table>
	<script>		
			$("#ajaxReplaceSubLossCauseCodes").find("th").width($("#Claim_LossCauseCd_labelsizer").width());
			$("#ajaxReplaceSubLossCauseCodes").find("td").width($("#Claim_LossCauseCd_valuesizer").width());
	</script>
<!-- #else -->
		<input style='display:none' name='Claim.SubLossCauseCd' value='' />
<!-- #end -->






	
				
				