<!-- Prepare Velocity Variables
$renderer.setTile($mdaContainer, "claim-summary")

#set( $claimPolicyInfo = $Claim.getBean("ClaimPolicyInfo") )
#set( $insuredName = $ClaimRenderer.getInsuredName($claimPolicyInfo) )
#set( $agentName = $ProviderRenderer.getProviderName($data, $claimPolicyInfo.gets("ProviderRef")) )

#set( $claimNumber = $ClaimRenderer.getClaimNumber($Claim) )
#set( $claimTransactionNumber = $Claim.gets("ClaimNumber") )

#set( $customerRef = $Claim.gets("CustomerRef") )

## Use Customer VIP Security since Claim VIP Security will allow view
#set( $canInquire = true )
#if( $Claim.gets("TypeCd").equals("LossNotice") && !$customerRef.equals("") )
	#set( $customer = $CustomerRenderer.getCustomer($customerRef) )
	#set( $containerSecurity = $UserRenderer.getContainerSecurity($data, $customer, $UserInfo, $todayDt) )
	#set( $canInquire = $containerSecurity.canInquire() )
#end

#set( $allowCustomerLink = $UserRenderer.getAuthorityAttributeValue($UserInfo, "Customer-PolicyList", $todayDt) )
-->
<!-- #if( !$claimNumber.equals("") ) -->
<script type="text/javascript" language="JavaScript">
	document.title = "$claimNumber - Guidewire InsuranceNow\u2122"; 
</script>
<!-- #end -->

$!renderer.tileStart("Normal","${tileType}Summary","Summary","None")
	<table width='100%' class='format'>
		<tr>		
			<th class='label'>$FormFieldRenderer.renderLabel("ClaimNumber", "Claim Number", "Label", null)
			$FormFieldRenderer.render("ClaimSystemId", $Claim.getSystemId(), "Hidden")
			$FormFieldRenderer.render("PolicyRef", $form.gets("PolicyRef"), "Hidden")
			$FormFieldRenderer.render("InsuredName", $form.gets("InsuredName"), "Hidden")
			$FormFieldRenderer.render("InceptionDt", $form.gets("InceptionDt"), "Hidden")
			$FormFieldRenderer.render("ExpirationDt", $form.gets("ExpirationDt"), "Hidden")
			$FormFieldRenderer.render("CancelDt", $form.gets("CancelDt"), "Hidden")
			$FormFieldRenderer.render("ProviderNumber", $form.gets("ProviderNumber"), "Hidden")
			$FormFieldRenderer.render("CategoryCd", $Claim.gets("CategoryCd"), "Hidden")
			</th>
			<td id='ClaimSummary_ClaimNumber'>$claimNumber</td>
		</tr>		
		<!-- #if( $claimTransactionNumber != $claimNumber ) -->
		<tr>		
			<th class='label'>$FormFieldRenderer.renderLabel("ClaimTransactionNumber", "Transaction Number", "Label", null)</th>
			<td id='ClaimSummary_ClaimTransactionNumber'>$claimTransactionNumber</td>
		</tr>
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("StatusCd", "Transaction Status", "Label", null)</th>
			<td id='ClaimSummary_StatusCode'>$Claim.gets("StatusCd")</td>
		</tr>
		<!-- #end -->
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("PolicyNumber", "Policy Number", "Label", null)</th>
			<td id='ClaimSummary_PolicyNumber'>$claimPolicyInfo.gets("PolicyNumber")</td>			
		</tr>	
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("SubTypeCd", "Policy Form", "Label", null)</th>
			<td id='ClaimSummary_SubTypeCd'>$claimPolicyInfo.gets("SubTypeCd")</td>			
		</tr>		  
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("ProductName", "Product Name", "Label", null)</th>
			<td id='ClaimSummary_ProductName'>$!ProductRenderer.getProductVersionName($Claim.gets("ProductVersionIdRef"))</td>
		</tr>
		<tr>				
			<th class='label'>$FormFieldRenderer.renderLabel("InsuredName", "Insured Name", "Label", null)</th>
		  	<!-- #if( $customerRef.equals("") || !$canInquire || !$StringRenderer.isTrue($allowCustomerLink) || $form.get("ExitNavigation").equals("No") ) -->    
		      	<td id='ClaimSummary_InsuredName'>$insuredName</td>
		  	<!-- #else -->
		    	<td id='ClaimSummary_InsuredName'>$FormFieldRenderer.renderLink("GoToCustomer", $insuredName, "Link", "title='Click to go to the customer'|Class=actionLink", "javascript:cmmXFormSafe('CLClaimList','$customerRef','','','MenuGroupCd=Claims&amp;MenuOptionCd=ClaimProcessing&amp;TaskSystemId=')")</td>
		  	<!-- #end -->    
		</tr>
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("InceptionDt", "Inception Date", "Label", null)</th>
			<td id='ClaimSummary_InceptionDate'>$claimPolicyInfo.gets("InceptionDt")</td>
		</tr>
		<tr>				
			<th class='label'>$FormFieldRenderer.renderLabel("ExpirationDt", "Expiration Date", "Label", null)</th>
			<td id='ClaimSummary_ExpirationDate'>$claimPolicyInfo.gets("ExpirationDt")</td>
		</tr>
		<tr>									
			<th class='label'>$FormFieldRenderer.renderLabel("AgentName", "Agent Name", "Label", null)</th>
			<td id='ClaimSummary_AgentName'>$agentName</td>			
		</tr>
		<!-- #if( $claimTransactionNumber == $claimNumber ) -->
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("StatusCd", "Claim Status", "Label", null)</th>
			<td id='ClaimSummary_StatusCode'>$Claim.gets("StatusCd")</td>
		</tr>
		<!-- #end -->
		<tr>			
			<th class='label'>$FormFieldRenderer.renderLabel("LossDt", "Loss Date", "Label", null)</th>
			<td id='ClaimSummary_LossDate'>$Claim.gets("LossDt")</td>			
		</tr>
		<!-- #if( $ClaimPolicyInfo.valueEquals("CoverageTriggerCd", "Claims Made") ) -->
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("RetroactiveDt", "Retroactive Date", "Label", null)</th>
			<td id='ClaimSummary_RetroactiveDt'>$ClaimPolicyInfo.gets("RetroactiveDt")</td>
		</tr>
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("ContinuityDt", "Continuity Date", "Label", null)</th>
			<td id='ClaimSummary_ContinuityDt'>$ClaimPolicyInfo.gets("ContinuityDt")</td>
		</tr>
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("ExtendedReportingDt", "Extended Reporting Date", "Label", null)</th>
			<td id='ClaimSummary_ExtendedReportingDt'>$ClaimPolicyInfo.gets("ExtendedReportingDt")</td>
		</tr>
		<!-- #end -->
		<!-- #if( $hasLockUser && !$hasLockUser.equals($UserInfo.gets("LoginId")) ) -->
	    	<tr>
	      		<th class='label'>$FormFieldRenderer.renderLabel("ApplicationOwner","Owner", "Label", $CMMResponse)</th>
	            <td id='ClaimSummary_ClaimOwner'>$hasLockUser</td>
	        </tr>
	    <!-- #end -->	 	    
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("ControllingStateCd", "Claim State", "Label", null)</th>
			<td id='ClaimSummary_ControllingStateCd'>$FormFieldRenderer.renderSelect("ClaimSummary_ControllingStateCd",$ClaimPolicyInfo.gets("ControllingStateCd"),"CO::common:states::all","SelectList","Required=True|disabled")</td>
		</tr>   
		
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("LegacyPolicyNumber", "Policy Legacy Number", "Label", null)</th>
			<td id='ClaimSummary_LegacyPolicyNumber'>$claimPolicyInfo.gets("LegacyPolicyNumber")</td>			
		</tr>	
		
		<!-- #if( $ClaimRenderer.isClaimInHistoryMode($Claim) ) -->
			<tr>		
				<th id='ClaimSummary_HistoryMode' align='left' colspan='2' class='warning'>Historical Entry Mode</th>				
			</tr>
		<!-- #end -->
	</table>
$!renderer.tileEnd("Summary")