<!-- Prepare Velocity Variables
#set( $data = $SPI.getConnection() )
#set( $containerName = $CMMParams.gets("Container") )
#set( $container = $CMMResponse.getBean($!containerName) )
#set( $providerCd = $AdditionalParams.getBean("Param","Name","AdjusterProviderNumber").gets("Value") )
#set( $provider = $ProviderRenderer.getProvider($data, $providerCd, "Adjuster,Examiner") )
#set( $providerName = $provider.getBean("PartyInfo", "PartyTypeCd", "ProviderParty").getBean("NameInfo", "NameTypeCd", "ProviderName").gets("CommercialName") )
#set( $warning = $ProviderRenderer.getWarningForRenderingProperyLocation($provider, $Claim, $providerName ) )
-->

<table>
	<tr>
		<td><label id='AdjusterName'>$!providerName</label></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td class='warning'>$!warning</td>
	</tr>
</table>