<!-- Prepare Velocity Variables-->
#set( $additionalLossCauseInd = $AdditionalParams.getBean("Param","Name","Claim.AdditionalLossCauseInd").gets("Value") )
#set( $additionalLossCauseCd1 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalLossCauseCd1").gets("Value") )
#set( $additionalSubLossCauseCd1 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalSubLossCauseCd1").gets("Value") )
#set( $subLossCausesExist1 = $ClaimProductRenderer.hasSubLossCauseForLossCause($additionalLossCauseCd1, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd")))

#set( $additionalLossCauseCd2 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalLossCauseCd2").gets("Value") )
#set( $additionalSubLossCauseCd2 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalSubLossCauseCd2").gets("Value") )
#set( $subLossCausesExist2 = $ClaimProductRenderer.hasSubLossCauseForLossCause($additionalLossCauseCd2, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd")))

#set( $additionalLossCauseCd3 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalLossCauseCd3").gets("Value") )
#set( $additionalSubLossCauseCd3 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalSubLossCauseCd3").gets("Value") )
#set( $subLossCausesExist3 = $ClaimProductRenderer.hasSubLossCauseForLossCause($additionalLossCauseCd3, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd")))

#set( $additionalLossCauseCd4 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalLossCauseCd4").gets("Value") )
#set( $additionalSubLossCauseCd4 = $AdditionalParams.getBean("Param","Name","Claim.AdditionalSubLossCauseCd4").gets("Value") )
#set( $subLossCausesExist4 = $ClaimProductRenderer.hasSubLossCauseForLossCause($additionalLossCauseCd4, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd")))

<!-- #if( $StringRenderer.isTrue($additionalLossCauseInd) ) -->
	<table width='100%' class='format' cellpadding='0' cellspacing='0'>	
		<tr>					
			<th class='label' >$FormFieldRenderer.renderLabel("Claim.AdditionalLossCauseCd1", "Additional Loss Cause", "Label", $CMMResponse, "Required=True")</th>
			<td colspan='5'>$ClaimProductRenderer.lossCauseSelectField("Claim.AdditionalLossCauseCd1", $additionalLossCauseCd1, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), "Prompt=Select...|OnChange=updateAdditionalLossCauses();|Required=True|$disable")</td>									
		</tr>
		<!-- #if( !$!additionalLossCauseCd1.equals("") && $subLossCausesExist1 )-->		 
			<tr>										
				<th class='label'>$FormFieldRenderer.renderLabel("Claim.AdditionalSubLossCauseCd1", "Additional Sub Loss Cause", "Label", $CMMResponse, "Required=True")</th>
				<td>$ClaimProductRenderer.subLossCauseSelectField("Claim.AdditionalSubLossCauseCd1", $additionalSubLossCauseCd1, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), $additionalLossCauseCd1, "Prompt=Select...|onchange=updateAdditionalLossCauses();|Required=True|$disable")</td>
			</tr>				
		<!-- #else -->
	     		$FormFieldRenderer.render("Claim.AdditionalSubLossCauseCd1", "", "Hidden")
		<!-- #end -->
		
		<tr>					
			<th class='label' >$FormFieldRenderer.renderLabel("Claim.AdditionalLossCauseCd2", "Additional Loss Cause", "Label", $CMMResponse, "Required=False")</th>
			<td colspan='5'>$ClaimProductRenderer.lossCauseSelectField("Claim.AdditionalLossCauseCd2", $additionalLossCauseCd2, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), "Prompt=Select...|OnChange=updateAdditionalLossCauses();|Required=False|$disable")</td>									
		</tr>
		<!-- #if( !$!additionalLossCauseCd2.equals("") && $subLossCausesExist2 )-->		 
			<tr>										
				<th class='label'>$FormFieldRenderer.renderLabel("Claim.AdditionalSubLossCauseCd2", "Additional Sub Loss Cause", "Label", $CMMResponse, "Required=True")</th>
				<td>$ClaimProductRenderer.subLossCauseSelectField("Claim.AdditionalSubLossCauseCd2", $additionalSubLossCauseCd2, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), $additionalLossCauseCd2, "Prompt=Select...|Required=True|$disable")</td>
			</tr>				
		<!-- #else -->
	     		$FormFieldRenderer.render("Claim.AdditionalSubLossCauseCd2", "", "Hidden")
		<!-- #end -->
		
		<tr>					
			<th class='label' >$FormFieldRenderer.renderLabel("Claim.AdditionalLossCauseCd3", "Additional Loss Cause", "Label", $CMMResponse, "Required=False")</th>
			<td colspan='5'>$ClaimProductRenderer.lossCauseSelectField("Claim.AdditionalLossCauseCd3", $additionalLossCauseCd3, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), "Prompt=Select...|OnChange=updateAdditionalLossCauses();|Required=False|$disable")</td>									
		</tr>
		<!-- #if( !$!additionalLossCauseCd3.equals("") && $subLossCausesExist3 )-->		 
			<tr>										
				<th class='label'>$FormFieldRenderer.renderLabel("Claim.AdditionalSubLossCauseCd3", "Additional Sub Loss Cause", "Label", $CMMResponse, "Required=True")</th>
				<td>$ClaimProductRenderer.subLossCauseSelectField("Claim.AdditionalSubLossCauseCd3", $additionalSubLossCauseCd3, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), $additionalLossCauseCd3, "Prompt=Select...|Required=True|$disable")</td>
			</tr>				
		<!-- #else -->
	     		$FormFieldRenderer.render("Claim.AdditionalSubLossCauseCd3", "", "Hidden")
		<!-- #end -->
		
		<tr>					
			<th class='label' >$FormFieldRenderer.renderLabel("Claim.AdditionalLossCauseCd4", "Additional Loss Cause", "Label", $CMMResponse, "Required=False")</th>
			<td colspan='5'>$ClaimProductRenderer.lossCauseSelectField("Claim.AdditionalLossCauseCd4", $additionalLossCauseCd4, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), "Prompt=Select...|OnChange=updateAdditionalLossCauses();|Required=False|$disable")</td>									
		</tr>
		<!-- #if( !$!additionalLossCauseCd4.equals("") && $subLossCausesExist4 )-->		 
			<tr>										
				<th class='label'>$FormFieldRenderer.renderLabel("Claim.AdditionalSubLossCauseCd4", "Additional Sub Loss Cause", "Label", $CMMResponse, "Required=True")</th>
				<td>$ClaimProductRenderer.subLossCauseSelectField("Claim.AdditionalSubLossCauseCd4", $additionalSubLossCauseCd4, $Claim.gets("ProductVersionIdRef"), $Claim.gets("ProductLineCd"), $additionalLossCauseCd4, "Prompt=Select...|Required=True|$disable")</td>
			</tr>				
		<!-- #else -->
	     		$FormFieldRenderer.render("Claim.AdditionalSubLossCauseCd4", "", "Hidden")
		<!-- #end -->
	</table>
<!-- #end -->





	
				
				