<!-- 
	#set( $productVersionIdRef = $AdditionalParams.getBean("Param","Name","ProductVersionIdRef").gets("Value") )
	#set( $court = $AdditionalParams.getBean("Param","Name","Litigation.Court").gets("Value") )
	
	#set( $courtVenue = $RICProductRenderer.getOptionByNameFromProductCoderefList( $productVersionIdRef, "CLClaim::claim::litigation-court::venue", $court ) )
	#set( $courtState = $RICProductRenderer.getOptionByNameFromProductCoderefList( $productVersionIdRef, "CLClaim::claim::litigation-court::state", $court ) )
 -->
<tr>
	<td colspan="4">&nbsp;</td>
	<th class='label'>$FormFieldRenderer.renderLabel("Litigation.CourtVenue", "Venue", "Label", $CMMResponse)</th>
	<td>$FormFieldRenderer.render("Litigation.CourtVenue", $courtVenue.gets("value"), "String", "disabled")</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
	<th class='label'>$FormFieldRenderer.renderLabel("Litigation.CourtStateCd", "State", "Label", $CMMResponse)</th>
	<td>$FormFieldRenderer.render("Litigation.CourtStateCd", $courtState.gets("value"), "String", "disabled")</td>
</tr>