<!-- Prepare Velocity Variables
$renderer.setTile("CLClaim", "litigation-detail")
#set( $litigation = $CMMBean.getBean("Litigation") ) 
-->

<script type="text/javascript">
	function replaceCourtVenueStateCd(){
		ajaxCMMXFormShowBusy('ajaxReplaceCourtVenueStateCd','CLRICCourtAjax', '', '', '', '',
				'ProductVersionIdRef', 
				'Litigation.Court' );
	}
</script>

$!renderer.tileStart("Normal","LitigationInformation","None","None")
$FormFieldRenderer.render("ProductVersionIdRef", $Claim.gets("ProductVersionIdRef"), "Hidden" )
	<table width='100%' class='format'>
		<tbody>
			<tr>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Litigation.SuitFiledInd", "Suit Filed", "Label", $CMMResponse)</th>       	
				<td width='15%'>$FormFieldRenderer.renderSelect("Litigation.SuitFiledInd", $litigation.gets("SuitFiledInd"), "CO::common::yes-no::all", "SelectList", "Prompt=Select...|$disable")</td>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("Litigation.SuitDt", "Suit Date", "Label", $CMMResponse)</th>
				<td width='17%'>$FormFieldRenderer.render("Litigation.SuitDt", $litigation.gets("SuitDt"), "Date", "onBlur=formatDate(this)|$disable")</td>
				<th width='13%' class='label'>$FormFieldRenderer.renderLabel("Litigation.SuitStatusCd", "Suit Status", "Label", $CMMResponse)</th>
				<td width='25%'>$ProductRenderer.productSelectField("Litigation.SuitStatusCd", $litigation.gets("SuitStatusCd"), $Claim.gets("ProductVersionIdRef"), "CLClaim::claim::litigation::suit-status", "Prompt=Select...|$disable")</td>				
			</tr>
			<tr>		
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.SuitClosedDt", "Suit Closed Date", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Litigation.SuitClosedDt", $litigation.gets("SuitClosedDt"), "Date", "onBlur=formatDate(this)|$disable")</td>			
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.SuitSettlementCd", "Suit Settlement", "Label", $CMMResponse)</th>
				<td>$ProductRenderer.productSelectField("Litigation.SuitSettlementCd", $litigation.gets("SuitSettlementCd"), $Claim.gets("ProductVersionIdRef"), "CLClaim::claim::litigation::suit-settlement", "Prompt=Select...|$disable")</td>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.SuitType", "Suit Type", "Label", $CMMResponse)</th>
				<td>$ProductRenderer.productSelectField("Litigation.SuitType", $litigation.gets("SuitType"), $Claim.gets("ProductVersionIdRef"), "CLClaim::claim::litigation::suit-type", "Prompt=Select...|$disable")</td>
			</tr>
			<tr>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.ClaimSettledDt", "Claim Settled Date", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Litigation.ClaimSettledDt", $litigation.gets("ClaimSettledDt"), "Date", "onBlur=formatDate(this)|$disable")</td>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.DocketNumber", "Docket Number", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Litigation.DocketNumber", $litigation.gets("DocketNumber"), "String", "Size=20|$disable")</td>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.Court", "Court", "Label", $CMMResponse)</th>
				<td>$ProductRenderer.productSelectField("Litigation.Court", $litigation.gets("Court"), $Claim.gets("ProductVersionIdRef"), "CLClaim::claim::litigation-court::all", "Prompt=Select...|onchange=replaceCourtVenueStateCd();|$disable")</td>
			</tr>
		</tbody>
		<tbody id="ajaxReplaceCourtVenueStateCd">
			<tr>
				<td colspan="4">&nbsp;</td>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.CourtVenue", "Venue", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Litigation.CourtVenue", $litigation.gets("CourtVenue"), "String", "disabled")</td>
			</tr>
			<tr>
				<td colspan="4">&nbsp;</td>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.CourtStateCd", "State", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Litigation.CourtStateCd", $litigation.gets("CourtStateCd"), "String", "disabled")</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.Caption", "Caption", "Label", $CMMResponse)</th>
				<td colspan='5'>$FormFieldRenderer.render("Litigation.Caption", $litigation.gets("Caption"), "String", "Size=80|$disable")</td>	
			</tr>
			<tr>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.CaseFacts", "Case Facts", "Label", $CMMResponse)</th>
		    	<td colspan='5'>$FormFieldRenderer.render('Litigation.CaseFacts',$litigation.gets("CaseFacts"), "TextArea", "Cols=60|Rows=3|$disable")</td>
			</tr>
			<tr>
				<th class='label'>$FormFieldRenderer.renderLabel("Litigation.CaseAnalysis", "Case Analysis", "Label", $CMMResponse)</th>
		    	<td colspan='5'>$FormFieldRenderer.render('Litigation.CaseAnalysis',$litigation.gets("CaseAnalysis"), "TextArea", "Cols=60|Rows=3|$disable")</td>
			</tr>
		</tbody>
	</table>
$!renderer.tileEnd()