<!-- Prepare Velocity Variables
$renderer.setTile("CLClaim", "property-detail")

#set( $lossLocationAddr = $Claim.getBean("Addr","AddrTypeCd","LossLocationAddr") ) 
#set( $lossLocationDesc = $Claim.gets("LossLocationDesc") )

## Determine and set defaults if there is only one risk available
#set( $defaultRisk = $ClaimRenderer.getDefaultRisk($Claim) )
#if( $Claim.gets("RiskIdRef") == "" && $defaultRisk )
	#set( $defaultRiskAddr = $defaultRisk.getBean("Addr", "AddrTypeCd", "RiskAddr") )
	#if( $defaultRiskAddr )
		#set( $lossLocationDesc = $StringRenderer.concat($defaultRiskAddr.gets("Addr1"), $defaultRiskAddr.gets("Addr2"), " " ) )	
		#set( $lossLocationAddr = $BeanRenderer.createCopyOfBean($defaultRiskAddr, "Addr") )
		$lossLocationAddr.setValue("AddrTypeCd", "LossLocationAddr")
	#end
#end

#set( $selectAction =  "ajaxCMMXForm('ajaxReplaceAddr','CLLossLocationLoad', '$Claim.getSystemId()', '', '', '', 'Claim.RiskIdRef')" )
-->

<script type="text/javascript" language="JavaScript">
    
    <!-- This Function Determines Visibility of the Damage Description Field -->
	function toggleDamageDesc() {
		var damagedInd = document.getElementById("Claim.DamagedInd").value;
		if( isTrue(damagedInd) ) {
			expandRow("DamageDescRow");
     	} else {
     		collapseRow("DamageDescRow");     		
     	}
     }
</script>

$FormFieldRenderer.render("OriginalLossCause", $Claim.gets("LossCauseCd"), "Hidden")

<!-- #if( !$Claim.gets("ProductLineCd").equals("") && !$Claim.gets("StatusCd").equals("New") ) -->
$!renderer.tileStart("Normal","PropertyInformation","None","None")
	<table width='100%' class='format'>
		<tr>
			<th width='20%' class='label'>$FormFieldRenderer.renderLabel("Claim.RiskIdRef", "Property", "Label", $CMMResponse, "Required=True")</th>
			<!-- #if( $Claim.gets("RiskIdRef") == "" && $defaultRisk ) -->			
			<td>$RICClaimRenderer.riskSelectField("Claim.RiskIdRef", $defaultRisk.getId(), $Claim, "OnChange=$selectAction|Required=True|$disable")</td>			
			<!-- #else -->
			<td>$RICClaimRenderer.riskSelectField("Claim.RiskIdRef", $Claim.gets("RiskIdRef"), $Claim, "OnChange=$selectAction|Prompt=Select...|Required=True|$disable")</td>			
			<!-- #end -->
		</tr>
		<tr>
			<th class='label'>Loss Location:</th>
		</tr>
	</table>

<div style='padding-left:25px' id='ajaxReplaceAddr'>
	<table width='100%' class='format' cellpadding='0' cellspacing='0'>
		<tr> 
			<th width='18%' class='label'>$FormFieldRenderer.renderLabel("Claim.LossLocationDesc", "Description", "Label", $CMMResponse, "Required=True")</th>
			<td>$FormFieldRenderer.render("Claim.LossLocationDesc", $lossLocationDesc, "TextArea", "Cols=60|Rows=3|Required=True|$disable")</td>
		</tr>
	</table>
	$AddressRenderer.renderInputBlock("NoStreet", $lossLocationAddr, $context, "Required=True|Label=Address|LabelColumnWidth=17.5%|FieldColumnWidth=82.5%")	
</div>

	<table width='100%' class='format'>			
		<!-- #set( $hasDamaged = $ClaimRenderer.hasPropertyDamaged($Claim) ) -->
  		<!-- #if( $hasDamaged ) -->
	  		<!-- #set( $damagedDisable = "disabled" )  -->
	  	<!-- #else -->
	  		<!-- #set( $damagedDisable = $disable )  -->
	  	<!-- #end -->
		<tr>
	  		<th width='20%' class='label'>$FormFieldRenderer.renderLabel("Claim.DamagedInd", "Damaged?", "Label", $CMMResponse)</th>
	  		<td>$FormFieldRenderer.renderSelect('Claim.DamagedInd', $Claim.gets("DamagedInd"),'CO::common::yes-no::all', "SelectList", "${damagedDisable}|onChange=toggleDamageDesc()")</td>
		</tr>
		<!-- #set( $damageDescRowStyle = "display: none;" ) -->
		<!-- #if( $Claim.valueEquals("DamagedInd", "Yes") ) -->
			<!-- #set( $damageDescRowStyle = "" ) -->
		<!-- #end -->
		<tr id='DamageDescRow' style='$damageDescRowStyle'>
			<th class='label'>$FormFieldRenderer.renderLabel("Claim.DamageDesc", "Damage/Loss Description", "Label", $CMMResponse, "")</th>
			<td colspan='3'>$FormFieldRenderer.render("Claim.DamageDesc", $Claim.gets("DamageDesc"), "TextArea", "Cols=60|Rows=3|$damagedDisable")</td>
		</tr>		
	</table>
$!renderer.tileEnd()
<!-- #end -->