<!-- Prepare Velocity Variables
$renderer.setTile("CLClaim", "storm-questions")

-->

<!-- #if ($!claim.gets("ClaimLossTemplateIdRef").equals("StormClaim")) -->
	$!renderer.tileStart("Normal","Storm Questions","None","None")
		<table width='100%' class='format'>
			<tr>
				<th width='40%' class='label'>$FormFieldRenderer.renderLabel("Claim.NamedStormInd", "Is this loss due to a Named Storm or Hurricane?", "Label", $CMMResponse)</th> 		
				<td width='20%' >$FormFieldRenderer.renderSelect("Claim.NamedStormInd", $Claim.gets("NamedStormInd"), "CO::common::yes-no::all", "SelectList","Prompt=Select...|${disable}")</td>	
				<td width='40%'></td>
			</tr>
		</table>
		
		<div class='sectionSeparator'></div>
			
		<table width='100%' class='format'>
			<tr>
				<th width='40%' class='label'>$FormFieldRenderer.renderLabel("Claim.FloodInsuranceInd", "Does the insured have Flood Insurance?", "Label", $CMMResponse)</th>
				<td width='20%'>$FormFieldRenderer.renderSelect('Claim.FloodInsuranceInd', $Claim.gets("FloodInsuranceInd"),'CO::common::yes-no::all', "SelectList", "Prompt=Select...|$disable")</td>
				<td width='40%'></td>
			</tr>
			<tr>
				<th class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$FormFieldRenderer.renderLabel("Claim.FloodInsuranceCompany", "Company Name", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Claim.FloodInsuranceCompany", $Claim.gets("FloodInsuranceCompany"), "String", "Size=30|$disable")</td>		
			</tr>
			<tr>
				<th class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$FormFieldRenderer.renderLabel("Claim.FloodInsurancePolicy", "Policy Number", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Claim.FloodInsurancePolicy", $Claim.gets("FloodInsurancePolicy"), "String", "Size=30|$disable")</td>		
			</tr>
			<tr>
				<th class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$FormFieldRenderer.renderLabel("Claim.FloodInsurancePolicyEffectiveDate", "Effective Date", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Claim.FloodInsurancePolicyEffectiveDate", $Claim.gets("FloodInsurancePolicyEffectiveDate"), "Date", "onBlur=formatDate(this)|$disable")</td>			
			</tr>
			<tr>
				<th class='label'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$FormFieldRenderer.renderLabel("Claim.FloodInsurancePolicyExpirationDate", "Expiration Date", "Label", $CMMResponse)</th>
				<td>$FormFieldRenderer.render("Claim.FloodInsurancePolicyExpirationDate", $Claim.gets("FloodInsurancePolicyExpirationDate"), "Date", "onBlur=formatDate(this)|$disable")</td>			
			</tr>			
		</table>
	
	$!renderer.tileEnd()

<!-- #end -->