<!-- Prepare Velocity Variables 
    $renderer.setTile("INProducer", "producer-detail")
    #if( !$Provider.gets("NewProviderRef").equals("0") && !$Provider.gets("NewProviderRef").equals("") )
       #set( $newProvider = $ProviderRenderer.getProviderBySystemId($Provider.gets("NewProviderRef")) )
    #end
    #set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )     
    #set( $destination = $Provider.getBean("ElectronicPaymentContract", "ContractTypeCd","Commission").getBean("ElectronicPaymentDestination") );   
    #set( $source = $Provider.getBean("ElectronicPaymentContract", "ContractTypeCd", "Premium").getBean("ElectronicPaymentSource") ); 
	#set( $producerTypeCd = $!ProducerInfo.gets("ProducerTypeCd") )
	
	#set( $underwritingMaintenance = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-UnderwritingMaintenance", $todayDt)) )
	#set( $myProducer = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-MyProducerProfile", $todayDt)) )
	#if( $myProducer && !$underwritingMaintenance )
		#set( $editMe = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowEditMe", $todayDt)) )
		#set( $editOthers = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowEditOthers", $todayDt)) )	
		#set( $isProducer = $UserRenderer.isProducer($UserInfo) )
		#set( $allowFieldChange = "disabled")		
		#if( $isProducer)
			#if( $ProviderRenderer.isProviderSameAsUser($Provider,$UserInfo) )
				#if( $editMe)
					#set( $disable = "" )
				#else
					#set( $disable = "disabled" )
				#end
			#else
				#if( $editOthers)
					#set( $disable = "" )
					#set( $allowFieldChange = "")
				#else
					#set( $disable = "disabled" )
				#end
			#end
		#else
			#if( $editOthers)
				#set( $disable = "" )
				#set( $allowFieldChange = "")
			#else
				#set( $disable = "disabled" )
			#end
		#end													
	#else
		#set( $disable = "" )
		#set( $allowFieldChange = "")
	#end
	
	#set( $allowAgencyChange = $allowFieldChange )
	#set( $allowGroupChange = $allowFieldChange )	
	#if( !$allowFieldChange.equals("disabled") )
		#if( $ProducerInfo.gets('ProducerTypeCd').equals("Group") )
			#set( $allowAgencyChange = "DisabledField" )
			#set( $allowGroupChange = "DisabledField" )
		#elseif( $ProducerInfo.gets('ProducerTypeCd').equals("Agency") )
			#set( $allowAgencyChange = "DisabledField" )	
		#else
			#set( $allowGroupChange = "DisabledField" )
		#end
	#end
-->

<!-- Used to set lookup fields -->
$FormFieldRenderer.render("UserCd", "", "Hidden")
$FormFieldRenderer.render("UserName", "", "Hidden")

$FormFieldRenderer.render("SubmitTo",$ProducerInfo.gets("SubmitTo"), "Hidden")
$FormFieldRenderer.render("SubmitToCd",$ProducerInfo.gets("SubmitToCd"), "Hidden")

$FormFieldRenderer.render("ProducerCd","","Hidden")
$FormFieldRenderer.render("ProducerName","","Hidden")

$FormFieldRenderer.render("Agency","","Hidden")
$FormFieldRenderer.render("Group","","Hidden")
    
<!-- Form variables that should be passed to/from each request -->
$FormFieldRenderer.render("SearchType",$!form.gets("SearchType"), "Hidden")
$FormFieldRenderer.render("PageType",$!form.gets("PageType"), "Hidden")
$FormFieldRenderer.render("ProviderSystemId",$!Provider.getSystemId(), "Hidden")
$FormFieldRenderer.render("OrigCommercialName",$!ProviderName.gets("CommercialName"), "Hidden")
$FormFieldRenderer.render("CommissionDestination.ACHName",$!ProviderName.gets("CommercialName"), "Hidden")
$FormFieldRenderer.render("PremiumSource.ACHName",$!ProviderName.gets("CommercialName"), "Hidden")

 <!-- This suppresses the exception thrown by COFieldValidate, which allows INProducerValidate to be executed -->
$FormFieldRenderer.render("SuppressValidationException", "True", "Hidden")

$!renderer.tileStart("None", "ProducerDetail", "None", "None")   
    <table width="100%" class='format'>
    	<tr> 
    	  		           		
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("Provider.ProviderNumber",  "Producer Code", "Label", $CMMResponse, "Required=True")</th>
            <!-- #if( $underwritingMaintenance) -->
            	<td width='30%'>$FormFieldRenderer.render("Provider.ProviderNumber", $!Provider.gets('ProviderNumber'), "String", "size=12|maxlength=30|Required=True|${disable}")</td>
            <!-- #else -- >
            	<!-- #if( !$Provider.gets("ProviderNumber").equals("") && $isProducer ) -->
						<!-- #set( $providerNumberEdit = "disabled" ) -->
				<!-- #end -->
            	<td width='30%'>$FormFieldRenderer.render("Provider.ProviderNumber", $!Provider.gets('ProviderNumber'), "String", "size=12|maxlength=20|Required=True|${providerNumberEdit}")</td>
            <!-- #end -->       
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("ProducerTypeCd", "Producer Type", "Label", $CMMResponse, "Required=True")</th>           
            <td width='40%'>$FormFieldRenderer.renderSelect("ProducerTypeCd", $!ProducerInfo.gets('ProducerTypeCd'), "INProducer::producer::type::all", "SelectList", "Prompt=Select...|OnChange=setAgencyAndGroup(this);setPayTo()|Required=True|${allowFieldChange}")</td>

        	<th class='label'>$FormFieldRenderer.render("ProducerInfo.ProducerGroup", "Producer Group", "Label")</th>
            <!-- #set( $searchSubTypeUmol = "INProducer::producer::search::group-type" ) -->           
            <td id='ajaxProducerGroup'>$FormFieldRenderer.render("ProducerGroup", $!ProducerInfo.gets("ProducerGroup"), "String", "size=12|maxlength=20|${allowGroupChange}")
            	<!-- #if( $allowGroupChange.equals("") ) -->
            		<a id='GroupLookup' href='#' onclick='window.open("innovation?rq=INProducerSearchPage&SearchType=Browse&SearchSubType=$searchSubTypeUmol&GroupSearch=true", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");' ><img id="GroupBrowse"  class='noborder' src='img/lookup-small.png'/></a>
            	<!-- #else -->
            		<a id='GroupLookup' href='#' style='display: none;' onclick='window.open("innovation?rq=INProducerSearchPage&SearchType=Browse&SearchSubType=$searchSubTypeUmol&GroupSearch=true", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");' ><img id="GroupBrowse"  class='noborder' src='img/lookup-small.png'/></a>
            	<!-- #end -->
            </td>

           	<th class='label'>$FormFieldRenderer.render("ProducerInfo.ProducerAgency", "Producer Agency", "Label")</th>
           	<!-- #set( $searchSubTypeUmol = "INProducer::producer::search::agency-type" ) -->           	          
           	<td>$FormFieldRenderer.render("ProducerAgency", $!ProducerInfo.gets("ProducerAgency"), "String", "size=12|maxlength=20|${allowAgencyChange}|onChange='setGroup()'")
           		<!-- #if( $allowAgencyChange.equals("") ) -->
           			<a id='AgencyLookup' href='#' onclick='window.open("innovation?rq=INProducerSearchPage&SearchType=Browse&SearchSubType=$searchSubTypeUmol&AgencySearch=true", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");' ><img id="AgencyBrowse" class='noborder' src='img/lookup-small.png'/></a>        
           		<!-- #else -->
           			<a id='AgencyLookup' href='#' style='display: none;' onclick='window.open("innovation?rq=INProducerSearchPage&SearchType=Browse&SearchSubType=$searchSubTypeUmol&AgencySearch=true", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");' ><img id="AgencyBrowse" class='noborder' src='img/lookup-small.png'/></a>        
           		<!-- #end -->
           	</td>
        </tr>

        <tr>
        	<th class='label'>$FormFieldRenderer.renderLabel("Provider.ChannelType", "Channel Type", "Label", $CMMResponse, "Required=True")</th>
	        <td>$FormFieldRenderer.renderSelect("Provider.ChannelType", $!Provider.gets('ChannelType'), "INProducer::producer::channel-type::all", "SelectList", "Prompt=Select...|Required=True|${disable}")</td>    
	        
			<th class='label'>$FormFieldRenderer.renderLabel("Provider.ProviderStateCd", "State", "Label", $CMMResponse, "Required=false")</th>
            <td >$FormFieldRenderer.renderSelect("Provider.ProviderStateCd",$!Provider.gets("ProviderStateCd"),"CO::common:states::abbrv-all", "SelectList", "Prompt=Select...|${disable}")</td>        

        	<th class='label'>$FormFieldRenderer.renderLabel("Provider.PrincipalAgency", "Principal Agency", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("Provider.PrincipalAgency", $Provider.gets("PrincipalAgency"), "String","Size=5|maxlength=5|${disable}")</td>  
                
            <th class='label'>$FormFieldRenderer.renderLabel("Provider.LocationNum", "Location Nbr", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("Provider.LocationNum", $Provider.gets("LocationNum"), "String","Size=5|maxlength=5|${disable}")</td>  

            <th class='label'>$FormFieldRenderer.renderLabel("Provider.ProducerNum", "Producer Nbr", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("Provider.ProducerNum", $Provider.gets("ProducerNum"), "String","Size=5|maxlength=5|${disable}")</td>           
		</tr>
	</table>
	
<script type="text/javascript">

function setProducerCode(){
	//Channel, State, Principal Agency, Location, and Producer number if entered else user can enter the Producer Code directly.
	var producerNumber = $("#Provider\\.ProviderNumber").val(); 
	var channelType = $("#Provider\\.ChannelType").val(); //Required
	var providerStateCd = $("#Provider\\.ProviderStateCd").val(); //NOT REQ
	var principalAgency = $("#Provider\\.PrincipalAgency").val(); //NOT REQ
	var locationNum = $("#Provider\\.LocationNum").val(); //NOT REQ
	var providerNum = $("#Provider\\.ProducerNum").val(); //NOT REQ

	
	if(!producerNumber || producerNumber.charAt(0) === "1" || producerNumber.charAt(0) === "2" || producerNumber.charAt(0) === "3") {
	
		if( channelType != '') {
			if (channelType === "Exclusive") {
				channelType = "1";
			} else if (channelType === "Home Office") {
				channelType = "2";
			} else if (channelType === "Independent") {
				channelType = "3";
			}
			
			var newProducerCode = channelType + providerStateCd + principalAgency + locationNum + providerNum;
			$("#Provider\\.ProviderNumber").val(newProducerCode);
		}
	}	
}

$("#Provider\\.ChannelType, #Provider\\.ProviderStateCd, #Provider\\.PrincipalAgency, #Provider\\.LocationNum, #Provider\\.ProducerNum").on("change",setProducerCode);
setProducerCode();	

</script> 
	$FormFieldRenderer.render("Provider.StatusDt", $!Provider.gets("StatusDt"), "Hidden")
	
	<table width="100%" class='format'>
        <!-- #if( $underwritingMaintenance) -->
	        <tr>
	            <th class='label'>$FormFieldRenderer.renderLabel("Provider.StatusCd", "Status", "Label", $CMMResponse, "Required=True")</th>
	            <td colspan="3">$FormFieldRenderer.renderSelect("Provider.StatusCd", $!Provider.gets('StatusCd'), "INProducer::producer::status::all", "SelectList", "Required=True|${disable}")</td>
	        </tr>
	        <tr>
	            <th class='label'>$FormFieldRenderer.renderLabel("AppointedDt", "Date Appointed", "Label", $CMMResponse, "Required=True")</th>
	            <td>$FormFieldRenderer.render("AppointedDt", $!ProducerInfo.gets("AppointedDt"), "Date", "onBlur=formatDate(this)|size=10|Required=True|${disable}")</td>
	        </tr>
	    <!-- #else -->
	    	<tr>
	            <th class='label'>$FormFieldRenderer.renderLabel("Provider.StatusCd", "Status", "Label", $CMMResponse, "Required=True")</th>
	            <td colspan="3">$FormFieldRenderer.renderSelect("Provider.StatusCd", $!Provider.gets('StatusCd'), "INProducer::producer::status::all", "SelectList", "Required=True|disabled")</td>
	        </tr>
	        <tr>
	            <th class='label'>$FormFieldRenderer.renderLabel("AppointedDt", "Date Appointed", "Label", $CMMResponse, "Required=True")</th>
	            <td>$FormFieldRenderer.render("AppointedDt", $!ProducerInfo.gets("AppointedDt"), "Date", "onBlur=formatDate(this)|size=10|Required=True|disabled")</td>
	        </tr>
	    <!-- #end -->
        <tr>
            <th class='label'>$FormFieldRenderer.render("BusinessType", "Business Type", "Label")</th>
            <td>$FormFieldRenderer.renderSelect("ProviderTaxInfo.LegalEntityCd", $!ProviderTaxInfo.gets('LegalEntityCd'), "INProducer::producer::businesstype::all", "SelectList", "${disable}")</td>       	
        </tr>
        <tr>
        	<th class='label'>$FormFieldRenderer.render("Name", "Name", "Label")</th>
            <td colspan='2'>$FormFieldRenderer.render("ProviderName.GivenName", $!ProviderName.gets("GivenName"), "String", "size=30|onChange=javascript:copyValueIfBlank('ProviderName.GivenName','AcctName.CommercialName2')|${disable}")</td>            
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("ProviderName.CommercialName", "Business Name", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.render("ProviderName.CommercialName", $!ProviderName.gets("CommercialName"), "String", "size=35|maxlength=60|Required=True|onChange=javascript:commercialNameChange()|${disable}")</td>
            <th class='label'>$FormFieldRenderer.render("SortName", "Search Name", "Label")</th>            
            <td>$FormFieldRenderer.render("Provider.IndexName", $!Provider.gets("IndexName"), "String", "size=44|${disable}")</td>          
        </tr>
        <tr>   
            <th class='label'>$FormFieldRenderer.render("ProviderName.DBAName", "DBA", "Label")</th>
            <td>$FormFieldRenderer.render("ProviderName.DBAName", $!ProviderName.gets("DBAName"), "String", "size=30|onChange='javascript:createDBAIndexName()'|${disable}")</td> 
            <th class='label'>$FormFieldRenderer.render("ProviderName.DBAIndexName", "Search DBA", "Label")</th>
            <td>$FormFieldRenderer.render("ProviderName.DBAIndexName", $!ProviderName.gets("DBAIndexName"), "String", "size=30|${disable}")</td> 
        </tr>      
	</table>
	<div class='sectionSeparator'></div>
    <table width='100%' class='format'>		
    	<tr>
    		<th class='sectionLabel'>Physical Address</th>
    	</tr>
    </table>
    $AddressRenderer.renderInputBlock("Mailing", $ProviderStreetAddr, $context, "Required=True|Label=Address|LabelColumnWidth=15%|FieldColumnWidth=85%")
    
    <!-- #if( $disable != "disabled" ) -->
	    <table width='100%' class='format'>		
	    	<tr>
	    		<td width='18%'>&nbsp;</td>
	    		<td width='82%'>$FormFieldRenderer.renderButton("CopyAddress", "Copy to Mailing Address", "Button", "javascript:copyAddress('ProviderStreetAddr','ProviderBillingAddr');|Class=button-plain|${disable}")</td>
	    	</tr>
	    </table>
    <!-- #end -->
    
    <div class='sectionSeparator'></div>
    <table width='100%' class='format'>		
    	<tr>
    		<th class='sectionLabel'>Mailing Address</th>
    	</tr>
    </table>
    $AddressRenderer.renderInputBlock("Mailing", $ProviderBillingAddr, $context, "Required=True|Label=Address|LabelColumnWidth=15%|FieldColumnWidth=85%")
    
    <div class='sectionSeparator'></div>
	<table width='100%' class='format'>		
    	<tr>
    		<th class='sectionLabel'>Contact</th>
    	</tr>
    </table>
    
	<table width="100%" class='format'>    
        <tr>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("ProviderPrimaryPhone.PhoneNumber", "Primary Phone", "Label", $CMMResponse)</th>
            <td width='30%'>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <td>$FormFieldRenderer.renderSelect("ProviderPrimaryPhone.PhoneName", $!ProviderPrimaryPhone.gets('PhoneName'), "INProducer::producer::phone::all", "SelectList", "Prompt=Select...|${disable}")</td>
                        <td>$FormFieldRenderer.render("ProviderPrimaryPhone.PhoneNumber", $!ProviderPrimaryPhone.gets("PhoneNumber"), "Phone", "${disable}")</td>
                    </tr>
                </table>                    
            </td>
            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("ProviderSecondaryPhone.PhoneNumber", "Secondary Phone", "Label", $CMMResponse)</th>
            <td width='40%'>
                <table cellpadding='0' cellspacing='0'>
                    <tr>
                        <td>$FormFieldRenderer.renderSelect("ProviderSecondaryPhone.PhoneName", $!ProviderSecondaryPhone.gets('PhoneName'), "INProducer::producer::phone::all", "SelectList", "Prompt=Select...|${disable}")</td>
                        <td>$FormFieldRenderer.render("ProviderSecondaryPhone.PhoneNumber", $!ProviderSecondaryPhone.gets("PhoneNumber"), "Phone", "${disable}")</td>
					</tr>
                </table>
            </td>
        </tr>
        <tr>
       	    <th class='label'>$FormFieldRenderer.renderLabel("ProviderFax.PhoneNumber", "Fax Number", "Label", $CMMResponse)</th>
			<td>$FormFieldRenderer.render("ProviderFax.PhoneNumber", $!ProviderFax.gets("PhoneNumber"), "Phone", "${disable}")</td> 
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.ProducerWebAddr", "Website", "Label")</th>
            <td>$FormFieldRenderer.render("ProducerWebAddr", $!ProducerInfo.gets("ProducerWebAddr"), "String", "size=45|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("ProviderEmail.EmailAddr", "Email Address", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("ProviderEmail.EmailAddr", $ProviderEmail.gets("EmailAddr"), "Email" ,"size=44|${disable}")</td>
			<th class='label'>$FormFieldRenderer.renderLabel("Provider.PreferredDeliveryMethod", "Delivery Preference", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.renderSelect("Provider.PreferredDeliveryMethod", $!Provider.gets("PreferredDeliveryMethod"), "::output::deliverypreference::producer" , "SelectList", "${disable}" )</td>			
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.EOCarrier", "E & O Carrier", "Label")</th>
            <td>$FormFieldRenderer.render("EOCarrier", $!ProducerInfo.gets("EOCarrier"), "String", "size=20|${disable}")</td>
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.EOPolicyNumber", "E & O Policy Number", "Label")</th>
            <td>$FormFieldRenderer.render("EOPolicyNumber", $!ProducerInfo.gets("EOPolicyNumber"), "String", "size=20|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("EOLimit", "E & O Limit", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("EOLimit",$!ProducerInfo.gets("EOLimit"), "Number", "size=20|${disable}")</td>
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.EOExpirationDate", "E & O Expiration Date", "Label")</th>
            <td>$FormFieldRenderer.render("EOExpirationDt", $!ProducerInfo.gets("EOExpirationDt"), "Date", "onBlur=formatDate(this)|size=10|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("EODeductible", "E & O Deductible", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("EODeductible",$!ProducerInfo.gets("EODeductible"), "Number", "size=20|${disable}")</td>
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.EORetroDt", "E & O Retro Date", "Label")</th>
            <td>$FormFieldRenderer.render("EORetroDt", $!ProducerInfo.gets("EORetroDt"), "Date", "onBlur=formatDate(this)|size=10|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.BranchCd", "Branch Code", "Label")</th>
            <!-- #if( $underwritingMaintenance) -->
            	<td>$FormFieldRenderer.render("BranchCd", $!ProducerInfo.gets("BranchCd"), "String", "size=10|${disable}")</td>
            <!-- #else -->
            	<td>$FormFieldRenderer.render("BranchCd", $!ProducerInfo.gets("BranchCd"), "String", "size=10|disabled")</td>            
            <!-- #end -->
        	<td>&nbsp;</td>
            <td>&nbsp;</td>	
        </tr>
        <tr>
        	<!-- #if( $underwritingMaintenance) -->
				<th class='label'>$FormFieldRenderer.render("NewProviderNumber", "Replaced by Producer", "Label")</th>			
	            <td>
		       		<!-- #if( $form.get("NewProviderNumber").equals("") ) -->
			   			<!-- #set( $newProviderNumber = $newProvider.gets("ProviderNumber") ) -->			   		
				    <!-- #else -->
				    	<!-- #set( $newProviderNumber = $form.get("NewProviderNumber") ) -->
			   		<!-- #end -->		   		
					$FormFieldRenderer.render("NewProviderNumber", $!newProviderNumber, "String", "size=12|maxlength=20|${disable}")
					<!-- #if( $disable == "" ) -->
	            		<a href="javascript:clearElVal('NewProviderNumber')"><img class='noborder' src='img/trash-small.png'/></a>
						<a href='#' onclick='window.open("innovation?rq=INProducerSearchPage&SearchType=Browse", "GenericBrowse","height=500,width=850,left=200,top=200,scrollbars=yes,resizable=yes");' ><img class='noborder' src='img/lookup-small.png'/></a>		   
			    	<!-- #end -->
			    </td>
			    <th class='label'>$FormFieldRenderer.render("Provider.NewProviderDt", "Replaced by Eff. Date", "Label")</th>
	            <td>
	            	$FormFieldRenderer.render("Provider.NewProviderDt",$!Provider.gets("NewProviderDt"), "Date", "onBlur=formatDate(this)|size=10|${disable}")
	            	&nbsp;Leave blank if License Class controlled
	            </td>
	        <!-- #else -->
	        	<th class='label'>$FormFieldRenderer.render("NewProviderNumber", "Replaced by Producer", "Label")</th>			
	            <td>
		       		<!-- #if( $form.get("NewProviderNumber").equals("") ) -->
			   			<!-- #set( $newProviderNumber = $newProvider.gets("ProviderNumber") ) -->			   		
				    <!-- #else -->
				    	<!-- #set( $newProviderNumber = $form.get("NewProviderNumber") ) -->
			   		<!-- #end -->		   		
					$FormFieldRenderer.render("NewProviderNumber", $!newProviderNumber, "String", "size=12|maxlength=20|disabled")					
			    </td>
			    <th class='label'>$FormFieldRenderer.render("Provider.NewProviderDt", "Replaced by Eff. Date", "Label")</th>
	            <td>
	               	$FormFieldRenderer.render("Provider.NewProviderDt",$!Provider.gets("NewProviderDt"), "Date", "onBlur=formatDate(this)|size=10|disabled")
	            	&nbsp;Leave blank if Licensed Class controlled
	            </td>
	        <!-- #end -->
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.render("SubmitToUser", "Submit To User", "Label")</th>
            <td>            	
                <!-- #if($ProducerInfo.gets("SubmitToCd").equalsIgnoreCase("User")) -->
                    $FormFieldRenderer.render("TaskUser",$ProducerInfo.gets("SubmitTo"), "String", "size=20|onblur=javascript:clearField('TaskUser','TaskGroup')|DisabledField")
                <!-- #else -->               
                    $FormFieldRenderer.render("TaskUser","", "String", "size=20|onblur=javascript:clearField('TaskUser','TaskGroup')|DisabledField")  
                <!-- #end -->
                <!-- #if( $allowFieldChange == "") -->	               
               		<a href='#' onclick='window.open("innovation?rq=COUserLookup&SearchType=TaskUser", "GenericBrowse","height=500,width=800,left=200,top=200,scrollbars=yes,resizable=yes");' ><img class='noborder' src='img/lookup-small.png'/></a>	         	
	            <!-- #end -->
            </td>
            <th class='label'>$FormFieldRenderer.render("SubmitToGroup", "Submit To Group", "Label")</th>
            <td>            
                <!-- #set( $taskGroupList = $UserRenderer.getTaskGroupList("", $todayDt) ) -->               
				<!-- #if($ProducerInfo.gets("SubmitToCd").equalsIgnoreCase("Group")) -->
		    		$FormFieldRenderer.renderSelect("TaskGroup",$ProducerInfo.gets("SubmitTo"),$taskGroupList,"SelectList","Prompt=Select...|onChange=clearField('TaskGroup','TaskUser')|${allowFieldChange}")
                <!-- #else -->
		    		$FormFieldRenderer.renderSelect("TaskGroup","",$taskGroupList,"SelectList","Prompt=Select...|onChange=clearField('TaskGroup','TaskUser')|${allowFieldChange}")
                <!-- #end -->		       
            <td>
		</tr>
		<tr>	
			<th class='label'>$FormFieldRenderer.renderLabel("CommissionPayThroughDt", "Last Commission Pay Through Date", "Label", $CMMResponse)</th>
			<td>
				<!-- #if( !$ProducerInfo.gets("CommissionPayThroughDt").equals("") )  -->
					$FormFieldRenderer.render("CommissionPayThroughDt",$!ProducerInfo.gets("CommissionPayThroughDt"), "Date", "size=10|disabled")
				<!-- #else -->
					&nbsp;
				<!-- #end -->
		    </td>
			<th class='label'>$FormFieldRenderer.renderLabel("ProducerInfo.DirectPortalInd", "Direct Portal?", "Label", $CMMResponse, "Required=false")</th>
            <td colspan='3'>$FormFieldRenderer.renderSelect("DirectPortalInd",$!ProducerInfo.gets("DirectPortalInd"),"CO::common::yes-no::all", "SelectList", "${disable}")</td>
        </tr>
	</table>	
    
    
	<div class='sectionSeparator'></div>
    <table width="100%" class='format'>     
        <tr>
            <th class='sectionLabel'>IVANS Download Participation</th>
        </tr>
    </table>
    <table width="100%" class='format'>
    	<tr>
            <td width='5%'></td>
            <td width='18%'></td>
            <td width='10%'></td>
            <td width='10%'></td>
            <td width='15%'></td>
            <td width='10%'></td>
            <td width='32%'></td>
        </tr>   
    <table width="100%" class='format'>   
        <tr>
            <th class='label' colspan='2'>$FormFieldRenderer.renderLabel("ProducerInfo.PolicyExportInd", "Agency Download", "Label", $CMMResponse, "Required=false")</th>
            <td>$FormFieldRenderer.renderSelect("PolicyExportInd",$!ProducerInfo.gets("PolicyExportInd"),"CO::common::no-yes::all", "SelectList", "$disable")</td>              
            
            <th class='label'>$FormFieldRenderer.render("ProducerInfo.PolicyExportStartDt", "Start Date", "Label","")</th>
            <td>$FormFieldRenderer.render("PolicyExportStartDt", $!ProducerInfo.gets("PolicyExportStartDt"), "Date", "onBlur=formatDate(this)|size=10|$disable")</td>
            
            <th class='label' style='text-align:right;'>$FormFieldRenderer.render("ProducerInfo.PolicyExportEndDt", "End Date", "Label", "")&nbsp;</th>
            <td>$FormFieldRenderer.render("PolicyExportEndDt", $!ProducerInfo.gets("PolicyExportEndDt"), "Date", "onBlur=formatDate(this)|size=10|$disable")</td>
        </tr>
     </table>
    
$!renderer.tileEnd()

$!renderer.tileStart("None", "AccountingInformation", "None", "None")   

    <table width="100%" class='format'>
    	<tr>
            <td colspan='2'>&nbsp;</td>
            <td width='2%'>&nbsp;</td>                                                    	        
            <th colspan='2' class='column'>Commission Payments</th>
            <td width='2%'>&nbsp;</td>                                                    	        
            <th colspan='2' class='column'>$FormFieldRenderer.renderLabel("TrustAccount", "Sweep Account", "Label", $CMMResponse)</th>
        </tr>    	
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("AcctName.CommercialName", "Accounting Entity Name", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.render("AcctName.CommercialName",$!AcctName.gets("CommercialName"), "String", "size=32|MaxLength=60|Required=True|${disable}")</td>
            <td></td>
        	<th class='label' >$FormFieldRenderer.renderLabel("PayToCd", "Pay To", "Label", $CMMResponse, "Required=True")</th>
        	<!-- #set( $payToEdit = "") -->
        	<!-- #if( $ProviderRenderer.isProviderSameAsUser($Provider,$UserInfo) ) -->
        		<!-- #set( $payToEdit = "disabled" )-->
        	<!-- #else -->
        		<!-- #if( !$underwritingMaintenance) -->
        			<!-- #if( !$editOthers) -->
        				<!-- #set( $payToEdit = "disabled" )-->
        			<!-- #end -->
        		<!-- #end -->        	
        	<!-- #end -->
            <!-- #if( $producerTypeCd.equals("Agent") || $producerTypeCd.equals("Broker") || $producerTypeCd.equals("Producer") ) -->	
				<td>$FormFieldRenderer.renderSelect("PayToCd", $!ProducerInfo.gets('PayToCd'), "INProducer::producer::pay-to::producer", "SelectList", "Prompt=Select...|Required=True|${payToEdit}")</td>
			<!-- #elseif( $producerTypeCd.equals("Agency") ) -->	
				<td>$FormFieldRenderer.renderSelect("PayToCd", $!ProducerInfo.gets('PayToCd'), "INProducer::producer::pay-to::agency", "SelectList", "Prompt=Select...|Required=True|${payToEdit}")</td>	
			<!-- #elseif( $producerTypeCd.equals("Group") ) -->	
				<td>$FormFieldRenderer.renderSelect("PayToCd", $!ProducerInfo.gets('PayToCd'), "INProducer::producer::pay-to::group", "SelectList", "Prompt=Select...|Required=True|${payToEdit}")</td>
			<!-- #else -->
				<td>$FormFieldRenderer.renderSelect("PayToCd", "", "INProducer::producer::pay-to::all", "SelectList", "Prompt=Select...|Required=True|${payToEdit}")</td>          
			<!-- #end -->
            <td></td>
            <th class='label'>$FormFieldRenderer.renderLabel("PremiumSource.ACHBankAccountTypeCd", "Account Type", "Label", $CMMResponse)</th>        	        
            <td >$FormFieldRenderer.renderSelect("PremiumSource.ACHStandardEntryClassCd", $!source.gets("ACHStandardEntryClassCd"), "COProvider::provider::sec-accounttype::all", "SelectList", "Prompt=Select...|${disable}")            
                &nbsp; $FormFieldRenderer.renderSelect("PremiumSource.ACHBankAccountTypeCd", $!source.gets("ACHBankAccountTypeCd"), "COProvider::provider::accounttype::all", "SelectList", "Prompt=Select...|${disable}")</td>                	
        </tr>
        <tr>
       		<th class='label'/>
            <td>$FormFieldRenderer.render("AcctName.CommercialName2",$!AcctName.gets("CommercialName2"),"String", "size=32|MaxLength=60|${disable}")</td>
            <td></td>
			<th class='label'>$FormFieldRenderer.renderLabel("Provider.CombinePaymentInd", "Allow Combined Payments", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.renderSelect("Provider.CombinePaymentInd",$Provider.gets("CombinePaymentInd"),"CO::common::yes-no::all", "SelectList", "Required=True|Prompt=Select...|${disable}")</td>	
            <td></td>
			<th class='label'>$FormFieldRenderer.renderLabel("PremiumSource.ACHBankName", "Bank Name", "Label", $CMMResponse, "")</th>        	                    
            <td>$FormFieldRenderer.render("PremiumSource.ACHBankName", $!source.gets("ACHBankName"), "String", "size=30|${disable}")</td>	            	  
        </tr>
        <tr>
        	<td colspan='2'>&nbsp;</td>
            <td></td>
            <th class='label'>$FormFieldRenderer.renderLabel("Provider.PaymentPreferenceCd", "Payment By", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.renderSelect("Provider.PaymentPreferenceCd",$!Provider.gets('PaymentPreferenceCd'), "COProvider::provider::paymentpreference::all", "SelectList", "Prompt=Select...|Required=True|OnChange=setACHFields()|${disable}")</td>                                                    	                	
            <td></td>
            <th class='label'>$FormFieldRenderer.renderLabel("PremiumSource.ACHBankAccountNumber", "Account Number", "Label", $CMMResponse)</th>        	        
			<td>$FormFieldRenderer.render("PremiumSource.ACHBankAccountNumber", $!source.gets("ACHBankAccountNumber"), "BankAccountNumber", "${disable}")</td>                	
        </tr>
        <tr>
        	<td colspan='6'>&nbsp;</td>
        	<th class='label'>$FormFieldRenderer.renderLabel("PremiumSource.ACHRoutingNumber", "Routing Number", "Label", $CMMResponse)</th>        	                    
            <td>$FormFieldRenderer.render("PremiumSource.ACHRoutingNumber", $!source.gets("ACHRoutingNumber"), "String", "size=9|${disable}")</td>
        </tr>    	  
        <tr id='typeCd' style='display: none;'>
        	<td colspan='3'>&nbsp;</td>
        	<th class='label'>$FormFieldRenderer.renderLabel("CommissionDestination.ACHBankAccountTypeCd", "Account Type", "Label", $CMMResponse, "Required=True")</th>        	        
            <td nowrap="nowrap">
            $FormFieldRenderer.renderSelect("CommissionDestination.ACHStandardEntryClassCd", $!destination.gets("ACHStandardEntryClassCd"), "COProvider::provider::sec-accounttype::all", "SelectList", "Prompt=Select...|${disable}")
  	 	    $FormFieldRenderer.renderSelect("CommissionDestination.ACHBankAccountTypeCd", $!destination.gets("ACHBankAccountTypeCd"), "COProvider::provider::accounttype::all", "SelectList", "Prompt=Select...|${disable}")
  	 	    </td>             	          	
        </tr>
        <tr id='bankName' style='display: none;'>
            <td colspan='3'>&nbsp;</td>
			<th class='label'>$FormFieldRenderer.renderLabel("CommissionDestination.ACHBankName", "Bank Name", "Label", $CMMResponse, "Required=True")</th>        	                    
            <td>$FormFieldRenderer.render("CommissionDestination.ACHBankName", $!destination.gets("ACHBankName"), "String", "size=30|${disable}")</td>	            	  
        </tr>
        <tr id='accountNumber' style='display: none;'>
            <td colspan='3'>&nbsp;</td>
            <th class='label'>$FormFieldRenderer.renderLabel("CommissionDestination.ACHBankAccountNumber", "Account Number", "Label", $CMMResponse, "Required=True")</th>        	        
			<td>$FormFieldRenderer.render("CommissionDestination.ACHBankAccountNumber", $!destination.gets("ACHBankAccountNumber"), "BankAccountNumber", "${disable}")</td>         	
        </tr>
        <tr id='routingNumber' style='display: none;'>
            <td colspan='3'>&nbsp;</td>
			<th class='label'>$FormFieldRenderer.renderLabel("CommissionDestination.ACHRoutingNumber", "Routing Number", "Label", $CMMResponse, "Required=True")</th>        	                    
            <td>$FormFieldRenderer.render("CommissionDestination.ACHRoutingNumber", $!destination.gets("ACHRoutingNumber"), "String", "size=9|${disable}")</td>	            	  
        </tr>
         <tr>
        	<td colspan='3'>&nbsp;</td>
        	<th class='label'>$FormFieldRenderer.renderLabel("CommissionPlan", "Use Commission Plans", "Label", $CMMResponse)</th>
        	<td>$FormFieldRenderer.render("ProviderOnCommissionPlan",$Provider.gets("ProviderOnCommissionPlan"),"CheckBox")</td>
        	<td></td>
        </tr> 
	</table>
	
    <div class='sectionSeparator'></div>
    
	<!-- Provider LOOKUP ADDRESS HIDDEN FIELDS (this will be linked to the AcctMailingAddr block) -->
	$AddressRenderer.renderInputBlock("Hidden", $AcctMailingLookupAddr, $context, "AddressType=Parsed")
	    
    <table width='100%' class='format'>		
    	<tr>
    		<th class='sectionLabel' width='15%'>Mailing Address</th>
    		<!-- #if( $disable != "disabled" ) -->
    			<td width='85%'>$FormFieldRenderer.renderButton("CopyBillingAddress", "Copy Mailing Address", "Button", "javascript:copyAddress('ProviderBillingAddr','AcctMailingAddr');copyAddressIfBlank('ProviderStreetAddr', 'AcctMailingAddr');|Class=button-plain|${disable}")</td>
    		<!-- #end -->
    	</tr>
    </table>
    $AddressRenderer.renderInputBlock("Mailing", $AcctMailingAddr, $context, "Required=True|Label=Address|LabelColumnWidth=15%|FieldColumnWidth=85%|LinkedAddr=AcctMailingLookupAddr")
    
    <div class='sectionSeparator'></div>
	<table width='100%' class='format'>		
    	<tr>
    		<th class='sectionLabel'>Tax Information</th>
    	</tr>
    </table>    
    <table width="100%" class='format'>
		<tr> 
            <th class='label'>$FormFieldRenderer.render("AcctTaxInfo.Required1099Ind", "1099 Required", "Label")</th>
            <!-- #if( $underwritingMaintenance ) -->
            	<td>$FormFieldRenderer.renderSelect("AcctTaxInfo.Required1099Ind",$!AcctTaxInfo.gets("Required1099Ind"),"INProducer::producer::AccountingInfo::YesNo", "SelectList", "${disable}")</td>
            <!-- #else -->
            	<td>$FormFieldRenderer.renderSelect("AcctTaxInfo.Required1099Ind",$!AcctTaxInfo.gets("Required1099Ind"),"INProducer::producer::AccountingInfo::YesNo", "SelectList", "disabled")</td>
            <!-- #end -->
            <th class='label'>$FormFieldRenderer.renderLabel("AcctTaxInfo.TaxIdTypeCd", "Tax ID Type", "Label", $CMMResponse, "")</th>            
            <td>$FormFieldRenderer.renderSelect("AcctTaxInfo.TaxIdTypeCd",$!AcctTaxInfo.gets("TaxIdTypeCd"),"INProducer::producer::AccountingInfo::TaxIdType", "SelectList", "Prompt=Select...|${allowFieldChange}")</td>
            <th class='label'>$FormFieldRenderer.renderLabel("TaxId", "Tax ID", "Label", $CMMResponse, "")</th>
	  		<!-- #if( $!AcctTaxInfo.gets("TaxIdTypeCd").equals("FEIN") ) -->
				<td id='MaskedTaxId'>$FormFieldRenderer.render("TaxId", $AcctTaxInfo.gets("FEIN"), "String", "${allowFieldChange}")</td>
	  		<!-- #elseif( $!AcctTaxInfo.gets("TaxIdTypeCd").equals("SSN") ) -->
				<td id='MaskedTaxId'>$FormFieldRenderer.render("TaxId", $AcctTaxInfo.gets("SSN"), "String", "${allowFieldChange}")</td>
	  		<!-- #else -->
		  		<td id='MaskedTaxId'>
		  			<!-- #if( $allowFieldChange == "disabled" ) -->
		  				$!renderer.formatTaxId($AcctTaxInfo.gets("SSN"), '', true) 
		  			<!-- #else -->
		  				$FormFieldRenderer.render("TaxId", $AcctTaxInfo.gets("SSN"), "String", '${allowFieldChange}') 
		  			<!-- #end -->
		  		</td>	
	  		<!-- #end -->            
            <!-- #if( $underwritingMaintenance ) -->
             	<th class='label'>$FormFieldRenderer.render("AcctTaxInfo.ReceivedW9Ind", "W-9 on File", "Label")</th>
            	<td>$FormFieldRenderer.renderSelect("AcctTaxInfo.ReceivedW9Ind",$!AcctTaxInfo.gets("ReceivedW9Ind"),"INProducer::producer::AccountingInfo::YesNo", "SelectList", "${disable}")</td>
            	<th class='label'>$FormFieldRenderer.render("AcctTaxInfo.WithholdingExemptInd", "Subject to Withholding", "Label")</th>
           		<td>$FormFieldRenderer.renderSelect("AcctTaxInfo.WithholdingExemptInd",$!AcctTaxInfo.gets("WithholdingExemptInd"),"INProducer::producer::AccountingInfo::YesNo", "SelectList", "${disable}")</td>
            <!-- #else -->
               	<th class='label'>$FormFieldRenderer.render("AcctTaxInfo.ReceivedW9Ind", "W-9 on File", "Label")</th>
            	<td>$FormFieldRenderer.renderSelect("AcctTaxInfo.ReceivedW9Ind",$!AcctTaxInfo.gets("ReceivedW9Ind"),"INProducer::producer::AccountingInfo::YesNo", "SelectList", "disabled")</td>
            	<th class='label'>$FormFieldRenderer.render("AcctTaxInfo.WithholdingExemptInd", "Subject to Withholding", "Label")</th>
           		<td>$FormFieldRenderer.renderSelect("AcctTaxInfo.WithholdingExemptInd",$!AcctTaxInfo.gets("WithholdingExemptInd"),"INProducer::producer::AccountingInfo::YesNo", "SelectList", "disabled")</td>    
            <!-- #end -->
            
        </tr>
    </table>
$!renderer.tileEnd()

<script>
	function displayIVANSPushWarning(){
		$('#IVANSPushWarning').dialog({ 
			modal: true, 
			title: 'WARNING!',
			buttons: [
				{ 
					text: "No", 
					click: function(){
						$('#IVANSPushWarning').dialog('close');
					}
				},
				{ 
					text: "Yes", 
					click: function(){
						displayIVANSPushResults();
					}
				}
			]
		});
	}
	
	function displayIVANSPushResults(){
		$('#IVANSPushWarning').dialog('close');
		ajaxCMMXFormShowBusy('ajaxDisplayIVANSPushResults','INRICPushIVANSToProducersAjax', '$!Provider.getSystemId()', '', '', '', 
    			'Provider.ProviderNumber', 
    			'PolicyExportInd',
    			'PolicyExportStartDt',
    			'PolicyExportEndDt'
    		).done(function(){
    			$('#ajaxDisplayIVANSPushResults').dialog({ 
    				modal: true, 
    				title: "Complete!", 
    				width: 500,
    				buttons: [
    					{ 
    						text: "Close", 
    						click: function(){
    							$('#ajaxDisplayIVANSPushResults').dialog('close');
    						}
    					}
    				]
    			});
    		});
	}
	
	function displayWebsitePushWarning(){
		$('#WebsitePushWarning').dialog({ 
			modal: true, 
			title: 'WARNING!',
			buttons: [
				{ 
					text: "No", 
					click: function(){
						$('#WebsitePushWarning').dialog('close');
					}
				},
				{ 
					text: "Yes", 
					click: function(){
						displayWebsitePushResults();
					}
				}
			]
		});
	}
	
	function displayWebsitePushResults(){
		$('#WebsitePushWarning').dialog('close');
		ajaxCMMXFormShowBusy('ajaxDisplayWebsitePushResults','INRICPushWebsiteToProducersAjax', '$!Provider.getSystemId()', '', '', '', 
    			'Provider.ProviderNumber', 
    			'ProducerWebAddr'
    		).done(function(){
    			$('#ajaxDisplayWebsitePushResults').dialog({ 
    				modal: true, 
    				title: "Complete!", 
    				width: 500,
    				buttons: [
    					{ 
    						text: "Close", 
    						click: function(){
    							$('#ajaxDisplayWebsitePushResults').dialog('close');
    						}
    					}
    				]
    			});
    		});
	}
	
	function displaySweepAccountWarning(){
		$('#sweepAgencyAccountWarning').dialog({ 
			modal: true, 
			title: 'WARNING!',
			buttons: [
				{ 
					text: "No", 
					click: function(){
						$('#sweepAgencyAccountWarning').dialog('close');
					}
				},
				{ 
					text: "Yes", 
					click: function(){
						displayUpdatedSweepAccountResults();
					}
				}
			]
		});
	}

	function displayUpdatedSweepAccountResults(){
		$('#sweepAgencyAccountWarning').dialog('close');
		ajaxCMMXFormShowBusy('ajaxDisplayUpdatedSweepAccountResults','INRICProducerAgencySweepAccountAjax', '$!Provider.getSystemId()', '', '', '', 
    			'ProducerAgency'
    		).done(function(){
    			$('#ajaxDisplayUpdatedSweepAccountResults').dialog({ 
    				modal: true, 
    				title: "Complete!", 
    				width: 500,
    				buttons: [
    					{ 
    						text: "Close", 
    						click: function(){
    							$('#ajaxDisplayUpdatedSweepAccountResults').dialog('close');
    						}
    					}
    				]
    			});
    		});
	}
</script>

<div id="IVANSPushWarning" style="display:none;">
	<p>
		You are about to push IVANS information to linked producers. This will override all previously set IVANS information. Would you like to proceed?
	</p>
</div>
<div id="WebsitePushWarning" style="display:none;">
	<p>
		You are about to push agency's website address to linked producers. This will override all previously set website address. Would you like to proceed?
	</p>
</div>
<div id="sweepAgencyAccountWarning" style="display:none;">
	<p>
		You are about to push sweep account information to same location agents. This will override all previously set sweep account information. Would you like to proceed?
	</p>
</div>

<div id="ajaxDisplayIVANSPushResults" style="display:none"></div>
<div id="ajaxDisplayWebsitePushResults" style="display:none"></div>
<div id="ajaxDisplayUpdatedSweepAccountResults" style="display:none"></div>