<!-- Prepare Velocity Variables
     $renderer.setTile("INProducer", "producer-state-detail")

     #set ( $systemId = $CMMParams.gets("SystemId") )
     #set ( $parentIdRef = $CMMParams.gets("ParentIdRef") )
     #set ( $idRef = $CMMParams.gets("IdRef") ) 
     #set ( $s = $CMMResponse.getBeanById( $idRef ) )
     #if( $s.gets("Status") == "New" )
	  #set( $SaveOperation = "INProducerStateAdd" )
     #else
	  #set( $SaveOperation = "INProducerStateUpdate" )
     #end
     
     #set( $underwritingMaintenance = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-UnderwritingMaintenance", $todayDt)) )
	 #set( $myProducer = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-MyProducerProfile", $todayDt)) )
	 #if( $myProducer && !$underwritingMaintenance )
		#set( $editMe = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowEditMe", $todayDt)) )
		#set( $editOthers = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowEditOthers", $todayDt)) )	
		#set( $isProducer = $UserRenderer.isProducer($UserInfo) )		
		#if( $isProducer)
			#if( $ProviderRenderer.isProviderSameAsUser($Provider,$UserInfo) )
				#if( $editMe)
					#set( $disable = "" )
				#else
					#set( $disable = "disabled" )
				#end
			#else
				#if( $editOthers)
					#set( $disable = "" )				
				#else
					#set( $disable = "disabled" )
				#end
			#end
		#else
			#if( $editOthers)
				#set( $disable = "" )				
			#else
				#set( $disable = "disabled" )
			#end
		#end				
	 #else
		#set( $disable = "" )		
	 #end
-->

$FormFieldRenderer.render("StateInfo.Status",$!s.gets("Status"), "Hidden")

$!renderer.tileStart("Normal", "StateDetail", "None", "None") 
	<table width="100%" class='format'>
		<!-- #if( $underwritingMaintenance) -->
			<tr> 
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.CarrierGroup", "Carrier Group", "Label", $CMMResponse, "Required=True")</th>
				<td width='10%' colspan='2'>$!CompanyRenderer.carrierGroupSelectField("StateInfo.CarrierGroup",$s.gets("CarrierGroup"),"Required=True|${disable}")</td>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.StateCd", "State", "Label", $CMMResponse, "Required=True")</th>
				<td width='10%'>$FormFieldRenderer.renderSelect("StateInfo.StateCd",$s.gets("StateCd"),"CO::common:states::all", "SelectList", "Prompt=Select...|Required=True|${disable}")</td> 
				<td width='10%'/>
			</tr>
		<!-- #else -->
			<tr> 
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.CarrierGroup", "Carrier Group", "Label", $CMMResponse, "Required=True")</th>
				<td width='10%' colspan='2'>$!CompanyRenderer.carrierGroupSelectField("StateInfo.CarrierGroup",$s.gets("CarrierGroup"),"Required=True|disabled")</td>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.StateCd", "State", "Label", $CMMResponse, "Required=True")</th>
				<td width='10%'>$FormFieldRenderer.renderSelect("StateInfo.StateCd",$s.gets("StateCd"),"CO::common:states::all", "SelectList", "Prompt=Select...|Required=True|disabled")</td>  
				<td width='10%'/>
			</tr>
		<!-- #end -->
        <tr>        
        	<!-- #if( $underwritingMaintenance) -->	
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.AppointedDt", "Date Appointed", "Label", $CMMResponse, "Required=True")</th>
				<td width='10%'>$FormFieldRenderer.render("StateInfo.AppointedDt",$s.gets("AppointedDt"), "Date", "size=10|Required=True|onBlur=formatDate(this)|${disable}")</td>
				<td width='15%'/>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.CancelledDt", "Date Cancelled", "Label", $CMMResponse)</th>
				<td width='10%'>$FormFieldRenderer.render("StateInfo.CancelledDt",$s.gets("CancelledDt"), "Date", "size=10|onBlur=formatDate(this)|${disable}")</td>	
				<td width='10%'/> 
			<!-- #else -->
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.AppointedDt", "Date Appointed", "Label", $CMMResponse, "Required=True")</th>
				<td width='10%'>$FormFieldRenderer.render("StateInfo.AppointedDt",$s.gets("AppointedDt"), "Date", "size=10|Required=True|onBlur=formatDate(this)|disabled")</td>
				<td width='15%'/>
				<th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.CancelledDt", "Date Cancelled", "Label", $CMMResponse)</th>
				<td width='10%'>$FormFieldRenderer.render("StateInfo.CancelledDt",$s.gets("CancelledDt"), "Date", "size=10|onBlur=formatDate(this)|disabled")</td>
				<td width='10%'/> 
			<!-- #end -->		
		</tr>
		<table>
			<tr>
			    <th class='label'>$FormFieldRenderer.renderLabel("StateInfo.LicenseNumber", "License Number", "Label", $CMMResponse)</th>
	            <td>$FormFieldRenderer.render("StateInfo.LicenseNumber", $s.gets("LicenseNumber"), "String","Size=15|maxlength=20|${disable}")</td> 
	
				<th class='label'>$FormFieldRenderer.render("StateInfo.LicenseType", "License Type", "Label")</th>
	            <td>$FormFieldRenderer.renderSelect("StateInfo.LicenseType", $s.gets("LicenseType"), "INProducer::producer::license-type::all", "SelectList", "${disable}")</td>	
	            
	            <th width='15%' class='label'>$FormFieldRenderer.renderLabel("StateInfo.LicensedDt", "License Expiration Date", "Label", $CMMResponse)</th>
				<td width='10%'>$FormFieldRenderer.render("StateInfo.LicensedDt",$s.gets("LicensedDt"), "Date", "size=10|onBlur=formatDate(this)|${disable}")</td>

			<tr>
			<tr>
			    <th class='label'>$FormFieldRenderer.renderLabel("StateInfo.NPNNumber", "NPN Number", "Label", $CMMResponse)</th>
	            <td>$FormFieldRenderer.render("StateInfo.NPNNumber", $s.gets("NPNNumber"), "String","Size=15|maxlength=20|${disable}")</td>
	            <th/>
	            <td/>
	            <th/>
	            <td/> 
			<tr>
		</table>
			
		<!-- #if( $disable != "disabled" ) -->
	        <tr>
	           <td>$FormFieldRenderer.renderButton("Save", "Save", "Button", "javascript:cmmXForm('$SaveOperation','$systemId','$parentIdRef','$idRef')")</td>
	        </tr>
       <!-- #end -->
     </table>
  

$renderer.tileEnd()