<!-- Prepare Velocity Variables
     $renderer.setTile("INProducer", "producer-cpaccount-detail")

     #set ( $systemId = $CMMParams.gets("SystemId") )
     #set ( $parentIdRef = $CMMParams.gets("ParentIdRef") )
     #set ( $idRef = $CMMParams.gets("IdRef") ) 
     #set ( $cpAccount = $CMMResponse.getBeanById( $idRef ) )
     #if( $cpAccount.gets("StatusCd") == "New" )
	  #set( $SaveOperation = "INProducerCPAccountAdd" )
     #else
	  #set( $SaveOperation = "INProducerCPAccountUpdate" )
     #end
     
     #set( $underwritingMaintenance = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-UnderwritingMaintenance", $todayDt)) )
	 #set( $myProducer = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-MyProducerProfile", $todayDt)) )
	 #if( $myProducer && !$underwritingMaintenance )
		#set( $editMe = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowEditMe", $todayDt)) )
		#set( $editOthers = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "AllowEditOthers", $todayDt)) )	
		#set( $isProducer = $UserRenderer.isProducer($UserInfo) )		
		#if( $isProducer)
			#if( $ProviderRenderer.isProviderSameAsUser($Provider,$UserInfo) )
				#if( $editMe)
					#set( $disable = "" )
				#else
					#set( $disable = "disabled" )
				#end
			#else
				#if( $editOthers)
					#set( $disable = "" )				
				#else
					#set( $disable = "disabled" )
				#end
			#end
		#else
			#if( $editOthers)
				#set( $disable = "" )				
			#else
				#set( $disable = "disabled" )
			#end
		#end				
	 #else
		#set( $disable = "" )		
	 #end
-->

$FormFieldRenderer.render("CPAccountInfo.StatusCd",$!cpAccount.gets("StatusCd"), "Hidden")

#set( $carrierCd = $cpAccount.gets("CarrierCd") )
#if( $carrierCd.equals("") )
    #set( $carrierCd = "All Carriers" )
#end

#set( $productGroupCd = $cpAccount.gets("ProductGroupCd") )
#if( $productGroupCd.equals("") )
    #set( $productGroupCd = "All Lines" )
#end

#set( $policyTermCd = $cpAccount.gets("PolicyTermCd") )
#if( $policyTermCd.equals("") )
    #set( $policyTermCd = "Both" )
#end

$!renderer.tileStart("Normal", "CPAccountDetail", "None", "None") 
	<table width="100%" class='format'>
		<tr> 
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("CPAccountInfo.CarrierCd", "Carrier Code", "Label", $CMMResponse, "Required=True")</th>
			<td width='10%' colspan='2'>$!CompanyRenderer.carrierSelectField("CPAccountInfo.CarrierCd",$carrierCd,"Required=True|${disable}", true)</td>
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("CPAccountInfo.ProductGroupCd", "Product Group Code", "Label", $CMMResponse, "Required=True")</th>
			<td width='10%'>$FormFieldRenderer.renderSelect("CPAccountInfo.ProductGroupCd",$productGroupCd,"COInterfaceChoicePoint::cp-account:product-group::all", "SelectList", "Prompt=Select...|Required=True|${disable}")</td>
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("CPAccountInfo.PolicyTermCd", "Applied Policy Term", "Label", $CMMResponse, "Required=True")</th>
           	<td width='10%'>$FormFieldRenderer.renderSelect("CPAccountInfo.PolicyTermCd",$policyTermCd,"INProducer::producer::policy-term::all", "SelectList", "Prompt=Select...|Required=True|${disable}")</td>
		</tr>
        <tr>
        	<th class='label'>$FormFieldRenderer.render("CPAccountInfo.CPAccountNumber", "Account Number", "Label")</th>
        	<td colspan='2'>$FormFieldRenderer.render("CPAccountInfo.CPAccountNumber",$cpAccount.gets("CPAccountNumber"), "String", "size=6|maxlength=6|${disable}")</td>            
        	<th class='label'>$FormFieldRenderer.render("CPAccountInfo.CPAccountSuffix", "Account Suffix", "Label")</th>
        	<td colspan='3'>$FormFieldRenderer.render("CPAccountInfo.CPAccountSuffix",$cpAccount.gets("CPAccountSuffix"), "String", "size=3|maxlength=3|${disable}")</td>        	
        </tr>
		<!-- #if( $disable != "disabled" ) -->
	        <tr>
	           <td>$FormFieldRenderer.renderButton("Save", "Save", "Button", "javascript:cmmXForm('$SaveOperation','$systemId','$parentIdRef','$idRef')")</td>
	        </tr>
       <!-- #end -->
     </table>
  

$renderer.tileEnd()