<!-- Prepare Velocity Variables
     $renderer.setTile("INProducer", "producer-product-detail")

     #set ( $systemId = $CMMParams.gets("SystemId") )
     #set ( $parentIdRef = $CMMParams.gets("ParentIdRef") )
     #set ( $idRef = $CMMParams.gets("IdRef") ) 
     #set ( $p = $CMMResponse.getBeanById( $idRef ) )
     #if( $p.gets("StatusCd") == "New" )
	  #set( $SaveOperation = "INProducerProductAdd" )
     #else
	  #set( $SaveOperation = "INProducerProductUpdate" )
     #end
     #set ( $containerName = $CMMParams.gets("Container") ) 
     #set ( $container = $CMMResponse.getBean($!containerName) )
     #set( $todayDt = $DateRenderer.getStringDate($CMMResponse.getBean("ResponseParams")) )
     
	 #set( $underwritingMaintenance = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-UnderwritingMaintenance", $todayDt)) )
	 #set( $myProducer = $StringRenderer.isTrue($UserRenderer.getAuthorityAttributeValue($UserInfo, "Site-Policy-MyProducerProfile", $todayDt)) )
	 #if( $myProducer && !$underwritingMaintenance )
		#set( $disable = "disabled" )		
	 #else
	 	#set( $disable = "" )
	 #end
	 #if( !$StringRenderer.isTrue($Provider.gets("ProviderOnCommissionPlan")) )
	 	#set( $commissionRequiredField = "True" )
	 #else 
	 	#set( $commissionRequiredField = "False" )
	 #end
	 #set( $ProducerTypeCd = $container.getBean('ProducerInfo').gets('ProducerTypeCd'))

	 #set( $commissionPayRule = $p.gets("CommissionPayRule") )
	 #if( $commissionPayRule.equals("") && $p.gets("StatusCd").equals("New") && ($ProducerTypeCd.equals("Agency") || $ProducerTypeCd.equals("Producer")) )
	    #set( $commissionPayRule = "WrittenCommissionBasic" )
	 #end
-->
    <script>
    // Load field from lookup popup
    function loadUser(id) {
        if( document.getElementById("UserCd").value != "" ) {	
            document.getElementById(id).value = document.getElementById("UserCd").value;
            document.getElementById(id).focus();
        } 
    }

    // Clear the field contents of passed field 
    function clearField(sourceField,targetField){
        if(document.getElementById(sourceField).value != "")
            document.getElementById(targetField).value = "";
    
    }

    function setTaskRecipient() {
        if (document.getElementById("TaskUser").value != "") {
            document.getElementById("LicensedProduct.SubmitTo").value = document.getElementById("TaskUser").value;
            document.getElementById("LicensedProduct.SubmitToCd").value = "User";
        }
        else {
            document.getElementById("LicensedProduct.SubmitTo").value = document.getElementById("TaskGroup").value;
            document.getElementById("LicensedProduct.SubmitToCd").value = "Group";
        }
    }
    </script>

    <!-- Used to set lookup fields -->
    $FormFieldRenderer.render("UserCd", "", "Hidden")
    $FormFieldRenderer.render("UserName", "", "Hidden")

    $FormFieldRenderer.render("LicensedProduct.SubmitTo",$p.gets("SubmitTo"), "Hidden")
    $FormFieldRenderer.render("LicensedProduct.SubmitToCd",$p.gets("SubmitToCd"), "Hidden")

    $FormFieldRenderer.render("LicensedProduct.StatusCd",$!p.gets("StatusCd"), "Hidden")
	
    $!renderer.tileStart("Normal", "ProductDetail", "None", "None") 
	<table width="100%" class='format'>
    	<tr>
        	<th class='label' width='15%'>$FormFieldRenderer.renderLabel("LicensedProduct.LicenseClassCd", "License Class Code", "Label", $CMMResponse, "Required=True")</th>
            <!-- #set ( $classCodes = $CompanyRenderer.licenseClassOptionsList($container) ) -->
            <td>$FormFieldRenderer.renderSelect("LicensedProduct.LicenseClassCd",$p.gets("LicenseClassCd"), $classCodes, "SelectList", "Prompt=Select...|Required=True|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.CarrierGroup", "Carrier Group", "Label", $CMMResponse, "Required=True")</th>
            <td>$CompanyRenderer.carrierGroupSelectField("LicensedProduct.CarrierGroup",$p.gets("CarrierGroup"), "Required=True|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.StateProvCd", "State", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.renderSelect("LicensedProduct.StateProvCd", $p.gets('StateProvCd'), "CO::common:states::all", "SelectList", "Required=True|Prompt=Select...|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.EffectiveDt", "Effective Date", "Label", $CMMResponse, "Required=True")</th>
            <td>$FormFieldRenderer.render("LicensedProduct.EffectiveDt",$p.gets("EffectiveDt"), "Date", "Required=True|onBlur=formatDate(this)|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.CommissionNewPct", "Commission % - NB", "Label", $CMMResponse, "Required=${commissionRequiredField}")</th>
            <td>$FormFieldRenderer.render("LicensedProduct.CommissionNewPct",$p.gets("CommissionNewPct"), "Commission", "size=10|Required=${commissionRequiredField}|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.CommissionRenewalPct", "Commission % - Renewal", "Label", $CMMResponse, "Required=${commissionRequiredField}")</th>
            <td>$FormFieldRenderer.render("LicensedProduct.CommissionRenewalPct",$p.gets("CommissionRenewalPct"), "Commission", "size=10|Required=${commissionRequiredField}|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.CommissionOtherPct", "Commission % - Other", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("LicensedProduct.CommissionOtherPct",$p.gets("CommissionOtherPct"), "Commission", "size=10|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.NewExpirationDt", "NB Exp. Date", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("LicensedProduct.NewExpirationDt",$p.gets("NewExpirationDt"), "Date", "onBlur=formatDate(this)|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.RenewalExpirationDt", "Rnwl Exp. Date", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("LicensedProduct.RenewalExpirationDt",$p.gets("RenewalExpirationDt"), "Date", "onBlur=formatDate(this)|${disable}")</td>
        </tr>
        <tr>
            <th class='label'>$FormFieldRenderer.renderLabel("SubmitToUser", "Submit To User", "Label", $CMMResponse)</th>
            <td>
                <!-- #if($p.gets("SubmitToCd").equalsIgnoreCase("User")) -->
                $FormFieldRenderer.render("TaskUser",$p.gets("SubmitTo"), "String", "size=20|onblur=javascript:clearField('TaskUser','TaskGroup')|${disable}")
                <!-- #else -->               
                $FormFieldRenderer.render("TaskUser","","String", "size=20|onblur=javascript:clearField('TaskUser','TaskGroup')|${disable}")  
                <!-- #end -->
                <!-- #if( $disable != "disabled" ) -->
                	<a href='#' onclick='window.open("innovation?rq=COUserLookup&SearchType=TaskUser", "GenericBrowse","height=500,width=800,left=200,top=200,scrollbars=yes,resizable=yes");' ><img class='noborder' src='img/lookup-small.png'/></a>
            	<!-- #end -->
            </td>
        </tr>
        <tr>
            <th></th>
            <th class='label'>$renderer.label("Or")</th> 
        </tr>
        <tr>
            <th class='label'>$!renderer.label("SubmitToGroup")</th>
        	<!-- #set( $taskGroupList = $UserRenderer.getTaskGroupList("", $todayDt) ) -->
	    	<!-- #if($p.gets("SubmitToCd").equalsIgnoreCase("Group")) -->
	       		<td>$FormFieldRenderer.renderSelect("TaskGroup",$p.gets("SubmitTo"),$taskGroupList,"SelectList","Prompt=Select...|onChange=clearField('TaskGroup','TaskUser')|${disable}")</td>
	    	<!-- #else -->
	       		<td>$FormFieldRenderer.renderSelect("TaskGroup","",$taskGroupList,"SelectList","Prompt=Select...|onChange=clearField('TaskGroup','TaskUser')|${disable}")</td>
	    	<!-- #end -->	    
		</tr>
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.CommissionPayInd", "Commission Paid Out", "Label", $CMMResponse)</th>
			<td>$FormFieldRenderer.renderSelect("LicensedProduct.CommissionPayInd",$p.gets("CommissionPayInd"),"CO::common::yes-no::all","SelectList","Prompt=Select...|${disable}")</td>
		</tr>
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("LicensedProduct.CommissionPayRule", "Commission Pay Rule", "Label", $CMMResponse)</th>
			<td>$FormFieldRenderer.renderSelect("LicensedProduct.CommissionPayRule",$commissionPayRule,"INProducer::producer::commission-rule::all","SelectList","Prompt=Select...|${disable}")</td>
		</tr>
		<!-- #if( $disable != "disabled" ) -->
		    <tr>
		        <td>$FormFieldRenderer.renderButton("Save", "Save", "Button", "javascript:setTaskRecipient();cmmXForm('$SaveOperation','$systemId','$parentIdRef','$idRef')")</td>   
		    </tr>
		<!-- #end -->
	</table>
	<!-- #if( $StringRenderer.isTrue($Provider.gets("ProviderOnCommissionPlan")) ) -->
		</br>
		<b>&nbsp; *Provider is on a Commission Plan. This will override the Licensed Product Class commission details.</b>
	<!-- #end --> 
$renderer.tileEnd()