<!-- 
	--producer type code is equal to producer--
	#set( $producerAgency = $AdditionalParams.getBean("Param","Name","ProducerAgency").gets("Value") )
	#set( $source = $Provider.getBean("ElectronicPaymentContract", "ContractTypeCd", "Premium").getBean("ElectronicPaymentSource") );
	#set( $location = $Provider.gets("LocationNum") )

	#set($producers = $RICProducerRenderer.updateProducerSweepAccountByLocation($producerAgency, $source, $location) )
 -->
<p>
	<!-- #set($counter = 0)-->
	<table>
		<tr>
			<th width='50px'></th>
			<th>Producer Code</th>
			<th>Business Name</th>
		</tr>
	
		 <!-- #foreach( $producer in $producers ) -->
		 	<!-- #set($counter = $counter + 1 )-->
		 	<tr>
		 		<td>$counter</td>
		 		<td>$producer.gets('ProviderNumber')</td>
		 		<td>$producer.getBean('ProviderAcct').getBean('PartyInfo').getBean('NameInfo').gets('CommercialName')</td>
		 	</tr>
		 <!-- #end -->
	 </table>
</p>

<p>
	 <!-- #if( $counter == 0 ) -->
	 	No producers were updated.
	 <!-- #else -->
	 	$counter agents were updated.
	 <!-- #end -->
</p>
