<!-- 
	#set( $producerAgency = $AdditionalParams.getBean("Param","Name","Provider.ProviderNumber").gets("Value") )
	#set( $policyExportInd = $AdditionalParams.getBean("Param","Name","PolicyExportInd").gets("Value") )
	#set( $policyExportStartDt = $AdditionalParams.getBean("Param","Name","PolicyExportStartDt").gets("Value") )
	#set( $policyExportEndDt = $AdditionalParams.getBean("Param","Name","PolicyExportEndDt").gets("Value") )

	#set($producers = $RICProducerRenderer.updateIVANSProducerInfoByProducerAgency( $producerAgency, $policyExportInd, $policyExportStartDt, $policyExportEndDt ))
 -->
<p>
	<!-- #set($counter = 0)-->
	<table>
		<tr>
			<th width='50px'></th>
			<th>Producer Code</th>
			<th>Business Name</th>
		</tr>
	
		 <!-- #foreach( $producer in $producers ) -->
		 	<!-- #set($counter = $counter + 1 )-->
		 	<tr>
		 		<td>$counter</td>
		 		<td>$producer.gets('ProviderNumber')</td>
		 		<td>$producer.getBean('ProviderAcct').getBean('PartyInfo').getBean('NameInfo').gets('CommercialName')</td>
		 	</tr>
		 <!-- #end -->
	 </table>
</p>

<p>
	 <!-- #if( $counter == 0 ) -->
	 	No producers were updated.
	 <!-- #else -->
	 	$counter producers were updated.
	 <!-- #end -->
</p>
