<!-- Prepare Velocity Tools
    #set( $selectAction = "cmmXForm('INCustomerEntitySelect',${systemId})" )
    $renderer.setTile("INCustomer", "customer-entity-select")
     #set( $allowVIPLevel = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowVIPLevel",$todayDt) )
-->

$FormFieldRenderer.render("TaxId",$form.get("TaxId"),"Hidden")
$renderer.inputHidden('PreviousEntityType', $!Customer.gets("EntityTypeCd"))
#if($CMMResponse.getBeanName().equalsIgnoreCase("INCustomerEntitySelectRs"))
	<script>
		forceDirty = true;
	</script>

#end

<table width='100%' class='format'>
	<tr> 
		<th width='16%' class='label'>$FormFieldRenderer.renderLabel("Customer.EntityTypeCd", "Entity Type", "Label", $CMMResponse)</th>
	<!-- #if( $!Customer.getSystemId() == "" ) -->
		<td width='15%'>$FormFieldRenderer.renderSelect("Customer.EntityTypeCd", $Customer.gets('EntityTypeCd'), "INCustomer::customer::entitytype::all", "SelectList","OnChange=cmmXForm('INCustomerClearingContinue')|tabindex=1|$disable")</td>		
	<!-- #else -->
		<td width='15%'>$FormFieldRenderer.renderSelect("Customer.EntityTypeCd", $Customer.gets('EntityTypeCd'), "INCustomer::customer::entitytype::all", "SelectList","OnChange=$selectAction|tabindex=1|$disable")</td>
	<!-- #end -->
	<!-- #if( $StringRenderer.isTrue($allowVIPLevel) ) --> 
		<!-- #if( !$Customer.gets("EntityTypeCd").equals("") ) -->
			<th width='10%' class='label'>$FormFieldRenderer.renderLabel("Customer.VIPLevel", "VIP Level", "Label", $CMMResponse)</th>
			<td width='15%'>$FormFieldRenderer.render("Customer.VIPLevel", $!Customer.gets("VIPLevel"), "String", "size=4|$disable")</td>
			<td width='61%'>&nbsp;</td>
		<!-- #else -->
			<td width='69%'>&nbsp;</td>
		<!-- #end -->
	<!-- #end -->
	<td width='69%'>&nbsp;</td>
	</tr>
</table>