<!-- Prepare Velocity Variables 
    $renderer.setTile("INCustomer", "customer-entity-individual")
-->

	<table width='100%' class='format'>
		<tr>
	    	<th class='sectionLabel'>Individual</th>
	    </tr>
		<tr>
			<th width='16%' class='label'>$FormFieldRenderer.renderLabel("Individual", "Individual", "Label", $CMMResponse)</th>
			<th width='24%' class='label'>$FormFieldRenderer.renderLabel("CustomerName.GivenName", "First", "Label", $CMMResponse, "Required=True")</th>
			<th width='18%' class='label'>$FormFieldRenderer.renderLabel("CustomerName.OtherGivenName", "Middle", "Label", $CMMResponse)</th>
			<th width='24%' class='label'>$FormFieldRenderer.renderLabel("CustomerName.Surname", "Last", "Label", $CMMResponse, "Required=True")</th>	
			<th width='18%' class='label'>$FormFieldRenderer.renderLabel("CustomerName.SuffixCd", "Suffix", "Label", $CMMResponse)</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>$FormFieldRenderer.render("CustomerName.GivenName", $CustomerName.gets('GivenName'), "String", "size=29|Required=True|$disable")</td>
			<td>$FormFieldRenderer.render("CustomerName.OtherGivenName", $CustomerName.gets('OtherGivenName'), "String", "size=20|$disable")</td>	
			<td>$FormFieldRenderer.render("CustomerName.Surname", $CustomerName.gets('Surname'), "String", "size=29|Required=True|$disable")</td>
			<td>$FormFieldRenderer.render("CustomerName.SuffixCd", $CustomerName.gets('SuffixCd'), "String", "size=5|$disable")</td>
		</tr>
	</table>
	<table width='100%' class='format'>
		<tr>	
			<th width='16%' class='label'>&nbsp;</th>
			<th width='11%' class='label'>$FormFieldRenderer.renderLabel("CustomerPersonal.BirthDt", "DOB", "Label", $CMMResponse, "Required=True")</th>
			<th width='73%' class='label'>$FormFieldRenderer.renderLabel("CustomerTaxInfo.SSN", "SSN", "Label", $CMMResponse)</th>
		</tr>
		<tr>	
			<td>&nbsp;</td>
			<td>$FormFieldRenderer.render("CustomerPersonal.BirthDt", $CustomerPersonal.gets('BirthDt'), "Date", "OnBlur=formatDate(this)|$disable|Required=True")</td>
			<td>$FormFieldRenderer.render("CustomerTaxInfo.SSN", $CustomerTaxInfo.gets('SSN'), "SSN", "$disable")</td>
		</tr>	
	</table>
	<table width='100%' class='format'>
		<tr> 
			<th width='16%' class='label'>$FormFieldRenderer.renderLabel("CustomerName.CommercialName", "Name", "Label", $CMMResponse, "Required=True")</th>
			<td width='84%'>
				$FormFieldRenderer.render("CustomerName.CommercialName", $CustomerName.gets('CommercialName'), "String", "onFocus=copyToNameIfBlank()|size=32|MaxLength=60|Required=True|$disable")
			    <!-- #if( $disable.equals("") ) -->	
					$FormFieldRenderer.renderButton("ResetCommercialName", "Reset", "Button", "copyToName()", "Class=button-plain")
				<!-- #end -->
			</td>
		</tr>
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("Customer.IndexName", "Search Name", "Label", $CMMResponse, "Required=True")</th>
	        <td>
				$FormFieldRenderer.render("Customer.IndexName", $Customer.gets('IndexName'), "String","onFocus=copyToIndexNameIfBlank()|size=32|Required=True|$disable")
		    	<!-- #if( $disable.equals("") ) -->	
					$FormFieldRenderer.renderButton("ResetIndexName", "Reset", "Button", "copyToIndexName()", "Class=button-plain")
				<!-- #end -->
			</td>
		</tr>
	</table>