<!-- Prepare Velocity Variables
    $renderer.setTile("INCustomer", "customer-information")
    #set( $allowViewOptOutMarketing = $UserRenderer.getAuthorityAttributeValue($UserInfo,"AllowViewOptOutMarketing",$todayDt) )
-->

	<div class='sectionSeparator'></div>
	
	<!-- CUSTOMER LOOKUP ADDRESS TILE -->
    <table width="100%" class='format'>
    	<tr>
	    	<th class='sectionLabel'>First Named Insured's Address</th>
	    </tr>
	</table>
    $AddressRenderer.renderInputBlock("PhysicalLookup", $CustomerLookupAddr, $context, "Required=True|Label=Address|LabelColumnWidth=16%|FieldColumnWidth=84%")
    
	<table width="100%" class='format joint-addr-question'>
		<tr>
			<th class='label' width="65%">$FormFieldRenderer.renderLabel('Customer.JointAddrQuestion',"Is the second named insured's address the same as the first named insured's address?", "Label", null)</th>
			<td style="text-align: left;">$FormFieldRenderer.renderSelect('Customer.JointAddrQuestion',$Customer.gets("JointAddrQuestion"),'CO::common::yes-no::all',"SelectList", "${disable}")</td>
		</tr>
	</table>
	
	<table width="100%" class='format joint-addr-block' >
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th class='sectionLabel'>Second Named Insured's Address</th>
		</tr>
		<tr>
			<td>$AddressRenderer.renderInputBlock("Mailing", $CustomerJointMailingAddr, $context, "Label=Address|LabelColumnWidth=16%|FieldColumnWidth=84%")</td>
		</tr>
	</table>
	
	<!-- #if( $disable.equals("") ) -->
    <table width="100%" class='format'>	
		<tr>
			<td width='16%'>&nbsp;</td>
			<td width='84%'>$FormFieldRenderer.renderButton("DefaultAddress", "Copy To Mailing Address", "Button", "copyLookupAddressToAddress('CustomerLookupAddr','CustomerMailingAddr');CustomerMailingAddr.updateStatusImg();", "Class=button-plain|${disable}")</td>
		</tr>
	</table>
	<!-- #end -->
	
	<script type="text/javascript">

	function displayJointAddrQuestion(){
		if( $("#Customer\\.EntityTypeCd").val() === 'Joint' ) {
			$(".joint-addr-question").show();
			setRequired("Customer.JointAddrQuestion",true);
		} else {
			$(".joint-addr-question").hide();
			setRequired("Customer.JointAddrQuestion",false);
		}
	}
	
	$("#Customer\\.EntityTypeCd").on("change",displayJointAddrQuestion);
	displayJointAddrQuestion();	
	
	function displayJointAddressBlock(){
		var entityType = $("#Customer\\.EntityTypeCd").val();
		var jointAddrQuestion = $("#Customer\\.JointAddrQuestion").val();
	
		if( jointAddrQuestion === 'No' && entityType === 'Joint') {
			$(".joint-addr-block").show();
			setRequired("CustomerJointMailingAddr.Addr1, CustomerJointMailingAddr.City, CustomerJointMailingAddr.StateProvCd, CustomerJointMailingAddr.PostalCode",true);
		} else {
			$(".joint-addr-block").hide();
			setRequired("CustomerJointMailingAddr.Addr1, CustomerJointMailingAddr.City, CustomerJointMailingAddr.StateProvCd, CustomerJointMailingAddr.PostalCode",false);
		}
	}
	
	$("#Customer\\.JointAddrQuestion").on("change",displayJointAddressBlock);
	displayJointAddressBlock();	

	</script> 
	
	<div class='sectionSeparator'></div>
	
	<!-- CUSTOMER MAILING ADDRESS -->
    <table width="100%" class='format'>
    	<tr>
	    	<th class='sectionLabel'>Mailing Address</th>
	    </tr>
	</table>
	$AddressRenderer.renderInputBlock("Mailing", $CustomerMailingAddr, $context, "Required=True|Label=Address|LabelColumnWidth=16%|FieldColumnWidth=84%")
    <!-- #if( $disable.equals("") ) -->
	<table width="100%" class='format'>
		<tr>
			<td width='16%'>&nbsp;</td>
			<td width='84%'>$FormFieldRenderer.renderButton("CopyAddress", "Copy To Billing Address", "Button", "javascript:copyAddress('CustomerMailingAddr','CustomerBillingAddr');CustomerBillingAddr.updateStatusImg();", "Class=button-plain")</td>
		</tr>
	</table>
	<!-- #end -->
	
	<div class='sectionSeparator'></div>
	
	<!-- CUSTOMER BILLING ADDRESS -->
	<table width="100%" class='format'>
		<tr>
    		<th class='sectionLabel'>Billing Address</th>
    	</tr>
	</table>
	$AddressRenderer.renderInputBlock("Mailing", $CustomerBillingAddr, $context, "Required=True|Label=Address|LabelColumnWidth=16%|FieldColumnWidth=84%")
	
	<div class='sectionSeparator'></div>
	
	<table width="100%" class='format'>	
		<tr>
	    	<th class='sectionLabel' colspan='4'>Contact</th>
	    </tr>
		<tr> 
			<th width='16%' class='label'>$FormFieldRenderer.renderLabel("CustomerPhonePrimary.PhoneNumber", "Primary Phone", "Label", $CMMResponse, "Required=True")</th>
			<td>
				<table cellpadding='0' cellspacing='0'>
					<tr>
						<td>$FormFieldRenderer.renderSelect("CustomerPhonePrimary.PhoneName", $CustomerPhonePrimary.gets('PhoneName'), "CO::common::phonetype::all", "SelectList","Prompt=Select...|$disable|Required=True")</td>
			            <td>$FormFieldRenderer.render("CustomerPhonePrimary.PhoneNumber", $CustomerPhonePrimary.gets('PhoneNumber'), "Phone", "$disable|Required=True")</td>
					</tr>
				</table>
			</td>	
			<th class='label'>$FormFieldRenderer.renderLabel("CustomerPhoneSecondary.PhoneNumber", "Secondary Phone", "Label", $CMMResponse)</th>
			<td>
				<table cellpadding='0' cellspacing='0'>
					<tr>
						<td>$FormFieldRenderer.renderSelect("CustomerPhoneSecondary.PhoneName", $CustomerPhoneSecondary.gets('PhoneName'), "CO::common::phonetype::all", "SelectList","Prompt=Select...|$disable")</td>
			            <td>$FormFieldRenderer.render("CustomerPhoneSecondary.PhoneNumber", $CustomerPhoneSecondary.gets('PhoneNumber'), "Phone", "$disable")</td>
					</tr>
				</table>
			</td>	
		</tr>
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("CustomerEmail.EmailAddr", "Email", "Label", $CMMResponse)</th>
            <td>$FormFieldRenderer.render("CustomerEmail.EmailAddr", $CustomerEmail.gets('EmailAddr'), "Email", "$disable")</td>	
			<th class='label'>$FormFieldRenderer.renderLabel("CustomerFax.PhoneNumber", "Fax Number", "Label", $CMMResponse)</th>
			<td>$FormFieldRenderer.render("CustomerFax.PhoneNumber", $CustomerFax.gets('PhoneNumber'), "Phone", "$disable")</td>		
		</tr>
		<tr>
            <th class='label'>$FormFieldRenderer.renderLabel("CustomerPersonal.BestWayToContact", "Best Way to Contact", "Label", $CMMResponse)</th>
			<td>$FormFieldRenderer.renderSelect("CustomerPersonal.BestWayToContact", $CustomerPersonal.gets('BestWayToContact'), "CO::common::contact::type", "SelectList","Prompt=Select...|$disable")</td>
			<th class='label'>$FormFieldRenderer.renderLabel("CustomerPersonal.BestTimeToContact", "Best Time to Contact", "Label", $CMMResponse)</th>
			<td>$FormFieldRenderer.renderSelect("CustomerPersonal.BestTimeToContact", $CustomerPersonal.gets('BestTimeToContact'), "CO::common::contact::time", "SelectList","Prompt=Select...|$disable")</td>
		</tr>		
		<tr>
			<th class='label'>$FormFieldRenderer.renderLabel("Customer.PreferredDeliveryMethod", "Delivery Preference", "Label", $CMMResponse)</th>
            <td colspan='2'>$FormFieldRenderer.renderSelect("Customer.PreferredDeliveryMethod", $!Customer.gets("PreferredDeliveryMethod"), "::output::deliverypreference::insured" , "SelectList", "$disable" )</td>
		</tr>
		<!-- #if( $StringRenderer.isTrue($allowViewOptOutMarketing) ) -->
		<tr>
			<th class='label' colspan="3">$FormFieldRenderer.render("Customer.OptOutMarketing", $!Customer.gets("OptOutMarketing"), "CheckBox", "${disable}")&nbsp;
			$FormFieldRenderer.renderLabel("Customer.OptOutMarketing", "Opt-out of Non-affiliate Marketing", "Label", $CMMResponse)</th>
		</tr>
		<!-- #else -->
		<tr>
			<th>$FormFieldRenderer.render("Customer.OptOutMarketing", $!Customer.gets("OptOutMarketing"), "Hidden")</th>
		</tr>
		<!-- #end -->
		
		<tr> 
			<th class='label'>$FormFieldRenderer.renderLabel("Customer.CustomerNumber", "Customer Number", "Label", $CMMResponse)</th>
			<td id='Customer.CustomerNumber'>$!Customer.gets("CustomerNumber")</td>
		</tr>
    </table>
$renderer.tileEnd()

<!-- #if( $disable.equals("") ) -->
	<table width="100%" class='format'>
		<tr>
			<td>
     	<!-- #if( $tileButton1 != "" ) -->	
     		$!FormFieldRenderer.renderButton($tileButton1, $tileButton1, "Button", $tileButton1Logic)
     	<!-- #end -->
     	<!-- #if( $tileButton2 != "" ) -->	
     		$!FormFieldRenderer.renderButton($tileButton2, $tileButton2, "Button", $tileButton2Logic)
     	<!-- #end -->
     		</td>
     	</tr>
     </table>
<!-- #end -->	