/******************************************************************

 * TITLE: Master Color Stylesheet for Innovation	                  * 

 * URI  : color.css 					  *

 ******************************************************************/
/* ###### Body Style ###### */
body {color: #000; background: #707478;}
body.frameDialogBody {color: #000; background:none;}

.pageBackground {background: #707478;}
.pageBackgroundLookup {background: #707478;}
.content {background-image: url(img/bg_gradient.png) repeat-x;}

/* ###### Footer ###### */
.footer {color: #fff;}
.footer th{color: #333;}
.footer_left {background: url(img/footer_left.png) left top no-repeat;}
.footer_content {background: url(img/footer_right.png) right top no-repeat;}
.footer_content a {color: #FFF;}
.footer_content a:hover {color: #FBAD17;}

/* ###### Headers ###### */

.tileHeader {
    color: #333333;
    background: url(img/tile-background.png) repeat-x bottom;
    border-bottom: 2px solid #333333;
}
.tileHeader a {color: #000;}
.tileHeader a:hover{color: #F90;}

/* ###### Buttons ###### */
button.actionButton {background: transparent url( img/button-right-2.png ) no-repeat scroll right;}
button.actionButton span {color: #FFFFFF; background: transparent url( img/button-left-2.png ) no-repeat scroll left;}
button.actionButton:hover span {color: #000;}
.button-icon a {background: url(img/list-buttons.png) no-repeat;}
.button, .button-plain, .m_content a.button, .ui-widget-content a.button {color: #fff; background: url(img/button_right_orange.png) top right no-repeat;}
a.button:focus, a.button-plain:focus, a.button:focus span, a.button-plain:focus span {color: #fff878; background-position: bottom right;}
.button-plain {color: #000; background: url(img/button_right_grey.png) top right no-repeat;}
.button span, .button-plain span {background: url(img/button_left_orange.png) top right no-repeat;}
.button-plain span {background: url(img/button_left_grey.png) top right no-repeat;}

a.red {color: #fff; background: url(img/button_right_red.png) top right no-repeat;}
.red span {background: url(img/button_left_red.png) top right no-repeat;}

a.gold {color: #fff; background: url(img/button_right_gold.png) top right no-repeat;}
.gold span {background: url(img/button_left_gold.png) top right no-repeat;}

a.green {color: #fff; background: url(img/button_right_green.png) top right no-repeat;}
.green span {background: url(img/button_left_green.png) top right no-repeat;}

a.disabled {color: #fff; background: url(img/button_right_disabled.png) top right no-repeat;}
.disabled span {background: url(img/button_left_disabled.png) top right no-repeat;}

.button-icon-16 a {background: url(img/buttons-16.png) no-repeat;}

input.actionButton {
    color: #000;
    background-color: #CCC;
    border-color: #000;
    filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#888888');
}

/* ###### Links ###### */
a.navigationLink {background-color: #FFFFFF;}
a.navigationLink:hover {background-color: #CCCCCC; border-left: 2px solid #CD8B2D;}
a.actionLink {color: #D28A04;}
a.actionLink:hover{color: #000;}
a.actionLinkDisabled {color: #888;}
a.actionLinkUpdate {color: #D28A04;}
a.actionLinkUpdate:hover{color: #000;}
a.actionLinkUpdateDisabled {color: #888;}


/* ###### Images ###### */
img.border {border-color: #000;}

/* ###### List Tables ###### */
.listTable tr.columnHeader th {background: url(img/list-header-background.png) repeat-x bottom;}
.listTable th.column {background: url(img/list-header-background.png) repeat-x bottom;}
.listTable table.format th {background: url(img/list-header-background.png) repeat-x bottom;}
.listTable table.format tr:alt {background-color: #F4F4F8;}
.listTable table.format tr:hover {background-color: #17B0FB;}
.listTable table.total th {
	background: none;
}
.listTable table.none th {
	background-image: none;	
}
.listTable tr.highlightRow {background-color: #FFFB8D; font-weight:bold;}
.listTable tr.highlight {background-color: #FFFB8D;}
.listMidTable tr.highlightRow {background-color: #FFFB8D; font-weight:bold;}

/* ###### Titles ###### */
.titleTile {background-color: #FFF;}
.titleTile th.title {color: #5B1201;}

/* ###### Main Menu ###### */

table.siteMenu {color: #fff; background: url(img/site-menu-background.jpg) repeat-x bottom;}
table.siteMenu td.separator {background: url(img/divider.png) no-repeat center left;}
table.siteMenu th.active {background: url(img/site-menu-background-select-2.jpg) repeat-x bottom;}
table.siteMenu th.inactive {background: url(img/site-menu-background.jpg) repeat-x bottom;}
table.siteMenu th.mouseOver {background: url(img/site-menu-background-select-2.jpg) repeat-x bottom;}
table.siteMenu th.activeDisable {background: url(img/site-menu-background-select-2.jpg) no-repeat left;}

table.menu th {
    color: #FFF;
    background-color: #888;
    border-color: #000;
}
table.menu th.active {color: #00F; background-color: #DDD;}
table.menu th.inactive {color: #FFF; background-color: #888;}
table.menu th.mouseOver {color: #FFF; background-color: #AAA;}

/* ###### Hidden Main Menu Drop Down ###### */
table.menuDropDown {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
table.menuDropDown th {color: #626262; background: url(img/dd_back.png);}
table.menuDropDown th.mouseOver {color: #626262; background-color: #4e4e4e;} 

/* ###### Sub Menu Tabs ###### */
table.menuTab th.active {color: #00F;}
table.menuTab th.inactive {color: #000;}
table.menuTab th.mouseOver {color: #00F;}

/* ###### Sub Menu Space Holder ###### */
.subMenu {background-color: #FFF;}

/* ###### Warning Messages ###### */
.warningMsg table {border-color: #EF9808; background: #CCC;}
.warningMsg th {color: #EF9808;}
.warningMsg td {color: #EF9808;}

/* ###### Information Messages ###### */
.informationMessage {border: 1pt solid #6593CF;	background: #FFFFDC;}
.informationMessage td {color: #15428B;}
.informationMsg table {border-color: #2DB700; background: #CCC;}
.informationMsg th {color: #2DB700;}
.informationMsg td{color: #2DB700;}

/* ###### Stylized Text ###### */
.warning {color: #F00;}
.error {color: #F00;}
.numericWarning {color: #F00;}

/* ###### Note ###### */
.note table{
    border-color: #F00;
    color: #000;
    background-color: #FFF;
    background-image: url(img/notebook.gif);
    background-repeat: repeat;
    background-attachment: scroll;
}

/* ###### Note offset from top of the page to leave room for error msg box ###### */
.noteOffset table{
	border-color: #F00;
    color: #000;
    background-color: #FFF;
    background-image: url(img/notebook.gif);
    background-repeat: repeat;
    background-attachment: scroll;
}

/* ###### Toolbar ###### */
.toolbarTile {color: #000; background-color: #DDD;}

/* ###### News Banner ###### */
.sectionSeparator {border-bottom: 1px solid #C4C4C4;}

/* ###### Banner ###### */
.banner {background: url(img/logo-2.png) 10px 32px no-repeat #FFF;}
.banner a.signOut {color: #666;}
.banner a.signOut:hover {color: #000;}
.banner a.titleActionLink {color: #666;}
.banner a.titleActionLink:hover {color: #000;}
.premium label {color: #17abf4;}
.premium span {color: #555;}

/*=================================== modules ===================================*/
.m_top, .m_top_light {color: #fff; background: url(img/mod_top-2.png) center bottom no-repeat;}
.m_top_light {color: #444; background: url(img/mod_top_light-2.png) center bottom no-repeat;}
.m_tile {background: url(img/mod_tile.png) center repeat-y;}
.m_content_actions, .m_content {color: #6f7989;}
.m_content_actions label {color: #666; border-bottom: 1px solid #c4c4c4;}
.m_content_actions a {color: #666; border-bottom: 1px solid #c4c4c4;} 
.m_content a {color: #D28A04;}
.m_content_actions a:hover {color: #000; background: #17B0FB;}
.m_content_actions a:focus {color: #000; background: #17B0FB;}
.m_bottom {background: url(img/mod_bottom.png) center top no-repeat;}

/*=================================== main tiles ===================================*/
.r_tile_top_left {background: url(img/r_tile_top_left-2.png) right bottom no-repeat;}
.r_tile_top_left.plain {background: url(img/r_tile_top_left_plain.png) right bottom no-repeat;}
.r_tile_top_right {color: #fff; background: url(img/r_tile_top_right-2.png) right bottom no-repeat;}
.r_tile_top_right.plain {background: url(img/r_tile_top_right_plain.png) right bottom no-repeat;}
.r_tile_content_right {background: url(img/r_tile_content_tile.png) right repeat-y;}
.r_tile_bottom_left {background: url(img/r_tile_bottom_left.png) right top no-repeat;}
.r_tile_bottom_right {background: url(img/r_tile_bottom_right.png) right top no-repeat;}
table.format th.sectionLabel {color: #636363;}

/*=================================== wizard ===================================*/
.wiz {background: #fff;}
.wiz_bottom_left {background: url(img/wiz_bottom_left.png) right top no-repeat;}
.wiz_bottom_right {background: url(img/wiz_bottom_right.png) right top no-repeat;}
.wiz_link {background: url(img/wiz_right.png) right top no-repeat;}
.wiz_link.selected {background: url(img/wiz_right_blue.png) right top no-repeat;}
.wiz_link.visited {background: url(img/wiz_right_visited.png) right top no-repeat;}
.wiz_link span {background: url(img/wiz_left.png) right top no-repeat;}
.wiz_link.selected span {background: url(img/wiz_left_blue.png) right top no-repeat;}
.wiz_link.visited span {background: url(img/wiz_left_visited.png) right top no-repeat;}
.wiz_link.first.visited span, .wiz_link.first.selected span {background: url(img/wiz_left_first_visited.png) right top no-repeat;}
.wiz_link.first.selected span {background: url(img/wiz_left_first_selected-2.png) right top no-repeat;}
.wiz_link a {color: #ababab;}
.wiz_link.selected a, .wiz_link.visited a {color: #fff;}

/*=================================== error ===================================*/
.error_top_left {background: url(img/alert_top_left.png) right bottom no-repeat;}
.error_top_right {background: url(img/alert_top_right.png) right bottom no-repeat;}
.error_bottom_left {background: url(img/alert_bottom_left.png) right top no-repeat;}
.error_bottom_right {background: url(img/alert_bottom_right.png) right top no-repeat;}
.error_content {background: #fefde8;}
.error_icon {background: url(img/attention_icon.gif) center top no-repeat;}
.error_content_left span {color: #ec902d;}
.error_content_right a {color: #17abf4;}

/*=================================== menu ===================================*/
.menu {background: url(img/menu_back-2.png) #fff;}
.menu ul li.merge-with-next a {color: #979797;}
.menu ul li.merged-with-prev a {color: #979797; border-right: 1px solid #e4e4e4;}
.menu ul li a {color: #979797; border-right: 1px solid #e4e4e4;}
.menu ul li a:hover {color: #000;}
.menu ul li.selected-merge-with-next {background: url(img/menu_selected.png) top right no-repeat;}
.menu ul li.selected-merge-with-next a {color: #000;}
.menu ul li.selected-merge-with-next span {background: url(img/menu_selected_left.png) top left no-repeat;}
.menu ul li.selected-merged-with-prev {background: url(img/menu_selected_right.png) top right no-repeat;}
.menu ul li.selected-merged-with-prev a {color: #000;}
.menu ul li.selected-merged-with-prev span {background: none;}
.menu ul li.selected {background: url(img/menu_selected_right.png) top right no-repeat;}
.menu ul li.selected a {color: #000;}
.menu ul li.selected span {background: url(img/menu_selected_left.png) top left no-repeat;}

/*=================================== sign-in page ===================================*/
.signInTileRight h1 {color: #17abf4;}

/*=================================== site menu ===================================*/
.siteMenu ul li {background: url(img/site_menu_tile.png) top repeat-x;}
.siteMenu ul li a {color: #626262; border-left: 1px solid #e4e4e4;}
.siteMenu ul li a:hover, .siteMenu ul li a.selected, .siteMenu ul li a.mouseOver {background: url(img/site_menu_over-2.png) 0 -5px repeat-x;}
.siteMenu ul li.siteMenu_left, .siteMenu ul li.siteMenu_right {background: url(img/site_menu_left.png) left top no-repeat;}
.siteMenu ul li.siteMenu_right {background: url(img/site_menu_right.png) left top no-repeat;}

/*=================================== task note ===================================*/
.task_note_content div {border-bottom: 1px solid #c4c4c4;}

/*=================================== sticky note ===================================*/
.sticky_note_content_right {background: url(img/sticky_note_content_tile.png) right repeat-y;}
.sticky_note_bottom_left {background: url(img/sticky_note_bottom_left.png) right top no-repeat;}
.sticky_note_bottom_right {background: url(img/sticky_note_bottom_right.png) right top no-repeat;}

/*=================================== issues ===================================*/
.issues_content_right {background: url(img/issues_content_tile.png) right repeat-y;}
.issues_bottom_left {background: url(img/issues_bottom_left.png) right top no-repeat;}
.issues_bottom_right {background: url(img/issues_bottom_right.png) right top no-repeat;}

/*=================================== icons ========================================*/
.ui-datepicker-trigger {background: url(img/calendar-2.png) top left no-repeat;}

/*=================================== green bar ===================================*/
.greenbar {background-color:#ECECEC}

/*=================================== white bar ===================================*/
.whitebar {background-color:#FFFFFF}

/*=================================== Authorize.Net popup ===================================*/
.AuthorizeNetShadowT { background-image: url(img/shadow1-top.png); background-repeat: repeat-x; }
.AuthorizeNetShadowR { background-image: url(img/shadow1-right.png); background-repeat: repeat-y; }
.AuthorizeNetShadowB { background-image: url(img/shadow1-bottom.png); background-repeat: repeat-x; }
.AuthorizeNetShadowL { background-image: url(img/shadow1-left.png); background-repeat: repeat-y; }
.AuthorizeNetShadowTR { background-image: url(img/shadow1-topRight.png); background-repeat: no-repeat; }
.AuthorizeNetShadowBR { background-image: url(img/shadow1-bottomRight.png); background-repeat: no-repeat; }
.AuthorizeNetShadowBL { background-image: url(img/shadow1-bottomLeft.png); background-repeat: no-repeat; }
.AuthorizeNetShadowTL { background-image: url(img/shadow1-topLeft.png); background-repeat: no-repeat; }

.AuthorizeNetPopupSimpleTheme .AuthorizeNetPopupOuter { 
	border-color: #585858; 
	background-color:#ffffff; 
}

/*=================================== thumbnail ===================================*/
.thumbnail:hover span {
	background:#ffffff;
	border-color: #cccccc;
}
.thumbnaillarge span {
    background:#ffffff;
	border-color: #cccccc;
}
.thumbnaillink {
	color: #17abf4;
}

/*=================================== document viewer ===================================*/
.underline {border-bottom: 1px solid #C4C4C4;}

/*=================================== job progress bar ===================================*/

table.job-status {
	width: 126px;
    padding: 0px;
    margin: 0px;
}

table.progress-bar {
    border-collapse: collapse;
    border: 1px solid #D28A04;
    height: 6px;
    width: 100px;
    padding: 0px;
    margin: 0px;
    clear: none;
}

table.progress-bar td.progress-bar-done {
    background-color: #D28A04;
    padding: 0px;
}

table.progress-bar td.progress-bar-left {
    background-color: #ffffff;
    padding: 0px;
}

.progress-bar-icon-green {
	background-image: url("img/greencheck-small.png");
	background-size: 16px 16px;
	height: 16px;
    width: 16px;
    padding: 0px;
}

.progress-bar-icon-yellow {
	background-image: url("img/warning.png");
	background-size: 16px 16px;
	height: 16px;
    width: 16px;
    padding: 0px;
}

.progress-bar-icon-red {
	background-image: url("img/issue-warning.png");
	background-size: 16px 16px;
	height: 16px;
    width: 16px;
    padding: 0px;
}