/* ###### Dropshadow effect ###### */

/* note that the following is only supported on FF, Opera and IE7. */
/* IE6 and Mac IE do not support due to the use of partially transparent PNG images */
/* In order to avoid CSS hacks (e.g. using the CSS child selector > ) wrap the CSS import */
/* in a conditional MS IE Conditional Comment */
/* Adapted from PNG drop shadows @ positioniseverything.net */

.dropshadow1 {
	background: url(img/dropshadow-upperrightfade.png) right top no-repeat;
} 
/* .dropshadow1 (formerly .outerpair1) must be given a width contraint, via either a width, 
or by floating or absolute positioning. In this demo these are 
applied from the second class name on the .outerpair1 DIV's.
This box also has one of the corner .png's. */

.dropshadow2 {
	background: url(img/dropshadow-lowerleftfade.png) left bottom no-repeat;
	padding-top: 8px;
	padding-left: 8px;
}
/* .dropshadow2 (formerly .outerpair2) has padding equal to the shadow 
thickness, and also has one of the corner .png's */ 

.dropshadow3 {
	background: url(img/dropshadow-shadow.png) bottom right;
}
/* .dropshadow3 (formerly .shadowbox) holds the main shadow .png */ 

.dropshadow4 {
	position: relative;
	left: -8px;
	top: -8px;
}
/* .dropshadow4 (formerly .innerbox) is made "relative" and is "pulled" up and to 
the left, by a distance equal to the thickness of the shadow.
Because this is a relative-based shift, the box retains its
exact dimensions without change. */
