/******************************************************************

 * TITLE: Master Stylesheet for Innovation	                  * 

 * URI  : innovation.css 					  *

 *******************************************************************/
/* ###### Body Style ###### */
body {
	font-family: Verdana, Arial, Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	cursor: default;
	height: 100%;
}

/* Use "MS Shell Dlg" as the preferred font-family for fields to preserve look-and-feel with prior versions on IE */
input,select {
	font-family: "MS Shell Dlg", Verdana, Arial, Tahoma, Helvetica, Sans-Serif;
}

/* ###### Page Background ###### */
.pageBackground {
	min-height: 100%;
	width: 1100px;
	margin: 0 auto;
}
.pageBackgroundLookup {
	min-height: 100%;
	width: 750px;
	margin: 0 auto;
}
.frameDialogPageBackground {
	min-height: 100%;
	width: 870px;
	margin: 0 auto;
}

/* ###### Contents - Contains Main and Footer ###### */
.contents { 
	min-height: 100%; 
}

/* ###### Navigation Bar ###### */
.navigationBar {
	width: 220px;
	float: left;
	min-height: 100%; 
	margin-bottom: 50px;
}

/* ###### Links ###### */
a.navigationLink {
	border-left: 2px solid transparent;
}

/* ###### Main ###### */
.main {
	width: 870px;
	float: right;
	margin-right: 5px;
	margin-bottom: 50px;
}
/* ###### Footer ###### */
.footer {
	height: 50px;
	clear: both;
	position: relative;
	text-align: center;
}

.footer_left {
	width: 10px;
	height: 50px;
	position: absolute;
	left: 0;
}

.footer_content {
	float: left;
	width: 100%;
	height: 50px;
	margin-left: 10px;
}

.footer_content span {
	display: inline-block;
	position: relative;
	top: -11px;
	padding-left: 20px;
}

.footer_content a {
	font-weight: bold;
	display: inline-block;
	vertical-align: 5px;
}

.powered_by {
	margin-top: 9px;
}

body, .contents {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

html>body,html>body .contents { /*height: auto;*/
	
}

table {
	 
}

/* ###### Headers ###### */

.tileHeader {
	padding: 3px 1px 1px 1px;
	font-weight: bold;
	height: 21px;
	width: 100%;
	margin-bottom: 3px;
}

.tileHeader img {
	margin-right: 3px;
}

.tileHeader a {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

/* ###### Tables ###### */
table.format {
	border: 0px;
}

table.format td,th {
	padding: 1px;
}

/* ###### Table Headers ###### */
th.label {
	text-align: left;
}

th.labelLarge {
	font-size: 30px; 
	text-align: left;
}

th.columnNumeric {
	text-align: right;
}

/* ###### Table Details ###### */
td.numeric {
	white-space: nowrap;
	text-align: right;
}

td.numericWarning {
	white-space: nowrap;
	text-align: right;
}

td.total {
	font-weight: bold;
}

/* ###### Tiles ###### */
.tile {
	width: 100%;
}

.tile input,select {
	font-size: 11px; 
}

.lookupTile {
	width: 700px;
}

/* ######  Fix for Firefox ###### */
@-moz-document url-prefix(){
	
 #UserCd{
  width:88px;
 }
}

/* ###### Buttons ###### */
input.actionButton {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	margin: 0px;
	padding: 2px;
	border-top: solid 1px;
	border-right: solid 2px;
	border-bottom: solid 2px;
	border-left: solid 1px;
}

/* ###### Links ###### */
a.actionLink {
	padding: 0;
}

a.actionLink:hover {
	
}

a.actionLinkDisabled {
	font-style: italic;
	text-decoration: none;
	visibility: hidden;
	position: absolute;
}

a.actionLinkUpdate {
	padding: 0;
}

a.actionLinkUpdate:hover {
	
}

a.actionLinkUpdateDisabled {
	font-style: italic;
	text-decoration: none;
	visibility: hidden;
	position: absolute;
}
/* ###### Images ###### */
img.border {
	border-top: solid 1px;
	border-right: solid 2px;
	border-bottom: solid 2px;
	border-left: solid 1px;
}

img.noborder {
	border: 0px;
}

/* ###### Titles ###### */
.titleTile {
	width: 100%;
	height: 55px;
}

.titleTile th.title {
	text-align: left;
}

/* ###### Main Menu ###### */
table.menu {
	height: 20px;
}

table.siteMenu {
	height: 28px;
	float: right;
	margin-right: 70px;
	cursor: pointer;
}

table.siteMenu th {
	padding: 5px 7px 5px 7px;
	font-weight: normal;
}

table.siteMenu td.separator {
	width: 2px;
}

/* ###### Hidden Main Menu Drop Down ###### */
table.menuDropDown {
	border-top: 0px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-left: solid 1px;
	z-index: 10000;
	position: absolute;
	visibility: hidden;
	right: 0px;
}

table.menuDropDown th {
	font-size: 10px; 
	text-align: left;
	height: 20px;
	padding-left: 5px;
	padding-right: 10px;
	cursor: pointer;
	font-weight: normal;
}

/* ###### Sub Menu Space Holder ###### */
.subMenu {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

/* ###### Warning Messages ###### */
.warningMsg {
	z-index: 13;
	position: absolute;
	top: 95px;
	right: 50px;
	cursor: default;
}

.warningMsg table {
	border: outset 1px;
	margin-bottom: 20px;
}

.warningMsg tr {
	padding: 4px;
	margin: 4px;
}

.warningMsg td {
	font-weight: bold;
}

/* ###### Information Messages ###### */
.informationMsg {
	z-index: 13;
	position: absolute;
	top: 95px;
	right: 50px;
	cursor: default;
}

.informationMsg table {
	border: outset 1px;
	margin-bottom: 20px;
}

.informationMsg tr {
	padding: 4px;
	margin: 4px;
}

.informationMsg td {
	font-weight: bold;
}

/* ###### Stylized Text ###### */
.disabled {
	font-style: normal;
}

.warning {
	font-weight: bold;
	cursor: default;
}

/* ###### Note ###### */
.note {
	z-index: 13;
	position: absolute;
	top: 95px;
	right: 10px;
	cursor: default;
}

.note table {
	border: outset 1px;
	margin-bottom: 20px;
}

.note tr {
	padding: 4px;
	margin: 4px;
}

.note th {
	text-align: left;
}

.note td {
	font-weight: bold;
}

/* ###### Note offset from top of the page to leave room for error msg box ###### */
.noteOffset {
	z-index: 13;
	position: absolute;
	top: 170px;
	right: 10px;
	cursor: default;
}

.noteOffset table {
	border: outset 1px;
	margin-bottom: 20px;
}

.noteOffset tr {
	padding: 4px;
	margin: 4px;
}

.noteOffset th {
	text-align: left;
}

.noteOffset td {
	font-weight: bold;
}

/* ######### Fixed Header ######### */
.unread {
	font-weight: bold;
}

input.actionImage {
	cursor: pointer;
}

.action {
	cursor: pointer;
}

/* ###### News Banner ###### */
.newsBanner td.dismiss {
	vertical-align: top;
	text-align: right;
}

/* ###### Buttons ###### */
button.actionButton {
	border: none;
	cursor: pointer;
	font-weight: bold;
	padding: 0 15px 0 0;
	text-align: center;
	height: 22px;
	line-height: 20px;
	width: auto;
	margin: 0 -1px;
	background-position: 100% 0px;
	clear: left;
	
}

button.actionButton span {
	display: block;
	padding: 0 0 0 15px;
	position: relative;
	white-space: nowrap;
	height: 22px;
	line-height: 20px;
	background-position: 0% 0px;
}

button.actionButton:hover {
	background-position: 100% -22px;
}

button.actionButton:hover span {
	background-position: 0% -22px;
}

button::-moz-focus-inner {
	border: none;
}

/* Styles for list button icons: refresh, expand and collapse. */
.button-icon {height: 19px; overflow: hidden; display: inline; vertical-align: middle; margin-right: 0px;}
.button-icon a {height: 19px; display: inline-block; padding-left: 20px;}

.button-icon a.expand {background-position: 0px -38px;}
.button-icon a.expand:hover {background-position: 0px -57px;}

.button-icon a.collapse {background-position: 0px -76px;}
.button-icon a.collapse:hover {background-position: 0px -95px;}

.button-icon a.refresh {background-position: 0px 0px;}
.button-icon a.refresh:hover {background-position: 0px -19px;}

/* Styles for button of 16 pixels: up, down, left, right and delete. */
.button-icon-16 {height: 16px; overflow: hidden; display: inline; vertical-align: middle; margin-right: 0px;}
.button-icon-16 a {height: 16px; display: inline-block; padding-left: 17px;}

.button-icon-16 a.up {background-position: 0px 0px;}
.button-icon-16 a.up:hover {background-position: 0px -16px;}

.button-icon-16 a.down {background-position: 0px -32px;}
.button-icon-16 a.down:hover {background-position: 0px -48px;}

.button-icon-16 a.left {background-position: 0px -64px;}
.button-icon-16 a.left:hover {background-position: 0px -80px;}

.button-icon-16 a.right {background-position: 0px -96px;}
.button-icon-16 a.right:hover {background-position: 0px -112px;}

.button-icon-16 a.delete {background-position: 0px -128px;}
.button-icon-16 a.delete:hover {background-position: 0px -144px;}

/* button icon styles */
.main-boxbody h1, p {
	margin: 0;
	padding: 5px 0px;
}
		
/* ###### New Information/Warning/Error Message ###### */
.informationMessage {
	width: 99%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: .5%;
	margin-left: .5%;
}

.informationMessage td {
	font-weight: normal;
	font-size: 12px;
	padding: 1px;
}

/* 
	Styles for the inbox table ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	The style on the div with the inbox id has negative margins so that other elements
	that might be inside the main box don't require additional padding.
	This should also get the edges to align with the background graphic accounting for borders and shadows.
*/
	 
/* ###### List Tables ###### */
.listTable table {
	width: 100%; 
	margin-top: 10px;
}

.listTable {
	clear: both;
	margin: 0 -10px 0 -10px;
	/* The following 2 attributes fix an IE7 bug with negative margins. See http://haslayout.net/css/Negative-Margin-Bug */
	zoom: 1;
	position: relative;
}
.ui-dialog-content .listTable {		/* to fix slight "cut-off" problem on tables on jQuery dialogs in IE7 */
	clear: both;
	margin: 0 0 0 0;
}
.listTable table {
	border-collapse: collapse;	/* IE7 doesn't support border-spacing below so this also causes no border spacing */
	border-spacing: 0px;
}
.listTable tr.columnHeader th {
	padding-bottom: 10px;
	text-align: left;
}

.listTable th.column {
	padding: 0 0 10px 10px;
	text-align: left;
}

.listTable table.format th {
	padding: 5px 5px 10px 5px;
	text-align: left;
}

.listTable table.format td {
	padding: 5px;
	text-align: left;
	
}
.listTable table.format td.center {
	text-align: center;
	
}
.listTable table.total th {
	text-align: left;
	padding: 0px;
}
.listTable table.total td {
	text-align: right;
}

.noHover table.format tr:hover {
  background-color: transparent;
}

.listTable table.format tr.noHover:hover {
  background-color: transparent;
}

.listTable table.none tr:hover {
  background-color: transparent;
}	

.listTable table.none {
	border: none;
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}
.listTable table.none td {
	border-spacing: 0px;
	padding: 0px;
}
.listTable table.none th {
	padding: 0 0 0 0;
}
.listTable table.format td.numeric {
	text-align: right;
}
.listTable table.format th.columnNumeric {
	text-align: right;
	padding-right: 4px;
}

.listTable table.format th.columnCenter {
	text-align: center;
}

.listMidTable table {
	border: outset 1px;
	width: 50%;
}

.listMidTable th {
	border: outset 1px;
	padding: 2px;
}

.listMidTable table.none {
	border: none;
	width: 100%;
}

/*=================================== modules ===================================*/

.m_container {
	width: 215px;
	margin: 10px 0 0 0;
}

.m_top, .m_top_light {
	height: 31px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 28px;
	font-size: 13px;
	font-weight: bold;
}

.m_tile {
	float: left;
	width: 215px;
}

.m_content_actions, .m_content {
	float: left;
}

.m_content table.format {
	padding-left: 5px;
	padding-right: 5px;
}

.m_content_actions label {
	display: block;
	height: 30px;
	width: 190px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 12px;
	font-weight: bold;
}

.m_content_actions a, .m_content a {
	display: block;
	height: 30px;
	width: 190px;
	line-height: 30px;
	padding-left: 20px;
	text-decoration: none;
	font-weight: bold;
	outline-style: none;	
}

.m_content a {
	display: normal;
	height: auto;
	width: auto;
	border-bottom: none;
	line-height: normal;
	padding-left: 0;
	font-weight: normal;
	text-decoration: underline;
}

.m_bottom {
	height: 15px;
}

/* special sizing for the site-search tile search field */
.toolbarSearchText {
	width: 193px;
}

.clear {clear: both;}

/*=================================== main tiles ===================================*/

.r_tile {
	width: auto;
	margin-top: 10px;
	position: relative;
}
.r_tile_top_left {
	width: 10px;
	height: 31px;
	float: left;
	position: absolute;
	left: 0;
}

.r_tile_top_left.plain {
	width: 15px;
	height: 10px;
}

.r_tile_top_right {
	width: 100%;
	height: 31px;
	float: left;
	*float: none; /*IE7*/
	*position: relative; /*IE7*/
	*right: 0; /*IE7*/
	margin-left: 10px;
	line-height: 28px;
	font-size: 13px;
	font-weight: bold;
}

.r_tile_top_right.plain {
	height: 10px;
}

.r_tile_top_right span {
 float: left;
}

.r_tile_top_right .button-icon {
	float: right;
	margin: 5px 0 0 5px;
}

.icon_spacer {
 width: 15px;
 height: 31px;
 float: right;
}

.r_tile_content_left {
	padding-right: 15px;
}

.r_tile_content_right {
	width: 100%;
	padding: 10px 0 0 10px;
}
.plain .r_tile_content_right {
	padding-top: 0;
}

.r_tile_bottom_left {
	width: 10px;
	height: 15px;
	float: left;
	position: absolute;
	left: 0;
}

.r_tile_bottom_right {
	width: 100%;
	height: 15px;
	float: left;
	*float: none; /*IE7*/
	*position: relative; /*IE7*/
	*right: 0; /*IE7*/
	margin-left: 10px;
}

table.format th.sectionLabel {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
}

/*=================================== buttons ===================================*/

.button, .button-plain, .m_content a.button {
	display: inline-block;
	width: auto;
	height: 22px;
	padding: 0 10px 0 0;
	margin-left: 8px;
	border-bottom: none;
	line-height: 22px;
	position: relative;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	outline-style: none;	
}

.button-plain {
	margin-left: 12px;
	padding: 0 12px 0 0;
}

.button span, .button-plain span {
	display: block;
	width: 8px;
	height: 22px;
	float: left;
	position: absolute;
	left: -8px;
	*top: 0; /*IE7*/
}

.button-plain span {
	width: 12px;
	left: -12px;
}

.button:hover,
.button:hover span,
.button-plain:hover,
.button-plain:hover span,
.m_content a.button:hover,
.m_content a.button:hover span,
.ui-widget-content a.button:hover,
.ui-widget-content a.button:hover span {
	background-position: bottom right;
}

/*=================================== wizard ===================================*/

.wiz {
	*margin-bottom: -6px; /*IE7*/
	padding: 5px 10px 5px 45px;
}

.wiz_bottom_left {
	width: 6px;
	height: 6px;
	float: left;
	position: absolute;
	left: 0;
	*margin-top: 6px; /*IE7*/
}

.wiz_bottom_right {
	width: 100%;
	height: 6px;
	float: left;
	margin-left: 6px;
	*margin-top: 6px; /*IE7*/
}

.wiz_link {
	display: inline-block;
	*float: left; /*IE7*/
	*margin-left: 5px; /*IE7*/
	height: 39px;
	padding: 0 20px 0 3px;
	line-height: 37px;
	position: relative;
	white-space: nowrap;
}

.wiz_link.first {
	margin-left: -20px;
}

.wiz_link span {
	display: inline-block;
	float: left;
	height: 39px;
	width: 25px;
	position: absolute;
	left: -25px;
}

.wiz_link.first.visited span,
.wiz_link.first.selected span {
	width: 10px;
	left: -10px;
}

.wiz_link a {
	display: inline-block;
	padding-right: 3px;
	font-weight: bold;
	text-decoration: none;
}

.wiz_link a:hover {
	text-decoration: none;
}

/*=================================== error ===================================*/

.errorMsg {
	position: relative;
	margin: 20px 0 20px 0;
}

.error_top_left {
	width: 6px;
	height: 6px;
	float: left;
	position: absolute;
	left: 0;
}

.error_top_right {
	width: 100%;
	height: 6px;
	float: left;
	*float: none; /*IE7*/
	*position: relative; /*IE7*/
	*right: 0; /*IE7*/
	margin-left: 6px;
}

.error_bottom_left {
	width: 6px;
	height: 6px;
	float: left;
	position: absolute;
	left: 0;
}

.error_bottom_right {
	width: 100%;
	height: 6px;
	float: left;
	*float: none; /*IE7*/
	*position: relative; /*IE7*/
	*right: 0; /*IE7*/
	margin-left: 6px;
}

.error_content {
	position: relative;
	min-height: 50px;
}

.error_content_left {
	width: 200px;
	float: left;
	padding: 10px 0 0 20px;
	position: absolute;
	left: 0;
}

.error_icon {
	width: 38px;
	height: 36px;
	float: left;
}

.error_content_left span {
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	font-weight: bold;
}

.error_content_right {
	float: left;
	margin-left: 220px;
	padding: 17px 15px 5px 0;
	font-size: 12px;
}

/*=================================== menu ===================================*/

.menu ul {
	margin: 0;
	padding: 0 0 0 1px;
	*padding: 0 0 0 11px; /*IE7*/
	list-style: none;
}

.menu ul li {
	display: inline-block;
	height: 40px;
	float: left;
	margin-left: 10px;
	position: relative;
	*margin-left: 0px; /*IE7*/
}

.menu ul li a {
	display: block;
	height: 22px;
	margin-top: 13px;
	padding: 0 15px 0 5px;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.menu ul li.selected {
	left: -5px;
	margin-right: -10px;
}

.menu ul li.selected a {
	border-right: none;
	margin-top: 10px;
}

.menu ul li.selected span {
	display: inline-block;
	width: 6px;
	height: 37px;
	float: left;
	position: absolute;
	left: -6px;
}

.menu ul li.merge-with-next a {
	border-right: 0px;
	padding-right: 7px;
}

.menu ul li.merged-with-prev {
	margin-left: 0px;
}

.menu ul li.merged-with-prev a {
	border-right: 0px;
	margin-top:12px;
	padding-bottom:0;
	padding-left:0;
	height:23px;
}

.menu ul li.selected-merge-with-next {
	left: -5px;
	margin-right: -10px;
}

.menu ul li.selected-merge-with-next a {
	border-right: none;
	margin-top: 10px;
	padding-right: 5px;
}

.menu ul li.selected-merge-with-next span {	
	display: inline-block;
	width: 6px;
	height: 37px;
	float: left;
	position: absolute;
	left: -6px;
}

.menu ul li.selected-merged-with-prev {	
	left: -5px;
	margin-right: -10px;
}

.menu ul li.selected-merged-with-prev a {	
	border-right: none;
	margin-top: 10px;
}

.menu ul li.selected-merged-with-prev span {
	display: inline-block;
	width: 6px;
	height: 37px;
	float: left;
	position: absolute;
	left: -6px;
}

.menu ul li img{
	border: 0px;
}

/*=================================== sign-in page ===================================*/

.signInTile {
	width: 450px;
	float: left;
	font-size: 13px;
	margin-bottom: 50px;
}

.signInTile br {
	clear: both;
}

.signInTile label {
	width: 150px;
	height: 25px;
	float: left;
	line-height: 22px;
	text-align: right;
	font-weight: bold;
	
}

.signInTile input {
	width: 200px;
	float: left;
	margin: 0 0 10px 10px;
	font-size: 13px;
}

.signInTile .button {
	float: right;
	margin: 0 68px 0 0;
}

.signInTile .button.changePassword {
	float: right;
	margin: 0 20px 10px 0;
}

.signInTile span .actionLink {
	display: inline-block;
	float: right;
	margin-right: 68px;
	
}

.signInTileRight {
	width: 620px;
	float: right;
	margin-right: 7px;
	position: relative;
	padding-top: 10px;
	font-size: 13px;
	margin-bottom: 50px;
}

.signInTileRight .r_tile_content_right {
	padding-top: 0;
}

.signInTileRight h1 {
	margin-top: 0;
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
}

.signInTileRight p {
	width: 500px;	
	padding-left: 20px;
}	

/*=================================== site menu ===================================*/

.fixedHeader {
	*position: relative;
	z-index: 1000;
}

.siteMenu {
	height: 30px;
	float: right;
	margin-right: 65px;
	z-index: 1000;
	position: relative;
	*position: absolute; /*IE7*/
	*top: 0; /*IE7*/
	*right: 0; /*IE7*/
	cursor: pointer;
}

.siteMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.siteMenu ul li {
	display: inline-block;
	height: 30px;
	float: left;
	position: relative;
}

.siteMenu ul li a {
	display: inline-block;
	height: 25px;
	margin-top: 5px;
	padding: 0 10px;
	font-size: 12px;
	text-decoration: none;
}

.siteMenu ul li a.left {
	border-left: none;
}

.siteMenu ul li.siteMenu_left, .siteMenu ul li.siteMenu_right {
	width: 5px;
	height: 30px;
}

/* ###### Banner ###### */
.banner {
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.banner label {
	clear: both;
	position: relative;
	float: right;
	top: 20px;
	right: 10px;
}

.banner a.signOut {
	clear: both;
	position: relative;
	float: right;
	top: -22px;
	*top: 8px; /*IE7*/
	right: 9px;
	font-size: 10px;
	text-decoration: underline;
	font-weight: bold;
	z-index: 1000;
}

.banner a.titleActionLink {
	font-size: 12px;
	text-decoration: underline;
	font-weight: bold;
}

.premium {
	padding-bottom: 10px;
}

.premium label {
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
}

.premium span {
	font-size: 18px;
	font-weight: bold;
}

/*=================================== task note ===================================*/

.task_note_content {
	float: left;
	margin-left: 1px;
	width: 325px;
	font-size: 12px;
}

.task_note_content div {
	width: 304px;
	padding: 10px;
}

.sectionSeparator { 
	padding-top: 10px;
	margin-bottom: 10px;
}
.underline {
	padding-bottom: 5px;
}

/*=================================== sticky note ===================================*/

.sticky_note_content_left {
	padding-right: 15px;
}

.sticky_note_content_right {
	width: 100%;
	padding: 10px 0 0 10px;
}

.sticky_note_bottom_left {
	width: 10px;
	height: 15px;
	float: left;
	position: absolute;
	left: 0;
}

.sticky_note_bottom_right {
	width: 100%;
	height: 15px;
	float: left;
	*float: none; /*IE7*/
	*position: relative; /*IE7*/
	*right: 0; /*IE7*/
	margin-left: 10px;
}

/*=================================== issues tile ===================================*/

.issues_content_left {
	padding-right: 15px;
}

.issues_content_right {
	width: 100%;
	padding: 10px 0 0 10px;
}

.issues_bottom_left {
	width: 10px;
	height: 15px;
	float: left;
	position: absolute;
	left: 0;
}

.issues_bottom_right {
	width: 100%;
	height: 15px;
	float: left;
	*float: none; /*IE7*/
	*position: relative; /*IE7*/
	*right: 0; /*IE7*/
	margin-left: 10px;
}

#divAuthorizeNetPopup { 
	position:absolute; 
	left:50%; 
	top:50%; 
	margin-left: -200px; 
	margin-top: -200px; 
	z-index:2; 
	overflow: visible; 
}
.AuthorizeNetShadow {
	height: 16px;
	width: 16px;
	position: absolute;
}
.AuthorizeNetShadowT { top: -16px; left: 0px; width: 100%; }
.AuthorizeNetShadowR { top: 0px; right: -16px; height: 100%; }
.AuthorizeNetShadowB { bottom: -16px; left: 0px; width: 100%; }
.AuthorizeNetShadowL { top: 0px; left: -16px; height: 100%; }
.AuthorizeNetShadowTR { top: -16px; right: -16px; }
.AuthorizeNetShadowBR { bottom: -16px; right: -16px; }
.AuthorizeNetShadowBL { bottom: -16px; left: -16px; }
.AuthorizeNetShadowTL { top: -16px; left: -16px; }

.AuthorizeNetPopupSimpleTheme .AuthorizeNetPopupOuter { 
	border:1px solid;  
}

/*=================================== thumbnail ===================================*/
.thumbnail span {
	display:none;
	cursor:pointer;
}
.thumbnaildiv {
	padding 5px;
	background-image:url(img/indicator.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.thumbnailimg {
	border:0px;
}
.thumbnail:hover span {
	display:inline;
    position:absolute;
    border:1px solid;
    margin-left:0px; 
    box-shadow: 5px 5px 10px #888888;
    z-index:1;
}
.thumbnaillargediv {
	padding-top:10px;
	padding-bottom:10px;
	background-image:url(img/indicator.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.thumbnaillargeimg {
	border:0px;
	cursor:pointer;
}
.thumbnaillink {
	font-size:10px;
	padding-left:5px;
	padding-right:5px;
}

/*=================================== document viewer ===================================*/
.navigationPane {
	width: 333px;
	float: left;
	position: relative;
	overflow:hidden;
	padding-right: 3px;
}
.separationPane {
	width: 2px;
	float: left;
	position: relative;
	overflow:hidden;
}
.detailsPane {
	width: 512px;
	float: left;
	position: relative;
	padding-left: 3px;
}
.documentViewerContainer3 {
	clear:left;
	width:100%;
	position: relative;
	display:inline-block;
}
.documentViewerContainer2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right: 39.9%;
}
.documentViewerContainer1 {
	float: left;
	width: 100%;
	position: relative;
	right: .1%;
}

/*=================================== Fluid Background ===================================*/
.fluidPageBackground {
	min-height: 100%;
	width: 98%;
	margin: 0 auto;
}

/*=================================== Address Sync ===================================*/
.addressSyncPane{
	width: 100%;
}
.customerAddressPane{
	width: 57%;
	float:left;
}
.policyAddressPane{
	width:40%;
	float:left;
	padding-left:3px;	
}
.textStyle{
	text-align:left;
	color:red;
}

.mfaTile{
	width: 500px;
	float: left;
	font-size: 13px;
	margin-bottom: 50px;
}

.gaDiv input{
	width: 30px;
	margin-left: 65px;
}

/* jQuery 1.10 now handles modal differently, it uses a stacking implemtation that is based on the parent of the dialog */
.ui-dialog { z-index: 9999 !important ;}

/*=================================== Google Places ===================================*/
.pac-container {
	min-width: 400px;
} 